<div class="p-4c panel">
  <div class="v-center mb-3">
    <h4 class="font-weight-bold mb-0">Advanced Filter</h4>
    <div class="c-blue f-1 text-uppercase ml-2 mt-2">Clear All Filters</div>

  </div>
  <form #actionForm="ngForm" (ngSubmit)="actionForm.form.valid ? applyFilters() : false"
    [class.was-validated]="actionForm.submitted">
    <div class="form-group">
      <label>Saved Filters</label>
      <div class="v-center">
        <select class="form-control" [(ngModel)]="selectedSavedFilter" name="filterSearch">
          <option *ngFor="let filter of savedFilters; let index = index;" value="{{filter}}" [class.c-blue]="index == 0"
            class="my-1 f-3">
            {{filter}}
          </option>
        </select>
        <button type="button" class="btn btn-primary ml-2">Save</button>
      </div>
      <div class="my-3">
        <label>Global Search</label>
        <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Type in string"
          name="global_search" #global_search="ngModel" (ngModelChange)="updateSearchStr($event)" />
      </div>
    </div>
    <div class="mt-5 mb-3 v-center justify-content-between">
      <div class="v-center form-group mb-0">
        <div class="v-center">
          <label class="mb-0">Status</label>
          <div class="c-blue text-uppercase f-1 ml-3">{{status}}</div>
        </div>
      </div>
      <div class="v-center">
        <div class="f-3 fw-600 c-dark">Include</div>
        <label class="custom-toggle mb-0 mx-2" placement="top">
          <input type="checkbox" [checked]="!searchOption.includeLabel" (change)="searchOption.includeLabel = !searchOption.includeLabel" name="includeLabel">
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
        <div class="f-3 fw-600 c-dark">Exclude</div>
      </div>
    </div>
    <div class="checkbox-wrapper my-3 w-100">
      <div class="custom-checkbox label-item" *ngFor="let item of labelService.labels$ | async"
        style="height: unset; line-height: unset;">
        <input type="checkbox" class="custom-control-input" id="label-{{item._id}}" name="label-{{item._id}}"
          (change)="toggleLabels(item._id)" [checked]="searchOption.labelCondition.indexOf(item._id) !== -1">
        <label class="custom-control-label v-center" for="label-{{item._id}}">
          <i class="i-icon i-label d-block mr-2"
            [style.backgroundColor]="item.color === '#FFF' ? '#000' : item.color"></i>
          <span class="f-3 fw-600">{{item.name}}</span>
        </label>
      </div>
    </div>

    <div class="checkbox-wrapper w-100 my-3">
      <div class="custom-checkbox material-action" *ngFor="let item of materialActions"
        style="height: unset; line-height: unset;">
        <input type="checkbox" class="custom-control-input" id="material-{{item._id}}" name="material-{{item._id}}"
          (change)="selectedMaterialActions.toggle(item._id)" [checked]="selectedMaterialActions.isSelected(item._id)">
        <label class="custom-control-label v-center" for="material-{{item._id}}">
          <div class="f-3 fw-600">{{item.title}}</div>
          <div class="count f-3 font-weight-bold c-white bgc-blue ml-2 text-center rounded-circle" *ngIf="item.count">{{item.count}}</div>
          <div class="list f-1 font-weight-bold ml-2 border border-primary rounded c-blue">List</div>
        </label>
      </div>
    </div>

    <div class="form-group my-3">
      <label for="country_cc">country</label>
      <select id="country_cc" class="form-control" [(ngModel)]="searchCountry" name="country" #country="ngModel">
        <option *ngFor="let country of COUNTRIES" value="{{country.code}}">{{country.name}}</option>
      </select>
    </div>
    <div class="form-group my-3">
      <label for="state">State</label>
      <input type="text" class="form-control" [(ngModel)]="searchState" placeholder="" id="state" name="state"
        #state="ngModel" />
    </div>
    <div class="form-group my-3">
      <label for="city">City</label>
      <input type="text" class="form-control" [(ngModel)]="searchCity" placeholder="" id="city" name="city"
        #city="ngModel" />
    </div>
    <div class="form-group my-3">
      <label for="zipcode">ZipCode</label>
      <input type="text" class="form-control" [(ngModel)]="searchZipCode" placeholder="" id="zipcode" name="zipcode"
        #zipcode="ngModel" />
    </div>

    <div class="my-3">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="city">Source</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="source_check" name="source_check" [checked]="!searchOption.includeSource"
              (change)="searchOption.includeSource = !searchOption.includeSource">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-source [selectedTags]="searchOption.sourceCondition" [onlyFromSearch]="true"></app-input-source>
    </div>
    <div class="my-3">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="city">Company</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="company_check" name="company_check" [checked]="!searchOption.includeBrokerage"
              (change)="searchOption.includeBrokerage = !searchOption.includeBrokerage">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-company [selectedTags]="searchOption.brokerageCondition" [onlyFromSearch]="true"></app-input-company>
    </div>

    <div class="my-3">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="tag_check">Tag</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="tag_check" name="tag_check" [checked]="!searchOption.includeTag" (change)="searchOption.includeTag = !searchOption.includeTag">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-tag [selectedTags]="searchOption.tagsCondition" [onlyFromSearch]="true"></app-input-tag>
    </div>
    <div class="my-3">
      <div class="form-group mb-0">
        <label>Last Activity</label>
      </div>
      <div class="checkbox-wrapper">
        <div class="custom-checkbox material-action" *ngFor="let item of activities"
          style="height: unset; line-height: unset;">
          <input type="checkbox" class="custom-control-input" id="activity-{{item._id}}" name="activity-{{item._id}}"
            (change)="selectedActivities.toggle(item._id)" [checked]="selectedActivities.isSelected(item._id)">
          <label class="custom-control-label" for="activity-{{item._id}}">
            <div class="f-3 mt-1">{{item.title}}</div>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group my-3 pb-2">
      <label>Select Date</label>
      <div class="v-center">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bgc-blue"><i class="bgc-white i-icon i-calendar"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Select date" [(ngModel)]="fromDate" ngbDatepicker
            #duefrom="ngbDatepicker" (click)="duefrom.toggle()" [firstDayOfWeek]="7" type="text" name="activityStartDate"/>
        </div>
        <div class="mx-2">-</div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bgc-blue"><i class="bgc-white i-icon i-calendar"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Select date" [(ngModel)]="toDate" ngbDatepicker
            #dueto="ngbDatepicker" (click)="dueto.toggle()" [firstDayOfWeek]="7" type="text"  name="activityEndDate"/>
        </div>
      </div>
    </div>
    <div class="mt-4 d-flex">
      <button type="button" class="btn btn-white font-weight-bold ml-auto" type="button">Cancel</button>
      <button type="submit" class="btn btn-primary ml-2" [class.loading]="loading">Apply filters</button>
    </div>
  </form>
</div>
