.panel {
  max-width: 480px;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .label-item {
    margin: 0.75rem 2rem;
  }

  .material-action {
    margin: 0.5rem 0.5rem 0.5rem 2rem;

    .material-action-title {
      width: 90px;
    }

    .count {
      width: 22px;
      height: 22px;
      padding: 2px 0px;
    }

    .list {
      padding: 2px 6px;
    }
  }

  .custom-checkbox {
    .custom-control-input {
      &:indeterminate ~ .custom-control-label {
        &::before {
          border: rgba(16, 19, 54, 0.4) solid 2px;
          background-color: unset;
        }
        &::after {
          background-image: none;
        }
      }
    }
  }
}
