.panel {
  max-width: 480px;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .label-item {
    margin: 0.75rem 0.25rem 0.75rem 2rem;
  }

  .material-action {
    margin: 0.5rem 0.5rem 0.5rem 2rem;

    .material-action-title {
      width: 90px;
    }

    .count {
      width: 22px;
      height: 22px;
      padding: 2px 0px;
    }

    .list {
      padding: 2px 6px;
    }
  }

  .custom-checkbox {
    .custom-control-input {
      &:indeterminate ~ .custom-control-label {
        &::before {
          border: rgba(16, 19, 54, 0.4) solid 2px;
          background-color: unset;
        }
        &::after {
          background-image: none;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .panel {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
  .checkbox-wrapper.materials {
    grid-template-columns: repeat(1, 1fr);

    .material-action-title {
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 370px) {
  .checkbox-wrapper.label-options {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .panel .title {
    font-size: 18px;
  }
}

.search-string {
  position: relative;

  input {
    padding-right: 28px;
  }

  .cancel-action {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
}