<div class="p-4c panel">
  <div class="v-center mb-3 panel-header">
    <h4 class="font-weight-bold mb-0 title mr-auto">Advanced Filter</h4>
    <app-slide-tab *ngIf="teams.length" [tabs]="tabs" [selected]="selectedTab" (onChange)="changeTab($event)" class="view-tabs" type="same">
    </app-slide-tab>
    <button class="v-center border-0 bgc-trans" type="button" (click)="close()">
      <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
  </div>
  <div>
    <div class="form-group">
      <label>Saved Filters</label>
      <div class="v-center">
        <div class="flex-grow-1">
          <app-filter-input (onSelect)="changeCurrentFilter($event)" [filter]="currentFilterId"></app-filter-input>
        </div>
        <ng-container *ngIf="currentFilterId">
          <button type="button" class="btn btn-primary ml-2" (click)="updateFilters()">Update</button>
          <button type="button" class="btn btn-primary ml-2" (click)="removeFilters()">Remove</button>
        </ng-container>
      </div>

      <div class="my-3" *ngIf="teams.length" [class.d-none]="selectedTab.id === 'normal'">
        <div class="form-group mb-0">
          <label>Team</label>
        </div>
        <div class="">
          <ng-container *ngFor="let team of teams">
            <mat-expansion-panel class="no-shadow">
              <mat-expansion-panel-header class="pl-0 pr-3 team-header">
                <div class="custom-checkbox my-2 mr-2 team-checkbox" [class.indeterminate]="teamOptions[team._id]?.flag === 0">
                  <input type="checkbox" class="custom-control-input" id="team-{{team._id}}" name="team-{{team._id}}"
                    (change)="toggleTeam(team._id)" [checked]="teamOptions[team._id]?.flag === 1">
                  <label class="custom-control-label f-3 pt-1" for="team-{{team._id}}">{{team.name}}</label>
                </div>
              </mat-expansion-panel-header>
              <div>
                <app-member-selector [dataSource]="teamMembers[team._id]" [selected]="teamOptions[team._id]?.members || []" (onSelect)="changeTeamMemberOptions(team._id, $event)"></app-member-selector>
              </div>
            </mat-expansion-panel>
          </ng-container>
          <div class="form-group form-group mb-1 mt-2">
            <label class="label mb-1">Share Option</label>
          </div>
          <div class="custom-checkbox my-2 mr-2 team-checkbox">
            <input type="checkbox" class="custom-control-input" id="team-share-with" name="team-share-with"
              (change)="changeShareOption('share_with')" [checked]="isShareWith">
            <label class="custom-control-label f-3 pt-1" for="team-share-with">Share With</label>
          </div>
          <div class="custom-checkbox my-2 mr-2 team-checkbox">
            <input type="checkbox" class="custom-control-input" id="team-share-by" name="team-share-by"
              (change)="changeShareOption('share_by')" [checked]="isShareBy">
            <label class="custom-control-label f-3 pt-1" for="team-share-by">Share By</label>
          </div>
        </div>
      </div>

      <div class="my-3">
        <label>Keyword Search</label>
        <div class="form-group mb-0 search-string">
          <input type="text" class="form-control" [(ngModel)]="searchOption.str" placeholder="Type in keyword"
            name="global_search" #global_search="ngModel" (ngModelChange)="updateSearchStr($event)" />
          <div class="cancel-action" (click)="clearSearchStr()" *ngIf="searchOption.str">
            <i class="i-icon i-close d-block bgc-dark"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="v-center justify-content-between">
      <div class="form-group mt-4 mb-1">
        <label class="mb-0">Label</label>
      </div>
      <div class="v-center">
        <div class="f-3 fw-600 c-dark">Include</div>
        <label class="custom-toggle mb-0 mx-2" placement="top">
          <input type="checkbox" [checked]="!searchOption.includeLabel" (change)="toggleInclude('label')" name="includeLabel">
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
        <div class="f-3 fw-600 c-dark">Exclude</div>
      </div>
    </div>
    <div class="checkbox-wrapper label-options mb-3 w-100">
      <div class="custom-checkbox label-item">
        <input type="checkbox" class="custom-control-input" id="label-no-label" name="label-no-label"
               (change)="toggleLabels(null)" [checked]="searchOption.labelCondition.indexOf(null) !== -1">
        <label class="custom-control-label d-flex" for="label-no-label">
          <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="'#000'"></i>
          <span class="f-3 fw-600 mt-1">No Label</span>
        </label>
      </div>
      <div class="custom-checkbox label-item" *ngFor="let item of labelService.labels$ | async"
        style="height: unset; line-height: unset;">
        <input type="checkbox" class="custom-control-input" id="label-{{item._id}}" name="label-{{item._id}}"
          (change)="toggleLabels(item._id)" [checked]="searchOption.labelCondition.indexOf(item._id) !== -1">
        <label class="custom-control-label d-flex" for="label-{{item._id}}">
          <i class="i-icon i-label d-block mr-2"
            [style.backgroundColor]="item.color === '#FFF' ? '#000' : item.color"></i>
          <span class="f-3 fw-600 mt-1">{{item.name}}</span>
        </label>
      </div>
    </div>
    <div class="v-center justify-content-between" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="v-center form-group mb-0">
        <div class="v-center">
          <label class="mb-0">Material Activity</label>
        </div>
      </div>
      
    </div>
    <div class="checkbox-wrapper materials w-100 my-3" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="custom-checkbox material-action" *ngFor="let item of materialActions"
        style="height: unset; line-height: unset;">
        <input type="checkbox" class="custom-control-input" id="material-{{item._id}}" name="material-actions"
          (click)="selectMaterialAction(item.title)" [checked]="selectedMaterialActions == item.title">
        <label class="custom-control-label v-center" for="material-{{item._id}}">
          <div class="f-3 fw-600 material-action-title">{{item.title}}</div>
          <div class="count f-3 font-weight-bold c-white bgc-blue ml-2 mr-2 text-center rounded-circle" *ngIf="item.count">{{item.count}}</div>
          <button type="button"
            class="list f-1 font-weight-bold border border-primary rounded c-blue c-pointer bgc-white"
            [disabled]="selectedMaterialActions != item.title"
            (click)="selectMaterial()"
          >
            List
          </button>
        </label>
      </div>
    </div>

    <div class="form-group my-3">
      <label for="country_cc">country</label>
      <app-input-country [selectedCountries]="searchOption.countryCondition" (onSelect)="updateFilter()"></app-input-country>
    </div>
    <div class="form-group my-3">
      <label for="state">State</label>
      <app-input-state [selectedRegions]="searchOption.regionCondition" [selectedCountries]="searchOption.countryCondition" (onSelect)="updateFilter()"></app-input-state>
    </div>
    <div class="form-group my-3">
      <label for="city">City</label>
      <input type="text" class="form-control" [(ngModel)]="searchOption.cityCondition" (ngModelChange)="updateFilter()" placeholder="" id="city" name="city"
        #city="ngModel" />
    </div>
    <div class="form-group my-3">
      <label for="zipcode">Zip Code</label>
      <input type="text" class="form-control" [(ngModel)]="searchOption.zipcodeCondition" (ngModelChange)="updateFilter()" placeholder="" id="zipcode" name="zipcode"
        #zipcode="ngModel" />
    </div>

    <div class="my-3" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="city">Source</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="source_check" name="source_check" [checked]="!searchOption.includeSource"
              (change)="toggleInclude('source')">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-source [selectedTags]="searchOption.sourceCondition" [onlyFromSearch]="true" (onSelect)="updateFilter()"></app-input-source>
    </div>
    <div class="my-3" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="city">Company</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="company_check" name="company_check" [checked]="!searchOption.includeBrokerage"
              (change)="toggleInclude('brokerage')">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-company [selectedTags]="searchOption.brokerageCondition" [onlyFromSearch]="true" (onSelect)="updateFilter()"></app-input-company>
    </div>

    <div class="my-3" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="tag_check">Tag</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="tag_check" name="tag_check" [checked]="!searchOption.includeTag" (change)="toggleInclude('tag')">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-tag [selectedTags]="searchOption.tagsCondition" [onlyFromSearch]="true" (onSelect)="updateFilter()"></app-input-tag>
    </div>

    <div class="my-3" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <div class="d-flex align-items-end justify-content-between">
        <div class="form-group mb-0">
          <label for="stage_check">Stage</label>
        </div>
        <div class="v-center mb-2">
          <div class="f-3 fw-600 c-dark">Include</div>
          <label class="custom-toggle mb-0 mx-2" placement="top">
            <input type="checkbox" id="stage_check" name="stage_check" [checked]="!searchOption.includeStage" (change)="toggleInclude('stage')">
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="f-3 fw-600 c-dark">Exclude</div>
        </div>
      </div>
      <app-input-stage [selectedStages]="searchOption.stagesCondition" [onlyFromSearch]="true" (onSelect)="updateFilter()"></app-input-stage>
    </div>

    <div class="my-3">
      <div class="form-group mb-0">
        <label>Last Activity</label>
      </div>
      <div class="checkbox-wrapper">
        <div class="custom-checkbox material-action" *ngFor="let item of activities"
          style="height: unset; line-height: unset;">
          <ng-container *ngIf="item.title != 'Sent image' && item.title != 'Reviewed PDF' && item.title != 'Reviewed image'">
            <input type="checkbox" class="custom-control-input" id="activity-{{item._id}}" name="activity-{{item._id}}"
              (change)="toggleActivities(item.title)" [checked]="searchOption.activityCondition.indexOf(activityDefine[item.title]) !== -1">
            <label class="custom-control-label" for="activity-{{item._id}}">
              <div class="f-3 mt-1">{{item.title}}</div>
            </label>
          </ng-container>
          <ng-container *ngIf="item.title == 'Sent image'">
            <input type="checkbox" class="custom-control-input" id="activity-{{item._id}}" name="activity-{{item._id}}"
              (change)="toggleActivities(item.title)" [checked]="searchOption.lastMaterial.send_image.flag">
            <label class="custom-control-label" for="activity-{{item._id}}">
              <div class="f-3 mt-1">{{item.title}}</div>
            </label>
          </ng-container>
          <ng-container *ngIf="item.title == 'Reviewed PDF'">
            <input type="checkbox" class="custom-control-input" id="activity-{{item._id}}" name="activity-{{item._id}}"
              (change)="toggleActivities(item.title)" [checked]="searchOption.lastMaterial.watched_pdf.flag">
            <label class="custom-control-label" for="activity-{{item._id}}">
              <div class="f-3 mt-1">{{item.title}}</div>
            </label>
          </ng-container>
          <ng-container *ngIf="item.title == 'Reviewed image'">
            <input type="checkbox" class="custom-control-input" id="activity-{{item._id}}" name="activity-{{item._id}}"
              (change)="toggleActivities(item.title)" [checked]="searchOption.lastMaterial.watched_image.flag">
            <label class="custom-control-label" for="activity-{{item._id}}">
              <div class="f-3 mt-1">{{item.title}}</div>
            </label>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="form-group my-3 pb-2" [class.disable-form]="enableTeamSearchOption()" [class.d-none]="selectedTab.id === 'team'">
      <label>Select Date Range</label>
      <div class="v-center">
        <app-date-input type="prepend" [clearable]="true" [(value)]="searchOption.activityStart" (valueChange)="updateFilter()"></app-date-input>
        <div class="mx-2">-</div>
        <app-date-input type="prepend" [clearable]="true" [(value)]="searchOption.activityEnd" (valueChange)="updateFilter()"></app-date-input>
      </div>
    </div>
    <div class="fixed-action-group mt-4 d-flex">
      <button type="button" class="btn btn-white font-weight-bold ml-auto" type="button" (click)="close()">Cancel</button>
      <button type="button" class="btn btn-white-blue font-weight-bold ml-2" (click)="clearAllFilters()">Clear All Filters</button>
      <ng-container *ngIf="!currentFilterId">
        <button type="button" class="btn btn-primary ml-2" (click)="saveFilters()">Save</button>
      </ng-container>
    </div>
  </div>
</div>

