<h1 mat-dialog-title>Share media</h1>
<mat-dialog-content>
  <div class="template-container">
    <app-slide-tab [tabs]="tabs" [selected]="selectedTab" (onChange)="changeTab($event)">
    </app-slide-tab>
    <ng-container *ngIf="selectedTab.label == 'VIDEO'">
      <ng-container *ngIf="videosLoading">
        <app-loading-overlay [type]="'material'"></app-loading-overlay>
      </ng-container>
      <ng-container *ngIf="!videosLoading">
        <app-data-empty [type]="'material_video'" *ngIf="!videos.length"></app-data-empty>
        <div class="material-container mt-3">
          <ng-container *ngFor="let video of videos">
            <div class="material-item" (click)="toggleVideo(video)" [class.active]="selectedVideos.isSelected(video._id)">
              <img class="confirm" src="../../../assets/img/confirm.svg" alt="check" *ngIf="selectedVideos.isSelected(video._id)">
              <div class="thumb-wrapper">
                <img class="thumbnail" src="{{video.thumbnail || video.preview}}" alt="{{video.title}}" onerror="( this.src = './assets/img/icons/video_thumb.jpg' );" />
              </div>
              <div class="material-title f-1 font-weight-bold mt-3">
                {{video.title}}
              </div>
              <div class="material-description f-1 mt-2">
                {{video.description || '' | stripTags | shorten: 80: '...'}}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="selectedTab.label == 'PDF'">
      <ng-container *ngIf="pdfsLoading">
        <app-loading-overlay [type]="'material'"></app-loading-overlay>
      </ng-container>
      <ng-container *ngIf="!pdfsLoading">
        <app-data-empty [type]="'material_pdf'" *ngIf="!pdfs.length"></app-data-empty>
        <div class="material-container mt-3">
          <ng-container *ngFor="let pdf of pdfs">
            <div class="material-item" (click)="togglePdf(pdf)" [class.active]="selectedPdfs.isSelected(pdf._id)">
              <img class="confirm" src="../../../assets/img/confirm.svg" alt="check" *ngIf="selectedPdfs.isSelected(pdf._id)">
              <div class="thumb-wrapper">
                <img class="thumbnail" src="{{pdf.thumbnail || pdf.preview}}" alt="{{pdf.title}}" onerror="( this.src = './assets/img/icons/video_thumb.jpg' );" />
              </div>
              <div class="material-title f-1 font-weight-bold mt-3">
                {{pdf.title}}
              </div>
              <div class="material-description f-1 mt-2">
                {{pdf.description || '' | stripTags | shorten: 80: '...'}}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="selectedTab.label == 'IMAGE'">
      <ng-container *ngIf="imagesLoading">
        <app-loading-overlay [type]="'material'"></app-loading-overlay>
      </ng-container>
      <ng-container *ngIf="!imagesLoading">
        <app-data-empty [type]="'material_image'" *ngIf="!images.length"></app-data-empty>
        <div class="material-container mt-3">
          <ng-container *ngFor="let image of images">
            <div class="material-item" (click)="toggleImage(image)" [class.active]="selectedImages.isSelected(image._id)">
              <img class="confirm" src="../../../assets/img/confirm.svg" alt="check" *ngIf="selectedImages.isSelected(image._id)">
              <div class="thumb-wrapper">
                <img class="thumbnail" src="{{image.thumbnail || image.preview}}" alt="{{image.title}}" onerror="( this.src = './assets/img/icons/video_thumb.jpg' );" />
              </div>
              <div class="material-title f-1 font-weight-bold mt-3">
                {{image.title}}
              </div>
              <div class="material-description f-1 mt-2">
                {{image.description || '' | stripTags | shorten: 80: '...'}}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn c-blue" mat-dialog-close>Cancel</button>
  <button type="submit" class="btn btn-primary" [class.loading]="sharing" (click)="shareMaterials()">Share</button>
</mat-dialog-actions>
