.upload-step {
    .small-label {
        opacity: 0.5;
    }
    button, a {
        &:hover, &:active {
            box-shadow: 0 5px 16px -5px rgba(16, 19, 54, 0.35);
        }
    }
    .btn-outline-primary {
        &:hover {
            background-color: #fff;
        }
        &:active {
            background-color: #fff;
        }
    }
    .step-bar {
        max-width: 40px;
        label {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            color: #101336;
            background-color: #ECECEC;
            &.active {
                background-color: #0000FF;
                color: #fff;
            }
        }
        .line {
            width: 2px;
            height: 60px;
            background-color: #ECECEC;
            &.active {
                background-color: #0000FF;
            }
        }
        @media screen and (max-width: 576px) {
            align-items: center;
            max-width: 100%;
            .line {
                width: 40px;
                height: 2px;
            }
        }
    }
    .step-body-1, .step-body-2, .step-body-3, .step-body-4 {
        width: 400px;
        display: none;
        &.active {
            display: block;
        }
        .web-video {
            img {
                width: 64px;
                height: 27px;
            }
        }
        .large-text {
            font-size: 24px;
        }
        .local-video {
            cursor: pointer;
            border: 1px dashed rgba(16,19,54,0.24);
            border-radius: 3px;
            background-color: #F9FAFB;
            .description {
                width: 200px;
                opacity: 0.56;
            }
            &.file-over {
                background-color: #e7e7ff;
                border: 2px dashed blue;
            }

            * {
                pointer-events: none;
            }
        }
        .video-default {
            .thumbnail {
                position: relative;
                width: 300px;
                background: #f8f8f8;
                img {
                    width: 300px;
                    max-height: 200px;
                    overflow: hidden;
                    object-fit: contain;
                }
                .edit-thumbnail {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    top: 5px;
                    right: 5px;
                }
                @media screen and (max-width: 576px) {
                    width: 200px;
                }
            }
        }
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    .step-body-2, .step-body-3 {
        width: 600px;
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
    .themes {
        .theme {
            border-radius: 5px;
            .theme-name {
                font-size: 13px;
                font-weight: 600;
            }
            .setting-spinner {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                text-align: center;
                margin: 0px;
                background: #3c3c3cab;
                border-radius: 5px;
            }
            &.selected {
                background: #0700FF;
                border-radius: 5px;
                box-shadow: 3px 3px 10px #888;
                .theme-name {
                    color: white;
                }
            }
        }
    }

  .upload-icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
}

.progress-wrapper{
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    top: 50px;
    padding: 5px 10px;
}

:host ::ng-deep {
    .ng2-pdf-viewer-container .page {
        min-height: unset;
        padding:0px;
    }
}
