.email-templates {
  width: 100%;
  max-width: 520px;
  flex-wrap: wrap;

  .template {
    position: relative;
    height: 90px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    width: calc(20% - 8px);
    min-width: 76px;
    margin-right: 6px;
    margin-bottom: 6px;

    &.active {
      border-color: blue;
      background-color: blue;
    }
    .select-icon {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 5px;
      right: 5px;
      .i-icon {
        width: 12px;
        height: 12px;
        min-width: 12px;
      }
    }
  }
}
.email-editor {
  width: 100%;
  max-width: 520px;
}