<h6 class="mb-1">Signature layouts</h6>
<p class="f-2" style="opacity: 0.8">Load premade template made of your profile info</p>
<div class="email-templates">
  <div class="v-center justify-content-center template" *ngFor="let template of templates" [ngClass]="{active: currentTemplate === template.layout}" (click)="changeTemplate(template)">
    <i class="d-block {{template.icon}} bgc-dark" *ngIf="currentTemplate !== template.layout; else whiteIcon"></i>
    <ng-template #whiteIcon>
      <i class="d-block {{template.icon}}-white bgc-white"></i>
    </ng-template>
    <div class="v-center justify-content-center bgc-white select-icon" *ngIf="currentTemplate === template.layout">
      <i class="d-block i-icon i-check bgc-blue"></i>
    </div>
  </div>
</div>
<div class="email-editor mt-3">
  <quill-editor
    image-resize="true"
    placeholder="Enter Text"
    format="html"
    [(ngModel)]="user.email_signature"
    [modules]="config"
    name="mailContent"
    [styles]="{ height: '220px' }"
    id="mailContent"
    [sanitize]="true"
    (onEditorCreated)="getEditorInstance($event)"
    (onContentChanged)="updateEditor($event)"
    class="rounded"
    #emailEditor
  >
  </quill-editor>
  <div class="row">
    <a class="btn c-dark font-weight-bold ml-auto mr-4 mt-4">Cancel</a>
    <button type="submit" class="btn btn-primary font-weight-bold mr-2 mt-4" (click)="update()" [class.loading]="saving">Save changes</button>
  </div>
</div>