<form #form="ngForm" (ngSubmit)="form.form.valid? submit() : false;" [class.was-validated]="form.submitted">
  <h1 mat-dialog-title>Add new note</h1>
  <mat-dialog-content>
    <ng-container *ngIf="isSelected; else selectContactTemplate">
      <div class="f-6 mb-2">
        adding to 
        <span class="f-6 c-blue font-weight-bold">{{contacts[0].fullName}}</span>
        <ng-container *ngIf="contacts.length > 1">
          and <span class="f-6 c-blue font-weight-bold">{{contacts.length - 1}} contact(s)</span>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #selectContactTemplate>
      <div class="form-group">
        <label>contact</label>
        <app-select-contact (onSelect)="selectContact($event)"></app-select-contact>
      </div>
    </ng-template>
    <div class="form-group has-feedback">
      <div class="d-flex">
        <label for="noteContent" class="mb-0">content</label>
        <span class="ml-auto error" *ngIf="content.errors">Required!</span>
      </div>
      <textarea id="noteContent" class="form-control" name="content" #content="ngModel" [(ngModel)]="note.content" rows="7" required></textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn c-blue" mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" type="submit" [class.loading]="saving">Add note</button>
  </mat-dialog-actions>
</form>