<h1 mat-dialog-title>New group call inquiry</h1>
<form #actionForm="ngForm" (ngSubmit)="submitted = true; actionForm.form.valid ? assignCallRequest() : false"
      [class.was-validated]="submitted">
  <mat-dialog-content class="content-section form-group">
    <ng-container>
      <div class="my-3">
        <label>Subject</label>
        <div clas="contact-input">
          <input type="text" class="form-control" [(ngModel)]="subject" name="callSubject" #callSubject="ngModel" required>
          <span class="invalid-feedback"
                *ngIf="!subject && submitted">Subject is required.</span>
        </div>
      </div>
      <div class="my-3">
        <label>Select group call leader</label>
        <app-select-leader (onSelect)="changeLeader($event)"></app-select-leader>
        <div class="invalid-feedback" [class.invalid]="!leader && submitted">Leader is required.</div>
      </div>
      <div class="my-3">
        <label>Invite contacts & guests</label>
        <app-input-contacts
          [placeholder]="'Search your contacts or add an email'"
          [selectedContacts]="contacts"
        >
        </app-input-contacts>
        <div class="invalid-feedback" [class.invalid]="!contacts.length && submitted">Contact is required.</div>
      </div>
      <div class="my-3">
        <label>Propose date & time</label>
        <ng-container *ngFor="let dateTime of callDateTimes; let row = index">
          <div class="row mx-0 v-center mb-2">
            <div class="col-6 mx-0 px-0">
              <div class="v-center">
                <app-date-input type="prepend" [(value)]="dateTime.date"></app-date-input>
<!--                <div class="input-group-prepend calendar-wrapper">-->
<!--                  <span class="input-group-text border-dark bgc-blue"><i class="bgc-white i-icon i-calendar"></i></span>-->
<!--                </div>-->
<!--                <div ngbDropdown>-->
<!--                  <input class="form-control datepicker calendar-input f-3 font-weight-bold" placeholder="Select date" [name]="dateTime.id" [(ngModel)]="selectedDate[row]" ngbDropdownToggle type="text" required/>-->
<!--                  <div ngbDropdownMenu class="date-picker p-3">-->
<!--                    <div class="f-8 c-blue font-weight-bold text-center mt-3">{{ getDateTime(row) | date : 'MMMM d yyyy' }}</div>-->
<!--                    <div class="picker-body v-center justify-content-between">-->
<!--                      <div classs="date-picker">-->
<!--                        <ngb-datepicker name="select_date" #dp [(ngModel)]="dateTime.date" [minDate]="minDate" [firstDayOfWeek]="7" ></ngb-datepicker>-->
<!--                        <div class="action-button mt-2" align="end">-->
<!--                          <button class="btn btn-white f-6 font-weight-bold" type="button" ngbDropdownToggle>Cancel</button>-->
<!--                          <div class="btn btn-primary f-6 font-weight-bold ml-2" (click)="setDateTime(row)" ngbDropdownToggle>Set</div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <span
                class="invalid-error f-3 font-weight-bold c-red"
                *ngIf="dateTime.date['year'] == '' && dateTime.date['month'] == '' && dateTime.date['day'] == '' && submitted"
              >
                Date is required
              </span>
            </div>
            <div class="col-5 input-group">
              <select class="form-control" [(ngModel)]="dateTime.time" [name]="dateTime.id + '-time'">
                <option value="" disabled>From Time</option>
                <option *ngFor="let time of times" value="{{time.id}}">{{time.text}}</option>
              </select>
            </div>
            <button type="button" class="col-1 v-center border-0 bgc-white ml-auto py-2" (click)="removeCallDateTime(dateTime)" *ngIf="callDateTimes.length > 1">
              <i class="i-icon i-close bgc-dark" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>
        <div class="d-flex justify-content-end mt-2 mr-3">
          <button type="button" class="v-center border-0 bgc-trans" (click)="addCallDateTime()">
            <i class="i-icon i-plus bgc-blue" aria-hidden="true"></i>
            <span class="ml-2 f-4 c-blue font-weight-bold">Add another proposed date & time</span>
          </button>
        </div>
      </div>
      <div class="my-3">
        <label>Duration</label>
        <div class="input-group w-50">
          <select class="form-control" [(ngModel)]="duration" name="callDuration" #callDuration="ngModel">
            <option *ngFor="let time of durations" value="{{time}}">{{time}}</option>
          </select>
        </div>
      </div>
      <div class="my-3">
        <label>Description (Optional)</label>
        <app-html-editor
          [(value)]="description"
          placeholder="Enter Text..."
          [style]="{height: '200px'}"
          #editor
        >
        </app-html-editor>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end mx-0">
    <button type="button" mat-dialog-close class="btn btn-white f-6 font-weight-bold ml-2">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary font-weight-bold f-6" [class.loading]="isLoading">
      Send
    </button>
  </mat-dialog-actions>
</form>
