$modal-left-padding: 2.25rem;
$modal-right-padding: 2.25rem;
$modal-top-padding: 2.25rem;
$modal-bottom-padding: 2rem;

$modal-mobile-left-padding: 1.25rem;
$modal-mobile-right-padding: 1.25rem;
$modal-mobile-top-padding: 1.25rem;
$modal-mobile-bottom-padding: 1rem;

body .mat-dialog-container {
  padding: $modal-top-padding $modal-right-padding $modal-bottom-padding $modal-left-padding;
  overflow: visible;

  .mat-dialog-title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito", sans-serif!important;
  }

  .mat-dialog-content {
    margin-left: -1 * $modal-left-padding;
    margin-right: -1 * $modal-right-padding;
    padding-left: $modal-left-padding;
    padding-right: $modal-right-padding;
  }
  .mat-dialog-actions {
    margin-bottom: 0px;
    min-height: unset;
    padding-top: 1rem;
    padding-bottom: 0px;

    button {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 575px) {
  body .mat-dialog-container {
    padding: $modal-mobile-top-padding $modal-mobile-right-padding $modal-mobile-bottom-padding $modal-mobile-left-padding;

    .mat-dialog-title {
      margin-bottom: 0.5rem;
      font-size: 24px;
    }

    .mat-dialog-content {
      margin-left: -1 * $modal-mobile-left-padding;
      margin-right: -1 * $modal-mobile-right-padding;
      padding-left: $modal-mobile-left-padding;
      padding-right: $modal-mobile-right-padding;
    }
  }
}
