<div class="campaign-list-item-page px-md-3 px-sm-0 px-0">
  <div class="col-12">
    <div class="v-center justify-content-between my-4">
        <a [routerLink]="['/campaign/list/']"
           class="hover-bottom font-weight-bold f-6">
          <div class="v-center op-75">
            <i class="bgc-dark i-icon i-triangle-left sm mr-2"></i>
            <div class="f-5 font-weight-bold c-dark">Back to lists</div>
          </div>
        </a>
    </div>
    <div class="v-center justify-content-between">
      <div class="page-title font-weight-bold">
        <span *ngIf="mailList">{{mailList.title}}</span>
      </div>
      <div class="v-center">
        <button class="v-center btn btn-primary f-3 font-weight-bold shadow text-white ml-2 p-2" (click)="addContact()">
          <i class="bgc-white i-icon i-plus sm mr-2"></i>
          Add contacts
        </button>
        <button class="btn btn-white-blue font-weight-bold ml-2" (click)="importCSV()">Import</button>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <ng-container *ngIf="isLoading; else showContacts">
      <app-loading-overlay type="table"></app-loading-overlay>
    </ng-container>
    <ng-template #showContacts>
      <ng-container *ngIf="contacts.length; else noContacts">
        <table class="table campaign-list" [class.loading]="isTableChanging">
          <thead>
          <tr>
            <th class="check-cell border-top-0">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="selectcontacts" (change)="selectAllPage()" [checked]="isSelectedPage()">
                <label class="custom-control-label" for="selectcontacts"></label>
              </div>
            </th>
            <th class="first-name">First Name</th>
            <th class="last-name">Last Name</th>
            <th class="email">Email</th>
            <th class="phone">Phone No</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="contacts">
            <tr *ngFor="let contact of contacts">
              <td class="check-cell">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="contact-{{contact._id}}" (change)="selectedContacts.toggle(contact._id)" [checked]="selectedContacts.isSelected(contact._id)">
                  <label class="custom-control-label" for="contact-{{contact._id}}"></label>
                </div>
              </td>
              <td class="first-name">
                <div class="c-dark f-4">{{contact.first_name}}</div>
              </td>
              <td class="last-name">
                <div class="c-dark f-4">{{contact.last_name}}</div>
              </td>
              <td class="email">
                <div class="c-blue f-4 font-weight-bold">{{contact.email}}</div>
              </td>
              <td class="phone">
                <div class="c-dark f-4">{{contact.cell_phone}}</div>
              </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
      <ng-template #noContacts>
        <app-data-empty [type]="'campaign-contact'"></app-data-empty>
      </ng-template>
    </ng-template>

  </div>
</div>
<app-actions-bar [actions]="actions" [isActive]="selected" (doCommand)="doAction($event)" *ngIf="contacts.length"></app-actions-bar>
