
<div class="custom-mat-table">
  <div class="d-flex table-control-header">
    <div class="shadow-dropdown ml-auto" ngbDropdown>
      <div class="v-center c-pointer f-3 p-3 font-weight-bold" ngbDropdownToggle>
        <span class="pr-2">{{ (!deadline || deadline.id === 'all') ? 'Sort by deadline' : deadline.label + ' tasks'}}</span>
      </div>
      <div ngbDropdownMenu aria-labelledby="taskSortTypes">
        <div class="py-2" ngbDropdownItem *ngFor="let type of DEADLINE_TYPES" (click)="changeDeadlineType(type)">
          <span class="f-3 v-center" [class.font-weight-bold]="type.id === deadline.id">
            {{type.label}}
            <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1" *ngIf="type.id === deadline.id"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="border-left px-3 py-2 text-center mx-3 v-center">
      <a class="ml-3 f-3 font-weight-bold c-pointer c-dark td-none" (click)="drawer.toggle()">Filters</a>
    </div>
  </div>
  <div class="position-relative">
    <table class="w-100" mat-table [dataSource]="storeService.tasks$ | async | paginate: {id: 'tasks', itemsPerPage: pageSize.id, currentPage: page, totalItems: taskService.total$ | async}">

      <!-- Select Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="pl-2">
          <div class="custom-control custom-checkbox" [class.indeterminate]="selection.length && !isAllSelected()">
            <input
              type="checkbox"
              class="custom-control-input"
              id="selectAllContacts"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.length && isAllSelected()"
            />
            <label
              class="custom-control-label"
              for="selectAllContacts"
            ></label>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="pl-2">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="contact-{{element._id}}"
              (change)="toggle(element._id)"
              [checked]="isSelected(element._id)"
            />
            <label
              class="custom-control-label"
              for="contact-{{element._id}}"
            ></label>
          </div>
        </td>
      </ng-container>

      <!-- Complete Status Column -->
      <ng-container matColumnDef="status">
        <ng-container *matHeaderCellDef>
          <th mat-header-cell
              *ngIf="!selection.length; else toolHeader">DONE</th>
          <ng-template #toolHeader>
            <th mat-header-cell colspan="7">
              <div class="v-center">
                <span class="c-dark f-3 text-lowercase font-weight-bold">{{selection.length}} selected</span>
                <app-actions-header [actions]="ACTIONS"></app-actions-header>
              </div>
            </th>
          </ng-template>
        </ng-container>
        <th mat-header-cell *matHeaderCellDef>DONE</th>
        <td mat-cell *matCellDef="let element">
          <i class="i-icon d-block {{element.status ? 'i-round-check bgc-accept' : 'i-round bgc-dark op-40'}} done-status"></i>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="contact_name">
        <ng-container *matHeaderCellDef>
          <th mat-header-cell
              *ngIf="!selection.length">contact name</th>
        </ng-container>
        <td mat-cell *matCellDef="let element">
          <div class="v-center">
            <div class="contact-avatar f-3 mr-2">{{element.contact.avatarName}}</div>
            <span>{{element.contact.fullName}}</span>
          </div>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="contact_label">
        <th mat-header-cell *matHeaderCellDef> label </th>
        <td mat-cell *matCellDef="let element">
          <app-label-select [value]="element.contact.label" (valueChange)="updateLabel($event, element.contact._id)"></app-label-select>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> subject </th>
        <td mat-cell *matCellDef="let element">
          <div class="v-center">
            <i class="i-icon {{TASK_ICONS[element.type] || 'i-task'}} d-block bgc-dark mr-2"></i>
            <span>{{element.content}}</span>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contact_phone">
        <th mat-header-cell *matHeaderCellDef> phone number </th>
        <td mat-cell *matCellDef="let element">
          <span class="c-blue font-weight-bold">{{element.contact.cell_phone | phone_format}}</span>
        </td>
      </ng-container>

      <!-- Star Column -->
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> deadline </th>
        <td mat-cell *matCellDef="let element">
          {{element.due_date | date: 'MMM dd, hh:mm a'}}
        </td>
      </ng-container>

      <!-- ActioN Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="p-0" style="width: 42px;">
          <div><i class="i-icon i-edit op-28 d-block bgc-dark ml-auto" (click)="openEdit(element)"></i></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="selection_info">
        <th mat-header-cell *matHeaderCellDef colspan="8" class="text-center">
          <span *ngIf="selection.length !== (taskService.total$ | async); else deselectTemplate">
            All {{pageTasks.length}} tasks are selected. <span class="c-blue font-weight-bold c-pointer" (click)="selectAll()">Select all {{taskService.total$ | async}} tasks</span>
          </span>
          <ng-template #deselectTemplate>
            All {{selection.length}} tasks are selected. <span class="c-blue c-pointer font-weight-bold" (click)="deselectAll()">Clear selection</span>
          </ng-template>
        </th>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="DISPLAY_COLUMNS" [class.selected]="selection.length"></tr>
      <tr mat-header-row *matHeaderRowDef="['selection_info']"
          [class.d-none]="!isAllSelected()" class='selection-info'></tr>
      <tr mat-row *matRowDef="let row; columns: DISPLAY_COLUMNS;"></tr>
    </table>


    <ng-container *ngIf="(storeService.tasks$ | async).length || (taskService.total$ | async); else emptyListTemplate">
      <div class="updating-status"
        *ngIf="(taskService.loading$ | async) === STATUS.REQUEST">
        LOADING
      </div>
      <div class="my-2 table-control mode-1">
        <div class="pagination-wrapper m-auto">
          <pagination-controls (pageChange)="changePage($event)"
            (pageBoundsCorrection)="onOverPages($event)"
            id="tasks"
            maxSize="5"
            previousLabel=""
            nextLabel="">
          </pagination-controls>
        </div>
        <div class="shadow-dropdown ml-auto page-size-control"
          ngbDropdown
          placement="top-right">
          <div class="v-center c-pointer f-3 p-3 font-weight-bold"
            ngbDropdownToggle>
            <span class="pr-2 c-blue">Show {{pageSize.id}} rows per page</span>
          </div>
          <div ngbDropdownMenu
            aria-labelledby="contactPageSize">
            <div class="py-2"
              ngbDropdownItem
              *ngFor="let type of PAGE_COUNTS"
              (click)="changePageSize(type)">
              <span class="f-3 v-center"
                [class.font-weight-bold]="type.id === pageSize.id">
                Show {{type.label}} rows per page
                <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
                  *ngIf="type.id === pageSize.id"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyListTemplate>
      <ng-container [ngSwitch]="(taskService.loading$ | async)">
        <div class="empty-list py-5" *ngSwitchCase="STATUS.SUCCESS">
          <div class="object-icon v-center">
            <i class="i-icon i-task d-block bgc-dark"></i>
          </div>
          <h4 class="font-weight-bold mt-4 mb-3">
            There is no task in your account.
          </h4>
        </div>
        <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2">Loading tasks...</h4>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer position="end">
    <app-task-filter></app-task-filter>
  </mat-drawer>
</mat-drawer-container>
