<div class="v-center justify-content-end mt-xl-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
  <button class="btn btn-primary shadow py-2 v-center" (click)="joinCallRequest()">
    <i class="i-icon i-plus bg-white d-block sm mr-2"></i>
    <span class="fw-600 f-3">New group call inquiry</span>
  </button>
</div>
<div class="group-call-container mt-2">
  <mat-accordion>
    <mat-expansion-panel [expanded]="inquiryExpanded" hideToggle>
      <mat-expansion-panel-header (click)="changeExpanded('inquiry')">
        <mat-panel-title>
          <div class="v-center border-0 py-2 c-dark expand">
            <i class="i-icon i-triangle-right bg-dark opacity-6 mr-3" aria-hidden="true" [class.expand]="inquiryExpanded"></i>
            <span class="f-6 font-weight-bold">New inquiries</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="inquiry-call-container">
        <ng-container *ngIf="isInquiryLoading">
          <div class="px-3 pb-3">
            <div class="bg-white rounded">
              <app-loading-overlay [type]="'table'"></app-loading-overlay>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!totalInquiries && !isInquiryLoading">
          <app-data-empty [type]="'inquiry'"></app-data-empty>
        </ng-container>
        <div class="bg-white rounded position-relative">
          <ng-container *ngIf="totalInquiries">
            <table class="table call-request-table" [class.loading]="isInquiryTableLoading">
              <thead>
              <tr>
                <th class="subject">Subject</th>
                <th class="organizer">Organizer</th>
                <th class="leader">Leader</th>
                <th class="guests">Guests</th>
                <th class="date-time">Date & Time Requested</th>
                <th class="team-actions">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let inquiry of inquiriesData | paginate : { id: 'new_inquiries', itemsPerPage: 8, currentPage: currentInquiriesPage, totalItems: totalInquiries }">
                <td class="subject" (click)="confirmRequest(inquiry)">
                  <div class="c-blue f-3 font-weight-bold">{{inquiry.subject}}</div>
                  <div class="c-dark opacity-6 f-3">{{inquiry.description || '' | stripTags | shorten: 40: '...'}}</div>
                </td>
                <td class="organizer" (click)="confirmRequest(inquiry)">
                  <div class="v-center">
                    <div class="member-avatar">
                      <ng-container *ngIf="inquiry.user.picture_profile; else userProfilePlaceholder">
                        <img [src]="inquiry.user.picture_profile" class="avatar" />
                      </ng-container>
                      <ng-template #userProfilePlaceholder>
                        <div class="name-avatar">
                          {{inquiry.user.user_name[0]}}
                        </div>
                      </ng-template>
                    </div>
                    <div class="f-3 c-dark ml-2">{{inquiry.user.user_name}}</div>
                  </div>
                </td>
                <td class="leader" (click)="confirmRequest(inquiry)">
                  <div class="v-center">
                    <ng-container *ngIf="inquiry.leader">
                      <div class="member-avatar">
                        <ng-container *ngIf="inquiry.leader.picture_profile; else leaderProfilePlaceholder">
                          <img [src]="inquiry.leader.picture_profile" class="avatar" />
                        </ng-container>
                        <ng-template #leaderProfilePlaceholder>
                          <div class="name-avatar">
                            {{inquiry.leader.user_name[0]}}
                          </div>
                        </ng-template>
                      </div>
                      <div class="f-3 c-dark ml-2">{{inquiry.leader.user_name}}</div>
                    </ng-container>
                  </div>
                </td>
                <td class="guests">
                  <div class="f-3 c-dark">{{inquiry.guests.length + inquiry.invites.length}}</div>
                </td>
                <td>
                  <div class="f-3 c-dark">
                    {{inquiry.proposed_at[0] | date: 'MMM dd yyyy, h:mm a'}}
                  </div>
                  <div class="f-2 c-dark opacity-6" *ngIf="inquiry.proposed_at.length > 1">
                    +{{inquiry.proposed_at.length - 1}} call suggested
                  </div>
                </td>
                <td class="team-actions">
                  <div ngbDropdown class="d-flex justify-content-end button-more p-2 rounded">
                    <a class="v-center justify-content-end c-pointer" ngbDropdownToggle>
                      <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="light">
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="finishedInquiry(inquiry)">
                        <i class="i-icon i-check bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Set as Finished</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="cancelInquiry(inquiry)">
                        <i class="i-icon i-block bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Set as Canceled</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="deleteInquiry(inquiry)">
                        <i class="i-icon i-trash bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Delete</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div class="v-center justify-content-center">
          <div class="ml-3 pagination-wrapper" *ngIf="inquiriesCount">
            <pagination-controls (pageChange)="setPageInquiries($event)" id="new_inquiries" maxSize="5" previousLabel=""
                                 nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel [expanded]="plannedExpanded" hideToggle>
      <mat-expansion-panel-header (click)="changeExpanded('planned')">
        <mat-panel-title>
          <div class="v-center border-0 py-2 c-dark expand">
            <i class="i-icon i-triangle-right bg-dark opacity-6 mr-3" aria-hidden="true" [class.expand]="plannedExpanded"></i>
            <span class="f-6 font-weight-bold">Scheduled Call</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="inquiry-call-container">
        <ng-container *ngIf="isPlannedLoading">
          <div class="px-3 pb-3">
            <div class="bg-white rounded">
              <app-loading-overlay [type]="'table'"></app-loading-overlay>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!totalPlanned && !isPlannedLoading">
          <app-data-empty [type]="'plan'"></app-data-empty>
        </ng-container>
        <div class="bg-white rounded position-relative">
          <ng-container *ngIf="totalPlanned">
            <table class="table call-request-table scheduled-call-table" [class.loading]="isPlannedTableLoading">
              <thead>
              <tr>
                <th class="subject">Subject & Description</th>
                <th class="organizer">Organizer</th>
                <th class="leader">Leader</th>
                <th class="guests">Guests</th>
                <th class="date-time">Date & Time Requested</th>
                <th class="status">
                  <div class="v-center border-0 py-2 c-dark">
                    <span>Status</span>
                    <i class="i-icon i-question bg-dark ml-2" aria-hidden="true"></i>
                  </div>
                </th>
                <th class="team-actions">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let plan of plannedData | paginate : { id: 'plannedTable', itemsPerPage: 8, currentPage: currentPlannedPage, totalItems: totalPlanned }">
                <td class="subject" (click)="scheduleCall(plan)">
                  <div class="c-blue f-3 font-weight-bold">{{plan.subject}}</div>
                  <div class="c-dark opacity-6 f-3">{{plan.description || '' | stripTags | shorten: 40: '...'}}</div>
                </td>
                <td class="organizer" (click)="scheduleCall(plan)">
                  <div class="v-center">
                    <div class="member-avatar">
                      <ng-container *ngIf="plan.user.picture_profile; else userProfilePlaceholder">
                        <img [src]="plan.user.picture_profile" class="avatar" />
                      </ng-container>
                      <ng-template #userProfilePlaceholder>
                        <div class="name-avatar">
                          {{plan.user.user_name[0]}}
                        </div>
                      </ng-template>
                    </div>
                    <div class="f-3 ml-2">{{plan.user.user_name}}</div>
                  </div>
                </td>
                <td class="leader" (click)="scheduleCall(plan)">
                  <div class="v-center">
                    <ng-container *ngIf="plan.leader">
                      <div class="member-avatar">
                        <ng-container *ngIf="plan.leader.picture_profile; else leaderProfilePlaceholder">
                          <img [src]="plan.leader.picture_profile" class="avatar" />
                        </ng-container>
                        <ng-template #leaderProfilePlaceholder>
                          <div class="name-avatar">
                            {{plan.leader.user_name[0]}}
                          </div>
                        </ng-template>
                      </div>
                      <div class="f-3 c-dark ml-2">{{plan.leader.user_name}}</div>
                    </ng-container>
                  </div>
                </td>
                <td class="guests">
                  <div class="f-3 c-dark">{{plan.guests.length + plan.invites.length}}</div>
                </td>
                <td>
                  <div class="f-3 c-dark">
                    {{plan.proposed_at[0] | date: 'MMM dd yyyy, h:mm a'}}
                  </div>
                  <div class="f-3 opacity-6">
                    {{getDuration(plan.duration)}}
                  </div>
                </td>
                <td class="status">
                  <div class="v-center">
                    <div class="subscribe-button like v-center justify-content-center" (click)="finishedPlan(plan)">
                      <i class="i-icon i-like bgc-white" aria-hidden="true"></i>
                    </div>
                    <div class="subscribe-button unlike v-center justify-content-center ml-1" (click)="cancelPlan(plan)">
                      <i class="i-icon i-like bgc-white" aria-hidden="true"></i>
                    </div>
                  </div>
                </td>
                <td class="team-actions">
                  <div ngbDropdown class="d-flex justify-content-end button-more p-2 rounded">
                    <a class="v-center justify-content-end c-pointer" ngbDropdownToggle>
                      <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="light">
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editGroupCall(plan)">
                        <i class="i-icon i-edit bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-4">Edit group call</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="addToCalendar(plan)">
                        <i class="i-icon i-calendar bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-4">Add to calendar</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="deletePlan(plan)">
                        <i class="i-icon i-trash bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-4">Delete</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div class="v-center justify-content-center">
          <div class="ml-3 pagination-wrapper" *ngIf="plannedCount">
            <pagination-controls (pageChange)="setPageInquiries($event)" id="plannedTable" maxSize="5" previousLabel=""
                                 nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel [expanded]="finishedExpanded" hideToggle>
      <mat-expansion-panel-header (click)="changeExpanded('finished')">
        <mat-panel-title>
          <div class="v-center border-0 py-2 c-dark expand">
            <i class="i-icon i-triangle-right bg-dark opacity-6 mr-3" aria-hidden="true" [class.expand]="finishedExpanded"></i>
            <span class="f-6 font-weight-bold">Completed & Cancelled</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="inquiry-call-container">
        <ng-container *ngIf="isFinishedLoading">
          <div class="px-3 pb-3">
            <div class="bg-white rounded">
              <app-loading-overlay [type]="'table'"></app-loading-overlay>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!totalFinished && !isFinishedLoading">
          <app-data-empty [type]="'finish'"></app-data-empty>
        </ng-container>
        <div class="bg-white rounded position-relative">
          <ng-container *ngIf="totalFinished">
            <table class="table call-request-table completed-call-table" [class.loading]="isFinishedTableLoading">
              <thead>
              <tr>
                <th class="subject">Subject & Description</th>
                <th class="organizer">Organizer</th>
                <th class="leader">Leader</th>
                <th class="guests">Guests</th>
                <th class="date-time">Date & Time Requested</th>
                <th class="status">
                  <div class="v-center border-0 py-2 c-dark">
                    <span>Status</span>
                    <i class="i-icon i-question bg-dark ml-2" aria-hidden="true"></i>
                  </div>
                </th>
                <th class="team-actions">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let finished of finishedData | paginate : { id: 'finishedTable', itemsPerPage: 8, currentPage: currentFinishedPage, totalItems: totalFinished }">
                <td class="subject" (click)="scheduleCall(finished)">
                  <div class="c-blue f-3 font-weight-bold">{{finished.subject}}</div>
                  <div class="c-dark opacity-6 f-3">{{finished.description || '' | stripTags | shorten: 40: '...'}}</div>
                </td>
                <td class="organizer" (click)="scheduleCall(finished)">
                  <div class="v-center">
                    <div class="member-avatar">
                      <ng-container *ngIf="finished.user.picture_profile; else userProfilePlaceholder">
                        <img [src]="finished.user.picture_profile" class="avatar" />
                      </ng-container>
                      <ng-template #userProfilePlaceholder>
                        <div class="name-avatar">
                          {{finished.user.user_name[0]}}
                        </div>
                      </ng-template>
                    </div>
                    <div class="f-3 c-dark ml-2">{{finished.user.user_name}}</div>
                  </div>
                </td>
                <td class="leader" (click)="scheduleCall(finished)">
                  <div class="v-center">
                    <ng-container *ngIf="finished.leader">
                      <div class="member-avatar">
                        <ng-container *ngIf="finished.leader.picture_profile; else leaderProfilePlaceholder">
                          <img [src]="finished.leader.picture_profile" class="avatar" />
                        </ng-container>
                        <ng-template #leaderProfilePlaceholder>
                          <div class="name-avatar">
                            {{finished.leader.user_name[0]}}
                          </div>
                        </ng-template>
                      </div>
                      <div class="f-3 c-dark ml-2">{{finished.leader.user_name}}</div>
                    </ng-container>
                  </div>
                </td>
                <td class="guests">
                  <div class="f-3 c-dark">{{finished.guests.length + finished.invites.length}}</div>
                </td>
                <td>
                  <div class="f-3 c-dark">
                    {{finished.proposed_at[0] | date: 'MMM dd yyyy, h:mm a'}}
                  </div>
                  <div class="f-3 opacity-6">
                    {{getDuration(finished.duration)}}
                  </div>
                </td>
                <td class="status">
                  <div class="status">
                    <div [className]="finished.status">{{finished.status}}</div>
                  </div>
                </td>
                <td class="team-actions">
                  <div ngbDropdown class="d-flex justify-content-end button-more p-2 rounded">
                    <a class="v-center justify-content-end c-pointer" ngbDropdownToggle>
                      <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="light">
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="deleteFinished(finished)">
                        <i class="i-icon i-trash bg-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-4 font-weight-bold">Delete</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="ml-3 pagination-wrapper" *ngIf="finishedCount">
            <pagination-controls (pageChange)="setPageInquiries($event)" id="finishedTable" maxSize="5" previousLabel=""
                                 nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
