<div class="page-content p-0">
    <table class="table" style="width: 500px;">
        <thead>
            <tr>
                <th class="f-1">assistant management</th>
                <th class="f-1 password-col text-right">edit password</th>
                <th class="f-1 toggle-col">enable</th>
                <th class="f-1 delete-col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="v-center">
                        <label class="v-center justify-content-center bgc-dark text-white dark-label f-3 font-weight-bold mt-2">
                            GS
                        </label>
                        <div class="ml-3">
                            <div class="f-4 font-weight-bold">Garry Stevie</div>
                            <div class="f-1">garrett@garrettsteve.com</div>
                        </div>
                    </div>
                </td>
                <td class="v-center justify-content-end password-col py-4">
                    <i class="i-icon i-edit bgc-dark d-block"></i>
                </td>
                <td class="toggle-col">
                    <div class="v-center custom-control custom-switch pl-0">
                        <label class="custom-toggle mb-0" placement="top">
                          <input type="checkbox">
                          <span class="custom-toggle-slider rounded-circle"></span>
                        </label>
                    </div>
                </td>
                <td class="v-center justify-content-center delete-col">
                    <i class="i-icon i-trash bgc-red d-block"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>