<div class="page-content">
  <div class="my-2">
    <div class="d-flex justify-content-between">
      <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Templates</h6>
      <a class="btn btn-primary shadow py-2 v-center mb-2 border-0" [routerLink]="['/templates/new']">
        <i class="i-icon i-plus bg-white d-block sm mr-2"></i>
        <span class="fw-600 f-3">New Template</span>
      </a>
    </div>
    <div class="my-3 position-relative">
      <ng-container *ngIf="(templatesService.templates$ | async).length; else emptyListTemplate">
        <div class="updating-status" *ngIf="(templatesService.loading$ | async) === STATUS.REQUEST">
          LOADING
        </div>
        <table class="table template-table">
          <thead>
          <th class="template-title">Title</th>
          <th class="template-auth">Owner</th>
          <th class="template-content">Template</th>
          <th class="template-type">Type</th>
          <th class="template-action">Default</th>
          </thead>
          <tbody class="position-relative">
            <tr
              *ngFor="let template of templatesService.templates$ | async
              | paginate : {id: 'templateTable', itemsPerPage: 10, currentPage: page, totalItems: (templatesService.templates$ | async).length}
            ">
              <td class="template-title">
                <a [routerLink]="['/templates/' + template._id]"
                   class="hover-bottom font-weight-bold f-4">{{template.title}}</a>
              </td>
              <td class="template-auth">
                <div class="role" [class.admin]="template.role == 'admin'" [class.team]="template.role === 'team' && template.user === userId" [class.shared]="template.role === 'team' && template.user !== userId"></div>
              </td>
              <td class="template-content">
                <h5 class="font-weight-bold f-5 c-black mb-1">{{template.subject | stripTags | shorten: 40: '...'}}</h5>
                <span [innerHTML]="template.content | stripTags | shorten: 80: '...'"></span>
              </td>
              <td class="template-type">
                <div class="v-center">
                  <ng-container *ngIf="template.type=='text'; else emailType">
                    <i class="i-icon bgc-dark i-phone mr-2"></i>
                    <span class="f-4 menu-label font-weight-bold ml-1">{{template.type}}</span>
                  </ng-container>
                  <ng-template #emailType>
                    <i class="i-icon bgc-dark i-message mr-2"></i>
                    <span class="f-4 menu-label font-weight-bold ml-1">E-mail</span>
                  </ng-template>
                </div>
              </td>
              <td class="template-action">
                <div class="v-center">
                  <label class="custom-toggle mb-0" placement="top" ngbTooltip="Set as {{template.type == 'email' ? 'Default Email' : 'Default Text'}}">
                    <input type="checkbox" [checked]="template._id == emailDefault || template._id == smsDefault" (change)="setDefault(template)">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                  <div class="v-center ml-4">
                    <ng-container *ngIf="template.role != 'admin' && template.user == userId">
                      <div class="icon-button v-center justify-content-center" (click)="openTemplate(template)" [class.disabled]="template.role == 'admin'">
                        <i class="i-icon bgc-dark i-edit"></i>
                      </div>
                      <div class="icon-button v-center justify-content-center" (click)="deleteTemplate(template)" [class.disabled]="template.role == 'admin'">
                        <i class="i-icon bgc-dark i-trash ml-2"></i>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center my-2">
          <div class="ml-3 pagination-wrapper">
            <pagination-controls (pageChange)="page = $event" id="templateTable" maxSize="5" previousLabel=""
                                 nextLabel=""></pagination-controls>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyListTemplate>
        <ng-container [ngSwitch]="(templatesService.loading$ | async)">
          <div class="empty-list" *ngSwitchCase="STATUS.SUCCESS">
            <div class="object-icon v-center">
              <i class="i-icon i-template d-block bgc-dark"></i>
            </div>
            <h4 class="font-weight-bold mt-4 mb-3">
              There is no templates for emailing and texting yet.
            </h4>
            <p class="mb-4">Please create templates to use for emailing and texting easily.</p>
            <a class="btn btn-primary" [routerLink]="['/templates/new']">
              <span class="font-weight-bold f-3">Create Template</span>
            </a>
          </div>
          <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
            <div class="loader mt-5 lg"></div>
            <h4 class="fw-600 mt-2">Loading templates for emailing and texting...</h4>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
