<div class="page-content">
  <div class="v-center justify-content-between mb-3">
    <h1 class="page-title">Templates</h1>
    <a class="btn btn-primary shadow v-center mb-0 border-0" [routerLink]="['/templates/new']">
      <i class="i-icon i-plus bg-white d-block sm mr-2"></i>
      <span class="f-6 font-weight-bold">New Template</span>
    </a>
  </div>
  <div class="v-center">
    <div class="form-group mb-0 search-form">
      <div class="input-group-prepend">
        <i class="i-icon i-search d-block bgc-dark"></i>
      </div>
      <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search-addon" [(ngModel)]="searchStr" (ngModelChange)="changeSearchStr()" [class.disabled]="(templatesService.loading$ | async) === STATUS.REQUEST">
      <ng-container *ngIf="searchStr">
        <div class="cancel-action c-pointer" (click)="clearSearchStr()">
          <i class="i-icon i-close d-block bgc-dark"></i>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="my-3 position-relative">
    <ng-container *ngIf="(templatesService.templates$ | async).length; else emptyListTemplate">
      <div class="updating-status" *ngIf="(templatesService.loading$ | async) === STATUS.REQUEST">
        LOADING
      </div>
      <table class="table template-table page-table">
        <thead>
          <tr>
            <th class="template-title">Title</th>
            <th class="template-auth">Owner</th>
            <th class="template-content">Template</th>
            <th class="template-type">Type</th>
            <th class="template-action">Default</th>
          </tr>
        </thead>
        <tbody class="position-relative">
          <tr
            *ngFor="let template of filteredResult
            | paginate : {id: 'templateTable', itemsPerPage: pageSize.id, currentPage: page, totalItems: filteredResult.length}
          ">
            <td class="template-title">
              <a [routerLink]="['/templates/' + template._id]"
                 class="hover-bottom font-weight-bold f-4">{{template.title}}</a>
            </td>
            <td class="template-auth">
              <div class="role" [class.admin]="template.role == 'admin'" [class.team]="template.role === 'team' && template.user === userId" [class.shared]="template.role === 'team' && template.user !== userId"></div>
            </td>
            <td class="template-content">
              <h5 class="font-weight-bold f-5 c-black mb-1">{{template.subject | stripTags | shorten: 40: '...'}}</h5>
              <span [innerHTML]="template.content | stripTags | shorten: 80: '...'"></span>
            </td>
            <td class="template-type">
              <div class="v-center">
                <ng-container *ngIf="template.type=='text'; else emailType">
                  <i class="i-icon bgc-dark i-phone mr-2"></i>
                  <span class="f-4 menu-label font-weight-bold ml-1">{{template.type}}</span>
                </ng-container>
                <ng-template #emailType>
                  <i class="i-icon bgc-dark i-message mr-2"></i>
                  <span class="f-4 menu-label font-weight-bold ml-1">Email</span>
                </ng-template>
              </div>
            </td>
            <td class="template-action">
              <div class="v-center">
                <label class="custom-toggle mb-0" placement="top" ngbTooltip="Set as {{template.type == 'email' ? 'Default Email' : 'Default Text'}}">
                  <input type="checkbox" [checked]="template._id == emailDefault || template._id == smsDefault" (change)="setDefault(template)">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
                <div class="v-center ml-4">
                  <ng-container *ngIf="template.role != 'admin' && template.user == userId">
                    <div class="icon-button v-center justify-content-center" (click)="openTemplate(template)" [class.disabled]="template.role == 'admin'">
                      <i class="i-icon bgc-dark i-edit"></i>
                    </div>
                    <div class="icon-button v-center justify-content-center" (click)="deleteTemplate(template)" [class.disabled]="template.role == 'admin'">
                      <i class="i-icon bgc-dark i-trash ml-2"></i>
                    </div>
                  </ng-container>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-2 table-control mode-1">
        <div class="m-auto pagination-wrapper">
          <pagination-controls
            (pageChange)="page = $event"
            id="templateTable"
            maxSize="5"
            previousLabel=""
            nextLabel="">
          </pagination-controls>
        </div>
        <div class="shadow-dropdown ml-auto page-size-control"
          ngbDropdown
          placement="top-right">
          <div class="v-center c-pointer f-3 p-3 font-weight-bold"
            ngbDropdownToggle>
            <span class="pr-2 c-blue">Show {{pageSize.id}} rows per page</span>
          </div>
          <div ngbDropdownMenu
            aria-labelledby="contactPageSize">
            <div class="py-2"
              ngbDropdownItem
              *ngFor="let type of PAGE_COUNTS"
              (click)="changePageSize(type)">
              <span class="f-3 v-center"
                [class.font-weight-bold]="type.id === pageSize.id">
                Show {{type.label}} rows per page
                <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
                  *ngIf="type.id === pageSize.id"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyListTemplate>
      <ng-container [ngSwitch]="(templatesService.loading$ | async)">
        <div class="empty-list" *ngSwitchCase="STATUS.SUCCESS">
          <div class="object-icon v-center">
            <i class="i-icon i-template d-block bgc-dark"></i>
          </div>
          <h4 class="font-weight-bold mt-4 mb-3">
            There is no templates for emailing and texting yet.
          </h4>
          <p class="mb-4">Please create templates to use for emailing and texting easily.</p>
          <a class="btn btn-primary" [routerLink]="['/templates/new']">
            <span class="font-weight-bold f-3">Create Template</span>
          </a>
        </div>
        <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2">Loading templates for emailing and texting...</h4>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>
