<!--  -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="page" [class.dialog-mode]="showDialog">
  <router-outlet></router-outlet>
  <div class="footer">
  </div>
  <mat-drawer-container [hasBackdrop]="true" [class]="'label-container'">
    <mat-drawer #drawer position="end">
      <app-manage-label (onClose)="drawer.close();" (showDialog)="setShowDialog($event)"></app-manage-label>
    </mat-drawer>
  </mat-drawer-container>
  <ng-container *ngIf="(handlerService.openSearch$ | async)">
    <div class="search-page">
      <app-global-search></app-global-search>
    </div>
  </ng-container>
</div>