@import 'src/variables.scss';

.auth-page {
  min-height: 100vh;
  background-color: $color-trans08;
}

:host ::ng-deep {
  .card {
    max-width: 454px;
    margin: auto;
    box-shadow: 0 10px 48px -5px rgba(16, 19, 54, 0.35);

    .logo {
      display: block;
      width: 156px;
      margin: auto auto 30px auto;
    }

    .social-btn {
      border-width: 2px;
    }
  }
}