.custom-radio-container {
  width: 120px;
}

.page {
  padding: 0;
}

.upper-text {
  text-transform: uppercase;
}

.page-content {
  padding: 0;

  .template-container {
    min-height: calc(100vh - 113px);

    .template-content {
      width: calc(100% - 250px);
      padding: 2rem;
    }

    .variable-button-group {
      width: 250px;
      padding: 3rem 1.5rem;

      button {
        display: block;
        padding: 0.5rem 1rem;
      }
    }

    textarea {
      min-height: 200px;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-content {
    .template-container {
      .template-content {
        padding: 2rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .page-content {
    .template-container {
      .template-content {
        padding: 0;
        width: 100%;
      }

      .variable-button-group {
        position: absolute;
        width: 200px;
        padding: 2rem 1.5rem;
        top: 150px;
        right: 0;
        background: #FFFFFF;
      }
    }
  }
}

