<div class="page-content">
  <div class="template-container d-flex w-100">
    <div class="template-content my-2">
      <div class="v-center op-56 c-pointer mb-2 back-menu" (click)="goToBack()">
        <i class="d-block i-icon i-triangle-left bgc-dark mr-2"></i>
        <span class="f-5 font-weight-bold">Back {{getPrevPage()}}</span>
      </div>
      <div class="v-center justify-content-between">
        <ng-container *ngIf="!!id && mode == 'edit'">
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Edit template</h6>
        </ng-container>
        <ng-container *ngIf="!!id && mode == 'duplicate'">
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Duplicate template</h6>
        </ng-container>
        <ng-container *ngIf="!id">
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Create new template</h6>
        </ng-container>
      </div>
      <div class="v-center mt-3">
        <div class="custom-radio-container" *ngIf="template.type === 'email' || !id || (!!id && !template.role)">
          <input class="custom-radio"
            type="radio"
            id="template-type-email"
            name="template-type"
            [checked]="template.type === 'email'"
            (click)="changeType('email')">
          <label class="f-6 font-weight-bold"
            for="template-type-email">Email</label>
        </div>
        <div class="custom-radio-container" *ngIf="template.type === 'text' || !id || (!!id && !template.role)">
          <input class="custom-radio"
            type="radio"
            id="template-type-text"
            name="template-type"
            [checked]="template.type === 'text'"
            (click)="changeType('text')">
          <label class="f-6 font-weight-bold"
            for="template-type-text">Text</label>
        </div>
      </div>
      <form #templateForm="ngForm"
        (ngSubmit)="templateForm.form.valid ? saveTemplate() : false"
        [class.was-validated]="templateForm.submitted">
        <div class="form-group mt-3">
          <label>Title</label>
          <input type="text"
            class="form-control"
            placeholder="Type title"
            required
            [(ngModel)]="template.title"
            (ngModelChange)="stateChanged()"
            name="title"
            #title="ngModel" />
          <span class="invalid-feedback"
            *ngIf="title.errors &&
            (title.touched || title.dirty)">Please input template name.</span>
        </div>

        <ng-container *ngIf="template.type === 'email'; else textTemplate">
          <div class="form-group">
            <label>Subject</label>
            <input type="text"
              class="form-control"
              placeholder="Type subject"
              #subjectField
              [(ngModel)]="template.subject"
              (click)="setCursorPos(subjectField, 'subject')"
              (keyup)="setCursorPos(subjectField, 'subject')"
              (ngModelChange)="stateChanged()"
              name="mailSubject"
              #mailSubject="ngModel"
              required />
            <span class="invalid-feedback"
              *ngIf="mailSubject.errors &&
              (mailSubject.touched || mailSubject.dirty)">
            Please input the email template subject.</span>
          </div>
          <div class="form-group">
            <label>Content</label>
            <app-html-editor
              [(value)]="template.content"
              placeholder="Enter email content..."
              [hasEmoji]="true"
              [hasCalendly]="isCalendly"
              [hasToken]="true"
              required="true"
              [style]="{height: '320px'}"
              (onFocus)="focusEditor()"
              #editor
              >
            </app-html-editor>
          </div>
        </ng-container>
        <ng-template #textTemplate>
          <div class="form-group">
            <label>Content</label>
            <div class="position-relative">
              <div class="text-toolbar v-center">
                <div ngbDropdown class="insert-template">
                  <div class="v-center no-carot c-pointer" ngbDropdownToggle>
                    <i class="d-block i-icon i-texts bgc-dark"></i>
                  </div>
                  <div ngbDropdownMenu class="light py-1">
                    <div class="template dropdown-item border-top px-2">
                      <div class="v-center h-100">
                        <div class="f-3 font-weight-bold c-blue flex-grow-1 mr-1 h-100 v-center" (click)="createNew()">Create New Template ...</div>
                      </div>
                    </div>
                    <ng-container *ngFor="let template of (templatesService.templates$ | async)">
                      <div class="template dropdown-item border-top px-2" *ngIf="template.type === 'text'">
                        <div class="v-center h-100">
                          <div class="f-3 font-weight-bold flex-grow-1 mr-1 h-100 v-center" (click)="selectTextTemplate(template)">{{(template.title || '') | shorten: 45: '...'}}</div>
                          <a class="ml-auto" [routerLink]="['/templates/edit/' + template._id]" target="_blank">
                              <i class="d-block i-icon i-expand bgc-dark sm"></i>
                          </a>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div ngbDropdown class="insert-template ml-2">
                  <div class="v-center no-carot c-pointer" ngbDropdownToggle>
                    <img class="emoji-icon" src="../../../assets/img/emoji.png">
                  </div>
                  <div ngbDropdownMenu class="light py-1">
                    <emoji-mart class="emoji-mart" [set]="set" [darkMode]="false" (emojiSelect)="insertValue($event.emoji.native)" title="Pick your emoji…">
                    </emoji-mart>
                  </div>
                </div>
                <div ngbDropdown class="insert-template ml-2" *ngIf="(connectService.calendlyAll$ | async).length">
                  <div class="v-center no-carot c-pointer" ngbDropdownToggle>
                    <i class="d-block i-icon i-calendly bgc-dark"></i>
                  </div>
                  <div ngbDropdownMenu class="light py-1">
                    <ng-container *ngFor="let calendly of (connectService.calendlyAll$ | async)">
                      <div class="template dropdown-item border-top px-2">
                        <div class="v-center h-100">
                          <div class="f-3 font-weight-bold flex-grow-1 mr-1 h-100 v-center" (click)="selectCalendly(calendly.attributes.url)">{{(calendly.attributes.name || '') | shorten: 45: '...'}}</div>
                          <a class="ml-auto" [href]="calendly.attributes.url" target="blank">
                              <i class="d-block i-icon i-expand bgc-dark sm"></i>
                          </a>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div ngbDropdown class="insert-token bottom-right ml-auto">
                  <div class="v-center no-carot" ngbDropdownToggle>
                    <span class="f-1 font-weight-bold mr-1">Token</span>
                    <i class="d-block i-icon i-triangle-down bgc-dark"></i>
                    <i class="d-block i-icon i-triangle-up bgc-dark"></i>
                  </div>
                  <div ngbDropdownMenu class="light py-1">
                    <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{contact_first_name}')">Contact Firstname</div>
                    <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_name}')">Your name</div>
                    <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_email}')">Your email</div>
                    <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_phone}')">Your phone</div>
                  </div>
                </div>
              </div>
              <textarea rows="10"
                class="form-control"
                placeholder="Enter text content..."
                [(ngModel)]="template.content"
                name="content"
                #content="ngModel"
                required
                #smsContentField
                (click)="setCursorPos(smsContentField, 'content')"
                (keyup)="setCursorPos(smsContentField, 'content')"
                (ngModelChange)="stateChanged()">
              </textarea>
              <span class="invalid-feedback"
                *ngIf="
                content.errors &&
                (content.touched || content.dirty)
              ">Please input the template content.</span>
            </div>
          </div>
        </ng-template>

        <ng-container *ngIf="template.role == 'admin'">
          <div class="d-flex justify-content-end">
            <a class="btn c-blue font-weight-bold"
              [routerLink]="['/templates']">Back</a>
          </div>
        </ng-container>
        <ng-container *ngIf="(template.role != 'admin' && mode == 'duplicate') || !id">
          <div class="d-flex justify-content-end">
            <a class="btn c-blue font-weight-bold"
              [routerLink]="['/templates']">Cancel</a>
            <button class="btn btn-primary font-weight-bold ml-2"
              [class.loading]="isSaving"
            >
              Create
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="template.role != 'admin' && mode == 'edit'">
          <div class="d-flex justify-content-end">
            <a class="btn c-blue font-weight-bold"
              [routerLink]="['/templates']">Cancel</a>
            <button class="btn btn-primary font-weight-bold ml-2"
              [class.loading]="isSaving"
            >
              Save
            </button>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>

<ng-template #createNewContent>
  <app-template-create class="w-100" [value]="templateValue" [subject]="templateSubject" [type]="'text'" (onClose)="closeOverlay($event)">
  </app-template-create>
</ng-template>
