.custom-radio-container {
  width: 120px;
}

.page {
  padding: 0;
}

.page-content {
  padding: 0;

  .template-container {
    min-height: calc(100vh - 113px);

    .template-content {
      width: calc(100% - 250px);
      padding: 2rem;
    }

    .variable-button-group {
      width: 250px;
    }
  }
}
