<div class="page-content">
  <div class="template-container d-flex w-100">
    <div class="template-content my-2">
      <div class="v-center justify-content-between">
        <ng-container *ngIf="!!id; else createTemplate">
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Edit template</h6>
        </ng-container>
        <ng-template #createTemplate>
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Create new template</h6>
        </ng-template>
      </div>
      <div class="v-center mt-3">
        <div class="custom-radio-container">
          <input class="custom-radio"
            type="radio"
            id="template-type-email"
            name="template-type"
            [checked]="template.type === 'email'"
            (click)="changeType('email')">
          <label class="f-6 font-weight-bold"
            for="template-type-email">E-mail</label>
        </div>
        <div class="custom-radio-container">
          <input class="custom-radio"
            type="radio"
            id="template-type-text"
            name="template-type"
            [checked]="template.type === 'text'"
            (click)="changeType('text')">
          <label class="f-6 font-weight-bold"
            for="template-type-text">Text</label>
        </div>
      </div>
      <form #templateForm="ngForm"
        (ngSubmit)="templateForm.form.valid ? saveTemplate() : false"
        [class.was-validated]="templateForm.submitted">
        <div class="form-group mt-3">
          <label>Title</label>
          <input type="text"
            class="form-control"
            required
            [(ngModel)]="template.title"
            (ngModelChange)="stateChanged()"
            name="title"
            #title="ngModel" />
          <span class="invalid-feedback"
            *ngIf="title.errors &&
            (title.touched || title.dirty)">Please input template name.</span>
        </div>

        <!-- Token List for Mobile Devices -->
        <div class="mobile-variables-group">
          <h5 class="f-4 font-weight-bold upper-text mb-1">Insert Variables for {{template.type === 'text' ? 'text subject.' : 'email subject and content'}}</h5>
          <button type="button"
            class="btn btn-sm btn-blue text-white"
            (click)="insertValue('{user_name}')">
            Your Name
          </button>
          <button type="button"
            class="btn btn-sm btn-blue text-white"
            (click)="insertValue('{user_email}')">
            Your email
          </button>
          <button type="button"
            class="btn btn-sm btn-blue text-white"
            (click)="insertValue('{user_phone}')">
            Your Phone
          </button>
          <button type="button"
            class="btn btn-sm btn-orange text-white"
            (click)="insertValue('{contact_email}')">
            Contact E-mail
          </button>
          <button type="button"
            class="btn btn-sm btn-orange text-white"
            (click)="insertValue('{contact_phone}')">
            Contact Phone
          </button>
          <button type="button"
            class="btn btn-sm btn-orange text-white"
            (click)="
                  insertValue('{contact_first_name}')
                ">
            Contact Firstname
          </button>
          <button type="button"
            class="btn btn-sm btn-orange text-white"
            (click)="
                  insertValue('{contact_last_name}')
                ">
            Contact Lastname
          </button>
        </div>

        <ng-container *ngIf="template.type === 'email'; else textTemplate">
          <div class="form-group">
            <label>Subject</label>
            <input type="text"
              class="form-control"
              #subjectField
              [(ngModel)]="template.subject"
              (click)="setCursorPos(subjectField, 'subject')"
              (keyup)="setCursorPos(subjectField, 'subject')"
              (ngModelChange)="stateChanged()"
              name="mailSubject"
              #mailSubject="ngModel"
              required />
            <span class="invalid-feedback"
              *ngIf="mailSubject.errors &&
              (mailSubject.touched || mailSubject.dirty)">
            Please input the email template subject.</span>
          </div>
          <div class="form-group">
            <label>Content</label>
            <app-html-editor
              [(value)]="template.content"
              placeholder="Enter email content..."
              required="true"
              [style]="{height: '320px'}"
              (onFocus)="focusEditor()"
              #editor
              >
            </app-html-editor>
          </div>
        </ng-container>
        <ng-template #textTemplate>
          <div></div>
          <div class="form-group">
            <label>Content</label>
            <textarea rows="10"
              class="form-control"
              [(ngModel)]="template.content"
              name="content"
              #content="ngModel"
              required
              #smsContentField
              (click)="setCursorPos(smsContentField, 'content')"
              (keyup)="setCursorPos(smsContentField, 'content')"
              (ngModelChange)="stateChanged()"></textarea>
            <span class="invalid-feedback"
              *ngIf="
              content.errors &&
              (content.touched || content.dirty)
            ">Please input the template content.</span>
          </div>
        </ng-template>

        <div class="d-flex mt-auto">
          <a class="btn c-blue font-weight-bold"
            [routerLink]="['/templates']">Cancel</a>
          <button class="btn btn-primary font-weight-bold ml-2"
            [class.loading]="isSaving">Save</button>
        </div>
      </form>
    </div>
    <div class="variable-button-group shadow-2">
      <h5 class="f-4 font-weight-bold upper-text mb-3">Insert Variables</h5>
      <button type="button"
        class="btn btn-sm btn-blue my-3 text-white"
        (click)="insertValue('{user_name}')">
        Your Name
      </button>
      <button type="button"
        class="btn btn-sm btn-blue my-3 text-white"
        (click)="insertValue('{user_email}')">
        Your email
      </button>
      <button type="button"
        class="btn btn-sm btn-blue my-3 text-white"
        (click)="insertValue('{user_phone}')">
        Your Phone
      </button>
      <button type="button"
        class="btn btn-sm btn-orange my-3 text-white"
        (click)="insertValue('{contact_email}')">
        Contact E-mail
      </button>
      <button type="button"
        class="btn btn-sm btn-orange my-3 text-white"
        (click)="insertValue('{contact_phone}')">
        Contact Phone
      </button>
      <button type="button"
        class="btn btn-sm btn-orange my-3 text-white"
        (click)="
              insertValue('{contact_first_name}')
            ">
        Contact Firstname
      </button>
      <button type="button"
        class="btn btn-sm btn-orange my-3 text-white"
        (click)="
              insertValue('{contact_last_name}')
            ">
        Contact Lastname
      </button>
    </div>
  </div>
</div>
