.custom-radio-container {
  width: 120px;
}

.page {
  padding: 0;
}

.upper-text {
  text-transform: uppercase;
}

.page-content {
  padding: 0;

  .template-container {
    min-height: 700px;

    .template-content {
      flex-grow: 1;
      padding: 2rem;
    }

    .variable-button-group {
      min-width: 190px;
      padding: 3rem 1rem;

      button {
        display: block;
        padding: 0.5rem 1rem;
      }
    }

    .variable-mobile {
      display: none;
    }

    textarea {
      min-height: 200px;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-content {
    .template-container {
      .template-content {
        padding: 2rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .page-content {
    .template-container {
      .template-content {
        padding: 0;
        width: 100%;
      }

      .variable-button-group {
        display: none;
      }

      .variable-mobile {
        display: block;
      }
    }
  }

  .button-more {
    display: inline-block;

    .i-icon {
      width: 10px;
      height: 10px;
    }
    a {
      &::after {
        display: none;
      }
    }
  }

  .button-more-container {
    .actions {
      padding: 0px 5px;
      text-align: left;

      .dropdown-item {
        max-width: 130px;
      }
    }
  }

  :host ::ng-deep {
    .dropdown-menu {
      min-width: auto;
      left: -110px !important;
    }
  }
}

.variable-button-group {
  height: calc(100vh - 64px);

  @media screen and (max-width: 768px) {
    min-width: 160px!important;
    h5 {
      font-size: 13px!important;
    }
    .btn {
      font-size: 12px;
      font-weight: 600;
      padding: 4px 8px!important;
    }
  }
}