<div class="page-content">
  <div class="template-container d-flex w-100">
    <div class="template-content my-2">
      <div class="d-flex justify-content-between">
        <ng-container *ngIf="isNew; else editTemplate">
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Create new template</h6>
        </ng-container>
        <ng-template #editTemplate>
          <h6 class="f-8 ls-2 font-weight-bold text-uppercase my-2">Edit template</h6>
        </ng-template>

      </div>
      <div class="v-center mt-3">
        <div class="custom-radio-container">
          <input class="custom-radio" type="radio" id="template-type-email" name="template-type" [checked]="emailType"  (click)="changeType('email')">
          <label class="f-6 font-weight-bold" for="template-type-email">E-mail</label>
        </div>
        <div class="custom-radio-container">
          <input class="custom-radio" type="radio" id="template-type-text" name="template-type" [checked]="textType" (click)="changeType('text')">
          <label class="f-6 font-weight-bold" for="template-type-text">Text</label>
        </div>
      </div>
      <form
        #templateForm="ngForm"
        (ngSubmit)="
        submitted = true; templateForm.form.valid ? saveTemplate() : false
      "
        [class.was-validated]="submitted"
      >
        <div class="form-group mt-3">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="template.title"
            name="title"
            #title="ngModel"
          />
          <span
            class="invalid-feedback"
            *ngIf="
            title.errors &&
            (title.touched || title.dirty || submitted) &&
            submitted
          "
          >Please input template name.</span
          >
        </div>
        <ng-container *ngIf="type; else textTemplate">
          <div class="form-group">
            <label>Subject</label>
            <input
              type="text"
              class="form-control"
              #subjectField
              [(ngModel)]="subject"
              (click)="getSubjectCursorPost(subjectField)"
              (keyup)="getSubjectCursorPost(subjectField)"
              name="mailSubject"
              #mailSubject="ngModel"
              required
            />
            <span
              class="invalid-feedback"
              *ngIf="
              mailSubject.errors &&
              (mailSubject.touched || mailSubject.dirty || submitted) &&
              submitted
            "
            >Please input the email template subject.</span
            >
          </div>
          <div class="form-group">
            <label>Content</label>
            <quill-editor
              image-resize="true"
              placeholder="Enter Text"
              [(ngModel)]="template.content"
              [modules]="config"
              name="mailContent"
              [styles]="{ height: '320px' }"
              #mailContent="ngModel"
              required
              (onEditorCreated)="getEditorInstance($event)"
              (click)="setFocusField('content-email')"
              class="rounded"
              [class.has-error]="
              mailContent.errors &&
              (mailContent.touched || mailContent.dirty || submitted) &&
              submitted
            "
              #emailEditor
            >
            </quill-editor>
            <span
              class="text-danger error"
              *ngIf="
              mailContent.errors &&
              (mailContent.touched || mailContent.dirty || submitted) &&
              submitted
            "
            >Please input the email template content.</span
            >
          </div>
        </ng-container>
        <ng-template #textTemplate>
          <div></div>
          <div class="form-group">
            <label>Content</label>
            <textarea
              rows="10"
              class="form-control"
              [(ngModel)]="smsContent"
              name="content"
              #content="ngModel"
              required
              #smsContentField
              (click)="getSmsContentCursor(smsContentField)"
              (keyup)="getSmsContentCursor(smsContentField)"
            ></textarea>
            <span
              class="invalid-feedback"
              *ngIf="
              content.errors &&
              (content.touched || content.dirty || submitted) &&
              submitted
            "
            >Please input the template content.</span
            >
          </div>
        </ng-template>

        <div class="d-flex mt-auto">
          <a class="btn btn-light" [routerLink]="['/templates']">Cancel</a>
          <button class="btn btn-primary ml-2" [ngClass]="{loading: isSaving}">Save</button>
        </div>
      </form>
    </div>
    <div class="variable-button-group shadow-2">
      <h5 class="f-4 font-weight-bold upper-text mb-3">Insert Variables</h5>
      <button
        type="button"
        class="btn btn-sm btn-blue my-3"
        (click)="insertValue('{user_name}')"
      >
        Your Name
      </button>
      <button
        type="button"
        class="btn btn-sm btn-blue my-3"
        (click)="insertValue('{user_email}')"
      >
        Your email
      </button>
      <button
        type="button"
        class="btn btn-sm btn-blue my-3"
        (click)="insertValue('{user_phone}')"
      >
        Your Phone
      </button>
      <button
        type="button"
        class="btn btn-sm btn-orange my-3"
        (click)="insertValue('{contact_email}')"
      >
        Contact E-mail
      </button>
      <button
        type="button"
        class="btn btn-sm btn-orange my-3"
        (click)="insertValue('{material_title}')"
      >
        Material Title
      </button>
      <button
        type="button"
        class="btn btn-sm btn-orange my-3"
        (click)="insertValue('{contact_phone}')"
      >
        Contact Phone
      </button>
      <button
        type="button"
        class="btn btn-sm btn-orange my-3"
        (click)="
              insertValue('{contact_first_name}')
            "
      >
        Contact Firstname
      </button>
      <button
        type="button"
        class="btn btn-sm btn-orange my-3"
        (click)="
              insertValue('{contact_last_name}')
            "
      >
        Contact Lastname
      </button>
    </div>
  </div>
</div>
