<div class="custom-mat-field">
  <mat-form-field appearance="outline" floatLabel="never" class="d-block">
    <mat-chip-list aria-label="Contact Selection" #contactList>
      <mat-basic-chip
        *ngFor="let contact of selectedContacts"
        [selectable]="selectable"
        [removable]="true"
        (removed)="remove(contact)">
        <div class="d-flex chip p-1">
          <div class="form-avatar rounded-circle bg-dark mr-1">{{contact.avatarName}}</div>
          <div class="info">
            <div class="f-2 font-weight-bold">{{contact.fullName}}</div>
            <div class="f-1">{{contact[display]}}</div>
          </div>
          <div class="icon-close" matChipRemove></div>
        </div>
      </mat-basic-chip>
      <input
        [placeholder]="placeholder"
        #inputField
        [formControl]="formControl"
        [matChipInputFor]="contactList"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="onAdd($event)"
      >
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectOption($event)"
      (optionActivated)="onActiveOption($event)"
      [autoActiveFirstOption]="onlyFromSearch"
    >
      <mat-option *ngFor="let item of filteredResults | async" [value]="item">
        <div class="d-flex chip py-2">
          <div class="form-avatar rounded-circle bg-dark mr-3 mt-1">{{item.avatarName}}</div>
          <div class="info">
            <div class="f-5 font-weight-bold">{{item.fullName}}</div>
            <div class="f-2">{{item['email'] || 'Undefined'}}</div>
            <div class="f-2">{{item['cell_phone'] || 'Undefined'}}</div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
