@import 'src/variables.scss';


.navbar-container {
  position: fixed;
  z-index: 997;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 63px;
  box-shadow: 0 1px 0 0 #dadadd;
  background: white;
}
.navbar {
  position: relative;
  display: grid;
  grid-template-columns: 10rem 2rem 1fr auto;
  grid-column-gap: 16px;
}

/* Brand Style */
.navbar-brand-img {
  width: 120px;
}

/* New Actions Wrapper Style*/
.new-actions-wrapper {
  .i-plus {
    height: 14px;
  }
  .dropdown-toggle {
    width: 32px;
    height: 32px;
    padding: 0px;
    transition: all .3s;
  }
  &.show .dropdown-toggle {
    background-color: $color-dark;
    transform: rotate(45deg);
  }
  .dropdown-menu {
    top: 125%;
    border-radius: 8px;
    min-width: 216px;

    .dropdown-item:hover, .dropdown-item:focus{
      background-color: #ececef;
      color: $color-dark!important;

      i {
        background-color: $color-dark!important;
      }
    }
  }
}
/* Search Form Wrapper Style */
.search-form-wrapper {
  .i-search {
    width: 22px;
    height: 22px;
  }
  .input-group {
    max-width: 400px;
  }
}

/* Main Nav Bar Wrapper Style*/
.navbar-nav {
  flex-direction: row;

  .nav-item {
    margin: 0.5rem;
  }
}

// Detail Wrapper Dropdown Global Style
.detail-wrapper {
  .dropdown-menu {
    min-width: 280px;
    top: 0.75rem!important;
    left: -0.5rem!important;
    min-height: 50px;
    box-shadow: -4px 0 24px -5px rgba(16,19,54,0.24);

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: -13px;
      border-top: 20px solid white;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      transform: rotate(-45deg);
    }
  }
}

//Support Wrapper
.support-wrapper {
  .dropdown-menu {
    top: 0.75rem!important;
    transform: translate(-125px, 18px) !important;
  }
}

// Notifications Wrapper
// Integrations Wrapper
// Send Status Wrapper
.chat-messages-wrapper::after {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
  transform: translateY(100%);
  content: '';
}
.email-badge {
  position: absolute;
  top: -6px;
  padding: 0rem 0rem;
  font-size: 10px;
  border-radius: 50%;
  right: -6px;
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background-color: red;
  color: white;
}
.email-sending-icon {
  width: 20px;
  height: 20px;
}
.texting-icon {
  width: 22px;
  height: 22px;

  & ~ .texting-badge {
    top: -4px;
  }
}
.detail-panel {
  position: absolute;
  bottom: -14px;
  background-color: white;
  box-shadow: 0 5px 24px -5px rgba(16, 19, 54, 0.24);
  transform: translateY(100%);
  right: -90px;
  border-radius: 4px;
  padding: 16px;
  width: 280px;

  .value {
    margin-left: 6px;
  }

  .process-item:nth-child(n + 2) {
    border-top: 1px solid gainsboro;
    margin-top: 12px;
    padding-top: 12px;
  }

  .email-subject {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.texting-badge {
  position: absolute;
  top: -6px;
  padding: 0rem 0rem;
  font-size: 10px;
  border-radius: 50%;
  right: -6px;
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background-color: red;
  color: white;
}
.receive-badge {
  position: absolute;
  top: 10px;
  padding: 0rem 0rem;
  font-size: 10px;
  border-radius: 50%;
  right: -6px;
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: 400;
}
// Profile Wrapper Style
.profile-wrapper {
  .dropdown-toggle {
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

.notifications-wrapper {
  .notification-item {
    font-size: 14px;
    margin: 8px 0px;
    padding: 4px 8px;
    z-index: 2;
    position: relative;
    cursor: pointer;

    p {
      margin-bottom: 0px;
    }

    a {
      font-weight: 700;
    }

    &:hover {
      background-color: #eee;
    }
  }

  .has-notifications {
    position: relative;
    &::after {
      position: absolute;
      width: 10px;
      height: 10px;
      background: red;
      content: "";
      display: block;
      top: -4px;
      right: -4px;
      border-radius: 50%;
      border: none;
    }
  }
}

// Mobile Responsive : Tablet
@media screen and (max-width: 992px) {
  .navbar {
    grid-template-columns: 2rem 1fr auto;

    .navbar-brand {
      display: none;
    }
  }
}

//@media screen and (max-width: 680px) {
//  .navbar {
//    grid-template-columns: 2rem 1fr;
//    grid-template-rows: auto auto;
//    grid-column-gap: 16px;
//
//    .new-actions-wrapper {
//      grid-row: 2/3;
//    }
//    .search-form-wrapper {
//      grid-row: 2/3;
//
//      .input-group {
//        max-width: unset;
//      }
//    }
//    .navbar-nav {
//      grid-row: 1/2;
//      grid-column: 2/3;
//    }
//  }
//}

@media screen and (max-width: 680px) {
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    grid-column-gap: 0px;

    .new-actions-wrapper {
      margin-left: 36px;
    }

    .search-dropdown-menu {
      position: fixed !important;
      left: 15px !important;
      top: 35px !important;
      border-radius: 8px;
      width: calc(100vw - 30px);
    }

    .search-wrapper-mobile {
      display: block;

      .search-box {
        width: calc(100vw - 80px);
      }
    }

    .input-group-append {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .search-form-wrapper {
    flex-grow: 1;
    .search-box {
      display: none;
    }
    .deliver-status{
      margin-left: auto;
    }
  }
}

.search-box {
  height: 36px;
  flex-grow: 1;
  background-color: transparent;
  width: 34px;
  max-width: 34px;
  margin-right: 0px!important;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  margin-left: auto!important;

  & > * {
    height: 34px;
  }

  .input-group-text {
    background-color: transparent;
  }

  input {
    width: 0px;
    max-width: 0px;
    padding: 0px;
    box-shadow: none!important;
    border-radius: 4px!important;
  }

  .i-close {
    right: 6px;
    position: absolute;
    display: none!important;
    z-index: 6;
  }

  &.opened {
    width: unset;
    max-width: unset;
    border-color: blue;
    margin-right: 8px!important;
    margin-left: 0px!important;

    input {
      width: unset;
      max-width: unset;
      padding: 0px 24px 0px 12px;
    }

    .i-close {
      display: block!important;
    }
  }
}

#storm-dialer-bar {
  z-index: 996 !important;
  position: relative;
}

.detail-panel-content.two-tab {
  .panel {
    display: none;

    &.selected {
      display: block;
    }
  }
}

.message-item {
  .message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
  }
  .avatar {
    min-width: 32px;
  }
}

:host ::ng-deep {
  .text-status-tab {
    .tab-container {
      height: 24px;
      border-radius: 24px!important;
      width: fit-content;
      margin: auto;
      padding-left: 4px!important;

      .tab-indicator {
        height: 20px!important;
      }

      .tab {
        height: 20px!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
      }

      .tab-label {
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 20px;
      }
    }
  }
  .notification-item {
    .content {
      a {
        color: blue;
        font-weight: 600;
      }
      .creator {
        color: blue;
      }
    }
  }
}