<div class="navbar px-2 px-sm-3">
  <!-- LOGO -->
  <a class="navbar-brand m-0 p-0" routerLinkActive="active" [routerLink]="['/home']">
    <img src="../../../assets/img/crmgrow-logo.svg" class="navbar-brand-img" alt="CRMGROW">
  </a>
  <!-- Add Buttons Dropdown wrapper -->
  <div class="new-actions-wrapper" ngbDropdown>
    <div class="btn bgc-blue d-flex align-items-center shadow-1 rounded-circle no-carot" ngbDropdownToggle>
      <i class="i-icon i-plus bg-white d-block m-auto"></i>
    </div>
    <div ngbDropdownMenu aria-labelledby="actionsDropdown" class="bgc-dark py-1">
      <div ngbDropdownItem *ngFor="let action of actions" (click)="runAction(action.id)" class="d-flex text-white py-2 pl-3 align-items-center">
        <i class="i-icon {{action.icon}} mr-3"></i>
        <span class="font-weight-bold">{{action.label}}</span>
      </div>
    </div>
  </div>
  <!-- Search Form Wrapper -->
  <div class="search-form-wrapper v-center ml-md-0 ml-sm-2 ml-2">
    <div class="search-box input-group bgc-dark-trans08 rounded mr-2">
      <div class="input-group-prepend">
        <span class="input-group-text border-0 py-1 px-2" id="search-addon">
          <i class="i-icon i-search d-block bgc-dark"></i>
        </span>
      </div>
      <input type="text" class="form-control fc-control bgc-trans border-0" placeholder="Search" aria-label="search" aria-describedby="search-addon" (ngModelChange)="onFilter($event)" [(ngModel)]="keyword">
      <!-- <div class="input-group-append px-3 border-left" ngbDropdown>
        <div class="v-center c-pointer" ngbDropdownToggle>
          <span class="mr-2 f-3 font-weight-bold">{{currentSearchType.label}}</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="searchDataTypes" class="py-1">
          <div ngbDropdownItem *ngFor="let type of searchDataTypes" (click)="changeType(type)" class="d-flex py-2 pl-3 f-3 align-items-center">
            <span class="font-weight-bold">{{type.label}}</span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="deliver-status d-flex">
      <app-email-status></app-email-status>
      <app-text-status style="margin-left: -16px;"></app-text-status>
    </div>
  </div>
  
  <!-- Navbar Main Wrapper -->
  <div class="navbar-nav v-center ml-md-auto ml-sm-3">
    <!-- Notification Wrapper -->
    <div class="nav-item">
      <div class="search-wrapper-mobile" ngbDropdown display="dynamic">
        <div class="no-carot" ngbDropdownToggle>
          <i class="i-icon i-search bgc-blue d-block"></i>
        </div>
        <div class="search-dropdown-menu" ngbDropdownMenu>
          <div class="v-center px-2">
            <div class="input-group-prepend">
            <span id="search-addon">
              <i class="i-icon i-search d-block bgc-blue"></i>
            </span>
            </div>
            <input type="text" class="search-box form-control bg-white border-primary ml-2 border-1" placeholder="Search" aria-label="search" aria-describedby="search-addon" (ngModelChange)="onFilter($event)" [(ngModel)]="keyword">
            <div class="input-group-append px-3 border-left" ngbDropdown>
              <div class="v-center c-pointer" ngbDropdownToggle>
                <span class="mr-2 f-3 font-weight-bold">{{currentSearchType.label}}</span>
              </div>
              <div ngbDropdownMenu aria-labelledby="searchDataTypes" class="py-1">
                <div ngbDropdownItem *ngFor="let type of searchDataTypes" (click)="changeType(type)" class="d-flex py-2 pl-3 f-3 align-items-center">
                  <span class="font-weight-bold">{{type.label}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Incoming Chat Message Wrapper -->
    <div class="nav-item">
      <div class="chat-messages-wrapper detail-wrapper" ngbDropdown display="dynamic" placement="bottom-right">
        <a [routerLink]="['/messages']" class="no-carot">
          <i class="i-icon i-sms-sent bgc-blue d-block"></i>
        </a>
      </div>
    </div>
    <div class="nav-item">
      <div class="notifications-wrapper detail-wrapper" ngbDropdown display="dynamic">
        <div class="no-carot" ngbDropdownToggle [class.has-notifications]="(notificationService.notifications$ | async).length">
          <i class="i-icon i-notification bgc-blue d-block"></i>
        </div>
        <div ngbDropdownMenu class="p-0">
          <ng-container *ngIf="!(notificationService.notifications$ | async).length; else notificationListTemplate">
            <p class="text-center mt-3">
              There are no notifications in your account.
            </p>
          </ng-container>
          <ng-template #notificationListTemplate>
            <li *ngFor="let item of (notificationService.notifications$ | async); let i = index;" class="notification-item">
              <p [innerHTML]="item.content"></p>
            </li>
          </ng-template>
          <li class="notification-expand rounded-bottom border-top overflow-hidden">
            <a [routerLink]="['/notifications']" class="dropdown-item f-4 text-center text-primary font-weight-bold">See all</a>
          </li>
        </div>
      </div>
    </div>
    <!-- Integration Wrapper -->
    <!-- <div class="nav-item">
      <div class="integration-wrapper detail-wrapper" ngbDropdown display="dynamic">
        <div class="no-carot" ngbDropdownToggle>
          <i class="i-icon i-notification bgc-blue d-block"></i>
        </div>
        <div ngbDropdownMenu>

        </div>
      </div>
    </div> -->
    <!-- Email and Sms Send Status Wrapper -->
    <!-- <div class="nav-item">
      <div class="send-status-wrapper detail-wrapper" ngbDropdown display="dynamic">
        <div class="no-carot" ngbDropdownToggle>
          <i class="i-icon i-notification bgc-blue d-block"></i>
        </div>
        <div ngbDropdownMenu>

        </div>
      </div>
    </div> -->
    <!-- Profile Wrapper -->
    <div class="nav-item">
      <div class="profile-wrapper" ngbDropdown display="dynamic">
        <div class="v-center c-pointer" ngbDropdownToggle>
          <img [src]="(userService.profile$ | async).picture_profile" onerror="( this.src = './assets/img/user_avatar.svg' );"/>
          <span class="f-3 fw-600 ml-2 d-sm-block d-none">{{(userService.profile$ | async).user_name}}</span>
        </div>
        <div ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0 c-default f-0">Welcome!</h6>
          </div>
          <a [routerLink]="['/profile/general']" class="dropdown-item">
            <span class="f-4 fw-600">My profile</span>
          </a>
          <a [routerLink]="['/profile/billing']" class="dropdown-item">
            <span class="f-4 fw-600">Billing</span>
          </a>
          <a [routerLink]="['/profile/signature']" class="dropdown-item">
            <span class="f-4 fw-600">Email signature</span>
          </a>
          <a [routerLink]="['/profile/security']" class="dropdown-item">
            <span class="f-4 fw-600">Security</span>
          </a>
          <a [routerLink]="['/settings']" class="dropdown-item">
            <span class="f-4 fw-600">Settings</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout($event)">
            <span class="f-4 fw-600">Logout</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
