.sidebar-nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  list-style: none;
  padding: 0px;
}

.nav-link {
  padding: 0.75rem 1rem 0.75rem 1.875rem;
  font-weight: bold;
  color: var(--dark);
  position: relative;
  opacity: 0.64;

  &:before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8px;
    height: 0px;
    transition: height .2s;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &.active {
    opacity: 1;

    &:before {
      height: 100%;
    }
  }
}
