<form #actionForm="ngForm" class="dialog-container form-group" (ngSubmit)="addList()">
  <div class="v-center justify-content-between mx-0">
    <h4 class="f-22 font-weight-bold c-black">Add list</h4>
    <button type="button" class="v-center border-0 bgc-trans close-button" mat-dialog-close>
      <i class="i-icon i-close bgc-black ml-1" aria-hidden="true"></i>
    </button>
  </div>
  <mat-dialog-content class="content-section">
    <ng-container>
      <div class="my-3">
        <label>List name</label>
        <div clas="contact-input">
          <input type="text" class="form-control" [(ngModel)]="listName" name="listname" #callSubject="ngModel">
        </div>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end mx-0">
    <button type="button" mat-dialog-close class="btn btn-white f-6 font-weight-bold ml-2">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary font-weight-bold f-6" [class.loading]="isLoading">
      Create
    </button>
  </mat-dialog-actions>
</form>
