@import '../../../variables';

.custom-mat-table {
  margin-top: 50px;
}

td .c-dark {
  color: $color-dark!important;
}

td .c-blue {
  color: $color-blue!important;
}

.pagination-wrapper .i-icon{
  background-color: black;
  width: 20px;
  height: 20px;
}

.pagination-wrapper a {
  margin-left: 3px;
  margin-right: 3px;
}

.pagination-wrapper .disabled .i-icon{
  background-color: #cacaca;
}