<div class="page-content pt-0">
  <!-- <div class="v-center page-header pb-4c">
    <div class="v-center op-64 c-pointer" (click)="goToBack()">
      <i class="d-block i-icon i-triangle-left bgc-dark mr-2"></i>
      <span class="f-5 font-weight-bold">Back to contacts</span>
    </div>
    <div class="v-center ml-auto">
      <span>Person 1 of 20</span>
    </div>
  </div> -->
  <div class="contact-panel d-flex">
    <div class="contact-info-panel pr-3">
      <div class="v-center op-56 c-pointer mb-4 mt-3" (click)="goToBack()">
        <i class="d-block i-icon i-triangle-left bgc-dark mr-2"></i>
        <span class="f-5 font-weight-bold">Back to contacts</span>
      </div>
      <div class="contact-main v-center">
        <div class="contact-avatar lg font-weight-bold">
          {{contact.avatarName}}
        </div>
        <div class="contact-main-info ml-3">
          <div class="f-20 font-weight-bold">{{contact.fullName}}</div>
          <div class="f-3 op-40">{{contact.last_activity_time | date :'MM/dd/yyyy'}}</div>
        </div>
        <div ngbDropdown class="ml-auto button-more p-0">
          <div class="v-center btn btn-blue" ngbDropdownToggle>
            <span class="f-6 font-weight-bold text-white c-pointer px-2">
              Actions
            </span>
            <i class="d-block i-icon i-triangle-down bgc-white ml-2"></i>
          </div>
          <div ngbDropdownMenu class="light action-menu">
            <button class="border-0 c-dark dropdown-item" (click)="openGroupCallDlg()">
              <span class="ml-1 f-3 font-weight-bold">Create group call</span>
            </button>
            <button class="border-0 c-dark dropdown-item"(click)="openAppointmentDlg()">
              <span class="ml-1 f-3 font-weight-bold">Create appointment</span>
            </button>
            <hr class="my-1">
            <button class="border-0 c-dark dropdown-item" (click)="openSendEmail()">
              <span class="ml-1 f-3 font-weight-bold">Send email</span>
            </button>
            <button class="border-0 c-dark dropdown-item">
              <span class="ml-1 f-3 font-weight-bold">Send text</span>
            </button>
            <button class="border-0 c-dark dropdown-item" (click)="openTaskDlg()">
              <span class="ml-1 f-3 font-weight-bold">Add task</span>
            </button>
            <button class="border-0 c-dark dropdown-item" (click)="openNoteDlg()">
              <span class="ml-1 f-3 font-weight-bold">Add note</span>
            </button>
            <hr class="my-1">
            <button class="border-0 c-dark dropdown-item" (click)="openMergeContactDlg()">
              <span class="ml-1 f-3 font-weight-bold">Merge</span>
            </button>
            <button class="border-0 c-dark dropdown-item" (click)="openShareContactDlg()">
              <span class="ml-1 f-3 font-weight-bold">Share contact</span>
            </button>
            <hr class="my-1">
            <button class="border-0 c-dark dropdown-item">
              <span class="ml-1 f-3 font-weight-bold c-red">Delete</span>
            </button>
          </div>
        </div>
      </div>
      <div class="my-3 py-2">
        <app-label-select [value]="contact.label" type="form"></app-label-select>
      </div>
      <mat-accordion multi class="general-panels">
        <!-- Begin Contact Detail -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle [expanded]="mainPanel">
          <mat-expansion-panel-header (click)="mainPanel = !mainPanel">
            <mat-panel-title>
              <div class="v-center w-100">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Contact details</span>
                <button class="btn border-0 border-primary f-2 font-weight-bold c-blue ml-auto btn-sm v-center" (click)="editContacts('main')">
                  <i class="i-icon i-edit d-block bgc-blue sm mr-1"></i>
                  <span>Edit</span>
                </button>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-detail">
            <div class="v-center py-1">
              <i class="i-icon i-contact-phone bgc-dark mr-2"></i>
              <span class="f-6">{{contact.cell_phone}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-message bgc-dark mr-2"></i>
              <span class="f-6">{{contact.email}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-contact-location bgc-dark mr-2"></i>
              <span class="f-6">{{contact.fullAddress}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-webpage bgc-dark mr-2"></i>
              <span class="f-6">{{contact.website}}</span>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- End Contact Detail -->

        <!-- Begin Contact Secondary Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle [expanded]="secondPanel">
          <mat-expansion-panel-header (click)="secondPanel = !secondPanel">
            <mat-panel-title>
              <div class="v-center w-100">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Secondary contacts</span>
                <button class="btn border-0 border-primary f-2 font-weight-bold c-blue ml-auto btn-sm v-center" (click)="editContacts('second')">
                  <i class="i-icon i-edit d-block bgc-blue sm mr-1"></i>
                  <span>Edit</span>
                </button>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-detail">
            <div class="v-center py-1">
              <i class="i-icon i-contact-phone bgc-dark mr-2"></i>
              <span class="f-6">{{contact.secondary_phone}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-message bgc-dark mr-2"></i>
              <span class="f-6">{{contact.secondary_email}}</span>
            </div>
          </div>
          <div class="contact-secondary"></div>
        </mat-expansion-panel>
        <!-- End Contact Secondary Information -->

        <!-- Begin Contact Additional Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle [expanded]="additionalPanel">
          <mat-expansion-panel-header (click)="additionalPanel = !additionalPanel">
            <mat-panel-title>
              <div class="v-center w-100">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Additional information</span>
                <button class="btn border-0 border-primary f-2 font-weight-bold c-blue ml-auto btn-sm v-center" (click)="editAdditional()">
                  <i class="i-icon i-edit d-block bgc-blue sm mr-1"></i>
                  <span>Edit</span>
                </button>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-additional">
            <div class="v-center py-2">
              <span class="f-6 fw-600 op-40 info-title">Source</span>
              <span class="f-6">{{contact.source}}</span>
            </div>
            <div class="v-center py-2">
              <span class="f-6 fw-600 op-40 info-title">Current Company</span>
              <span class="f-6">{{contact.brokerage}}</span>
            </div>
            <div class="d-flex py-2">
              <span class="f-6 fw-600 op-40 info-title">Tags</span>
              <div class="f-3 tags-wrapper flex-grow-1">
                <!-- <app-input-tag [selectedTags]="contact.tags"></app-input-tag> -->
                <span *ngFor="let tag of contact.tags" class="tag-el">
                  {{tag}}
                </span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- End Contact Additional Information -->

        <!-- Begin Contact Automation Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="v-center justify-content-between w-100">
                <div class="v-center">
                  <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                  <span class="f-6 font-weight-bold ml-2">Automation</span>
                </div>
                <!-- <div class="f-3 fw-600 c-blue c-pointer" (click)="createAutomation()">
                  Create own automation
                </div> -->
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="automation">
            <div class="v-center">
              <app-input-automation (automationChange)="selectAutomation($event)"></app-input-automation>
              <div class="v-center automation-action ml-2">
                <ng-container *ngIf="!assigning; else assigningTemplate">
                  <i class="d-block i-icon i-automation-start bgc-green-weak c-pointer" (click)="assignAutomation()"></i>
                </ng-container>
                <ng-template #assigningTemplate>
                  <i class="d-block assigning loader"></i>
                </ng-template>
                <ng-container *ngIf="!canceling; else cancelingTemplate">
                  <i class="d-block i-icon i-automation-cancel bgc-blue ml-2 c-pointer" (click)="closeAutomation()"></i>
                </ng-container>
                <ng-template #cancelingTemplate>
                  <i class="d-block canceling loader ml-2"></i>
                </ng-template>
              </div>
            </div>
            <div class="automation-detail mt-3" *ngIf="allDataSource.data?.length">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
              class="timeline timeline-one-side time-line">
                <mat-tree-node class="mat-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node timeline-block {{ node.status }}">
                    <div class="timeline w-100">
                      <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
                        <img src="../../assets/img/automations/yes.svg">
                        <span class="f-1 font-weight-bold text-center w-100" *ngIf="node['condition']">{{ActionName[node['condition']['case']]}}?</span>
                      </div>
                      <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == false">
                        <img src="../../assets/img/automations/no.svg">
                      </div>
                      <div class="bgc-green-weak line"></div>
                      <div class="v-center c-pointer" #treeNode (click)="easyView(node, treeNode, treeOverlay)">
                        <span class="timeline-step {{ node.action?.type }}">
                          <img [attr.src]="ICONS[node.action?.type]">
                        </span>
                        <div class="timeline-content ml-1">
                          <div class="f-1 font-weight-bold title m-0">
                            {{ ActionName[node.action?.type] }}
                          </div>
                          <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                            {{ node.status }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </mat-tree-node>
                <mat-nested-tree-node class="mat-nested-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node; when: hasChild">
                  <div class="timeline-condition" *ngIf="node['condition'] && node['condition']['case']">
                    <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
                      <img src="../../assets/img/automations/yes.svg">
                      <span class="f-1 font-weight-bold text-center w-100" *ngIf="node['condition']">{{ActionName[node['condition']['case']]}}?</span>
                    </div>
                    <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == false">
                      <img src="../../assets/img/automations/no.svg">
                    </div>
                    <div class="bgc-green-weak line"></div>
                  </div>
                  <li>
                    <div class="d-flex mat-tree-node timeline-block c-pointer" #nestedTreeNode (click)="easyView(node, nestedTreeNode, treeOverlay)">
                      <span class="timeline-step {{ node.action?.type }}">
                        <img [attr.src]="ICONS[node.action?.type]">
                      </span>
                      <div class="timeline-content ml-1">
                        <div class="f-1 font-weight-bold title m-0">
                          {{ ActionName[node.action?.type] }}
                        </div>
                        <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                          {{ node.status }}
                        </div>
                      </div>
                    </div>
                    <div class="bgc-green-weak line"></div>
                    <div class="d-flex p-0" [class.timeline-tree-invisible]="
                        !treeControl.isExpanded(node)
                      ">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                  </li>
                </mat-nested-tree-node>
                <ng-template #treeOverlay let-close="close" let-data>
                  <app-automation-tree-overlay
                      [dataSource]="data.data"
                  >
                  </app-automation-tree-overlay>
                </ng-template>
              </mat-tree>
              <div class="v-center justify-content-center f-6 font-weight-bold c-blue c-pointer mt-3" (click)="showFullAutomation()">
                Show full automation
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Begin Contact Automation Information -->
      </mat-accordion>
    </div>
    <div class="contact-action-panel flex-grow-1 position-relative">
      <div class="history-panel pt-3 pl-3 mt-2">
        <app-slide-tab [tabs]="tabs" [selected]="action" (onChange)="changeTab($event)" type="plain" class="border-bottom pl-0 rounded-0">
        </app-slide-tab>
        <div class="history-list mt-3 position-relative" *ngIf="mainTimelines && mainTimelines.length">
          <ng-container [ngSwitch]="action.id">
            <div class="history-list-header" *ngSwitchCase="'all'">
              <div ngbDropdown class="v-center">
                <span class="f-3 font-weight-bold c-dark c-pointer mr-2" ngbDropdownToggle>
                  All activity
                </span>
                <i class="d-block i-icon i-triangle-down bgc-dark"></i>
                <div ngbDropdownMenu class="light">
                  <div class="v-center justify-content-between dropdown-item" *ngFor="let tab of tabs" (click)="changeTab(tab)">
                    <div class="f-3 c-dark" [ngClass]="{'font-weight-bold': tab.id == action.id}" *ngIf="tab.id == 'all'; else others">
                      All activity
                    </div>
                    <ng-template #others>
                      <div class="f-3 c-dark" [ngClass]="{'font-weight-bold': tab.id == action.id}">
                        {{tab.label}}
                      </div>
                    </ng-template>
                    <div *ngIf="tab.id == action.id">
                      <i class="d-block i-icon i-check bgc-blue"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'note'">
              <div class="v-center justify-content-end c-pointer" (click)="openNoteDlg()">
                <span class="f-3 font-weight-bold c-blue mr-2">Add new note</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="noteActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no note activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'email'">
              <div class="v-center justify-content-end c-pointer" (click)="openSendEmail()">
                <span class="f-3 font-weight-bold c-blue mr-2">Create email</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="emailActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no email activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'text'">
              <div class="v-center justify-content-end c-pointer">
                <span class="f-3 font-weight-bold c-blue mr-2">Send text</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="textActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no text activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'appointment'">
              <div class="v-center justify-content-end c-pointer" (click)="openAppointmentDlg()">
                <span class="f-3 font-weight-bold c-blue mr-2">Create appointment</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="appointmentActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no appointment activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'group_call'">
              <div class="v-center justify-content-end c-pointer" (click)="openGroupCallDlg()">
                <span class="f-3 font-weight-bold c-blue mr-2">Create group call</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="appointmentActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no group call activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'follow_up'">
              <div class="v-center justify-content-between">
                <div ngbDropdown class="v-center">
                  <div class="v-center" ngbDropdownToggle>
                    <span class="f-3 font-weight-bold c-dark c-pointer mr-2">
                      {{selectedTimeSort.label}}
                    </span>
                    <i class="d-block i-icon i-triangle-down bgc-dark"></i>
                  </div>
                  <div ngbDropdownMenu class="light">
                    <div class="v-center justify-content-between dropdown-item" *ngFor="let timeSort of timeSorts" (click)="changeSort(timeSort)">
                      <div class="f-3 c-dark" [ngClass]="{'font-weight-bold': timeSort.id == selectedTimeSort.id}">
                        {{timeSort.label}}
                      </div>
                      <div *ngIf="timeSort.id == selectedTimeSort.id">
                        <i class="d-block i-icon i-check bgc-blue"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v-center justify-content-end c-pointer" (click)="openTaskDlg()">
                  <span class="f-3 font-weight-bold c-blue mr-2">Create task</span>
                  <i class="d-block i-icon i-plus bgc-blue"></i>
                </div>
              </div>
              <div class="empty-list" *ngIf="taskActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no task activities yet.
                </h4>
              </div>
            </div>
            <div class="history-list-header" *ngSwitchCase="'deal'">
              <div class="v-center justify-content-end c-pointer">
                <span class="f-3 font-weight-bold c-blue mr-2">Create deal</span>
                <i class="d-block i-icon i-plus bgc-blue"></i>
              </div>
              <div class="empty-list" *ngIf="dealActivity == 0">
                <div class="object-icon v-center">
                  <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                  There is no deal activities yet.
                </h4>
              </div>
            </div>
          </ng-container>
          <ng-container *ngFor="let activity of mainTimelines">
            <div *ngIf="action.id == 'all' && activity.type == 'contacts'">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i></div>
                    <div class="f-6">
                      <span>{{activity.content}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="(action.id == 'all' || action.id == 'follow_up') && activity.type == 'follow_ups'">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3" *ngIf="activity.activity_detail">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3">
                      <i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i>
                    </div>
                    <div class="f-6" *ngIf="action.id == 'all'">
                      <span>{{activity.content}}</span>
                    </div>
                    <ng-container *ngIf="action.id == 'follow_up'">
                      <div class="f-6" *ngIf="activity.content.indexOf('completed') !== -1">
                        Completed task
                      </div>
                      <div class="f-6" *ngIf="activity.content.indexOf('completed') == -1">
                        Task
                      </div>
                    </ng-container>
                  </div>
                  <div class="v-center">
                    <span class="f-3 op-56 ml-auto">{{activity.created_at | date :'MMM d, hh:mm a'}}</span>
                    <div ngbDropdown class="button-more p-1 rounded" placement="bottom-right">
                      <a class="d-flex c-pointer no-carot" ngbDropdownToggle>
                        <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                      </a>
                      <div ngbDropdownMenu class="light py-1">
                        <button
                          class="v-center border-0 py-1 c-dark dropdown-item"
                          *ngIf="activity.content.indexOf('completed') == -1"
                          (click)="editTask(activity)"
                        >
                          <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Edit</span>
                        </button>
                        <button
                          class="v-center border-0 py-1 c-dark dropdown-item"
                          *ngIf="activity.content.indexOf('completed') == -1"
                          (click)="completeTask(activity)"
                        >
                          <i class="i-icon i-check bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Complete</span>
                        </button>
                        <button
                          class="v-center border-0 py-1 c-dark dropdown-item"
                          (click)="archiveTask(activity)"
                        >
                          <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Archive</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-history-item" [class.completed]="activity.content.indexOf('completed') !== -1">
                  <div class="v-center">
                    <div class="v-center justify-content-center c-pointer task-status" (click)="completeTask(activity)"
                      *ngIf="activity.content.indexOf('completed') === -1; else taskComplete">
                      <i class="i-icon i-check bgc-white"></i>
                    </div>
                    <ng-template #taskComplete>
                      <div class="v-center justify-content-center task-status">
                        <i class="i-icon i-check bgc-white"></i>
                      </div>
                    </ng-template>
                    <div class="f-6 font-weight-bold ml-3 content">
                      {{activity.activity_detail.content}}
                    </div>
                  </div>
                  <div class="v-center mt-3" *ngIf="activity.content.indexOf('completed') === -1">
                    <div class="time">
                      <div class="f-4 fw-600 op-40">
                        Due date
                      </div>
                      <div class="v-center mt-1">
                        <i class="d-block i-icon i-calendar bgc-dark mr-2"></i>
                        <span class="f-4">{{activity.activity_detail.due_date | date: 'MM/dd/yyyy'}} at {{activity.activity_detail.due_date | date: 'shortTime'}}</span>
                      </div>
                    </div>
                    <div class="type ml-5">
                      <div class="f-4 fw-600 op-40">
                        Type
                      </div>
                      <div class="v-center mt-1">
                        <ng-container [ngSwitch]="activity.activity_detail.type">
                          <i class="d-block i-icon i-task bgc-dark mr-2" *ngSwitchCase="'task'"></i>
                          <i class="d-block i-icon i-phone bgc-dark mr-2" *ngSwitchCase="'call'"></i>
                          <i class="d-block i-icon i-lunch bgc-dark mr-2" *ngSwitchCase="'meeting'"></i>
                          <i class="d-block i-icon i-message bgc-dark mr-2" *ngSwitchCase="'email'"></i>
                          <i class="d-block i-icon i-video bgc-dark mr-2" *ngSwitchCase="'material'"></i>
                        </ng-container>
                        <span class="f-4 text-capitalize">{{activity.activity_detail.type}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="related-history-item" *ngIf="groupActions[activity.group_id].length > 1">
                  <app-accordion [showIndicator]="show" [hideIndicator]="hide">
                    <ng-template #show>
                      <div class="content">
                        <div class="f-3 fw-600 c-blue mt-1">
                          See details
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #hide>
                      <div class="content w-100">
                        <ng-container *ngFor="let detailActivity of groupActions[activity.group_id]; let i = index;">
                          <div class="d-flex mb-1">
                            <div class="mr-2 font-weight-bold"># {{groupActions[activity.group_id].length - i}}</div>
                            <div class="mr-2 text-capitalize rounded-pill bgc-green-weak text-white px-3">{{detailActivity.content}}</div>
                            <div class="ml-auto c-trans56">{{detailActivity.created_at | date: 'MMM dd, hh:mm a'}}</div>
                          </div>
                        </ng-container>
                        <div class="f-3 fw-600 c-blue mt-1">
                          Close
                        </div>
                      </div>
                    </ng-template>
                  </app-accordion>
                </div>
              </div>
            </div>

            <div *ngIf="(action.id == 'all' || action.id == 'note') && activity.type == 'notes'">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3" *ngIf="activity.activity_detail">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i></div>
                    <div class="f-6" *ngIf="action.id == 'all'">
                      <span>{{activity.content}}</span>
                    </div>
                    <div class="f-6" *ngIf="action.id == 'note'">
                      Note
                    </div>
                  </div>
                  <div class="v-center">
                    <span class="f-3 op-56 ml-auto">{{activity.created_at | date :'MMM d, hh:mm a'}}</span>
                    <div ngbDropdown class="button-more p-1 rounded" placement="bottom-right">
                      <a class="d-flex c-pointer no-carot" ngbDropdownToggle>
                        <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                      </a>
                      <div ngbDropdownMenu class="light py-1">
                        <button class="v-center border-0 py-1 c-dark dropdown-item" (click)="updateNote(activity)">
                          <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Update note</span>
                        </button>
                        <button class="v-center border-0 py-1 c-dark dropdown-item" (click)="deleteNote(activity)">
                          <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Remove note</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-history-item">
                  <app-accordion [showIndicator]="show" [hideIndicator]="hide">
                    <ng-template #show>
                      <div class="content f-6 position-relative">
                        <div class="note-content">{{activity.activity_detail.content || 'No Content Note' | stripTags | shorten: 300: '...' }}</div>
                        <div class="gradient-bottom"></div>
                        <div class="f-3 fw-600 c-blue mt-1">
                          Expand
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #hide>
                      <div class="content">
                        <div class="f-6 note-content opened">{{activity.activity_detail.content || 'No Content Note'}}</div>
                        <div class="f-3 fw-600 c-blue mt-1">
                          Collapse
                        </div>
                      </div>
                    </ng-template>
                  </app-accordion>
                </div>
              </div>
            </div>

            <div *ngIf="(action.id == 'all' || action.id == 'email') && (activity.type == 'emails' || activity.type == 'email_trackers')">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3" *ngIf="activity.activity_detail">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i></div>
                    <div class="f-6" *ngIf="action.id == 'all'">
                      <span>{{activity.content}}</span>
                    </div>
                    <div class="f-6" *ngIf="action.id == 'email'">
                      Email
                    </div>
                  </div>
                </div>
                <div class="main-history-item">
                  <ng-container *ngIf="groupActions[activity.group_id].length === 1; else multiEmailHistory">
                    <div class="summary position-relative">
                      <div class="title f-6 font-weight-bold">
                        {{details[activity.emails]?.subject}}
                      </div>
                      <div class="f-6 detail-content" [innerHTML]="convertContent(details[activity.emails]?.content)"></div>
                      <div class="gradient-bottom"></div>
                      <div class="c-blue mt-1 f-3 fw-600 c-pointer" (click)="showDetail($event)">Expand</div>
                    </div>
                    <div class="detail">
                      <div class="title f-6 font-weight-bold">
                        {{details[activity.emails]?.subject}}
                      </div>
                      <div class="f-6 mt-2" [innerHTML]="details[activity.emails]?.content || ''"></div>
                      <div class="c-blue mt-1 f-3 fw-600 c-pointer" (click)="hideDetail($event)">Collapse</div>
                    </div>
                  </ng-container>
                  <ng-template #multiEmailHistory>
                    <div class="summary position-relative">
                      <div class="title f-6 font-weight-bold">
                        {{details[activity.emails]?.subject}}
                      </div>
                      <div class="f-6 detail-content" [innerHTML]="convertContent(details[activity.emails]?.content)"></div>
                      <div class="gradient-bottom"></div>
                      <div class="c-blue mt-1 f-3 fw-600 c-pointer" (click)="showDetail($event)">Expand</div>
                    </div>
                    <div class="detail">
                      <div class="title f-6 font-weight-bold">
                        {{details[activity.emails]?.subject}}
                      </div>
                      <div class="f-6 mb-2 mt-2" [innerHTML]="details[activity.emails]?.content || ''"></div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="session-col">session</th>
                            <th class="duration-col">duration</th>
                            <th class="date-col">date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let detailActivity of groupActions[activity.group_id]; let i = index;">
                            <td class="session-col">
                              <span class="f-3 font-weight-bold">#{{groupActions[activity.group_id].length - i}}</span>
                            </td>
                            <td class="duration-col">{{details[activity.emails]?.duration || ''}}</td>
                            <td class="date-col">
                              <div class="f-3 font-weight-bold text-uppercase px-2 py-1 c-pointer" ngbTooltip="{{detailActivity.created_at | date: 'MMMM dd yyyy, hh:mm a'}}">
                                {{detailActivity.created_at | date: 'MMMM dd'}}
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="c-blue mt-2 f-3 fw-600 c-pointer" (click)="hideDetail($event)">Collapse</div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <div *ngIf="(action.id == 'all' || action.id == 'appointment') && activity.type == 'appointments'">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3" *ngIf="activity.activity_detail">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i></div>
                    <div class="f-6" *ngIf="action.id == 'all'">
                      <span>{{activity.content}}</span>
                    </div>
                    <div class="f-6" *ngIf="action.id == 'appointment'">
                      Appointment
                    </div>
                  </div>
                </div>
                <div class="main-history-item">
                  <app-accordion [showIndicator]="show" [hideIndicator]="hide">
                    <ng-template #show>
                      <div class="content f-6 position-relative">
                        <div class="font-weight-bold">
                          {{activity.activity_detail.title}}
                        </div>
                        <div class="f-6" [innerHTML]="activity.activity_detail.description || 'No Content' | stripTags | shorten: 300: '...'"></div>
                        <div class="gradient-bottom"></div>
                        <div class="f-3 fw-600 c-blue mt-1">
                          Expand
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #hide>
                      <div class="content">
                        <div class="f-6 font-weight-bold">
                          {{activity.activity_detail.title}}
                        </div>
                        <div class="f-6" [innerHTML]="activity.activity_detail.description || 'No Content'"></div>
                        <div class="f-3 fw-600 c-blue mt-1">
                          Collapse
                        </div>
                      </div>
                    </ng-template>
                  </app-accordion>
                  <div class="v-center mt-3">
                    <div class="date">
                      <div class="f-4 fw-600 op-40">
                        Date
                      </div>
                      <div class="v-center mt-1">
                        <i class="d-block i-icon i-calendar bgc-dark mr-2"></i>
                        <span class="f-4">{{activity.activity_detail.due_start | date: 'MM/dd/yyyy'}}</span>
                      </div>
                    </div>
                    <div class="time ml-5">
                      <div class="f-4 fw-600 op-40">
                        Time
                      </div>
                      <div class="v-center mt-1">
                        <i class="d-block i-icon i-calendar bgc-dark mr-2"></i>
                        <span class="f-4">{{getTime(activity.activity_detail.due_start, activity.activity_detail.due_end)}}</span>
                      </div>
                    </div>
                    <div class="location ml-5">
                      <div class="f-4 fw-600 op-40">
                        Location
                      </div>
                      <div class="v-center mt-1">
                        <i class="d-block i-icon i-location bgc-dark mr-2"></i>
                        <span class="f-4">{{activity.activity_detail.location}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <div class="f-4 fw-600 op-40">
                      Zoom meeting
                    </div>
                    <div class="f-4 c-blue mt-1">
                      https://cebroker-evercheck.zoom.us/j/98078238478
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="(action.id == 'all' || action.id == 'deal') && activity.type == 'deals'">
              <div class="history-detail {{activity.type}}-detail p-3 mt-3" *ngIf="activity.activity_detail">
                <div class="v-center justify-content-between mb-3">
                  <div class="v-center">
                    <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail?.type}}" ></i></div>
                    <div class="f-6" *ngIf="action.id == 'all'">
                      <span>{{activity.content}}</span>
                    </div>
                    <div class="f-6" *ngIf="action.id == 'deal'">
                      Deal
                    </div>
                  </div>
                </div>
                <div class="main-history-item">
                  <div class="f-6 font-weight-bold">
                    {{activity.activity_detail.title}}
                  </div>
                  <div class="v-center mt-3">
                    <div class="stage">
                      <div class="f-4 fw-600 op-40">
                        Stage
                      </div>
                      <ng-container *ngFor="let dealStage of dealsService.stages$ | async">
                        <div class="f-4 mt-1" *ngIf="dealStage._id == activity.activity_detail.deal_stage">
                          {{dealStage.title}}
                        </div>
                      </ng-container>
                    </div>
                    <div class="value ml-5">
                      <div class="f-4 fw-600 op-40">
                        Value
                      </div>
                      <div class="f-4 mt-1">
                        $ {{activity.activity_detail.value}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
