<div class="page-content">
  <div class="v-center page-header pb-4c">
    <div class="">
      <span>Back to all contacts</span>
    </div>
    <div class="v-center ml-auto">
      <span>Person 1 of 20</span>
    </div>
  </div>
  <div class="contact-panel d-flex">
    <div class="contact-info-panel pr-4c">
      <div class="contact-main d-flex">
        <div class="contact-avatar lg font-weight-bold">
          {{contact.avatarName}}
        </div>
        <div class="contact-main-info ml-3">
          <div class="f-20 font-weight-bold">{{contact.fullName}}</div>
          <div class="f-3 op-40">{{contact.last_activity_time | date :'MM/dd/yyyy'}}</div>
        </div>
      </div>
      <div class="my-3 py-2">
        <app-label-select [value]="contact.label" type="form"></app-label-select>
      </div>
      <div class="v-center justify-content-between mb-3">
        <button class="btn border border-primary f-6 font-weight-bold c-blue btn-sm mx-1">Create group call</button>
        <button class="btn border border-primary f-6 font-weight-bold c-blue btn-sm mx-1">Create appointment</button>
      </div>
      <mat-accordion multi class="general-panels">
        <!-- Begin Contact Detail -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="v-center w-100">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Contact details</span>
                <button class="btn border border-primary f-2 font-weight-bold c-blue ml-auto btn-sm" (click)="contactMerge(contact)">Edit contact
                  details</button>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-detail">
            <div class="v-center py-1">
              <i class="i-icon i-contact-phone bgc-dark mr-2"></i>
              <span class="f-6">{{contact.cell_phone}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-message bgc-dark mr-2"></i>
              <span class="f-6">{{contact.email}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-contact-location bgc-dark mr-2"></i>
              <span class="f-6">{{contact.fullAddress}}</span>
            </div>
            <div class="v-center py-1">
              <i class="i-icon i-webpage bgc-dark mr-2"></i>
              <span class="f-6">{{contact.website}}</span>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- End Contact Detail -->

        <!-- Begin Contact Secondary Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="v-center">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Secondary contacts</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-secondary"></div>
        </mat-expansion-panel>
        <!-- End Contact Secondary Information -->

        <!-- Begin Contact Additional Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="v-center">
                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                <span class="f-6 font-weight-bold ml-2">Additional information</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contact-additional">
            <div class="v-center py-2">
              <span class="f-6 fw-600 op-40">Source</span>
              <span class="f-6">{{contact.source}}</span>
            </div>
            <div class="v-center py-2">
              <span class="f-6 fw-600 op-40">Current Company</span>
              <span class="f-6">{{contact.brokerage}}</span>
            </div>
            <div class="v-center py-2">
              <span class="f-6 fw-600 op-40">Tags</span>
              <span class="f-6"></span>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- End Contact Additional Information -->

        <!-- Begin Contact Automation Information -->
        <mat-expansion-panel class="mat-elevation-z" hideToggle expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="v-center justify-content-between w-100">
                <div class="v-center">
                  <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                  <span class="f-6 font-weight-bold ml-2">Automation</span>
                </div>
                <!-- <div class="f-3 fw-600 c-blue c-pointer" (click)="createAutomation()">
                  Create new automation
                </div> -->
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="automation">
            <div class="v-center">
              <app-input-automation></app-input-automation>
              <div class="v-center automation-action ml-2">
                <i class="d-block i-icon i-automation-start bgc-green-weak"></i>
                <i class="d-block i-icon i-automation-cancel bgc-blue ml-2"></i>  
              </div>
            </div>
            <div class="automation-detail mt-3">
              <ng-container *ngIf="allDataSource.data?.length">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
                class="timeline timeline-one-side time-line pb-3">
                  <mat-tree-node class="mat-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node timeline-block {{ node.status }}">
                      <div class="timeline w-100">
                        <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
                          <img src="../../assets/img/automations/yes.svg">
                          <span class="f-3 font-weight-bold text-center w-100" *ngIf="node['condition']">{{ActionName[node['condition']['case']]}}?</span>
                        </div>
                        <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == false">
                          <img src="../../assets/img/automations/no.svg">
                        </div>
                        <div class="bgc-green-weak line"></div>
                        <div class="v-center" #treeNode (click)="easyView(node, treeNode, treeOverlay)">
                          <span class="timeline-step {{ node.action?.type }}">
                            <img [attr.src]="ICONS[node.action?.type]">
                          </span>
                          <div class="timeline-content ml-2 c-pointer">
                            <p class="f-3 font-weight-bold title m-0 c-pointer">
                              {{ ActionName[node.action?.type] }}
                            </p>
                            <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                              {{ node.status }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </mat-tree-node>
                  <mat-nested-tree-node class="mat-nested-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node; when: hasChild">
                    <div class="timeline-condition" *ngIf="node['condition'] && node['condition']['case']">
                      <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
                        <img src="../../assets/img/automations/yes.svg">
                        <span class="f-3 font-weight-bold text-center w-100" *ngIf="node['condition']">{{ActionName[node['condition']['case']]}}?</span>
                      </div>
                      <div class="v-center justify-content-between w-100 condition" *ngIf="node['condition'] &&node['condition']['answer'] == false">
                        <img src="../../assets/img/automations/no.svg">
                      </div>
                      <div class="bgc-green-weak line"></div>
                    </div>
                    <li>
                      <div class="d-flex mat-tree-node timeline-block c-pointer {{ node.status }}" #nestedTreeNode (click)="easyView(node, nestedTreeNode, treeOverlay)">
                        <span class="timeline-step {{ node.action?.type }}">
                          <img [attr.src]="ICONS[node.action?.type]">
                        </span>
                        <div class="timeline-content ml-2">
                          <p class="f-3 font-weight-bold title m-0">
                            {{ ActionName[node.action?.type] }}
                          </p>
                          <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                            {{ node.status }}
                          </div>
                        </div>
                      </div>
                      <div class="bgc-green-weak line"></div>
                      <div class="d-flex p-0" [class.timeline-tree-invisible]="
                          !treeControl.isExpanded(node)
                        ">
                        <ng-container matTreeNodeOutlet></ng-container>
                      </div>
                    </li>
                  </mat-nested-tree-node>
                </mat-tree>
                <div class="v-center justify-content-center f-6 font-weight-bold c-blue c-pointer mt-3" (click)="showFullAutomation()">
                  Show full automation
                </div>
                <ng-template #treeOverlay let-close="close" let-data>
                  <app-automation-tree-overlay
                      [dataSource]="data.data"
                  >
                  </app-automation-tree-overlay>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Begin Contact Automation Information -->
      </mat-accordion>
    </div>
    <div class="contact-action-panel flex-grow-1 position-relative">
      <div class="action-panel position-relative">
        <div class="secondary-actions">
          <button class="btn border border-primary f-6 font-weight-bold c-blue btn-sm mx-1">Create group call</button>
          <button class="btn border border-primary f-6 font-weight-bold c-blue btn-sm mx-1">Create appointment</button>
          <button class="btn border border-primary f-6 font-weight-bold c-blue btn-sm mx-1">Add new task</button>
        </div>
        <div class="main-actions">
          <div [class]="'d-flex action-headers ' + mainAction">
            <div [class.active]="mainAction === 'send_message'" class="font-weight-bold c-pointer py-3 send_message"
              (click)="mainAction = 'send_message'">Send Message</div>
            <div [class.active]="mainAction === 'create_note'" class="font-weight-bold ml-3 c-pointer py-3 create_note"
              (click)="mainAction = 'create_note'">Note</div>
          </div>
          <div class="tab-panel">
            <div class="message-panel" *ngIf="mainAction === 'send_message'">
              <div class="message-box">
                <div class="sender px-3 py-2">
                  <label class="f-6 op-56 m-0">From:</label>
                  <span class="ml-2">Thomas NewMan</span>
                </div>
                <div class="v-center justify-content-between receiver px-3 py-2">
                  <div>
                    <label class="f-6 op-56 m-0">To:</label>
                    <span class="ml-2 f-6 c-blue">Andrew Johnson (andrew.johnson@airframe.io)</span>
                  </div>
                  <div>
                    <span class="f-6 c-blue">Add Cc</span>
                    <span class="f-6 c-blue ml-3">Add Bcc</span>
                  </div>
                </div>
                <div class="message-title px-3 py-2">
                  <input
                    class="w-100"
                    type="text"
                    placeholder="Subject:"
                  >
                </div>
                <div class="message-body px-3 py-2">
                  <button class="btn-white border-0 f-1 font-weight-bold op-28 p-0">Show Shortcut Tokens</button>
                  <textarea
                    class="w-100"
                    placeholder="Start typing here..."
                    rows="4" cols="50"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="note-panel" *ngIf="mainAction === 'create_note'">
            </div>
          </div>
        </div>
      </div>
      <div class="history-panel pt-3 pl-3 mt-2">
        <div class="type-headers d-flex">
          <div class="type-item rounded px-2 py-1 f-3 font-weight-bold c-pointer" *ngFor="let type of TYPES"
            [ngClass]="{'border': type.id === activeHistory, 'border-primary': type.id === activeHistory, 'c-blue': type.id === activeHistory}"
            [class.op-40]="type.id !== activeHistory" (click)="activeHistory = type.id">
            {{type.label}}
          </div>
        </div>
        <div class="history-list mt-3 position-relative" *ngIf="mainTimelines && mainTimelines.length">
          <ng-container *ngFor="let activity of mainTimelines">
            <div class="time-line d-flex">
              <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} sub-{{activity.activity_detail?.type}}" ></i></div>
              <!-- History Item -->
              <div class="history-info">
                <div class="history-header">
                  <span>{{activity.content}}</span>
                  <div class="v-center history-time ml-auto">
                    <span class="f-3 op-56 ml-auto">{{activity.created_at | date :'hh:mm a'}}</span>
                    <div ngbDropdown class="button-more p-1 rounded">
                      <a class="d-flex c-pointer no-carot" ngbDropdownToggle>
                        <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                      </a>
                      <div ngbDropdownMenu class="light py-1">
                        <button class="v-center border-0 py-1 c-dark dropdown-item">
                          <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-2 font-weight-bold">Delete</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="history-detail">
                  {{activity.activity_detail | json}}
                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>