@import 'src/variables.scss';

.contact-info-panel {
  min-width: 376px;
  .automation {
    app-input-automation {
      width: 100%;
    }
    .automation-action {
      i {
        width: 40px;
        height: 40px;
        min-width: 40px;
      }
    }
    .automation-detail {
      mat-tree {
        overflow-x: auto;
        li {
          list-style-type: none;
          img {
            width: 24px;
            height: 24px;
          }
          .badge.status {
            &.completed {
              color: $color-green-weak;
            }
            &.checking {
              color: $color-orange-weak;
            }
            &.pending {
              color: $color-orange-weak;
            }
            &.active {
              color: $color-blue;
            }
            &.disabled {
              color: $color-red;
            }
            &.error {
              color: $color-red;
            }
          }
        }
        .line {
          width: 1px;
          height: 20px;
          margin-left: 11px;
        }
        mat-nested-tree-node {
          .mat-tree-node {
            min-height: 40px;
  
          }
        }
        .timeline-tree-invisible {
          mat-tree-node {
            &.mat-tree {
              &.first {
                  order: 1;
              }
              order: 2;
            }
            align-items: flex-start;
          }
          mat-nested-tree-node {
            &.mat-nested-tree {
              &.first {
                order: 1;
              }
              order: 2
            }
          }
        }
      }
    }
  }
}

.contact-action-panel {
  &::before {
    width: 1px;
    height: 100%;
    background: $color-dark;
    content: "";
    position: absolute;
    top: 54px;
    opacity: 0.2;
  }
}
// Action Panels
.secondary-actions {
  position: absolute;
  top: 8px;
  right: 0px;
}
.main-actions {
  .action-headers {
    position: relative;
    .send_message {
      width: 110px;
      opacity: 0.4;
    }
    .create_note {
      width: 40px;
      opacity: 0.4;
    }
    .active {
      color: $color-blue;
      opacity: 1;
    }
    &.send_message::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 110px;
      height: 3px;
      background-color: $color-blue;
      transition: all .3s;
    }
    &.create_note::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 126px;
      width: 40px;
      height: 3px;
      background-color: $color-blue;
      transition: all .3s;
    }
  }
}

// History Panel
.type-headers {
  justify-content: space-between;
  padding-right: 48px;
}
.history-list {
  &::before {
    border-left: 2px dashed gainsboro;
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    height: 100%;
    width: 1px;
    z-index: -1;
  }

  .time-line {
    margin-bottom: 2rem;
    .history-icon {
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 4px;
    }
    .history-info {
      flex: 1;

      .history-header {
        display: flex;

        .history-time {
          width: 150px;
        }
      }

      .history-detail {
        margin-top: 0.5rem;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid $color-trans28;
        transition: box-shadow .2s;

        &:hover {
          box-shadow: 0px 2px 10px $color-trans28;
        }
      }
    }
  }
}

// Material Expansion Panel Style
:host ::ng-deep {
  .general-panels {
    .mat-expansion-panel-header {
      padding: 0px;

      &.mat-expanded {
        height: 48px;
      }

      .mat-expansion-panel-header-title {
        margin-right: 0px;
      }
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .toggle-icon {
      width: 12px;
      height: 12px;
      min-width: 12px;
    }
  }
}