<div class="page-content">
  <div class="v-center page-header">
    <div class="">
      <span>Back to all contacts</span>
    </div>
    <div class="v-center ml-auto">
      <span>Person 1 of 20</span>
    </div>
  </div>
  <div class="contact-panel">
    <div class="contact-detail">
      <div class="contact-main">
        <div class="avatar">
          
        </div>
      </div>
      <div class="contact-detail"></div>
      <div class="contact-secondary"></div>
      <div class="contact-additional"></div>
      <div class="automation"></div>
    </div>
    <div class="action-detail">

    </div>
  </div>
</div>