.remove a {
  display: block;
  background: blue;
  border-radius: 50%;
  padding: 2px;

  .i-remove {
    width: 14px;
    height: 14px;
    min-width: 14px;
  }
}

.additional-fields {
  max-height: 400px;
  overflow: auto;
}
