<div class="page-content">
  <div class="page-header">
    <h1 class="page-title" *ngIf="!selectedFolder; else folderTitleTemplate">Materials</h1>
    <ng-template #folderTitleTemplate>
      <h1 class="page-title d-flex">
        <a [routerLink]="['/materials/']" class="c-pointer c-dark to-root">Materials</a>
        <span class="f-6 v-center"><i class="i-icon i-chev-right d-block bgc-dark mx-1"></i>{{selectedFolder.title}}</span>
      </h1>
    </ng-template>
    <div class="v-center create-actions">
      <button class="v-center btn btn-blue shadow font-weight-bold text-white button-record px-2" (click)="recordSetting()">
        <i class="bgc-white i-icon i-record mr-2"></i>
        Record Video
      </button>
      <div class="ml-1 ml-sm-3 border border-primary rounded" ngbDropdown>
        <div class="font-weight-bold c-dark c-pointer px-2 button-add" ngbDropdownToggle>
          New Material
        </div>
        <div ngbDropdownMenu>
          <div class="dropdown-item v-center" (click)="createFolder()" *ngIf="!selectedFolder">
            <i class="i-icon d-block i-folder mr-2 bgc-dark"></i>
            <span class="f-3">Folder</span>
          </div>
          <hr class="my-0" *ngIf="!selectedFolder"/>
          <div class="dropdown-item v-center"
               (click)="createMaterial('video')"
          >
            <i class="i-icon d-block act-videos mr-2"></i>
            <span class="f-3">Video</span>
          </div>
          <div class="dropdown-item v-center" (click)="createMaterial('pdf')">
            <i class="i-icon d-block act-pdfs mr-2"></i>
            <span class="f-3">PDF</span>
          </div>
          <div class="dropdown-item v-center" (click)="createMaterial('image')">
            <i class="i-icon d-block act-images mr-2"></i>
            <span class="f-3">Image</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="v-center material-list-controls mt-3 mb-2">
    <div class="form-group mb-0 search-form">
      <div class="input-group-prepend">
        <i class="i-icon i-search d-block bgc-dark"></i>
      </div>
      <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search-addon" [(ngModel)]="searchStr" (ngModelChange)="filter()">
      <ng-container *ngIf="searchStr">
        <div class="cancel-action c-pointer" (click)="clearSearchStr()">
          <i class="i-icon i-close d-block bgc-dark"></i>
        </div>
      </ng-container>
    </div>
    <div class="ml-auto"
      ngbDropdown
      placement="bottom-right">
      <div class="v-center c-pointer f-3 p-3 mr-2 font-weight-bold"
        ngbDropdownToggle>
        <span class="pr-2">{{sortType.label == 'All types' ? 'Sort by' : sortType.label}}</span>
      </div>
      <div ngbDropdownMenu
        aria-labelledby="taskSortTypes">
        <div class="py-2"
          ngbDropdownItem
          *ngFor="let type of SORT_TYPES"
          (click)="changeSort(type)">
          <span class="f-3 v-center"
            [class.font-weight-bold]="type.id === sortType.id">
            {{type.label}}
            <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
              *ngIf="type.id === sortType.id"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="border-left pl-3 pr-0 py-1 text-center ml-3 mr-2">
      <a class="ml-3 f-3 font-weight-bold c-dark td-none c-pointer v-center" (click)="drawer.toggle()">
        <span>Filter</span>
        <img class="ml-1" src="../../../assets/img/filter.svg" alt="filter-icon" style="width: 23px;"/>
      </a>
    </div>
  </div>

  <!-- Material List -->
  <div class="custom-mat-table material-table-container position-relative">
    <div class="mat-table-wrapper" [class.empty]="!filteredMaterials.length">
      <table class="w-100 page-table"
        mat-table
        [dataSource]="filteredMaterials | paginate: {id: 'materialPages', itemsPerPage: pageSize.id, currentPage: page, totalItems: filteredMaterials.length}"
        [class.selected-files]="selectedFiles.length">

        <ng-container matColumnDef="loader-cell">
          <th mat-header-cell
            *matHeaderCellDef colspan="12" class="loader-cell">
            <div class="updating-status"
            *ngIf="materials.length && (materialService.loading$ | async) === STATUS.REQUEST">
              LOADING
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell
            *matHeaderCellDef
            class="pl-0 checkbox-col">
            <div class="custom-control custom-checkbox"
              [class.indeterminate]="(selectedFiles.length + selectedFolders.length) && !isAllSelected()">
              <input type="checkbox"
                class="custom-control-input"
                id="selectAllMaterials"
                (change)="$event ? pageMasterToggle() : null"
                [checked]="isPageSelected()" />
              <label class="custom-control-label"
                for="selectAllMaterials"></label>
            </div>
          </th>
          <td mat-cell
            *matCellDef="let element"
            class="pl-0 checkbox-col">
            <div class="custom-control custom-checkbox">
              <input type="checkbox"
                class="custom-control-input"
                id="material-{{element._id}}"
                (change)="toggleElement(element)"
                [checked]="isSelected(element)" />
              <label class="custom-control-label"
                for="material-{{element._id}}"></label>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="material_name">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length); else toolHeader" class="name-col">
              <div class="v-center c-pointer head-sort" (click)="sort('title')">
                <span [class]="selectedSort == 'title' ? 'fw-600 c-dark' : ''">Name</span>
                <i class="i-icon d-block bgc-black ml-2"
                   [class]="searchCondition.title ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'title'"></i>
              </div>
            </th>
              <ng-template #toolHeader>
                <th mat-header-cell colspan="12">
                  <div class="v-center">
                    <ng-container *ngIf="selectedFiles.length; else folderSelectedStatus">
                      <span class="c-dark f-3 text-lowercase font-weight-bold">
                        {{selectedFiles.length}} selected
                      </span>
                      <app-actions-header [actions]="ACTIONS" (doCommand)="doAction($event)" [disableActions]="disableActions"></app-actions-header>
                    </ng-container>
                    <ng-template #folderSelectedStatus>
                      <span class="c-dark f-3 text-lowercase font-weight-bold">
                        {{selectedFolders.length}} selected
                      </span>
                      <app-actions-header [actions]="FOLDER_ACTIONS" (doCommand)="doFolderAction($event)"></app-actions-header>
                    </ng-template>
                  </div>
                </th>
              </ng-template>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="name-col">
            <ng-container *ngIf="element.material_type === 'folder'; else materialInfoTemplate">
              <a class="v-center c-pointer material-main-info td-none" [routerLink]="['/materials/' + element._id]">
                <div class="thumbnail">
                  <a>
                    <div class="folder-thumb">
                    </div>
                  </a>
                </div>
                <span class="font-weight-bold ci-dark">{{(element.title || '') | shorten: 40: '...'}}</span>
              </a>
            </ng-container>
            <ng-template #materialInfoTemplate>
              <div class="v-center c-pointer material-main-info">
                <div class="thumbnail">
                  <ng-container [ngSwitch]="element.material_type">
                    <a
                      *ngSwitchCase="'video'"
                      href="{{siteUrl}}/video?video={{element._id}}&user={{user_id}}" target="_blank">
                      <div class="thumb-prev-wrapper">
                        <img [src]="element.thumbnail" class="thumbnail" onerror="( this.src = './assets/img/video_thumb.jpg');"/>
                        <img [src]="element.preview" class="preview" onerror="( this.src = './assets/img/video_thumb.jpg');"/>
                      </div>
                    </a>
                    <a
                      *ngSwitchCase="'pdf'"
                      href="{{siteUrl}}/pdf?pdf={{element._id}}&user={{user_id}}" target="_blank">
                      <img class="thumbnail" src="{{element.preview}}" onerror="( this.src = './assets/img/pdf_overlay.png' );" />
                    </a>
                    <a
                      *ngSwitchCase="'image'"
                      href="{{siteUrl}}/image?image={{element._id}}&user={{user_id}}" target="_blank">
                      <img class="thumbnail" src="{{element.preview}}" onerror="( this.src = './assets/img/image_overlay.png' );" />
                    </a>
                  </ng-container>
                </div>
                <span class="font-weight-bold">{{(element.title || '') | shorten: 40: '...'}}
                  <ng-container *ngIf="!selectedFolder && isEnableSearchOptions() && element.folder && foldersKeyValue[element.folder]">
                    <br/> <span class="fw-400 f-2">\ <a class="folder-info" (click)="openFolder(foldersKeyValue[element.folder])">{{foldersKeyValue[element.folder].title}}</a></span>
                  </ng-container>
                </span>
              </div>
            </ng-template>
            <div class="responsive-data">
              <div class="type">
                <span class="info-title">type:</span>
                <span class="info-value">{{element.material_type}}</span>
              </div>
              <div class="time">
                <span class="info-title">created at:</span>
                <span class="info-value">{{element.created_at | date : 'mediumDate'}}</span>
              </div>
              <div class="analytics v-center">
                <span class="info-title">views:</span>
                <div class="info-value">
                  <a [routerLink]="['/materials/analytics/' + element._id]" class="text-decoration-none">
                    <div class="v-center justify-content-end">
                      <span class="f-3 c-dark">{{element.views}}</span>
                      <i class="i-icon i-analytics bgc-blue ml-1 sm" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="owner">
                <span class="info-title">owner:</span>
                <span class="info-value">
                  {{element.user ? (element.user._id ? (element.user._id === user_id ? 'Me' : element.user.user_name) : (element.user === user_id ? 'Me' : 'Unknown User')) : 'Admin'}}
                </span>
              </div>
              <div class="share">
                <span class="info-title">share with:</span>
                <span class="info-value">
                  {{element.team ? element.team.name : '--'}}
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="creator">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="owner-col">
              <div class="v-center c-pointer head-sort" (click)="sort('owner')">
                <span [class]="selectedSort == 'owner' ? 'fw-600 c-dark' : ''">Owner</span>
                <i class="i-icon d-block bgc-black ml-2"
                   [class]="searchCondition.owner ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'owner'"></i>
              </div>
            </th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="owner-col">
            {{element.owner | shorten: 15: '...'}}
          </td>
        </ng-container>

        <!-- Share Column -->
        <ng-container matColumnDef="share">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="share-col">shared with</th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="share-col">
            {{element.team ? element.team.name : '--' | shorten: 15: '...'}}
          </td>
        </ng-container>

        <!-- Theme Column -->
        <ng-container matColumnDef="theme">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="theme-col">theme</th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="theme-col">
            {{ element.material_type !== 'folder' ? themeJSON[material_themes[element._id] || global_theme]?.name : '---' | shorten: 8: '...'}}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="type-col">
              <div class="v-center c-pointer head-sort" (click)="sort('material_type')">
                <span [class]="selectedSort == 'material_type' ? 'fw-600 c-dark' : ''">Type</span>
                <i class="i-icon d-block bgc-black ml-2"
                   [class]="searchCondition.material_type ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'material_type'"></i>
              </div>
            </th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="type-col {{element.material_type}}">
            {{element.material_type}}
          </td>
        </ng-container>

        <!-- Added Column -->
        <ng-container matColumnDef="created_at">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell class="time-col"
            *ngIf="!(selectedFiles.length + selectedFolders.length)">
              <div class="v-center c-pointer head-sort" (click)="sort('created_at')">
                <span [class]="selectedSort == 'created_at' ? 'fw-600 c-dark' : ''">Added</span>
                <i class="i-icon d-block bgc-black ml-2"
                   [class]="searchCondition.created_at ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'created_at'"></i>
              </div>
            </th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="time-col">
            {{element.created_at | date : 'mediumDate'}}
          </td>
        </ng-container>

        <!-- Analytics Column -->
        <ng-container matColumnDef="analytics">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="analytics-col">
              <div class="v-center c-pointer head-sort" (click)="sort('views')">
                <span [class]="selectedSort == 'views' ? 'fw-600 c-dark' : ''">Views</span>
                <i class="i-icon d-block bgc-black ml-2"
                   [class]="searchCondition.views ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'views'"></i>
              </div>
            </th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="analytics-col">
            <ng-container *ngIf="element.material_type === 'folder'; else materialViewTemplate">
              <div class="pr-3">--</div>
            </ng-container>
            <ng-template #materialViewTemplate>
              <a [routerLink]="['/materials/analytics/' + element._id]" class="text-decoration-none">
                <div class="v-center py-2" placement="bottom" ngbTooltip="Click into detail view">
                  <span class="f-2 c-dark">{{element.views}}</span>
                  <i class="i-icon i-analytics bgc-blue ml-1 mb-2" aria-hidden="true"></i>
                </div>
              </a>
            </ng-template>
          </td>
        </ng-container>

        <!-- Sub Action Column -->
        <ng-container matColumnDef="sub_actions">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="sub-item-action"></th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="sub-item-action">
            <div class="v-center justify-content-between items pr-3">
              <ng-container *ngIf="element.material_type !== 'folder'">
                <ng-container *ngIf="element.material_type === 'pdf' || element.material_type === 'image'; else videoActions">
                  <button class="v-center btn p-1 c-dark" (click)="sendMaterial(element, 'email')" placement="bottom" ngbTooltip="Send via Email">
                    <i class="i-icon i-message bgc-dark" aria-hidden="true"></i>
                  </button>
                  <button class="v-center btn p-1 c-dark"
                          (click)="sendMaterial(element, 'text')"
                          placement="bottom"
                          ngbTooltip="Send via Text"
                          [class.disable]="!isPackageText"
                  >
                    <i class="i-icon i-sms-sent bgc-dark" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <ng-template #videoActions>
                  <ng-container *ngIf="element.converted == 'completed' || element.converted == 'disabled'; else convertingStatusTemplate">
                    <button class="v-center btn p-1 c-dark" (click)="sendMaterial(element, 'email')" placement="bottom" ngbTooltip="Send via Email">
                      <i class="i-icon i-message bgc-dark" aria-hidden="true"></i>
                    </button>
                    <button class="v-center btn p-1 c-dark"
                      (click)="sendMaterial(element, 'text')"
                      placement="bottom"
                      ngbTooltip="Send via Text"
                      [class.disable]="!isPackageText"
                    >
                      <i class="i-icon i-sms-sent bgc-dark" aria-hidden="true"></i>
                    </button>
                  </ng-container>
                  <ng-template #convertingStatusTemplate>
                    <div class="c100 p{{element.progress || 0}} small">
                      <span>{{element.progress || 0}}%</span>
                      <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>
                  </ng-template>
                </ng-template>
                <button class="v-center btn p-1 c-dark" (click)="copyLink(element)" placement="bottom" ngbTooltip="Copy Link">
                  <i class="i-icon i-copy bgc-dark" aria-hidden="true"></i>
                </button>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <!-- Lead Capture Column -->
        <ng-container matColumnDef="lead_capture">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="capture-col">capture</th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element" class="capture-col" [class.disable]="!isPackageCapture">
            <div class="v-center custom-control custom-switch p-0" *ngIf="element.material_type !== 'folder'">
              <label class="custom-toggle mb-0" placement="top">
                <input
                  type="checkbox"
                  (change)="setCapture(element)"
                  [checked]="isCaptured(element)"
                  id="capture-{{element._id}}"
                />
                <span class="custom-toggle-slider rounded-circle"></span>
              </label>
            </div>
          </td>
        </ng-container>

        <!-- Main Action Column -->
        <ng-container matColumnDef="actions">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell
            *ngIf="!(selectedFiles.length + selectedFolders.length)" class="item-action"></th>
          </ng-container>
          <td mat-cell
            *matCellDef="let element;" class="item-action">
            <div class="v-center material-actions">
              <div ngbDropdown #mainDrop="ngbDropdown" placement="bottom-right" class="ml-auto">
                <a ngbDropdownToggle class="v-center btn bgc-white c-dark f-3 no-carot px-0" [class.disable]="element.material_type === 'folder' && element.user?._id !== user_id && element.user !== user_id">
                  <i class="d-block i-icon i-menu-more bgc-dark mr-2"></i>
                </a>
                <div ngbDropdownMenu class="light">
                  <ng-container *ngIf="element.material_type === 'folder'; else materialActionsTemplate">
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editFolder(element)">
                      <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                      <span class="ml-3 f-3 font-weight-bold">Edit</span>
                    </button>
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="removeFolder(element)">
                      <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                      <span class="ml-3 f-3 font-weight-bold">Delete</span>
                    </button>
                  </ng-container>
                  <ng-template #materialActionsTemplate>
                    <ng-container *ngIf="element.user; else adminMaterialActions">
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editMaterial(element)" *ngIf="element.user._id == user_id || element.user == user_id">
                        <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Edit</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editTemplate(element)">
                        <i class="i-icon i-template bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Edit template</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="duplicateMaterial(element)" *ngIf="(element.user._id == user_id || element.user == user_id) && !(element.shared_video || element.shared_pdf || element.shared_image || element.default_video || element.default_pdf || element.default_image)">
                        <i class="i-icon i-duplicate bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Duplicate</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="shareMaterial(element)">
                        <i class="i-icon i-share bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Social Share</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="shareTeam(element)" *ngIf="(element.user._id == user_id || element.user == user_id) && element.role != 'team'">
                        <i class="i-icon i-share-team bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Share team</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item"
                        *ngIf="element.material_type === 'video' && checkType(element.url) &&
                        (element.user?._id === user_id || element.user === user_id) && !element.default_edited"
                        (click)="download(element)"
                      >
                        <i class="i-icon i-download bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Download</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="deleteMaterial(element)" *ngIf="(element.user._id == user_id || element.user == user_id)">
                        <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Delete</span>
                      </button>
                      <ng-container *ngIf="selectedFolder && selectedFolder.user && (selectedFolder.user !== user_id && selectedFolder.user?._id !== user_id); else moveToAction">

                      </ng-container>
                      <ng-template #moveToAction>
                        <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="moveToFolder(element)">
                          <i class="i-icon i-folder bgc-dark ml-1" aria-hidden="true"></i>
                          <span class="ml-3 f-3 font-weight-bold">Move To</span>
                        </button>
                      </ng-template>
                    </ng-container>
                    <ng-template #adminMaterialActions>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editTemplate(element)">
                        <i class="i-icon i-template bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Edit template</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="duplicateMaterial(element)">
                        <i class="i-icon i-duplicate bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Duplicate</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="shareMaterial(element)">
                        <i class="i-icon i-share bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Social Share</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item"
                        *ngIf="element.material_type === 'video' && checkType(element.url) &&
                        (element.user?._id === user_id || element.user === user_id)"
                        (click)="download(element)"
                      >
                        <i class="i-icon i-download bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Download</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="hideMaterial(element)">
                        <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Delete</span>
                      </button>
                      <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="moveToFolder(element)">
                        <i class="i-icon i-folder bgc-dark ml-1" aria-hidden="true"></i>
                        <span class="ml-3 f-3 font-weight-bold">Move To</span>
                      </button>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="selection_info">
          <th mat-header-cell *matHeaderCellDef colspan="12" class="text-center">
            <span *ngIf="!isAllSelected(); else deselectTemplate">
              {{selectedFiles.length}} materials are selected.
              <span class="c-blue font-weight-bold c-pointer" (click)="masterToggle()">
                Select all {{filteredFiles.length}} materials
              </span>
            </span>
            <ng-template #deselectTemplate>
              All {{filteredFiles.length}} materials are selected. <span class="c-blue c-pointer font-weight-bold" (click)="masterToggle()">Clear selection</span>
            </ng-template>
          </th>
        </ng-container>

        <tr mat-header-row
          *matHeaderRowDef="['loader-cell']" class="loader-row"></tr>
        <tr mat-header-row
          *matHeaderRowDef="DISPLAY_COLUMNS" [class.selected]="selectedFiles.length + selectedFolders.length" class="table-header"></tr>
        <tr mat-header-row *matHeaderRowDef="['selection_info']" [class.d-none]="!selectedFiles.length" class='selection-info'></tr>
        <tr mat-row
          *matRowDef="let row; let index=index; columns: DISPLAY_COLUMNS;" [class.folder-row]="row.material_type === 'folder'" id="material-video-{{row._id}}" (mouseleave)="rowHover(index)"></tr>
      </table>
      <ng-container *ngIf="filteredMaterials.length">
        <div class="my-2 table-control mode-1">
          <div class="pagination-wrapper m-auto">
            <pagination-controls
              (pageChange)="changePage($event)"
              (pageBoundsCorrection)="changePage($event)"
              id="materialPages"
              maxSize="5"
              previousLabel=""
              nextLabel="">
            </pagination-controls>
          </div>
          <div class="shadow-dropdown ml-auto page-size-control"
            ngbDropdown
            placement="top-right">
            <div class="v-center c-pointer f-3 p-3 font-weight-bold"
              ngbDropdownToggle>
              <span class="pr-2 c-blue">Show {{pageSize.id}} rows per page</span>
            </div>
            <div ngbDropdownMenu
              aria-labelledby="contactPageSize">
              <div class="py-2"
                ngbDropdownItem
                *ngFor="let type of PAGE_COUNTS"
                (click)="changePageSize(type)">
                <span class="f-3 v-center"
                  [class.font-weight-bold]="type.id === pageSize.id">
                  Show {{type.label}} rows per page
                  <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
                    *ngIf="type.id === pageSize.id"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="!(storeService.materials$ | async).length; else showingStatusTemplate">
      <ng-container [ngSwitch]="(materialService.loading$ | async)">
        <div class="empty-list py-5" *ngSwitchCase="STATUS.SUCCESS">
          <div class="object-icon v-center">
            <i class="i-icon i-material d-block bgc-dark"></i>
          </div>
          <h4 class="font-weight-bold mt-4 mb-3">
            There is no materials (Videos, PDFs, Images) in your account.
          </h4>
        </div>
        <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2">Loading materials...</h4>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #showingStatusTemplate>
      <ng-container *ngIf="!filteredMaterials.length">
        <div class="empty-list py-5">
          <div class="object-icon v-center">
            <i class="i-icon i-material d-block bgc-dark"></i>
          </div>
          <h4 class="font-weight-bold mt-4 mb-3">
            There is no materials to match your filter conditions.
          </h4>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer
    position="end">
    <div class="p-4c panel">
      <div class="v-center mb-3">
        <h4 class="font-weight-bold mb-0 title">Advanced Filter</h4>
        <div class="c-blue f-1 text-uppercase ml-2 mt-2 c-pointer" (click)="clearAllFilters()">Clear All Filters</div>
        <button class="v-center border-0 bgc-trans ml-auto" type="button" (click)="drawer.toggle()">
          <i class="d-block i-icon i-close bgc-dark"></i>
        </button>
      </div>
      <form #actionForm="ngForm" [class.was-validated]="actionForm.submitted">
        <div class="form-group">
          <label>file type</label>
          <div class="border rounded py-2 pr-2 pl-3 mt-1">
            <mat-select [(ngModel)]="matType" (ngModelChange)="filter()" id="filter-folder" name="folder" #folder="ngModel" required>
              <mat-option value="">All types</mat-option>
              <mat-option value="folder" *ngIf="!selectedFolder || folderOptions.length">
                <div class="f-3 c-black">
                  Folder
                </div>
              </mat-option>
              <mat-option value="video">
                <div class="f-3 c-black">
                  Video
                </div>
              </mat-option>
              <mat-option value="pdf">
                <div class="f-3 c-black">
                  Pdf
                </div>
              </mat-option>
              <mat-option value="image">
                <div class="f-3 c-black">
                  Image
                </div>
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="form-group" *ngIf="folders.length > 1">
          <label class="mb-2">folders</label>
          <div class="filter-check-item" *ngFor="let folder of folders">
            <div class="custom-checkbox mb-1">
              <input type="checkbox" class="custom-control-input" id="mff-{{folder._id}}" name="mff-{{folder._id}}"
                (change)="toggleFolderOption(folder._id)" [checked]="folderOptions.indexOf(folder._id) !== -1">
              <label class="custom-control-label" for="mff-{{folder._id}}">
                <div class="f-3 mt-1">{{folder.title}}</div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="(teamService.teams$ | async).length">
          <label class="mb-2">shared with</label>
          <div class="filter-check-item" *ngFor="let team of teamService.teams$ | async">
            <div class="custom-checkbox mb-1">
              <input type="checkbox" class="custom-control-input" id="mft-{{team._id}}" name="mfu-{{team._id}}"
                (change)="toggleTeamOption(team._id)" [checked]="teamOptions.indexOf(team._id) !== -1">
              <label class="custom-control-label" for="mft-{{team._id}}">
                <div class="f-3 mt-1">{{team.name}}</div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="mb-2">owner</label>
          <div class="filter-check-item">
            <div class="custom-checkbox mb-1">
              <input type="checkbox" class="custom-control-input" id="mfu-admin" name="mfu-admin"
                (change)="toggleAdminOption()" [checked]="isAdmin">
              <label class="custom-control-label" for="mfu-admin">
                <div class="f-3 mt-1">Admin</div>
              </label>
            </div>
            <div class="custom-checkbox mb-1">
              <input type="checkbox" class="custom-control-input" id="mfu-me" name="mfu-me"
                (change)="toggleUserOption(user_id)" [checked]="userOptions.indexOf(user_id) !== -1">
              <label class="custom-control-label" for="mfu-me">
                <div class="f-3 mt-1">Me</div>
              </label>
            </div>
            <ng-container *ngFor="let team of teamService.teams$ | async">
              <ng-container *ngFor="let user of team.owner">
                <div class="custom-checkbox mb-1" *ngIf="user._id != user_id">
                  <input type="checkbox" class="custom-control-input" id="mfu-{{user._id}}" name="mfu-{{user._id}}"
                    (change)="toggleUserOption(user._id)" [checked]="userOptions.indexOf(user._id) !== -1">
                  <label class="custom-control-label" for="mfu-{{user._id}}">
                    <div class="f-3 mt-1">{{user.user_name}}</div>
                  </label>
                </div>
              </ng-container>
              <ng-container *ngFor="let user of team.editors">
                <div class="custom-checkbox mb-1" *ngIf="user._id != user_id">
                  <input type="checkbox" class="custom-control-input" id="mfu-{{user._id}}" name="mfu-{{user._id}}"
                    (change)="toggleUserOption(user._id)" [checked]="userOptions.indexOf(user._id) !== -1">
                  <label class="custom-control-label" for="mfu-{{user._id}}">
                    <div class="f-3 mt-1">{{user.user_name}}</div>
                  </label>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="mt-4 d-flex">
          <button type="button" class="btn btn-white font-weight-bold ml-auto" type="button" (click)="drawer.toggle()">Close</button>
        </div>
      </form>
    </div>
  </mat-drawer>
</mat-drawer-container>
