<div class="v-center justify-content-between">
    <h1 mat-dialog-title class="m-0">
        Deal Create
    </h1>
    <button class="v-center border-0 bgc-trans" mat-dialog-close>
        <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
</div>
<form #dealForm="ngForm" (ngSubmit)="submitted = true; dealForm.form.valid ? createDeals() : false">
    <mat-dialog-content>
        <div class="row mt-2">
            <div class="col-sm-6 form-group">
                <label>deal name</label>
                <input
                    class="form-control"
                    type="text"
                    name="dealTitle"
                    #dealTitle="ngModel"
                    [(ngModel)]="title"
                >
                <span
                    class="invalid-error f-3 font-weight-bold c-red mt-1"
                    *ngIf="title == '' && submitted"
                >
                    Title is required
                </span>
            </div>
            <div class="col-sm-6 form-group">
                <label>value</label>
                <input
                    class="form-control"
                    type="number"
                    name="dealValue"
                    #dealValue="ngModel"
                    [(ngModel)]="value"
                >
            </div>
        </div>
        <div class="form-group">
            <label>contact person</label>
            <app-input-contacts
                [selectedContacts]="contacts"
            ></app-input-contacts>
            <span
                class="invalid-error f-3 font-weight-bold c-red mt-1"
                *ngIf="contacts.length == 0 && submitted"
            >
                Contact is required
            </span>
        </div>
        <div class="form-group">
            <label>select stage</label>
            <select
                class="form-control"
                [(ngModel)]="selectedStage"
                name="select_stage"
                #select_stage="ngModel"
            >
                <option
                    *ngFor="let stage of stages"
                    value="{{stage._id}}"
                >
                    {{stage.title}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>add first note</label>
            <textarea
                class="form-control"
                placeholder="Start typing here..."
                name="content"
                #content="ngModel"
                [(ngModel)]="note"
                rows="4"
            ></textarea>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn btn-white f-6 font-weight-bold mr-2" type="button" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary f-6 font-weight-bold" type="submit" [class.loading]="saving">Create</button>
    </mat-dialog-actions>
</form>