@import "src/variables";

textarea {
    background-color: $color-wheat;
    resize: none;
    &.form-control {
        &:focus {
            background-color: $color-wheat;
            color: $color-dark;
        }
    }
}


:host ::ng-deep {
    .chip {
        background-color: blue!important;
        color: white!important;

        .info {
            padding: 2px;
        }
    }
}