<div class="card border-0 rounded-lg px-2 py-5 px-sm-5">
  <div class="mx-3 mt-2">
    <img class="logo" src="../../../assets/img/crmgrow-logo.svg">
    <h4 class="text-center font-weight-bold mb-4">Check your email</h4>
    <p class="f-3 text-center">Please enter the reset code. <br/> Then create and confirm your new password.</p>
  </div>
  <div class="my-3">
    <form role="form" #resetForm="ngForm" (ngSubmit)="submitted=true; resetForm.form.valid && confirm_password == newData.password  ? resetPassword() : false;" >
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && email.invalid && (email.dirty || email.touched || resetForm.submitted)}">
        <label for="email">E-Mail</label>
        <input class="form-control br-default" placeholder="Enter your email" type="email" id="email" [(ngModel)]="newData.email" required name="email" #email="ngModel">
        <span class="error" *ngIf="email.errors">
          <ng-container *ngIf="email.errors.required">E-Mail is required!</ng-container>
          <ng-container *ngIf="email.errors.pattern">E-Mail is invalid!</ng-container>
        </span>
      </div>
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && code.errors && (code.touched || code.dirty || resetForm.submitted )}">
        <label for="code">Your Code</label>
        <input class="form-control br-default" placeholder="Enter your code" type="text" id="code" [(ngModel)]="newData.code" required name="code" #code="ngModel">
        <span class="error" *ngIf="code.errors && (code.touched || code.dirty || submitted ) && submitted">
          Reset code is required.
        </span>
      </div>
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && password.errors && (password.touched || password.dirty || resetForm.submitted )}">
        <label for="password">Password</label>
        <input class="form-control br-default" placeholder="Enter your password" type="password" id="password" [(ngModel)]="newData.password" required name="password" #password="ngModel" minlength="6">
        <span class="error" *ngIf="password.errors && (password.touched || password.dirty || submitted ) && submitted">
                <span [hidden]="!password.errors.required">New password is required!</span>
                <span [hidden]="!password.errors.minlength">New password must be 8 characters at least.</span>
              </span>
      </div>
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || resetForm.submitted )) || confirm_password != newData.password)}">
        <label for="confirmPassword">Confirm Password</label>
        <input class="form-control br-default" placeholder="Confirm your password" type="password" id="confirmPassword" [(ngModel)]="confirm_password" required name="confirmPassword" #confirmPassword="ngModel"
               [class.is-invalid]="submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted )) || confirm_password != newData.password)" minlength="8">
        <span class="error" *ngIf="submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted )) || confirm_password != newData.password)">
                <ng-container *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted ) else validConfirmTemplate">Confirm password is invalid.</ng-container>
                <ng-template #validConfirmTemplate>Doesn't match your password.</ng-template>
              </span>
      </div>
      <div class="custom-control custom-control-alternative text-right">
        <a routerLink="/forgot-password" class="small font-weight-bold">Resend code</a>
      </div>
      <div class="text-center d-block">
        <button type="submit" class="btn btn-primary my-4 w-100" [class.loading]="loading">Reset Password</button>
      </div>
    </form>
    <div class="mt-auto text-center small">
      Don't you have an account? <a routerLink="/signup" class="font-weight-bold">Sign up here</a>
    </div>
  </div>
</div>

