<div class="v-center justify-content-between bgc-blue p-3 email-header">
    <h1 class="f-6 font-weight-bold text-white m-0">
        Email
    </h1>
    <button type="button" class="v-center border-0 bgc-trans close-button" mat-dialog-close>
      <i class="i-icon i-close bgc-white ml-1" aria-hidden="true"></i>
    </button>
</div>
<div class="email-panel">
    <form #emailForm="ngForm" (ngSubmit)="emailSubmitted = true; emailForm.form.valid ? sendEmail() : false">
      <div class="email-box">
        <div class="v-center justify-content-between receiver pl-3 pr-2 py-1 contacts-wrapper">
          <div class="v-center" style="width: 70%;">
            <label class="f-6 op-56 m-0">To:</label>
            <app-input-contacts
              [selectedContacts]="emailContacts"
              [onlyFromSearch]="true"
              [onlySubscriber]="true"
              (onSelect)="checkDuplication('to')"
              (onRemove)="removeContact($event)"
              class="w-100 ml-2"
            ></app-input-contacts>
          </div>
          <div class="v-center">
            <div class="f-6 c-blue p-1 c-pointer" (click)="ccFlag = !ccFlag">{{ccFlag ? "Disable Cc" : "Add Cc"}}</div>
            <div class="f-6 c-blue p-1 c-pointer" (click)="bccFlag = !bccFlag">{{bccFlag ? "Disable Bcc" : "Add Bcc"}}</div>
          </div>
        </div>
        <div class="email-tracking contacts-wrapper" *ngIf="ccFlag || bccFlag">
          <div class="v-center pl-3 f-2 py-1">
            <mat-icon class="mr-2">warning</mat-icon>
            Email tracking is not working if you add cc, bcc.
          </div>
          <div class="v-center pl-3 py-2 email-cc" *ngIf="ccFlag">
            <label class="f-6 text-uppercase op-56 m-0">cc:</label>
            <app-input-contacts
              [selectedContacts]="ccContacts"
              (onSelect)="checkDuplication('cc')"
              class="w-100 ml-2"
            ></app-input-contacts>
          </div>
          <div class="v-center pl-3 py-2 email-bcc" *ngIf="bccFlag">
            <label class="f-6 text-uppercase op-56 m-0">bcc:</label>
            <app-input-contacts
              [selectedContacts]="bccContacts"
              (onSelect)="checkDuplication('bcc')"
              class="w-100 ml-2"
            ></app-input-contacts>
          </div>
        </div>
        <div class="email-title px-3 py-2 position-relative">
          <input
            class="w-100"
            type="text"
            placeholder="Subject:"
            name="emailTitle"
            #emailTitle="ngModel"
            [(ngModel)]="emailSubject"
            required
          >
          <span
            class="invalid-error f-3 c-red inline-error"
            *ngIf="emailTitle.invalid && (emailTitle.touched || emailTitle.dirty || emailSubmitted) && emailSubmitted"
          >
            Required!
          </span>
        </div>
        <div class="email-body">
          <app-html-editor
            [(value)]="emailContent"
            placeholder="Start typing here..."
            required="true"
            hasToken="true"
            [hasAttachment]="true"
            [style]="{height: '300px'}"
            (attachmentChange)="onAttachmentChange($event)"
            #editor
            >
          </app-html-editor>
        </div>
        <div class="p-3 email-setting">
          <div class="v-center">
            <button type="button" class="v-center btn border-primary f-3 font-weight-bold c-blue p-2 mr-2 material-button" (click)="openMaterialsDlg()">
              <i class="d-block i-icon i-material bgc-blue"></i>
              <span class="f-3 font-weight-bold c-blue mx-2">Material</span>
              <i class="d-block i-icon i-plus bgc-blue"></i>
            </button>
            <div ngbDropdown class="email-template px-3 c-pointer" [class.selected]="selectedTemplate.subject && selectedTemplate.content">
              <div class="v-center" ngbDropdownToggle>
                <i class="d-block i-icon i-template bgc-blue"></i>
                <div class="ml-2">
                  <div class="f-3 font-weight-bold c-blue select-title">
                    Template
                  </div>
                  <div class="f-1 font-weight-bold op-64 c-white select-status" *ngIf="selectedTemplate.subject && selectedTemplate.content">
                    Selected
                  </div>
                </div>
              </div>
              <div ngbDropdownMenu class="light p-2">
                <app-input-template
                  [type]="'email'"
                  [placeholder]="'Search templates'"
                  [(template)]="selectedTemplate"
                  (templateChange)="selectTemplate($event)"
                ></app-input-template>
              </div>
            </div>
          </div>
          <div class="v-center justify-content-between mt-2 mt-sm-0 w-100">
            <!-- <div class="v-center">
              <div ngbDropdown class="email-schedule ml-3">
                <div class="v-center" ngbDropdownToggle>
                  <i class="d-block i-icon i-schedule bgc-blue c-pointer"></i>
                  <div class="f-1 font-weight-bold p-1 c-dark show-plan ml-1" [class.show]="this.scheduleDateTime != '' && planned">
                    Planned
                  </div>
                </div>
                <div ngbDropdownMenu class="date-picker p-4">
                  <div class="picker-header v-center justify-content-between mt-2">
                    <div class="f-24 font-weight-bold">Schedule send</div>
                    <div class="i-icon i-close bg-dark" ngbDropdownToggle></div>
                  </div>
                  <div class="mt-3 mb-1">
                    <span class="f-6 op-64">Pick date and time</span>
                  </div>
                  <div class="picker-body">
                    <div classs="date-picker">
                      <ngb-datepicker name="select_date" #dp [(ngModel)]="schedule_date" [minDate]="minDate" [firstDayOfWeek]="7" ></ngb-datepicker>
                    </div>
                    <div class="time-picker ml-0 ml-md-3 mt-2 mt-md-0">
                      <select
                        class="form-control f-6 font-weight-bold"
                        [(ngModel)]="schedule_time"
                        name="time"
                        #time="ngModel"
                      >
                        <option value="" disabled>Due Time</option>
                        <option *ngFor="let time of times" value="{{ time.id }}">
                          {{ time.text }}
                        </option>
                      </select>
                      <div class="f-3 text-center mt-4">
                        {{scheduleDateTime ? 'Message will be sent' : 'Please select time' }}
                      </div>
                      <div class="f-6 font-weight-bold c-dark text-center show-datetime mt-1" [class.p-2]="scheduleDateTime != '' && planned">
                        {{ getScheduleDateTime() | date : 'MMMM d, yyyy hh:mm a' }}
                      </div>
                      <div class="v-center justify-content-center c-pointer p-2 mt-2 remove-schedule" *ngIf="scheduleDateTime != '' && planned" (click)="removeSchedule()">
                        <i class="d-block i-icon i-trash bgc-red mr-2"></i>
                        <span class="f-3 font-weight-bold c-red">Remove schedule</span>
                      </div>
                    </div>
                  </div>
                  <div class="action-button mt-2" align="end">
                    <button class="btn btn-white f-6 font-weight-bold" type="button" ngbDropdownToggle>Cancel</button>
                    <div class="btn btn-primary f-6 font-weight-bold ml-2" (click)="setScheduleDateTime()" ngbDropdownToggle>Set</div>
                  </div>
                </div>
              </div>
              <div class="email-reminder ml-3 c-pointer">
                <i class="d-block i-icon i-reminder bgc-blue"></i>
              </div>
            </div> -->
            <button
              type="submit"
              class="btn btn-blue text-white br-default py-1 f-6 font-weight-bold shadow ml-auto"
              [class.loading]="emailSending"
            >
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
</div>
