<div class="v-center justify-content-between bgc-blue p-3 email-header">
    <h1 class="f-6 font-weight-bold text-white m-0">
        Email
    </h1>
    <div class="v-center">
      <ng-container *ngIf="dialogType == 'global'; else subWindow">
        <button type="button" class="v-center border-0 bgc-trans close-button px-0" (click)="minimizeDialog()">
          <i class="i-icon i-minimize sm bgc-white" aria-hidden="true" *ngIf="storeService.emailWindowType$ | async"></i>
          <i class="i-icon i-maximize sm bgc-white" aria-hidden="true" *ngIf="!(storeService.emailWindowType$ | async)"></i>
        </button>
      </ng-container>
      <ng-template #subWindow>
        <button type="button" class="v-center border-0 bgc-trans close-button px-0" (click)="minimizeDialog()">
          <i class="i-icon i-minimize sm bgc-white" aria-hidden="true" *ngIf="isMinimizable"></i>
          <i class="i-icon i-maximize sm bgc-white" aria-hidden="true" *ngIf="!isMinimizable"></i>
        </button>
      </ng-template>
      <button type="button" class="v-center border-0 bgc-trans close-button" (click)="closeDialog()">
        <i class="i-icon i-close bgc-white" aria-hidden="true"></i>
      </button>
    </div>
</div>
<div class="email-panel"
     [class.minimize-content]="dialogType == 'global' ? !(storeService.emailWindowType$ | async) : !isMinimizable"
>
    <form #emailForm="ngForm" (ngSubmit)="emailSubmitted = true; emailForm.form.valid ? sendEmail() : false">
      <div class="email-box">
        <div class="receiver pl-3 pr-2 py-1 contacts-wrapper address-wrapper">
          <div class="overflow-visible">
            <div class="d-flex w-100" (click)="setFocus()" >
              <label class="f-6 op-56 m-0">To:</label>
              <app-input-contact-chip
                [selectedContacts]="emailContacts"
                [onlyFromSearch]="true"
                [onlySubscriber]="true"
                (onSelect)="checkDuplication('to')"
                (onRemove)="removeContact($event)"
                (onFocus)="setFocus()"
                [focus]="isFocus()"
                class="w-100 ml-2"
                *ngIf="this.type != 'deal'"
              ></app-input-contact-chip>
              <app-input-contact-deal
                [selectedContacts]="emailContacts"
                [onlyFromSearch]="true"
                [onlySubscriber]="true"
                class="w-100"
                *ngIf="this.type == 'deal'"
              ></app-input-contact-deal>
            </div>
            <div class="v-center justify-content-end" *ngIf="isFocus()">
              <div class="f-3 c-blue p-1 c-pointer" (click)="ccFlag = !ccFlag">{{ccFlag ? "Disable Cc" : "Add Cc"}}</div>
              <div class="f-3 c-blue p-1 c-pointer" (click)="bccFlag = !bccFlag">{{bccFlag ? "Disable Bcc" : "Add Bcc"}}</div>
            </div>
          </div>
        </div>
        <div class="email-tracking contacts-wrapper" *ngIf="ccFlag || bccFlag" (click)="blueAll()">
          <div class="v-center pl-3 f-2 py-1">
            <mat-icon class="mr-2">warning</mat-icon>
              Email tracking does not work for any emails in the cc, bcc
          </div>
          <div class="v-center pl-3 py-2 email-cc address-wrapper" *ngIf="ccFlag">
            <label class="f-6 text-uppercase op-56 m-0">cc:</label>
            <app-input-email-chip
              [selectedContacts]="ccContacts"
              (onSelect)="checkDuplication('cc')"
              class="w-100 ml-2"
            ></app-input-email-chip>
          </div>
          <div class="v-center pl-3 py-2 email-bcc address-wrapper" *ngIf="bccFlag">
            <label class="f-6 text-uppercase op-56 m-0">bcc:</label>
            <app-input-email-chip
              [selectedContacts]="bccContacts"
              (onSelect)="checkDuplication('bcc')"
              class="w-100 ml-2"
            ></app-input-email-chip>
          </div>
        </div>
        <div class="email-title px-3 py-2 position-relative" (click)="blueAll()">
          <input
            class="w-100"
            type="text"
            placeholder="Subject:"
            name="emailTitle"
            #emailTitle="ngModel"
            [(ngModel)]="emailSubject"
            (focus)="blueAll()"
            required
          >
          <span
            class="invalid-error f-3 c-red inline-error"
            *ngIf="emailTitle.invalid && (emailTitle.touched || emailTitle.dirty || emailSubmitted) && emailSubmitted"
          >
            Required!
          </span>
        </div>
        <div class="email-body" (click)="blueAll()">
          <app-html-editor
            [(value)]="emailContent"
            placeholder="Start typing here..."
            required="true"
            hasToken="true"
            [hasAttachment]="true"
            [hasTemplates]="true"
            [hasEmoji]="true"
            [hasCalendly]="isCalendly"
            [hasRecord]="true"
            [subject]="emailSubject"
            [style]="{height: '300px'}"
            [submitted]="emailSubmitted"
            (attachmentChange)="onAttachmentChange($event)"
            (onChangeTemplate)="onChangeTemplate($event)"
            #editor
            >
          </app-html-editor>
        </div>
        <div class="p-3 email-setting" (click)="blueAll()">
          <div class="v-center">
            <button type="button" class="v-center btn border-primary f-3 font-weight-bold c-blue p-2 mr-2 material-button" (click)="openMaterialsDlg()">
              <i class="d-block i-icon i-material bgc-blue"></i>
              <span class="f-3 font-weight-bold c-blue mx-2">Material</span>
              <i class="d-block i-icon i-plus bgc-blue"></i>
            </button>
          </div>
          <div class="v-center justify-content-between mt-2 mt-sm-0 w-100">
            <button
              type="submit"
              class="btn btn-blue text-white br-default py-1 f-6 font-weight-bold shadow ml-auto"
              [class.loading]="emailSending"
            >
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
</div>
