@import '../../../variables';

:host ::ng-deep {
    mat-icon {
        cursor: pointer;
        font-size: 35px;
        height: 35px;
        width: 35px;
    }
    mwl-calendar-month-view-header {
        .cal-header-cell {
            float: left;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            &.mobile {
                display: none;
            }
            @media screen and (max-width: 576px) {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    display: block;
                }
            }
        }
    }
    mwl-calendar-week-view-header{
        .cal-day-headers {
            .cal-header {
                &.cal-today {
                    background-color: $color-white;
                    color: $color-blue;
                    .avatar-wrapper {
                        .avatar {
                          background-color: $color-blue;
                          color: #ffffff;
                        }
                    }
                }
                &.cal-weekend {
                    span {
                        color: #FF0000;
                    }
                }
                &:hover {
                    background-color: $color-white;
                }
                .avatar-wrapper {
                    width: 100%;
                    height: 38px;
                  
                    .avatar {
                      width: 38px;
                      min-width: 38px;
                      height: 38px;
                      min-height: 38px;
                      background-color: $color-white;
                      color: $color-dark;
                      box-shadow: unset;
                    }
                }
                span {
                    opacity: 1;
                }
                .mobile {
                    display: none;
                }
                @media screen and (max-width: 576px) {
                    .desktop {
                        display: none;
                    }
                    .mobile {
                        display: block;
                    }
                }
            }
        }
    }
    mwl-calendar-week-view {
        .cal-week-view {
            .cal-hour {
                &:not(:last-child) {
                    .cal-hour-segment {
                        border-bottom: 1px solid #e1e1e1;
                    }
                }
                &.cal-hour-odd {
                    background-color: $color-white;
                }
            }
        }
    }
    mwl-calendar-month-cell {
        &.cal-cell.cal-day-cell {
            min-height: 140px;
            background-color: white;
            &.cal-today {
                background-color: white;
                .cal-day-number {
                    background-color: #0000FF;
                    color: white;
                    border-radius: 50%;
                    font-size: 12px;
                }
            }
            &:hover {
                background-color: white;
            }
        }
        .cal-cell-top {
            min-height: 0;
            flex: none;
            text-align: center;
            .cal-day-number {
                font-size: 12px;
                width: 25px;
                height: 25px;
                display: inline-block;
                padding-top: 4px;
                margin: 0;
                float: none;
                opacity: 1;
            }
        }
        .cal-events {
            .cal-events-header {
                color: rgb(11, 128, 67);
                border-radius: 8px;
                border: 3px solid;
                height: 0;
                width: 0;
            }
            .cal-events-body {
                font-size: 12px;
                font-weight: 600;
                color: #3c4043;
                white-space: nowrap;
                font-family: Roboto,Helvetica,Arial,sans-serif;
                width: 10px;
                .cal-events-time {
                    font-weight: lighter;
                }
            }
            &:hover {
                background-color: #ededed;
            }
        }
    }
}

.page-title {
    font-size: 22px;
}

.calendar-time {
    .btn {
        i {
            width: 12px;
            height: 12px;
            min-width: 12px;
        }
    }
    .small-button {
        display: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        i {
            width: 12px;
            height: 12px;
            min-width: 12px;
        }
    }
    .dropdown {
        &:hover, &:active, &:focus {
            box-shadow: 0 5px 24px -5px rgba(16, 19, 54, 0.24);
        }
        .dropdown-menu {
            min-width: 14rem;
            left: unset !important;
            right: 8px;
            .first-calendar {
                .custom-control-input {
                    &:checked ~ .custom-control-label {
                        &:before {
                            border-color: #04B800;
                            background-color:#04B800;
                        }
                    }
                    &:focus ~ .custom-control-label {
                        &:before {
                            border-color: #04B800;
                        }
                    }
                    &:active ~ .custom-control-label {
                        &:before {
                            border-color: #04B800;
                        }
                    }
                }
                .custom-control-label {
                    opacity: 1;
                }
            }
            .second-calendar {
                .custom-control-input {
                    &:checked ~ .custom-control-label {
                        &:before {
                            border-color: #F7B500;
                            background-color:#F7B500;
                        }
                    }
                    &:focus ~ .custom-control-label {
                        &:before {
                            border-color: #F7B500;
                        }
                    }
                    &:active ~ .custom-control-label {
                        &:before {
                            border-color: #F7B500;
                        }
                    }
                }
                .custom-control-label {
                    opacity: 1;
                }
            }
        }
    }
    .date {
        width: 300px;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        .mobile {
            display: none;
        }
        @media screen and (max-width: 576px) {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
        }
    }
    @media screen and (max-width: 576px) {
        .btn {
            display: none;
        }
        .small-button {
            display: flex;
            justify-content: center;
        }
        .dropdown-menu {
            right: 0;
            left: unset !important;
        }
        .date {
            width: 140px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.connect-calendar {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 18px;
    color: #32325d;
    a {
        cursor: pointer;
    }
}