<div class="page-content p-2">
    <div class="f-3 font-weight-bold">
        Stage Name
    </div>
    <div
        cdkDropList
        [cdkDropListData]="stages"
        (cdkDropListDropped)="drop($event)"
        class="stages mt-2"
    >
        <div cdkDrag class="stage py-2 pr-2" *ngFor="let stage of stages">
            <div class="v-center">
                <i cdkDragHandle class="d-block i-icon i-list-circle bgc-dark c-pointer"></i>
                <div class="form-group mb-0 ml-2 flex-grow-1 stage-form">
                    <app-stage-input [stage]="stage"></app-stage-input>
                </div>
                <i class="d-block i-icon i-trash bgc-dark ml-auto c-pointer" (click)="moveDelete(stage._id)"></i>
            </div>
        </div>
        <div class="v-center px-2 py-3 stage add">
            <i class="d-block i-icon i-plus bgc-blue mr-1"></i>
            <div class="f-3 font-weight-bold c-blue c-pointer" (click)="addStage()">
                Add deal stage
            </div>
        </div>
    </div>
</div>
