.page-content {
    width: 100%;
    max-width: 800px;
    .stages {
        .stage {
            box-shadow: 0 1px 0 0 #D9D9DF;
            .stage-title {
                width: 500px;
                height: 40px;
                border: 1px solid rgba(16,19,54,0.24);
                border-radius: 3px;
                @media screen and (max-width: 768px) {
                    width: 300px;
                }
                @media screen and (max-width: 375px) {
                    width: 200px;
                }
            }
            .i-list-circle {
                width: 24px;
                background-color: #797B8F;
            }
            &.add {
                i {
                    width: 12px;
                    height: 12px;
                    min-width: 12px;
                }
            }
        }
    }
}