<div class="event-container" [class.other]="!event.meta.is_organizer">
    <div class="v-center mb-0 header p-3 decide-actions" *ngIf="!event.meta.is_organizer">
        <div class="d-flex flex-grow-1">
            <ng-container [ngSwitch]="responseStatus">
                <ng-container *ngSwitchCase="'needsAction'">
                    <div class="col-6 pl-0 pr-1">
                        <button class="btn btn-accept f-1 font-weight-bold w-100 py-2" (click)="accept()" [class.loading]="accepting">Accept</button>
                    </div>
                    <div class="col-6 pl-1 pr-0">
                        <button class="btn btn-red f-1 font-weight-bold w-100 py-2" (click)="decline()" [class.loading]="declining">Decline</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'accepted'">
                    <div class="col-6 pl-0 pr-1">
                        <button class="btn btn-accept f-1 font-weight-bold w-100 py-2 op-28">Accepted</button>
                    </div>
                    <div class="col-6 pl-1 pr-0">
                        <button class="btn btn-red f-1 font-weight-bold w-100 py-2" (click)="decline()" [class.loading]="declining">Decline</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'declined'">
                    <div class="col-6 pl-0 pr-1">
                        <button class="btn btn-accept f-1 font-weight-bold w-100 py-2" (click)="accept()" [class.loading]="accepting">Accept</button>
                    </div>
                    <div class="col-6 pl-1 pr-0">
                        <button class="btn btn-red f-1 font-weight-bold w-100 py-2 op-28">Declined</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'tentative'">
                    <div class="col-6 pl-0 pr-1">
                        <button class="btn btn-accept f-1 font-weight-bold w-100 py-2" (click)="accept()" [class.loading]="accepting">Accept</button>
                    </div>
                    <div class="col-6 pl-1 pr-0">
                        <button class="btn btn-red f-1 font-weight-bold w-100 py-2" (click)="decline()" [class.loading]="declining">Decline</button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="hasLink && event.start && event.meta?.event_id">
            <a [routerLink]="getCalendarLink()" [queryParams]="{event: event.meta.event_id}" class="ml-2">
                <i class="i-icon i-expand bgc-dark d-block" aria-hidden="true"></i>
            </a>
        </ng-container>
    </div>
    <div class="v-center header p-3 mb-0 main-actions justify-content-end" *ngIf="event.meta?.is_organizer">
        <ng-container *ngIf="hasLink && event.start && event.meta?.event_id">
            <a [routerLink]="getCalendarLink()" [queryParams]="{event: event.meta.event_id}">
                <i class="i-icon i-expand bgc-dark d-block" aria-hidden="true"></i>
            </a>
        </ng-container>
        <span class="ml-2 c-pointer" (click)="update()"><i class="i-icon i-edit d-block bgc-blue"></i></span>
        <span class="ml-2 c-pointer" (click)="remove()"><i class="i-icon i-trash d-block bgc-red"></i></span>
        <button type="button" class="v-center border-0 bgc-trans close-button p-0 ml-2" (click)="close()">
            <i class="i-icon i-close bgc-dark" aria-hidden="true"></i>
        </button>
    </div>
    <div class="event-detail">
        <div class="event-detail-inner px-3 pb-3">
            <div class="v-center justify-content-between form-group">
                <div class="f-3 font-weight-bold">
                    {{event.title}}
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="time" class="mb-1">time</label>
                <div class="f-1 font-weight-bold">
                    {{event.start | date: 'shortTime'}} - {{event.end | date: 'shortTime'}}, {{event.end | date: 'MMM d y'}}
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="location" class="mb-1">location</label>
                <div class="v-center">
                    <span class="mr-2"><i class="i-icon i-location d-block bgc-blue"></i></span>
                    <span class="f-1 font-weight-bold text-primary">{{event.meta.location}}</span>
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="description" class="mb-1">description</label>
                <div class="f-1 description" [innerHTML]="event.meta.description">
                    <!-- {{(event.meta.description || '') | stripTags }} -->
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="organizer" class="mb-1">organizer</label>
                <div class="v-center member">
                    <div class="avatar mr-1"></div>
                    <span class="f-2 fw-600">{{event.meta.organizer}}</span>
                </div>
            </div>
            <div class="form-group mb-1">
                <label for="guests" class="mb-1">{{event.meta.guests.length}} guests</label>
                <ng-container *ngFor="let guest of event.meta.guests">
                    <div class="v-center member mb-1">
                        <div class="response {{guest.response}} mr-1"></div>
                        <span class="f-2 fw-600">{{guest.email}}</span>
                    </div>
                </ng-container>
            </div>
            <!-- <div class="form-group">
                <label for="zoom-link" class="mb-1">zoom-link</label>
                <div class="f-1 font-weight-bold text-primary">
                    {{zoom_link}}
                </div>
            </div> -->
        </div>
    </div>
</div>