<div class="event-container">
    <div class="v-center justify-content-between form-group">
        <div class="f-3 font-weight-bold">
            {{event.title}}
        </div>
        <div class="v-center">
            <span class="mr-2" (click)="update()"><i class="i-icon i-edit d-block bgc-blue"></i></span>
            <span (click)="remove()"><i class="i-icon i-trash d-block bgc-red"></i></span>
        </div>
    </div>
    <div class="form-group mb-1">
        <label for="time" class="mb-1">time</label>
        <div class="f-1 font-weight-bold">
            {{event.start | date: 'shortTime'}} - {{event.end | date: 'shortTime'}}, {{event.end | date: 'MMM d y'}}
        </div>
    </div>
    <div class="form-group mb-1">
        <label for="location" class="mb-1">location</label>
        <div class="v-center">
            <span class="mr-2"><i class="i-icon i-location d-block bgc-blue"></i></span>
            <span class="f-1 font-weight-bold text-primary">{{event.meta.location}}</span>
        </div>
    </div>
    <div class="form-group mb-1">
        <label for="description" class="mb-1">description</label>
        <div class="f-1 font-weight-bold">
            {{event.meta.description | stripe}}
        </div>
    </div>
    <div class="form-group mb-1">
        <label for="organizer" class="mb-1">organizer</label>
        <div class="v-center">

        </div>
    </div>
    <div class="form-group mb-1">
        <label for="guests" class="mb-1">{{event.meta.guests.length}} guests</label>
        <div class="v-center f-3" *ngFor="let guest of event.meta.guests">
            
        </div>
    </div>
    <div class="form-group">
        <label for="zoom-link" class="mb-1">zoom-link</label>
        <div class="f-1 font-weight-bold text-primary">
            {{zoom_link}}
        </div>
    </div>
</div>