@import 'src/variables.scss';

:host ::ng-deep {
    mat-dialog-content {
        max-height: 70vh;
    }
    mat-tab-group {
        .mat-tab-labels {
            display: flex;
            justify-content: space-around;
            .mat-tab-label {
                opacity: 1;
                .mat-tab-label-content {
                    font-size: 16px;
                    font-weight: bold;
                    color: $color-blue;
                }
            }
        }
        .mat-ink-bar {
            background-color: $color-blue !important;
            height: 4px;
        }
        textarea {
            resize: none;
        }
    }
}
.material-preivew {
    position: relative;
    img {
        width: 160px;
        height: 90px;
    }
    .material-count {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        .dropdown-toggle {
            &::after {
                content: none;
            }
        }
        .dropdown-menu {
            &.show {
                min-width: 25rem;
                max-height: 20rem;
                overflow: auto;
                @media screen and (max-width: 576px) {
                    min-width: 16rem;
                }
            }
            .dropdown-item {
                white-space: none;
                .thumb-col {
                    .thumb-prev-wrapper img {
                        width: 96px;
                        height: 54px;
                        object-fit: cover;
                        @media screen and (max-width: 576px) {
                            width: 128px;
                            height: 72px;
                        }
                    }
                    
                    .thumb-prev-wrapper .preview {
                        display: none;
                    }
                    
                    .thumb-prev-wrapper {
                        &:hover .preview {
                            display: block;
                        }
                        &:hover .thumbnail {
                            display: none;
                        }
                    }
                }
                @media screen and (max-width: 576px) {
                    display: block;
                }
            }
        }
    }
}
.material-more {
    i {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }
}