@import 'src/variables.scss';

.sub-sidebar {
  width: 112px;
  z-index: 2;

  a.active {
    color: blue;
    i {
      background-color: blue;
    }
  }

  @media screen and (max-width: 360px) {
    width: 20px;
    a.nav-link {
      padding-right: 0px;
      span {
        display: none;
      }
      i {
        margin-right: 0px;
      }

      &:hover {
        position: relative;
        span {
          display: block;
          position: absolute;
          right: 0px;
          transform: translateX(100%);
          background-color: white;
          padding: 2px 8px;
          border-radius: 2px;
          box-shadow: 0px 0px 4px #ccc;
        }
      }
    }
  }
}