<form #actionForm="ngForm" class="dialog-container form-group">
  <div class="v-center justify-content-between mx-0">
    <h4 class="f-22 font-weight-bold c-black">Group call inquiry</h4>
    <button class="v-center border-0 bgc-trans close-button" mat-dialog-close>
      <i class="i-icon i-close bgc-black ml-1" aria-hidden="true"></i>
    </button>
  </div>
  <mat-dialog-content class="content-section">
    <ng-container>
      <div class="my-3">
        <label>Subject</label>
        <div class="f-8 font-weight-bold">
          {{formData.subject}}
        </div>
      </div>
      <div class="my-3" *ngIf="!isLeader && formData.leader">
        <label>Leader</label>
        <div class="v-center">
          <ng-container *ngIf="formData.leader.picture_profile; else leaderProfilePlaceholder">
            <img [src]="formData.leader.picture_profile" class="avatar" />
          </ng-container>
          <ng-template #leaderProfilePlaceholder>
            <div class="name-avatar">
              {{formData.leader.user_name[0]}}
            </div>
          </ng-template>
          <div class="f-4 font-weight-bold c-blue ml-2">{{formData.leader.user_name}}</div>
        </div>
      </div>
      <div class="my-3">
        <label>Organizer</label>
        <div class="v-center">
          <ng-container *ngIf="formData.user.picture_profile; else userProfilePlaceholder">
            <img [src]="formData.user.picture_profile" class="avatar" />
          </ng-container>
          <ng-template #userProfilePlaceholder>
            <div class="name-avatar">
              {{formData.user.user_name[0]}}
            </div>
          </ng-template>
          <div class="f-4 font-weight-bold c-blue ml-2">{{formData.user.user_name}}</div>
        </div>
      </div>
      <div class="my-3">
        <label>Invite contacts & guests</label>
        <div class="members" *ngFor="let contact of formData.contacts">
          <div class="v-center mb-2">
            <ng-container *ngIf="contact.picture_profile; else prospectNamePlaceholder">
              <img [src]="contact.picture_profile" class="avatar" />
            </ng-container>
            <ng-template #prospectNamePlaceholder>
              <div class="name-avatar">{{contact.first_name[0]}}</div>
            </ng-template>
            <div class="f-4 font-weight-bold c-blue ml-2">
              {{contact.first_name + " " + contact.last_name}}
            </div>
          </div>
        </div>
      </div>
      <div class="my-3" *ngIf="formData.description !== 'undefined' || formData.description !== ''">
        <label>Description</label>
        <div class="text-wrapper description bgc-silver f-4">{{formData.description | stripe | slice:0:80}}</div>
      </div>
      <div class="my-3">
        <label>Duration</label>
        <div class="f-5 font-weight-bold">{{duration}}</div>
      </div>
      <div class="my-3">
        <label>Select Suiting Date</label>
        <div class="date-container" *ngFor="let suiteDate of callDates">
          <div class="v-center mb-2">
            <div class="custom-radio-container" (click)="selectSuiteDate(suiteDate)">
              <input class="custom-radio" type="radio" id="suite-date" [name]="suiteDate" [checked]="isSelectedDate(suiteDate)">
              <label class="f-6 font-weight-bold" [htmlFor]="suiteDate"> </label>
            </div>
            <button class="v-center border-0 bgc-trans ml-1" (click)="selectSuiteDate(suiteDate)">
              <i class="i-icon i-calendar bgc-dark" aria-hidden="true"></i>
              <span class="ml-2 f-4 c-dark font-weight-bold">{{suiteDate | date : 'MMM dd, yyyy h:mm a'}}</span>
            </button>
          </div>
        </div>
      </div>
      <button class="border-0 f-4 c-blue bgc-trans font-weight-bold">Click here to attach your calendar link</button>
      <div class="my-3">
        <button class="v-center border-0 bgc-trans">
          <i class="i-icon i-plus bgc-blue" aria-hidden="true"></i>
          <span class="ml-2 f-4 c-blue font-weight-bold">Pick your own date & time</span>
        </button>
      </div>
      <ng-container>
        <div class="my-3">
          <label>Note</label>
          <quill-editor placeholder="Enter Text" [(ngModel)]="note" [modules]="config" name="noteContent"
                        [styles]="{height: '120px'}" #noteContent="ngModel" required (onEditorCreated)="getEditorInstance($event)"
                        [class.has-error]="noteContent.errors && (noteContent.touched || noteContent.dirty )" class="rounded" #noteEditor>
          </quill-editor>
        </div>
      </ng-container>
    </ng-container>
  </mat-dialog-content>
  <ng-container *ngIf="formData.status != 'pending'">
    <ng-container *ngIf="isNoteEditable; else backButton">
      <mat-dialog-actions class="justify-content-end mx-0">
        <button type="button" class="btn bgc-trans c-blue" (click)="addNote()">
          Back
        </button>
      </mat-dialog-actions>
    </ng-container>
    <ng-template #backButton>
      <mat-dialog-actions class="justify-content-end mx-0">
        <button type="button" class="btn bgc-trans c-blue" (click)="closeDialog()">
          Back
        </button>
      </mat-dialog-actions>
    </ng-template>
    <button type="button" class="btn bgc-trans font-weight-bold c-blue">
      Send organizer a message
    </button>
  </ng-container>
  <ng-container *ngIf="formData.status == 'pending' || isCancelLoading || isAcceptLoading">
    <mat-dialog-actions class="justify-content-between mx-0">
      <button type="button" class="btn bgc-trans font-weight-bold c-blue" (click)="closeDialog()">
        Back
      </button>
      <div>
        <button type="button" class="btn bgc-trans font-weight-bold c-blue">
          Send organizer a message
        </button>
        <button type="button" class="btn btn-decline font-weight-bold mr-2" *ngIf="(isLeader || isOrganizer) && !isCancelLoading" (click)="cancelRequest()">
          {{"Decline"}}
        </button>
        <app-loading-button [class]="'btn btn-decline font-weight-bold mr-2'" [title]="isLeader ? 'Rejecting' : 'Canceling'" *ngIf="(isLeader || isOrganizer) && isCancelLoading">
        </app-loading-button>
        <button class="btn btn-accept font-weight-bold" *ngIf="isLeader && !isAcceptLoading" (click)="acceptRequest()">
          Accept
        </button>
        <app-loading-button [class]="'btn btn-accept font-weight-bold'" [title]="'Accepting'" *ngIf="isLeader && isAcceptLoading">
        </app-loading-button>
      </div>

    </mat-dialog-actions>
  </ng-container>
</form>
