<h1 mat-dialog-title>Group call inquiry</h1>
<form #actionForm="ngForm" (ngSubmit)="acceptRequest()">
  <mat-dialog-content class="content-section form-group">
    <ng-container>
      <div class="my-3">
        <label>Subject</label>
        <div class="f-8 font-weight-bold">
          {{formData.subject}}
        </div>
      </div>
      <div class="my-3" *ngIf="!isLeader && formData.leader">
        <label>Leader</label>
        <div class="v-center">
          <ng-container *ngIf="formData.leader.picture_profile; else leaderProfilePlaceholder">
            <img [src]="formData.leader.picture_profile" class="avatar" />
          </ng-container>
          <ng-template #leaderProfilePlaceholder>
            <div class="name-avatar">
              {{formData.leader.user_name[0]}}
            </div>
          </ng-template>
          <div class="f-4 font-weight-bold c-blue ml-2">{{formData.leader.user_name}}</div>
        </div>
      </div>
      <div class="my-3">
        <label>Organizer</label>
        <div class="v-center">
          <ng-container *ngIf="formData.user.picture_profile; else userProfilePlaceholder">
            <img [src]="formData.user.picture_profile" class="avatar" />
          </ng-container>
          <ng-template #userProfilePlaceholder>
            <div class="name-avatar">
              {{formData.user.user_name[0]}}
            </div>
          </ng-template>
          <div class="f-4 font-weight-bold c-blue ml-2">{{formData.user.user_name}}</div>
        </div>
      </div>
      <div class="my-3">
        <label>Invite contacts & guests</label>
        <div class="members" *ngFor="let contact of formData.contacts">
          <div class="v-center mb-2">
            <ng-container *ngIf="contact.picture_profile; else prospectNamePlaceholder">
              <img [src]="contact.picture_profile" class="avatar" />
            </ng-container>
            <ng-template #prospectNamePlaceholder>
              <div class="name-avatar">{{contact.first_name[0]}}</div>
            </ng-template>
            <div class="f-4 font-weight-bold c-blue ml-2">
              {{contact.first_name + " " + contact.last_name}}
            </div>
          </div>
        </div>
      </div>
      <div class="my-3" *ngIf="formData.description">
        <label>Description</label>
        <div class="text-wrapper description bgc-silver f-4">{{formData.description || '' | stripTags | shorten: 80: '...'}}</div>
      </div>
      <div class="my-3">
        <label>Duration</label>
        <div class="f-5 font-weight-bold">{{duration}}</div>
      </div>
      <div class="my-3">
        <label>Select Suiting Date</label>
        <div class="date-container" *ngFor="let suiteDate of formData.proposed_at; let i=index">
          <div class="v-center mb-2">
            <div class="custom-radio-container" (click)="selectSuiteDate(suiteDate)">
              <input class="custom-radio" type="radio" [id]="'suite-date-' + i" [name]="'suite-date-' + i" [checked]="isSelectedDate(suiteDate)">
              <label class="f-6 font-weight-bold" [htmlFor]="'suite-date-' + i"> </label>
            </div>
            <button type="button" class="v-center border-0 bgc-trans ml-1" (click)="selectSuiteDate(suiteDate)">
              <i class="i-icon i-calendar bgc-dark" aria-hidden="true"></i>
              <span class="ml-2 f-4 c-dark font-weight-bold">{{suiteDate | date : 'MMM dd, yyyy h:mm a'}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <label>Your calender Link</label>
        <div type="button" class="border-0 f-4 c-blue bgc-trans font-weight-bold" (click)="calendarLink()" *ngIf="calendaryLink == ''">
          Click here to attach your calendar link
        </div>
        <div class="f-4 font-weight-bold c-dark">{{calendaryLink}}</div>
      </div>
      <div class="mt-3">
        <label>Select Own Date & Time</label>
        <div class="f-4 c-dark font-weight-bold" *ngIf="ownDateTime">
          {{ownDateTime | date : 'MMM dd, yyyy h:mm a'}}
        </div>
      </div>
      <div ngbDropdown class="mt-2 mb-3">
        <button type="button" class="v-center border-0 bgc-trans" ngbDropdownToggle>
          <i class="i-icon i-plus bgc-blue" aria-hidden="true"></i>
          <span class="ml-2 f-4 c-blue font-weight-bold">Pick your own date & time</span>
        </button>
        <div ngbDropdownMenu class="date-time-picker mb-3">
          <div class="picker-header v-center justify-content-between mt-2">
            <div class="f-6 font-weight-bold">Send time</div>
            <div class="f-6 c-blue font-weight-bold">{{ getDateTime() | date : 'd MMM yyyy hh:mm a'}}</div>
          </div>
          <hr class="mt-3 mb-1">
          <div class="picker-body v-center justify-content-between">
            <div classs="date-picker">
              <ngb-datepicker name="select_date" #dp [(ngModel)]="date" [minDate]="minDate" [firstDayOfWeek]="7" ></ngb-datepicker>
            </div>
            <div class="time-picker ml-3">
              <ngb-timepicker name="select_time" [(ngModel)]="time" [meridian]="'ON'"></ngb-timepicker>
              <div class="action-button mt-4" align="end">
                <button type="button" class="btn btn-white" type="button" ngbDropdownToggle>Cancel</button>
                <div class="btn btn-primary ml-2" (click)="setDateTime()" ngbDropdownToggle>Set</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="isNoteEditable">
        <div class="my-3">
          <label>Note</label>
          <app-html-editor
            [(value)]="note"
            placeholder="Enter Text..."
            [noImage]="true"
            [style]="{height: '200px'}"
            #editor
          >
          </app-html-editor>
        </div>
      </ng-container>
    </ng-container>
  </mat-dialog-content>
  <ng-container *ngIf="formData.status != 'pending'">
    <ng-container *ngIf="isNoteEditable; else backButton">
      <mat-dialog-actions class="justify-content-between ">
        <button type="button" class="btn bgc-trans c-blue" (click)="addNote()">
          Back
        </button>
        <button type="button" class="btn bgc-trans font-weight-bold c-blue" (click)="sendMessage()">
          Send organizer a message
        </button>
      </mat-dialog-actions>
    </ng-container>
    <ng-template #backButton>
      <mat-dialog-actions class="justify-content-between">
        <button type="button" class="btn bgc-trans c-blue" (click)="closeDialog()">
          Back
        </button>
        <button type="button" class="btn bgc-trans font-weight-bold c-blue" (click)="sendMessage()">
          Send organizer a message
        </button>
      </mat-dialog-actions>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="formData.status == 'pending' || isCancelLoading || isAcceptLoading">
    <mat-dialog-actions class="button-group justify-content-between mx-0">
      <button type="button" class="btn bgc-trans font-weight-bold c-blue" (click)="addNote()">
        Back
      </button>
      <button type="button" class="btn bgc-trans font-weight-bold c-blue">
        Send organizer a message
      </button>
      <div class="v-center">
        <button type="button" class="btn btn-decline font-weight-bold mr-2"
                [class.loading]="(isLeader || isOrganizer) && isCancelLoading"
                [class.bgc-red]="(isLeader || isOrganizer) && isCancelLoading" (click)="cancelRequest()"
                *ngIf="isLeader || isOrganizer"
        >
          Decline
        </button>
        <button type="submit" class="btn btn-accept font-weight-bold"
                [class.loading]="isLeader && isAcceptLoading"
                *ngIf="isLeader"
        >
          Accept
        </button>
      </div>
    </mat-dialog-actions>
  </ng-container>
</form>
