.title-desc {
  line-height: 1;
  font-weight: 400;
}

.popup {
  flex-direction: column;
}

.contact-lists {
  display: flex;
  margin-bottom: 15px;
  height: 250px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    max-height: 500px;
    height: unset;

    & > div {
      padding: 0px;
      margin-bottom: 8px;
    }
  }
}
.contact-search {
  flex: 1;
  padding-right: 8px;
}
.search-form {
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: 0px;
  }
}
.searched-result {
  flex: 1;
  max-height: 210px;
  margin-top: 8px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid gainsboro;

  ul {
    list-style: none;
    padding: 0px;
    max-height: 210px;
    overflow: auto;
    margin: 0px;

    li.empty {
      text-align: center;
      border-radius: 5px;
      margin: 0px;
      border: none;

      .manual {
        font-weight: 600;
        color: #5e72e4;
      }
    }

    li.action {
      text-align: center;
      padding: 0px;
      position: sticky;
      top: 0px;
      z-index: 10;
      background: white;
      a {
        font-size: 13px;
        display: block;
        padding: 3px 8px;
      }
    }
  }
}

.selected-contacts {
  flex: 1;
  border: 1px solid gainsboro;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -6px;
  padding-left: 3px;
  padding-bottom: 4px;

  .selected-actions {
    height: 32px;
  }

  .contact-list {
    max-height: 210px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0px;

    ul {
      li.empty {
        text-align: center;
        border-radius: 5px;
        margin: 0px;
        border: none;

        p {
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
  }
}

:host ::ng-deep {
  .select2-container {
    border: 1px solid gainsboro;
    border-radius: 4px;
  }
}

.materials {
  scrollbar-width: thin;
  scrollbar-color: gainsboro white;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
    border: none;
  }
}

.materials {
  display: flex;
  overflow: auto;

  .video {
    margin-right: 5px;
    position: relative;
    margin-top: 13px;

    .img-wrapper {
      width: 140px;
      height: 78px;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 100%;
      }
    }
    .title {
      font-size: 12px;
      padding: 5px;
      max-height: 44px;
      overflow: hidden;
    }

    .signal {
      position: absolute;
      width: 26px;
      height: 26px;
      background: #347aff;
      top: -13px;
      right: 5px;
      z-index: 2;
      border-radius: 50%;
      border-bottom: 4px solid white;
      border-top: 4px solid #347aff;
      border-right: 4px solid white;
      border-left: 4px solid #347aff;
      transform: rotate(45deg);

      &::after {
        content: "";
        width: 16px;
        height: 8px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        position: absolute;
        transform: rotate(-90deg);
        top: 3px;
      }
    }
  }
}

p {
  font-size: 14px;
  font-weight: 400;
}

.move-actions {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;

  button {
    margin-right: 0px;
    margin-bottom: 5px;
    padding: 5px 3px;

    span.desc {
      display: block;
      font-size: 8px !important;
    }
    span.mark {
      font-size: 14px !important;
      background-color: transparent;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: row;

    button {
      width: 60px;

      span.mark {
        transform: rotate(90deg);
      }
    }
  }
}

.search-group {
  margin: 0px;
  .input-group-text {
    padding: 5px 10px;
    background: #eee;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  input {
    padding-left: 10px;
  }
}

.search-group {
  position: relative;
  z-index: 100;
  margin: 0px;

  input {
    border-right: 1px solid gainsboro;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 65px;
  }

  .label-search {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    position: absolute;
    right: 5px;
    cursor: pointer;
    z-index: 10;
    color: white;
    background: green;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    top: 6px;
    line-height: 1.2;
    text-decoration: none;
  }

  .searched-result {
    position: absolute;
    background: white;
    width: 100%;
    max-width: 280px;
    left: 35px;
    box-shadow: 0px 10px 10px #ccc;

    &.label-searched {
      left: unset;
      right: 0px;
    }

    ul {
      li {
        margin: 0px;
        margin-top: -1px;
        border-radius: 0px;
      }
    }
  }
}

.field-actions {
  button {
    padding: 5px 10px;
    height: 22px;
    line-height: 14px;
    transform: none!important;
    font-size: 11px;
    margin-right: 5px;
    box-shadow: none;
    font-weight: bold;

    @media screen and (max-width: 576px) {
      padding: 5px;
    }
  }

  .button-more-container {
    button {
      margin: 5px 0px;
    }
  }
}

.button-more-container {
  .actions {
    padding: 5px;
    text-align: left;
  }
}

.button-more {
  display: inline-block;

  .i-icon {
    width: 10px;
    height: 10px;
  }
  a {
    &::after {
      display: none;
    }
  }
}


:host ::ng-deep {
  .dropdown-menu {
    padding: 0;
    min-width: 8rem;
  }
}



.search-form {
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 4px 8px;
  align-items: center;
  min-height: 40px;

  input {
    width: unset;
    min-width: 67px;
    border: none;
    font-size: 14px;
    height: unset;
    padding: 4px 0px 4px 6px;
    outline: none!important;
    flex-grow: 1;
    background: transparent!important;
  }

  .contact-chip {
    padding: 2px 24px 2px 6px;
    background: blue;
    position: relative;
    cursor: pointer;
    margin: 2px 2px 2px 0px;
    border: 1px solid #0000ff;
    box-shadow: 0px 0px 5px #eee;
    border-radius: 16px;
    display: flex;
    color: white;

    .name {
      font-size: 13px;
      font-weight: 400;
      user-select: none;
    }

    .email {
      font-size: 12px;
      font-weight: 400;
      user-select: none;
    }

    .remove-icon {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-8px);

      &::after {
        position: absolute;
        width: 2px;
        height: 12px;
        transform: rotate(45deg);
        content: "";
        background: blue;
        top: 2px;
        left: 7px;
      }

      &::before {
        position: absolute;
        width: 2px;
        height: 12px;
        transform: rotate(-45deg);
        content: "";
        background: blue;
        top: 2px;
        left: 7px;
      }
    }
  }

  .label-search {
    font-size: 13px;
    margin-left: auto;
    background: #1fb34c;
    color: white;
    padding: 0px 4px;
    border-radius: 4px;
  }
}

.searched-contacts {
  padding: 25px 16px 8px 16px;
  max-height: 210px;
  overflow: auto;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #aaa8;

  .chip {
    cursor: pointer;
  }

  .action {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    text-align: center;
    background: white;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.empty {
    text-align: center;
    border-radius: 5px;
    margin: 0px;
    border: none;

    .manual {
      font-weight: 600;
      color: #5e72e4;
    }
  }
}