<div mat-dialog-title class="title v-center d-flex">
  <h4 class="mb-0 font-weight-bold f-24">Share CRMGROW</h4>
  <i class="d-block i-icon i-close bgc-dark ml-auto" mat-dialog-close></i>
</div>

<mat-dialog-content>

  <div class="form-group contacts-form">
    <div class="v-center mb-1">
      <label class="mb-0">Referrals to share</label>
      <a
        class="label-search ml-auto f-2 td-none c-pointer"
        [class.hidden]="!labelSearchedContacts.length"
        (click)="openLabelContacts()"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        #teamTrigger>Insert Team Contacts</a>
    </div>
    <app-input-contacts
      [selectedContacts]="selectedContacts"
      [onlyFromSearch]="false"
      [chipType]="'inline'"
      [display]="'email'"
      [placeholder]="'Add Referrals'"
    >
    </app-input-contacts>
    <span class="invalid-feedback d-block f-2 mt-0" *ngIf="submitted && !selectedContacts.length">
      Please add referrals to share.
    </span>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayPositions]="connectedPositions"
    (overlayOutsideClick)="closeOverlay($event)"
  >
    <div class="searched-contacts mt-0 bg-white">
      <div *ngIf="labelSearchedContacts.length" class="action mr-0 c-pointer" (click)="addAllLabelSearched()">
        <a>Select All</a>
      </div>
      <ng-container *ngFor="let contact of labelSearchedContacts; let i = index;">
        <div class="d-flex chip py-2" (click)="addContact(contact)">
          <div class="form-avatar rounded-circle bg-dark mr-3 mt-1">{{contact.avatarName}}</div>
          <div class="info">
            <div class="f-5 font-weight-bold">{{contact.name}}</div>
            <div class="f-2">{{contact['email'] || 'Undefined'}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <div class="form-group mt-3">
    <label class="theme-label">Subject</label>
    <input class="form-control" placeholder="Email Subject" [(ngModel)]="email.subject"/>
    <span class="invalid-feedback d-block f-2 mt-0" *ngIf="submitted && !email.subject">
      Please input the subject.
    </span>
  </div>
  <div class="form-group">
    <div class="v-center label-group mt-4">
      <label class="theme-label">CONTENT</label>
    </div>
    <app-html-editor
        [(value)]="email.content"
        placeholder="Enter Text"
        required="true"
        hasToken="true"
        hasTemplates="true"
        (onChangeTemplate)="selectTemplate($event)"
        [style]="{height: '200px'}"
        [subject]="email.subject"
        #emailEditor
        >
    </app-html-editor>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-white" mat-dialog-close>Close</button>
  <button class="btn btn-primary" (click)="share()" [class.loading]="sharing">Share</button>
</mat-dialog-actions>
