<div class="page-content position-relative">
    <ng-container *ngIf="(dealsService.stages$ | async).length; else emptyListStage">
        <div class="d-flex columns" cdkDropListGroup>
            <div class="updating-status" *ngIf="(dealsService.loadingStage$ | async) === STATUS.REQUEST">
                LOADING
            </div>
            <div class="column" *ngFor="let dealStage of dealsService.stages$ | async">
                <div class="column-title bgc-pale p-4">
                    <div class="f-4 font-weight-bold">
                        {{dealStage.title}}
                    </div>
                    <div class="f-6 font-weight-bold text-primary">
                        {{dealStage.deals.length}} <span class="f-1 font-weight-bold c-dark op-56 text-uppercase">Deals</span>
                    </div>
                    <div class="title-triangle">
                        <i class="d-block i-icon i-triangle-right bgc-dark"></i>
                    </div>
                </div>
                <div
                    class="tasks-container mt-4"
                    cdkDropList
                    [cdkDropListData]="dealStage.deals"
                    (cdkDropListDropped)="drop($event, dealStage._id)"
                >
                    <div
                        class="task mt-3 mr-3 p-3 c-pointer"
                        *ngFor="let deal of dealStage.deals" cdkDrag
                        (click)="taskDetail(deal)"
                    >
                        <div class="v-center justify-content-between">
                            <div class="f-6 font-weight-bold">
                                {{ deal.title }}
                            </div>
                            <div *ngIf="deal.title == 'Real Estate 1'">
                                <img src="/assets/img/status_green.svg" alt="">
                            </div>
                            <div *ngIf="deal.title == 'Real Estate 2'">
                                <img src="/assets/img/status_red.svg" alt="">
                            </div>
                            <div *ngIf="deal.title == 'Real Estate 3'">
                                <img src="/assets/img/status_yellow.svg" alt="">
                            </div>
                            <div *ngIf="deal.title == 'Real Estate 4'">
                                <img src="/assets/img/status_gray.svg" alt="">
                            </div>
                            <div *ngIf="deal.title != 'Real Estate 1' && deal.title != 'Real Estate 2' && deal.title != 'Real Estate 3' && deal.title != 'Real Estate 4'">
                                <img src="/assets/img/status_gray.svg" alt="">
                            </div>
                        </div>
                        <div class="v-center mt-2">
                            <div class="avatar"></div>
                            <div class="ml-2 f-3">
                                Thomas Anderson
                            </div>
                        </div>
                        <div class="f-3 op-64 mt-2">
                            $100,000
                        </div>
                    </div>
                    <div class="v-center justify-content-center add-task mt-3 mr-3">
                        <i class="i-icon i-plus d-block bgc-blue c-pointer" (click)="addTasks(dealStage)"></i>
                    </div>
                </div>
            </div>
            <div class="v-center justify-content-center c-pointer add-column p-3" (click)="addColumns()">
                <i class="i-icon i-plus d-block bgc-blue"></i>
            </div>
        </div>
    </ng-container>
    <ng-template #emptyListStage>
        <ng-container [ngSwitch]="(dealsService.loadingStage$ | async)">
            <div class="empty-list" *ngSwitchCase="STATUS.SUCCESS">
                <div class="object-icon v-center">
                <i class="i-icon i-template d-block bgc-dark"></i>
                </div>
                <h4 class="font-weight-bold mt-4 mb-3">
                There is no deal stages yet.
                </h4>
            </div>
            <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
                <div class="loader mt-5 lg"></div>
                <h4 class="fw-600 mt-2">Loading deal stages ...</h4>
            </div>
        </ng-container>
    </ng-template>
</div>