<form #form="ngForm" (ngSubmit)="form.form.valid ? submit() : false">
  <h1 mat-dialog-title>Bulk update tasks</h1>
  <mat-dialog-content>
    <div class="form-group mt-3">
      <label>type of the task</label>
      <div>
        <app-task-type></app-task-type>
      </div>
    </div>

    <div class="form-group">
      <label>change subject</label>
      <select class="form-control theme-control" [(ngModel)]="keepSubject" name="changeSubject" #changeSubject="ngModel" required>
        <option value="new_subject">Set with new content</option>
        <option value="keep_subject">Keep content</option>
      </select>
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" id="subject" class="form-control" [(ngModel)]="subject" name="taskSubject" #taskSubject="ngModel" />
    </div>
    <div class="form-group">
      <label>Change due dates?</label>
      <select class="form-control theme-control" [(ngModel)]="keepDate" name="changeDate" #changeDate="ngModel" required>
        <option value="new_date">Set with new content</option>
        <option value="keep_date">Keep content</option>
      </select>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <label for="date_tc">date</label>
          <div class="input-group bgc-dark-trans08 rounded">
            <div class="input-group-prepend rounded" (click)="d.toggle()">
              <span class="input-group-text bgc-blue border-0">
                <i class="i-icon i-calendar bgc-white"></i>
              </span>
            </div>
            <input
              type="text"
              id="date_tc"
              class="form-control datepicker"
              placeholder="Select date"
              name="due_date"
              #due_date="ngModel"
              [minDate]="MIN_DATE"
              [(ngModel)]="date"
              ngbDatepicker
              #d="ngbDatepicker"
              [firstDayOfWeek]="7"
              required
              (click)="d.toggle()"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <label for="time_tc">time</label>
          <select class="form-control" name="due_time" #due_time="ngModel" [(ngModel)]="time">
            <option *ngFor="let time of TIMES" [value]="time.id">
              {{time.text}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn c-blue" mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" [class.loading]="updating">Update</button>
  </mat-dialog-actions>
</form>
