@import 'src/variables.scss';

.color-picker-button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0px;
  background-size: 16px 16px;

  &:focus {
    border: 0px;
    outline: none;
  }

  i.i-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }
}

.i-small {
  width: 12px;
  height: 12px;
}

.label-name-input {
  max-width: 180px;
  height: 34px;
}

.label-item {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 12px;
  position: relative;
  &:hover {
    box-shadow: 0px 5px 24px 5px $color-trans28;
    border-radius: 8px;
    z-index: 1;
  }
}

.panel {
  max-width: 480px;
}

@media screen and (max-width: 400px) {
  .color-label {
    display: none;
  }
  .panel {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
}