@import 'src/variables.scss';

.html-editor {
  .insert-token {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    .dropdown-toggle {
      .i-triangle-up {
        display: none !important;
      }
      .i-icon {
        width: 8px;
        height: 8px;
        min-width: 8px;
      }
    }
    &.show {
      .dropdown-toggle {
        .i-triangle-down {
          display: none !important;
        }
        .i-triangle-up {
          display: block !important;
        }
      }
    }

    .menu-item:hover {
      background-color: gainsboro;
    }
    .menu-item:active {
      background-color: blue;
      color: white;
    }
  }

  .error {
    position: absolute;
    bottom: 6px;
    left: 15px;
    font-size: 14px;
  }

  .attach-files {
    max-height: 52px;
    overflow: auto;

    .attachment {
      height: 25px;
      display: flex;
      font-size: 14px;
      background: #f5f5f5;
      margin-bottom: 3px;
      padding: 0px 8px;

      &:last-child {
        margin-bottom: 0px;
      }

      .name {
        max-width: calc(100% - 120px);
        text-overflow: ellipsis;
        overflow: hidden;
        color: #15c;
        font-weight: 600;
        margin-right: 5px;
      }

      .close {
        margin-left: auto;
      }
    }
  }
}


:host ::ng-deep {
  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 0px;
  }
  button.ql-template{
    position: relative;
    width: 24px;
    mask-image: url(../../../assets/img/sms_sent.svg);
    mask-position: center;
    mask-size: 15px;
    mask-repeat: no-repeat;
    margin-left: 4px;
    background-color: black;
  }
  button.ql-calendly {
    position: relative;
    width: 24px;
    mask-image: url(../../../assets/img/calendly.svg);
    mask-position: center;
    mask-size: 15px;
    mask-repeat: no-repeat;
    margin-left: 4px;
    background-color: black;
  }
  button.ql-record {
    position: relative;
    width: 24px;
    mask-image: url(../../../assets/img/record.svg);
    mask-position: center;
    mask-size: 15px;
    mask-repeat: no-repeat;
    margin-left: 4px;
    background-color: blue;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: red;
      top: 55%;
      left: 55%;
      transform: translate(-55%, -55%);
    }
  }

  // button.ql-template::before {
  //   content: "Insert template";
  //   font-size: 12px;
  //   color: blue;
  //   font-weight: 600;
  //   line-height: 1;
  //   position: absolute;
  //   top: 5px;
  //   left: 4px;
  //   white-space: nowrap;
  // }
  // button.ql-template::after {
  //   content: "";
  //   mask-image: url('../../../assets/img/next.svg');
  //   mask-position: center;
  //   mask-size: contain;
  //   mask-repeat: no-repeat;
  //   width: 12px;
  //   height: 12px;
  //   background-color: blue;
  //   position: absolute;
  //   left: 90px;
  //   top: 5px;
  //   transform: rotate(90deg);
  // }
  .ql-toolbar.ql-snow {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: #e0e0e0;
    padding: 4px;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #e0e0e0;
  }
}

.templates-container {
  background: white;
  border: 1px solid gainsboro;
  padding: 0px 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px #bbb8;
  width: 280px;
  max-height: 250px;
  overflow: auto;

  .template {
    padding: 4px 6px;
    border-top: 1px solid gainsboro;
    cursor: pointer;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i {
      width: 14px;
      height: 14px;
      min-width: 14px;
    }
  }

  .c-badge {
    padding: 2px 4px;
    font-size: 10px!important;
    font-weight: 700;
    line-height: 1.2;
  }
}

.templates-action, .calendly-action, .record-action {
  position: absolute;
  top: 5px;
  left: 185px;
  visibility: hidden;
  pointer-events: none;
}

.setting-screen {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 400px;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  z-index: 1001;

  .bgc-record {
    background-color: #9797B7;
  }

  #video {
    width: 300px;
    height: 180px;
  }

  .type-item {
    .i-icon {
      width: 20px;
      height: 24px;
    }
  }

  .record-button {
    height: 48px;
  }
}

.counting-screen {
  overflow: hidden;
  background-color: rgba(43, 43, 43, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  padding: 20vh 0px;
  z-index: 1002;

  .count-number {
    font-size: 50vh;
    line-height: 50vh;
    color: white;
  }
}

.record-screen {
  display: flex;
  position: fixed;
  bottom: 55px;
  right: 0px;
  align-items: flex-end;

  .action-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0px;
    z-index: 10;
    background-color: transparent;
    border-radius: 15px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 3px 0 0 3px;
      background-color: #40425e;
      border: 0px;

      .i-icon {
        width: 16px;
        height: 12px;
        background-color: #ffffff;
      }

      .complete {
        background-color: #4AC236;
      }

      &:hover {
        background-color: #0000ff;
      }

      &.disable {
        pointer-events: none;
        background-color: #9fa1af;
      }
    }

    .tip {
      width: 0px;
      height: 0px;
      position: absolute;
      background: transparent;
      border: 6px solid #101336;
    }

    .tip-right {
      top: 8px;
      right: -12px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    .tooltip-box {
      position: relative;
      max-width: 300px;
      height: auto;
      padding: 7px 10px;
      background-color: #101336;
      border-radius: 3px;
      box-shadow: 0 4px 8px -4px #101336;
      margin-right: 15px;
    }
  }
}

.recording-mark {
  width: 14px;
  height: 14px;
  letter-spacing: 1px;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  margin: 13px;

  &.recording {
    width: 10px;
    height: 10px;
    animation: shadow-pulse 1s infinite;
    margin: 15px;
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}