@import 'src/variables.scss';

.html-editor {
  .insert-token {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    .dropdown-toggle {
      .i-triangle-up {
        display: none !important;
      }
    }
    &.show {
      .dropdown-toggle {
        color: $color-blue;
        .i-triangle-down {
          display: none !important;
        }
        .i-triangle-up {
          display: block !important;
        }
      }
    }
    i {
      width: 10px;
      height: 10px;
      min-width: 10px;
    }
  }

  .error {
    position: absolute;
    bottom: 6px;
    left: 15px;
    font-size: 14px;
  }
}