<div class="task-types btn-group btn-group-toggle rounded" ngbRadioGroup name="type" #type="ngModel" [(ngModel)]="value" (ngModelChange)="updateValue($event)">
  <label class="btn px-2 rounded no-shadow" title="General" ngbButtonLabel>
    <input type="radio" name="options" value="task" ngbButton>
    <i class="i-icon i-task d-block bgc-dark"></i>
  </label>
  <label class="btn px-2 rounded no-shadow" title="Call" ngbButtonLabel>
    <input type="radio" name="options" value="call" ngbButton>
    <i class="i-icon i-phone d-block bgc-dark"></i>
  </label>
  <label class="btn px-2 rounded no-shadow" title="Contact" ngbButtonLabel>
    <input type="radio" name="options" value="contact" ngbButton>
    <i class="i-icon i-lunch d-block bgc-dark"></i>
  </label>
  <label class="btn px-2 rounded no-shadow" title="Email" ngbButtonLabel>
    <input type="radio" name="options" value="email" ngbButton>
    <i class="i-icon i-message d-block bgc-dark"></i>
  </label>
  <label class="btn px-2 rounded no-shadow" title="Media" ngbButtonLabel>
    <input type="radio" name="options" value="material" ngbButton>
    <i class="i-icon i-video d-block bgc-dark"></i>
  </label>
</div>
