@import 'src/variables.scss';
.task-types {
  border: 1px solid $color-trans28;
  .btn-type {
    opacity: 1;
    margin: -1px;
    &.active {
      border: 1px solid $color-blue;
    }
    &:hover {
      border: 1px solid $color-blue;
    }

    i {
      width: 16px;
      height: 16px;
      min-width: 16px;
    }
  }
}
