<ng-container *ngIf="isMaterialSetting(); else noMaterialTitle">
  <div class="mx-0" mat-dialog-title>
    Choose Material
  </div>
</ng-container>
<ng-template #noMaterialTitle>
  <div class="mx-0" mat-dialog-title>
    Edit {{ActionName[type]}}
  </div>
</ng-template>
<form #actionForm="ngForm" (ngSubmit)="submitted = true; actionForm.form.valid ? updateAction() : false"
  [class.was-validated]="submitted">
  <mat-dialog-content class="content-section" [class]="type">
    <div class="action-setting">
      <ng-container
        *ngIf="type == 'send_email_video' || type == 'send_text_video' || type == 'send_email_pdf' || type == 'send_text_pdf' || type == 'send_email_image' || type == 'send_text_image' ">
        <div class="temlate-container mr-lg-5 mr-md-3 mr-sm-0">
          <div class="form-group search-form">
            <div class="input-group-prepend">
              <i class="i-icon i-search d-block bgc-dark"></i>
            </div>
            <input type="text" class="form-control" #searchInput name="search" placeholder="Search" aria-label="search" aria-describedby="search-addon" [(ngModel)]="searchStr" (ngModelChange)="filter()">
            <ng-container *ngIf="searchStr">
              <div class="cancel-action c-pointer" (click)="clearSearchStr()">
                <i class="i-icon i-close d-block bgc-dark"></i>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="materialsLoading">
            <div class="empty-material-container text-center">
              <div class="loader"></div>
              <h4 class="fw-600 mt-2">Loading materials...</h4>
            </div>
          </ng-container>
          <ng-container *ngIf="!materialsLoading">
            <ng-container *ngIf="filterMaterials.length > 0; else emptyMaterial">
              <div class="material-container">
                <ng-container *ngFor="let materialItem of filterMaterials">
                  <div class="material-item" (click)="toggleMaterial(materialItem)" [class.active]="material && material._id && material._id == materialItem._id">
                    <img class="confirm" src="../../../assets/img/confirm.svg" alt="check" *ngIf="material && material._id && material._id == materialItem._id">
                    <ng-container [ngSwitch]="getMaterialType(materialItem)">
                      <div class="thumb-wrapper video-wrapper" *ngSwitchCase="'video'">
                        <img [src]="materialItem.thumbnail" class="thumbnail" onerror="( this.src = './assets/img/video_thumb.jpg');"/>
                        <img [src]="materialItem.preview" class="preview" onerror="( this.src = './assets/img/video_thumb.jpg');"/>
                      </div>
                      <div class="thumb-wrapper" *ngSwitchCase="'pdf'">
                        <img [src]="materialItem.thumbnail || materialItem.preview" class="preview" onerror="( this.src = './assets/img/pdf_overlay.png');"/>
                      </div>
                      <div class="thumb-wrapper" *ngSwitchCase="'image'">
                        <img [src]="materialItem.thumbnail || materialItem.preview" class="preview" onerror="( this.src = './assets/img/image_overlay.png');"/>
                      </div>
                    </ng-container>
                    <div class="material-title f-1 font-weight-bold mt-3">
                      {{materialItem.title}}
                    </div>
                    <div class="material-description f-1 mt-2">
                      {{materialItem.description || '' | stripTags | slice :0:80}}
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-template #emptyMaterial>
              <div class="empty-material-container v-center justify-content-center mt-3">
                <div class="object-icon v-center mt-1 mr-2">
                  <i class="i-icon d-block bgc-dark" [class]="'i-' + getMaterialType(material)"></i>
                </div>
                <div class="f-8 font-weight-bold mt-4 mb-3">
                  There is no filtered materials.
                </div>
              </div>
            </ng-template>
          </ng-container>
          <div class="selected-material mt-3" *ngIf="material && material._id">
            <table class="table">
              <thead>
              <th class="selected-media op-full pb-1">
                Selected Media
              </th>
              <th class="type op-full pb-1">Type</th>
              </thead>
              <tbody>
              <tr>
                <td class="selected-media">
                  <div class="c-blue f-2 font-weight-bold">{{material.title}}</div>
                </td>
                <td class="type">
                  <div class="v-center border-0 bgc-trans">
                    <i class="i-icon bgc-black" aria-hidden="true"
                       [class.i-video]="getMaterialType(material) == 'video'"
                       [class.i-pdf]="getMaterialType(material) == 'pdf'"
                       [class.i-image]="getMaterialType(material) == 'image'"
                    ></i>
                    <span class="f-2 ml-2">{{getMaterialType(material)}}</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-danger error" *ngIf="materialError">{{materialError}}</div>
        </div>
      </ng-container>
      <div class="contents-container w-100 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
        <ng-container *ngIf="!action['condition']">
          <div class="row">
            <div class="col-12">
              <div class="form-group mb-0 has-feedback">
                <ng-container *ngIf="!data.conditionHandler; else conditionLimitTemplate">
                  <ng-container *ngIf="NoLimitActions.indexOf(type) === -1">
                    <label class="theme-label">TIME DELAY <span class="description">(DURATION SINCE PREVIOUS ACTION)</span></label>
                    <select class="form-control theme-control" [(ngModel)]="action['period']" name="period" #period="ngModel" [required]="type && type.indexOf('watched') === -1">
                      <option value="0">Immediately</option>
                      <option value="0.17">10 mins</option>
                      <option value="0.5">30 mins</option>
                      <option value="1">1 hour</option>
                      <option value="6">6 hours</option>
                      <option value="12">12 hours</option>
                      <option value="24">1 day</option>
                      <option value="48">2 days</option>
                      <option value="72">3 days</option>
                      <option value="168">1 week</option>
                      <option value="336">2 weeks</option>
                      <option value="custom_date">Custom Time Delay</option>
                    </select>
                    <span class="invalid-feedback"
                          *ngIf="period.errors && (period.touched || period.dirty || submitted) && submitted">
                    Period is required
                  </span>
                  </ng-container>
                </ng-container>
                <ng-template #conditionLimitTemplate>
                  <ng-container *ngIf="data.conditionHandler === 'trueCase'; else falseCaseTimeTemplate">
                    <ng-container *ngIf="NoLimitActions.indexOf(type) === -1">
                      <label class="theme-label">TIME DELAY <span class="description">(DURATION SINCE AFTER WATCHED)</span></label>
                      <select class="form-control theme-control" [(ngModel)]="action['period']" name="period" #period="ngModel" [required]="type && type.indexOf('watched') === -1">
                        <option value="0">Immediately</option>
                        <option value="0.17">10 mins</option>
                        <option value="0.5">30 mins</option>
                        <option value="1">1 hour</option>
                        <option value="6">6 hours</option>
                        <option value="12">12 hours</option>
                        <option value="24">1 day</option>
                        <option value="48">2 days</option>
                        <option value="72">3 days</option>
                        <option value="168">1 week</option>
                        <option value="336">2 weeks</option>
                        <option value="custom_date">Custom Time Delay</option>
                      </select>
                      <span class="invalid-feedback"
                            *ngIf="period.errors && (period.touched || period.dirty || submitted) && submitted">
                      Period is required
                    </span>
                    </ng-container>
                  </ng-container>
                  <ng-template #falseCaseTimeTemplate>
                    <label class="theme-label">
                      TIME DELAY <span class="description">(DURATION OF NO ACTION)</span>
                    </label>
                    <select class="form-control theme-control" [(ngModel)]="action['period']" name="period" #period="ngModel" [required]="type && type.indexOf('watched') === -1">
                      <option value="0">Immediately</option>
                      <option value="0.17">10 mins</option>
                      <option value="0.5">30 mins</option>
                      <option value="1">1 hour</option>
                      <option value="6">6 hours</option>
                      <option value="12">12 hours</option>
                      <option value="24">1 day</option>
                      <option value="48">2 days</option>
                      <option value="72">3 days</option>
                      <option value="168">1 week</option>
                      <option value="336">2 weeks</option>
                      <option value="custom_date">Custom Time Delay</option>
                    </select>
                    <span class="invalid-feedback"
                          *ngIf="period.errors && (period.touched || period.dirty || submitted) && submitted">
                    Period is required
                  </span>
                  </ng-template>
                </ng-template>
              </div>
            </div>
            <ng-container *ngIf="type==='follow_up'">
              <div class="col-12 form-group">
                <label>task type</label>
                <div>
                  <app-task-type [(value)]="task.type"></app-task-type>
                </div>
              </div>
            </ng-container>
            <div class="col-12" *ngIf="action['period'] == 'custom_date' && type != 'note'">
              <div class="d-flex m-0">
                <div class="form-group mb-0">
                  <label class="theme-label">CUSTOM TIME DELAY <span class="description">(IN DAYS)</span></label>
                  <input type="number" step="1" class="form-control" name="planTimeDay" [required]="action['period'] == 'custom_date'" [(ngModel)]="plan_time['day']" />
                </div>
              </div>
              <span class="error text-danger"
                    *ngIf="action['period']=='custom_date' && !plan_time['day'] && !plan_time['hour'] && !plan_time['min'] && submitted">Plan
              time is required.</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type==='follow_up'">
          <div class="action-form">
            <div class="form-group has-feedback"
                 [class.has-error]="followUpContent.errors && (followUpContent.touched || followUpContent.dirty|| submitted) && submitted">
              <label class="theme-label">TASK NOTE <span class="description">(REMINDER TO YOURSELF)</span></label>
              <input type="text" class="form-control" placeholder="Type of task note" [(ngModel)]="action['content']"
                     name="followUpContent" #followUpContent="ngModel" autocomplete="off" required />
              <span class="invalid-feedback"
                    *ngIf="followUpContent.errors && (followUpContent.dirty || followUpContent.touched || submitted) && submitted">Follow
              up content is required.</span>
            </div>
            <label class="theme-label">TASK TIME</label>
            <div class="row">
              <div class="col-12">
                <div class="theme-radios">
                  <div class="theme-radio">
                    <input type="radio" class="custom-control-input" id="due_date_option" name="follow_due_option"
                           [(ngModel)]="followDueOption" #follow_due_option="ngModel" value="date">
                    <label class="custom-theme-label" for="due_date_option">Set Date</label>
                  </div>
                  <div class="theme-radio">
                    <input type="radio" class="custom-control-input" id="due_delay_option" name="follow_due_option"
                           [(ngModel)]="followDueOption" #follow_due_option="ngModel" value="delay">
                    <label class="custom-theme-label" for="due_delay_option">Set Duration</label>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3" *ngIf="followDueOption === 'date'; else followTimeDelay">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group has-feedback calendar position-relative"
                         [class.has-error]="due_date['year'] == '' && due_date['month'] == '' && due_date['day'] == '' && submitted">
                      <div class="form-group">
                        <label class="theme-label">TASK DATE</label>
                        <div class="v-center">
                          <app-date-input type="prepend" [(value)]="due_date" [minDate]="minDate"></app-date-input>
                        </div>
                        <span
                          class="invalid-error f-3 c-red"
                          *ngIf="due_date['year'] == '' && due_date['month'] == '' && due_date['day'] == '' && submitted"
                        >
                          Date is required
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group has-feedback" [class.has-error]="!due_time && submitted">
                      <label class="theme-label">TASK TIME</label>
                      <select class="form-control theme-control" [(ngModel)]="due_time" name="time" #time="ngModel"
                              [required]="followDueOption === 'date'" [disabled]="followDueOption !== 'date'">
                        <option value="" disabled>Due Time</option>
                        <option *ngFor="let time of times" value="{{time.id}}">{{time.text}}</option>
                      </select>
                      <span class="invalid-feedback"
                            *ngIf="time.errors && (time.touched||time.dirty||submitted)&&submitted">Due time is required.</span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #followTimeDelay>
                <div class="col-12 mt-2">
                  <div class="form-group has-feedback">
                    <label class="theme-label">TIME UNTIL TASK IS DO <span class="description">(IN HOURS)</span></label>
                    <input type="number" class="form-control theme-control" [(ngModel)]="due_duration" name="duration" #duration="ngModel"
                           [required]="followDueOption === 'delay'" [disabled]="followDueOption !== 'delay'" />
                    <span class="invalid-feedback"
                          *ngIf="duration.errors && (duration.touched||duration.dirty||submitted)&&submitted">Due time is
                    required.</span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type=='note'">
          <div class="action-form">
            <div class="form-group has-feedback mt-2">
              <div class="v-center justify-content-between">
                <label class="theme-label">NOTE CONTENT</label>
                <span class="error f-3 font-weight-bold d-block"
                      *ngIf="!action.content && submitted">Required</span>
              </div>

              <app-html-editor
                [(value)]="action.content"
                placeholder="Please type content for note."
                [noImage]="true"
                [style]="{height: '200px'}"
              >
              </app-html-editor>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type==='send_text_video' || type === 'send_text_pdf' || type === 'send_text_image'">
          <div class="action-form">
            <div class="form-group has-feedback"
                 [class.has-error]="content.errors && (content.touched || content.dirty|| submitted) && submitted">
              <div class="v-center label-group mt-3">
                <label class="theme-label">CONTENT</label>
                <div ngbDropdown
                     class="justify-content-end field-actions button-more rounded"
                >
                  <a class="v-center justify-content-end text-decoration-none c-pointer" ngbDropdownToggle>
                    <span class="c-blue f-1 ml-2 mr-1 font-weight-bold">Show shortcut tokens</span>
                    <i class="i-icon i-triangle-more bgc-blue" aria-hidden="true"></i>
                  </a>
                  <div ngbDropdownMenu class="button-more-container light">
                    <div class="actions ml-auto">
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{user_name}', smsContentField)">Your Name</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{user_email}', smsContentField)">Your Email</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{user_phone}', smsContentField)">Your Phone</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{contact_first_name}', smsContentField)">Contact Firstname</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{contact_last_name}', smsContentField)">Contact Lastname</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{contact_email}', smsContentField)">Contact Email</button>
                      <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                              (click)="insertSmsContentValue('{contact_phone}', smsContentField)">Contact Phone</button>
                    </div>
                  </div>
                </div>
              </div>
              <textarea [(ngModel)]="action['content']" class="form-control" placeholder="Please type in sms content."
                        name="content" #content="ngModel" rows="6" required #smsContentField
                        (click)="getSmsContentCursor(smsContentField)" (keyup)="getSmsContentCursor(smsContentField)"></textarea>
              <span class="error text-danger"
                    *ngIf="content.errors && (content.dirty || content.touched || submitted) && submitted">Content content is
              required.</span>
            </div>
            <div class="form-group">
              <label class="theme-label">Template</label>
              <app-input-template
                [type]="'text'"
                [placeholder]="'Search templates'"
                [(template)]="selectedTemplate"
                (templateChange)="selectTemplate($event)">
              </app-input-template>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="type==='email' || type==='send_email_video' || type === 'send_email_pdf' || type === 'send_email_image'">
          <div class="action-form mt-3">
            <div class="form-group has-feedback"
                 [class.has-error]="subject.errors && (subject.touched || subject.dirty || submitted) && submitted">
              <ng-container *ngIf="type == 'send_email_video' || type == 'send_text_video'
                                   || type == 'send_email_pdf' || type == 'send_text_pdf'
                                   || type == 'send_email_image' || type == 'send_text_image'; else noMaterial">
                <div class="v-center label-group">
                  <label class="theme-label">SUBJECT</label>
                  <div ngbDropdown
                       class="justify-content-end field-actions button-more rounded"
                  >
                    <a class="v-center justify-content-end text-decoration-none c-pointer" ngbDropdownToggle>
                      <span class="c-blue f-1 ml-2 mr-1 font-weight-bold">Show shortcut tokens</span>
                      <i class="i-icon i-triangle-more bgc-blue" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="button-more-container light">
                      <div class="actions ml-auto">
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{user_name}', subjectField)">Your Name</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_first_name}', subjectField)">Contact Firstname</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{material_title}', subjectField)">Material Title</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{user_email}', subjectField)">Your Email</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{user_phone}', subjectField)">Your Phone</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_last_name}', subjectField)">Contact Lastname</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_email}', subjectField)">Contact Email</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_phone}', subjectField)">Contact Phone</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noMaterial>
                <label class="theme-label">SUBJECT</label>
                <div class="d-flex flex-wrap field-actions mb-2">
                  <button type="button" class="btn btn-sm btn-white-gray font-weight-bold"
                          (click)="insertSubjectValue('{user_name}', subjectField)">Your Name</button>
                  <button type="button" class="btn btn-sm btn-white-gray font-weight-bold"
                          (click)="insertSubjectValue('{contact_first_name}', subjectField)">Contact Firstname</button>
                  <button type="button" class="btn btn-sm btn-white-gray font-weight-bold"
                          (click)="insertSubjectValue('{material_title}', subjectField)">Material Title</button>
                  <div ngbDropdown class="d-flex justify-content-end button-more rounded">
                    <a class="v-center justify-content-end c-pointer" ngbDropdownToggle>
                      <i class="i-icon i-triangle-more bgc-blue" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="button-more-container light">
                      <div class="actions ml-auto">
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{user_email}', subjectField)">Your Email</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{user_phone}', subjectField)">Your Phone</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_last_name}', subjectField)">Contact Lastname</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_email}', subjectField)">Contact Email</button>
                        <button type="button" class="btn btn-sm btn-white-gray font-weight-bold dropdown-item"
                                (click)="insertSubjectValue('{contact_phone}', subjectField)">Contact Phone</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <input type="text" class="form-control" [(ngModel)]="action['subject']" placeholder="Email Subject"
                     name="subject" #subject="ngModel" required #subjectField (click)="getSubjectCursorPost(subjectField)"
                     (keyup)="getSubjectCursorPost(subjectField)" />
              <span class="error text-danger"
                    *ngIf="subject.errors && (subject.dirty || subject.touched || submitted) && submitted">Subject is
              required.</span>
            </div>
            <div class="form-group has-feedback" [class.has-error]="!action['content'] && submitted">
              <ng-container *ngIf="type == 'send_email_video' || type == 'send_text_video'
                                   || type == 'send_email_pdf' || type == 'send_text_pdf'
                                   || type == 'send_email_image' || type == 'send_text_image'; else noContentMaterial">
                <div class="v-center label-group">
                  <label class="theme-label">CONTENT</label>
                </div>
              </ng-container>
              <ng-template #noContentMaterial>
                <label class="theme-label">CONTENT</label>
              </ng-template>
              <app-html-editor
                [(value)]="action.content"
                placeholder="Enter email content..."
                hasToken="true"
                hasTemplates="true"
                [templateSelectMethod]="'replace'"
                [subject]="action['subject']"
                [style]="{height: '220px'}"
                (onChangeTemplate)="onChangeTemplate($event)"
                #editor
              >
              </app-html-editor>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type === 'update_contact'">
          <label class="theme-label mt-3">UPDATE TYPE</label>
          <div class="theme-radios">
            <div class="theme-radio">
              <input type="radio" class="custom-control-input" id="contact_label_update_option" name="contact_update_option"
                     [(ngModel)]="contactUpdateOption" #contact_update_option="ngModel" value="update_label" (ngModelChange)="removeError()">
              <label class="custom-theme-label" for="contact_label_update_option">Update label</label>
            </div>
            <div class="theme-radio">
              <input type="radio" class="custom-control-input" id="contact_tag_push_option" name="contact_update_option"
                     [(ngModel)]="contactUpdateOption" #contact_update_option="ngModel" value="push_tag" (ngModelChange)="removeError()">
              <label class="custom-theme-label" for="contact_tag_push_option">Insert tags</label>
            </div>
            <div class="theme-radio">
              <input type="radio" class="custom-control-input" id="contact_tag_pull_option" name="contact_update_option"
                     [(ngModel)]="contactUpdateOption" #contact_update_option="ngModel" value="pull_tag" (ngModelChange)="removeError()">
              <label class="custom-theme-label" for="contact_tag_pull_option">Remove tags</label>
            </div>
          </div>
          <ng-container [ngSwitch]="contactUpdateOption">
            <div *ngSwitchCase="'update_label'">
              <label class="theme-label mt-3">UPDATE DETAILS <span class="description">(NEW LABEL)</span></label>
              <app-label-select type="form" [value]="commandLabel" (valueChange)="commandLabel = $event"></app-label-select>
<!--              <select class="form-control theme-control" (change)="changeLabel($event.target.value)"-->
<!--                      [ngStyle]="{'background-color': getLabelById(commandLabel).color, 'color': getLabelById(commandLabel).font_color}">-->
<!--                <option selected *ngFor="let label of labels" [selected]="commandLabel === label._id"-->
<!--                        [value]="label._id" class="c-label"-->
<!--                        [ngStyle]="{'background-color': label.color, 'color': label.font_color}">{{label.name}}-->
<!--                </option>-->
<!--                <option class="c-label" [ngStyle]="{'background-color': 'white', 'color': 'black'}" value="createlabel">-->
<!--                  Create New Label</option>-->
<!--              </select>-->
            </div>
            <div *ngSwitchCase="'push_tag'">
              <label class="theme-label mt-3">UPDATE DETAILS <span class="description">(TAGS TO INSERT)</span></label>
              <div class="tag-input-wrapper br-default">
                <app-input-tag [selectedTags]="commandTags" [onlyFromSearch]="true"></app-input-tag>
              </div>
            </div>
            <div *ngSwitchCase="'pull_tag'">
              <label class="theme-label mt-3">UPDATE DETAILS <span class="description">(TAGS TO REMOVE)</span></label>
              <div class="tag-input-wrapper br-default">
                <app-input-tag [selectedTags]="commandTags" [onlyFromSearch]="true"></app-input-tag>
              </div>
            </div>
          </ng-container>
          <div class="text-danger error" *ngIf="error">{{error}}</div>
        </ng-container>
        <ng-container *ngIf="type === 'update_follow_up'">
          <label class="theme-label mt-3">SELECT THE TASK <span class="description">(CREATED IN PREVIOUS ACTIONS)</span></label>
          <mat-form-field appearance="fill" class="mat-custom-select">
            <mat-select [(value)]="selectedFollow" (selectionChange)="selectFollow($event)">
              <mat-select-trigger>
                <div class="template-item selected" *ngIf="selectedFollow">
                  <div class="name">{{selectedFollow.content}}</div>
                </div>
              </mat-select-trigger>
              <mat-option [value]="follow" *ngFor="let follow of data.follows" class="follow-item">
                <div class="content">{{follow.content}}</div>
                <div class="time">
                  <span class="label">{{follow.due_time ? 'REMINDER TIME' : 'DURATION FROM CREATED TO REMINDER' }}</span>
                  <span class="value" *ngIf="follow.due_time; else durationValueTemplate">{{ follow.due_time | date  }}</span>
                  <ng-template #durationValueTemplate><span class="value">{{follow.due_duration + ' Hours'}}</span></ng-template>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="c-red f-3 error" *ngIf="!selectedFollow && submitted">Task is required!</div>
          <ng-container *ngIf="selectedFollow">
            <ng-container *ngIf="type === 'update_follow_up'">
              <div class="col-12 form-group">
                <label>task type</label>
                <div>
                  <app-task-type [(value)]="task.type"></app-task-type>
                </div>
              </div>
            </ng-container>
            <div class="theme-radios">
              <div class="theme-radio">
                <input type="radio" class="custom-control-input" id="follow_up_update" name="follow_up_update_option"
                       [(ngModel)]="followUpdateOption" #follow_up_update_option="ngModel" value="update_follow_up" (ngModelChange)="removeError()">
                <label class="custom-theme-label" for="follow_up_update">Update task</label>
              </div>
              <div class="theme-radio">
                <input type="radio" class="custom-control-input" id="follow_up_complete" name="follow_up_update_option"
                       [(ngModel)]="followUpdateOption" #follow_up_update_option="ngModel" value="complete_follow_up" (ngModelChange)="removeError()">
                <label class="custom-theme-label" for="follow_up_complete">Complete task</label>
              </div>
            </div>

            <ng-container [ngSwitch]="followUpdateOption">
              <div *ngSwitchCase="'update_follow_up'">
                <div class="action-form">
                  <div class="form-group has-feedback mt-2"
                       [class.has-error]="followUpdateContent.errors && (followUpdateContent.touched || followUpdateContent.dirty|| submitted) && submitted">
                    <label class="theme-label">TASK NOTE <span class="description">(REMINDER TO YOURSELF)</span></label>
                    <input type="text" class="form-control theme-control" placeholder="Type new content for this task" [(ngModel)]="action.content"
                           name="followUpdateContent" #followUpdateContent="ngModel" autocomplete="off" required />
                    <span class="invalid-feedback"
                          *ngIf="followUpdateContent.errors && (followUpdateContent.dirty || followUpdateContent.touched || submitted) && submitted">Follow
                    up content is required.</span>
                  </div>
                  <label class="theme-label">TASK TIME</label>
                  <div class="row">
                    <div class="col-12">
                      <select class="form-control theme-control" [(ngModel)]="updateFollowDueOption" name="updateFollowUpDueOption" #updateFollowUpDueOption="ngModel" required>
                        <option value="no_update">No Update</option>
                        <option value="update_due_date">Update Due Date</option>
                        <option value="update_due_duration">Update Due Duration</option>
                      </select>
                    </div>
                    <div class="col-12 mt-3" *ngIf="updateFollowDueOption === 'update_due_date'">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group has-feedback calendar position-relative"
                               [class.has-error]="update_due_date['year'] == '' && update_due_date['month'] == '' && update_due_date['day'] == '' && submitted">
                            <div class="form-group">
                              <label class="theme-label">TASK DATE</label>
                              <div class="v-center">
                                <app-date-input type="prepend" [(value)]="update_due_date" [minDate]="minDate"></app-date-input>
                              </div>
                              <span
                                class="invalid-error f-3 c-red"
                                *ngIf="update_due_date['year'] == '' && update_due_date['month'] == '' && update_due_date['day'] == '' && submitted"
                              >
                                Date is required
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group has-feedback" [class.has-error]="!due_time && submitted">
                            <label class="theme-label">TASK TIME</label>
                            <select class="form-control theme-control" [(ngModel)]="update_due_time" name="time" #time="ngModel"
                                    [required]="followDueOption === 'date'">
                              <option value="" disabled>Due Time</option>
                              <option *ngFor="let time of times" value="{{time.id}}">{{time.text}}</option>
                            </select>
                            <span class="invalid-feedback"
                                  *ngIf="time.errors && (time.touched||time.dirty||submitted)&&submitted">Due time is required.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2" *ngIf="updateFollowDueOption === 'update_due_duration'">
                      <div class="form-group has-feedback">
                        <label class="theme-label">TIME UNTIL TASK IS DO <span class="description">(IN HOURS)</span></label>
                        <input type="number" class="form-control theme-control" [(ngModel)]="update_due_duration" name="duration" #duration="ngModel"
                               [required]="followDueOption === 'delay'" min="0" />
                        <span class="invalid-feedback"
                              *ngIf="duration.errors && (duration.touched||duration.dirty||submitted)&&submitted">Due time is
                        required.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'complete_follow_up'">
                <div class="action-guide">Complete the selected task.</div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="mx-0 mt-2">
    <button class="btn c-blue ml-1 mr-0" type="button" mat-dialog-close>Close</button>
    <button class="btn btn-primary ml-1 mr-0" type="submit">Update</button>
  </mat-dialog-actions>
</form>
