.title {
  font-size: 18px;
}

.action-setting {
  display: flex;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.action-setting form{
  padding: 10px 15px;

  textarea {
      border-radius: 3px;
  }
}

.actions {
  padding: 5px 15px;
  text-align: right;
}

.period-form {
  margin: 10px 15px 0px 15px;
}

.material-item {
  flex-shrink: 0;
  width: 50%;
  padding: 0px 5px;

  .thumb-wrapper {
      width: 100%;
      margin-bottom: 8px;
      height: 0px;
      padding-top: 56.6%;
      position: relative;

      img {
          position: absolute;
          top: 0px;
          left: 0px;
          object-fit: cover;
      }
  }

  .mat-card-content {
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: -8px;

      @media screen and (max-width: 600px) {
          margin-left: -8px;
          margin-right: -8px;
      }

      h5 {
          font-weight: 600;
          margin-bottom: 4px;
          height: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
      p {
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #aaa;
          font-size: 13px;
      }
  }
}

:host ::ng-deep {
  .slides {
      overflow-x: hidden;
  }
  .mat-checkbox {
      position: absolute;
      bottom: 5px;
      right: 5px;
      background-color: white;
  }
}

.templates-wrapper {
  flex: 1;

  @media screen and (max-width: 575px) {
      width: 100%;
      flex: unset;
      margin-bottom: 5px!important;
  }
}

button:disabled {
  background-color: #f8f8f8;
}
.form-group {
  label {
      font-weight: 400;
  }
}
.has-feedback label~.form-control-feedback {
  top: 30px;
}

:host ::ng-deep {
  mat-dialog-actions {
    button {
      height: 36px;
      padding: 0px 1rem;
    }
  }
  .calendar ngb-datepicker {
    bottom: -10px!important;
    top: unset!important;
    left: 0px!important;
    right: unset!important;
  }
}

.error {
  font-size: 14px;
}

.field-actions {
  button {
    margin-bottom: 3px;
    padding: 4px;
    height: 20px;
    line-height: 14px;
    transform: none!important;
    font-size: 11px;
    margin-right: 5px;
    box-shadow: none;
    font-weight: bold;
  }
}

.content-section {
  min-height: 300px;

  @media screen and (max-width: 575px) {
    min-width: calc( 100vw - 80px );
  }
}

:host ::ng-deep {
  .ng2-tag-input {
    border: none!important;
  }

  .mat-custom-select {
    display: block;
    .mat-form-field-flex {
      height: 42px;
      background: white;
      border: 1px solid gainsboro;
      border-radius: 4px;
      overflow: hidden;
      padding-top: 0px;

      .mat-form-field-infix {
        padding-top: 0.75em;
        border: none;
      }
    }

    .mat-form-field-underline {
      display: none;
    }

    &.mat-form-field-appearance-fill .mat-select-arrow-wrapper  {
      transform: none;
    }
  }
}

.follow-item {
  line-height: unset!important;
  height: unset!important;
  border-bottom: 1px solid gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;

  .content {
    font-weight: bold;
    margin-bottom: 4px;
  }
  .time {
    .label {
      font-size: 12px;
      color: gray;
      display: block;
    }
    .value {
      font-size: 14px;
      color: blue;
      font-weight: bold;
    }
  }
}

.action-guide {
  font-size: 14px;
  margin-top: 12px;
}

.button-more {
  .i-icon {
    width: 10px;
    height: 10px;
  }
  a {
    &::after {
      display: none;
    }
  }
}

.button-more-container {
  .actions {
    padding: 5px;
    text-align: left;
  }
}

.contents-container {
  min-width: 400px;
}

.material-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-row-gap: 20px;
  max-height: calc( 65vh - 20px );
  overflow: auto;
  width: 450px;
  padding-right: 20px;

  @media screen and (max-width: 768px) {
    width: auto;
    max-height: 400px;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);

    .material-item {
      margin: 0 auto;
    }
  }

  .material-item {
    width: 200px;
    position: relative;

    .confirm {
      position: absolute;
      top: 10px;
      right: 5px;
      width: 16px;
      height: 16px;
      object-fit: cover;
      z-index: 11;
    }

    .thumbnail {
      width: 200px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0px 0px 8px #ccc;
    }

    .material-title {
      line-height: 16px;
    }

    .material-description {
      line-height: 14px;
      word-break: break-all;
    }

    &.active {
      .thumbnail {
        border: 5px solid #0000ff;
      }

      .thumb-wrapper::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        background: rgba(0, 0, 255, 0.4);
        z-index: 10;
        content: '';
      }
    }
  }
}

:host ::ng-deep {
  .dropdown-menu {
    padding: 0;
    min-width: 8rem;
  }
}
