.prepend-wrapper {
  transform: translateX(-40px);
}
.date-picker-overlay.mode1 {
  padding: 0px 10px 10px 10px;
  border: 1px solid gainsboro;
  border-radius: 4px;
}
.clear-action {
  background: transparent;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}