<form #form="ngForm" (ngSubmit)="form.form.valid ? submit() : false">
  <h1 mat-dialog-title>Update task</h1>
  <mat-dialog-content>
    <div class="form-group">
      <label>task type</label>
      <div>
        <app-task-type [(value)]="task.type"></app-task-type>
      </div>
    </div>

    <div class="form-group">
      <label for="content_tc">task description</label>
      <input type="text" class="form-control" id="content_tc" name="content" #content="ngModel" [(ngModel)]="task.content" required>
      <span class="error" *ngIf="content.errors">
        <ng-container *ngIf="content.errors.required">Required!</ng-container>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <label for="date_tc">date</label>
          <app-date-input type="prepend" [(value)]="date" [minDate]="MIN_DATE"></app-date-input>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <label for="time_tc">time</label>
          <select class="form-control" name="due_time" #due_time="ngModel" [(ngModel)]="time">
            <option *ngFor="let time of TIMES" [value]="time.id">
              {{time.text}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-3 mb-3">
      <div class="col-12 v-center">
        <div class="custom-control custom-checkbox mr-3">
          <input
            type="checkbox"
            class="custom-control-input"
            id="repeat_tc"
            [checked]="task.set_recurrence"
            (change)="toggleRepeatSetting()"
          />
          <label
            class="custom-control-label f-3 fw-600 pt-1"
            for="repeat_tc"
            >Set as recurring event</label
          >
        </div>
        <div class="form-group ml-auto mb-0">
          <select class="form-control c-blue font-weight-bold" [(ngModel)]="task.recurrence_mode" name="duration" #duration="ngModel" [disabled]="!task.set_recurrence">
            <option *ngFor="let type of REPEAT_DURATIONS" [value]="type.value">
              {{type.label}}
            </option>
          </select>
        </div>
      </div>
    </div> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="v-center justify-content-between w-100">
      <div class="v-center">
        <i class="i-icon i-trash bgc-red" aria-hidden="true"></i>
        <button type="button" class="btn ml-1 p-1 c-red delete-btn" (click)="deleteTask()">Delete task</button>
      </div>
      <div>
        <button type="button" class="btn c-blue" mat-dialog-close>Cancel</button>
        <button type="submit" class="btn btn-primary" [class.loading]="updating">Update</button>
      </div>
    </div>

  </mat-dialog-actions>
</form>
