<div class="page-content">
  <div class="v-center border-bottom pb-3">
    <h1 class="page-title">Notifications</h1>
    <a class="ml-auto v-center f-3 font-weight-bold" [routerLink]="['/settings/notifications']">
      <i class="i-icon i-notification bgc-blue d-block mr-2"></i>
      <span>Notification Settings</span>
    </a>
  </div>
  <div class="notifications-list pt-3">
    <div *ngIf="notifications.length; else emptyTemplate">
      <ng-container *ngFor="let item of notifications | paginate: {id: 'notifications', itemsPerPage: 15, currentPage: page, totalItems: total}; let i = index;">
        <div class="notification-item d-flex py-2 pl-3 pr-2 rounded mb-1" [class.readed]="item.is_read">
          <div class="icon mr-2">
            <i class="i-icon lg i-information d-block bgc-red"></i>
          </div>
          <div class="content">
            <div [innerHTML]="getNotificationDetail(item)"></div>
            <div *ngIf="item.description" [innerHTML]="item.description" class="description"></div>
            <div class="time">{{item.created_at | timeago}}</div>
          </div>
          <div ngbDropdown placement="bottom-right" class="ml-auto actions-groups" *ngIf="item.type === 'personal'">
            <a class="notification-action no-carot c-pointer" ngbDropdownToggle>
              <i class="i-icon i-menu-more bgc-blue d-block"></i>
            </a>
            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
              <ng-container *ngIf="!item.is_read ;else unreadMark">
                <a class="dropdown-item" (click)="setAsRead(item)">Set as read</a>
              </ng-container>
              <ng-template #unreadMark>
                <a class="dropdown-item" (click)="setAsUnread(item)">Set as unread</a>
              </ng-template>
              <a class="dropdown-item" (click)="delete(item)">Delete notification</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="total">
      <div class="pagination-wrapper" [hidden]="total <= 10">
        <pagination-controls (pageChange)="loadPage($event)" id="notifications" maxSize="5" previousLabel=""
        nextLabel=""></pagination-controls>
      </div>
    </div>
    <ng-template #emptyTemplate>
      <div *ngIf="!loading; else loadTemplate" class="empty-list">
        <div class="object-icon v-center">
          <i class="i-icon i-notification d-block bgc-dark"></i>
        </div>
        <h4 class="font-weight-bold mt-4 mb-3">
          There are no notifications yet.
        </h4>
      </div>
      <ng-template #loadTemplate>
        <div class="text-center">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2">Loading notifications...</h4>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
