<form #form="ngForm" (ngSubmit)="form.form.valid? submit() : false;" [class.was-validated]="form.submitted">
  <div class="v-center justify-content-between">
    <h1 class="mat-dialog-title m-0">
      Merge contact
    </h1>
    <button class="v-center border-0 bgc-trans" mat-dialog-close>
      <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
  </div>
  <mat-dialog-content>
    <div class="f-6 mt-3">
      Select who will be merged into Andrew Johson
    </div>
    <div class="v-center select-contact mt-3">
      <app-select-contact (onSelect)="addContacts($event)" [excludeContacts]="[sourceContact]"></app-select-contact>
      <mat-icon class="mx-3">arrow_forward</mat-icon>
      <div class="v-center">
        <div class="form-avatar rounded-circle bg-dark mr-1">{{sourceContact.avatarName}}</div>
        <div class="info">
          <div class="f-4">{{sourceContact.fullName}}</div>
        </div>
      </div>
    </div>
    <div class="mt-1 c-red f-1" *ngIf="form.submitted && !(mergeContact && mergeContact._id)">Please select a contact to merge.</div>
    <div class="f-6 mt-3">
      Select primary data to be preserved in new record
    </div>
    <div class="contact-fields mt-2">
      <div class="v-center row">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Name
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewName" name="fullname">
            <mat-option value="{{sourceContact.fullName}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewName == sourceContact.fullName">
                {{sourceContact.fullName}}
              </div>
            </mat-option>
            <mat-option value="{{mergeContact.fullName}}" *ngIf="isExistMergeContact()">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewName == mergeContact.fullName">
                {{mergeContact.fullName}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Label
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <app-contact-merge-label
            [source]="sourceContact.label"
            [merge]="mergeContact ? mergeContact.label: null"
            [(label)]="label"
          ></app-contact-merge-label>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Address
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.address" name="address">
            <mat-option value="{{sourceContact.address}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.address == sourceContact.address">
                {{sourceContact.address}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.address}}"
              *ngIf="isExistMergeContact() && sourceContact.address != mergeContact.address"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.address == mergeContact.address">
                {{mergeContact.address}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Website
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.website" name="website">
            <mat-option value="{{sourceContact.website}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.address == sourceContact.website">
                {{sourceContact.website}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.website}}"
              *ngIf="isExistMergeContact() && sourceContact.website != mergeContact.website"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.website == mergeContact.website">
                {{mergeContact.website}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Primary Email
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.email" name="primary_email">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let email of emails" value="{{email}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.email == email">
                {{email}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="emails.length > 1">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Secondary Email
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.secondary_email" name="secondary_email">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let email of emails" value="{{email}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.secondary_email == email">
                {{email}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Primary Phone
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.cell_phone" name="primary_phone">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let phone of phones" value="{{phone}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.cell_phone == phone">
                {{phone}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="phones.length > 1">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Secondary Phone
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.secondary_phone" name="secondary_phone">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let phone of phones" value="{{phone}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.secondary_phone == phone">
                {{phone}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Country
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.country" name="country">
            <mat-option value="{{sourceContact.country}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.country == sourceContact.country">
                {{sourceContact.country}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.country}}"
              *ngIf="isExistMergeContact() && sourceContact.country != mergeContact.country"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.country == mergeContact.country">
                {{mergeContact.country}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            State
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.state" name="state">
            <mat-option value="{{sourceContact.state}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.state == sourceContact.state">
                {{sourceContact.state}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.state}}"
              *ngIf="isExistMergeContact() && sourceContact.state != mergeContact.state"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.state == mergeContact.state">
                {{mergeContact.state}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            City
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.city" name="city">
            <mat-option value="{{sourceContact.city}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.city == sourceContact.city">
                {{sourceContact.city}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.city}}"
              *ngIf="isExistMergeContact() && sourceContact.city != mergeContact.city"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.city == mergeContact.city">
                {{mergeContact.city}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Zip
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.zip" name="zip">
            <mat-option value="{{sourceContact.zip}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.zip == sourceContact.zip">
                {{sourceContact.zip}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.zip}}"
              *ngIf="isExistMergeContact() && sourceContact.zip != mergeContact.zip"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.zip == mergeContact.zip">
                {{mergeContact.zip}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Source
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.source" name="source">
            <mat-option value="{{sourceContact.source}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.source == sourceContact.source">
                {{sourceContact.source}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.source}}"
              *ngIf="isExistMergeContact() && sourceContact.source != mergeContact.source"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.source == mergeContact.source">
                {{mergeContact.source}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Brokerage
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.brokerage" name="brokerage">
            <mat-option value="{{sourceContact.brokerage}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.brokerage == sourceContact.brokerage">
                {{sourceContact.brokerage}}
              </div>
            </mat-option>
            <mat-option
              value="{{mergeContact.brokerage}}"
              *ngIf="isExistMergeContact() && sourceContact.brokerage != mergeContact.brokerage"
            >
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.brokerage == mergeContact.brokerage">
                {{mergeContact.brokerage}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Tags
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="previewContact.tags" name="tags" multiple>
            <mat-option *ngFor="let tag of tags" value="{{tag}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="previewContact.tags.indexOf(tag) >= 0">
                {{tag}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="isExistMergeContact()">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Activity
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="activity" name="activity">
            <mat-option *ngFor="let action of mergeActions" value="{{action.label}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="activity == action.label">
                {{action.label}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="isExistMergeContact()">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            FollowUp
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="followup" name="followup">
            <mat-option *ngFor="let action of mergeActions" value="{{action.label}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="followup == action.label">
                {{action.label}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="isExistMergeContact()">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Automation
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="automation" name="automation">
            <mat-option *ngFor="let action of automationMergeActions" value="{{action.label}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="automation == action.label">
                {{action.label}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="v-center row mt-2" *ngIf="isExistMergeContact()">
        <div class="col-sm-3">
          <span class="f-6 fw-600 op-40">
            Notes
          </span>
        </div>
        <div class="col-sm-7 form-group m-0">
          <mat-select [(ngModel)]="notes" name="notes">
            <mat-option *ngFor="let action of mergeActions" value="{{action.label}}">
              <div class="f-3 c-black"
                   [class.selected-option-text]="notes == action.label">
                {{action.label}}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="v-center justify-content-between w-100">
      <div class="f-6">
        This action can't be undone.
      </div>
      <div class="v-center">
        <button class="btn btn-white f-6 font-weight-bold mr-2" type="button" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary f-6 font-weight-bold" type="submit" [class.loading]="saving">Merge</button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
