<div class="v-center justify-content-between">
  <h1 class="mat-dialog-title m-0">
    Merge contact
  </h1>
  <button class="v-center border-0 bgc-trans" mat-dialog-close>
    <i class="d-block i-icon i-close bgc-dark"></i>
  </button>
</div>
<mat-dialog-content>
  <div class="f-6 mt-3">
    Select who will be merged into Andrew Johson
  </div>
  <div class="v-center select-contact my-3">
    <app-select-contact (onSelect)="addContacts($event)"></app-select-contact>
    <mat-icon class="mx-3">arrow_forward</mat-icon>
    <div class="v-center">
      <div class="form-avatar rounded-circle bg-dark mr-1">{{sourceContact.avatarName}}</div>
      <div class="info">
        <div class="f-4">{{sourceContact.fullName}}</div>
      </div>
    </div>
  </div>
  <div class="f-6">
    Select primary data to be preserved in new record
  </div>
  <div class="contact-detail mt-2">
    <div class="v-center row">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Name
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactName" #contactName="ngModel" [(ngModel)]="selectName">
          <option value="{{sourceContact.fullName}}">{{sourceContact?.fullName || 'No name'}}</option>
          <option value="{{mergeContact.fullName}}" *ngIf="contactSelected">{{mergeContact.fullName || 'No name'}}</option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Label
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <app-contact-merge-label
          [source]="sourceContact.label"
          [merge]="mergeContact.label"
        ></app-contact-merge-label>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Address
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactAddress" #contactAddress="ngModel" [(ngModel)]="selectAddress">
          <option value="{{sourceContact.address}}">
            {{sourceContact?.address || 'No address'}}
          </option>
          <option value="{{mergeContact.address}}" *ngIf="contactSelected">
            {{mergeContact?.address || 'No address'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Website
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactWebsite" #contactWebsite="ngModel" [(ngModel)]="selectWebsite">
          <option value="{{sourceContact.website}}">
            {{sourceContact?.website || 'No website'}}
          </option>
          <option value="{{mergeContact.website}}" *ngIf="contactSelected">
            {{mergeContact?.website || 'No website'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Phone numbers
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactPhone" #contactPhone="ngModel" [(ngModel)]="selectPrimaryPhone">
          <option value="{{sourceContact.cell_phone}}">
            {{sourceContact?.cell_phone || 'No primary phone'}}
          </option>
          <option value="{{mergeContact.cell_phone}}" *ngIf="contactSelected">
            {{mergeContact?.cell_phone || 'No primary phone'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Emails
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactEmail" #contactEmail="ngModel" [(ngModel)]="selectPrimaryEmail">
          <option value="{{sourceContact.email}}">
            {{sourceContact?.email || 'No primary email'}}
          </option>
          <option value="{{mergeContact.email}}" *ngIf="contactSelected">
            {{mergeContact?.email || 'No primary email'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Second phone numbers
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactSecondPhone" #contactSecondPhone="ngModel" [(ngModel)]="selectSecondPhone">
          <option value="{{sourceContact.secondary_phone}}">
            {{sourceContact?.secondary_phone || 'No secondary phone'}}
          </option>
          <option value="{{mergeContact.secondary_phone}}" *ngIf="contactSelected">
            {{mergeContact?.secondary_phone || 'No secondary phone'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Second emails
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <select class="form-control" name="contactSecondEmail" #contactSecondEmail="ngModel" [(ngModel)]="selectSecondEmail">
          <option value="{{sourceContact.secondary_email}}">
            {{sourceContact?.secondary_email || 'No secondary email'}}
          </option>
          <option value="{{mergeContact.secondary_email}}" *ngIf="contactSelected">
            {{mergeContact?.secondary_email || 'No secondary phone'}}
          </option>
        </select>
      </div>
    </div>
    <div class="v-center row mt-2">
      <div class="col-sm-3">
        <span class="f-6 fw-600 op-40">
          Tag
        </span>
      </div>
      <div class="col-sm-7 form-group m-0">
        <app-input-tag [selectedTags]="selectTags"></app-input-tag>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="v-center justify-content-between w-100">
    <div class="f-6">
      This action can't be undone.
    </div>
    <div class="v-center">
      <button class="btn btn-white f-6 font-weight-bold mr-2" type="button" mat-dialog-close>Cancel</button>
      <button class="btn btn-primary f-6 font-weight-bold" type="submit" [class.loading]="saving">Merge</button>
    </div>
  </div>
</mat-dialog-actions>