<div class="custom-mat-field label-select-wrapper label_form">
    <mat-form-field style="display: block;" appearance="outline" (click)="focusField()">
      <mat-chip-list aria-label="Contact Selection" #contactList>
        <mat-basic-chip >
          <ng-container *ngIf="formControl.value; else emptyLabel">
            <div class="v-center py-1">
              <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="formControl.value.color === '#FFF' ? '#000' : formControl.value.color"></i>
              <span class="f-3 fw-600">{{formControl.value.name}}</span>
            </div>
          </ng-container>
          <ng-template #emptyLabel>
            <div class="v-center py-1">
              <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="'#000'"></i>
              <span class="f-3 fw-600">{{defaultLabel}}</span>
            </div>
          </ng-template>
        </mat-basic-chip>
        <input
          #inputField
          [formControl]="formControl"
          [matChipInputFor]="contactList"
          [matAutocomplete]="auto"
        >
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
      >
        <mat-option style="height: unset; line-height: unset;">
            <ng-container *ngIf="sourceLabelId; else emptyLabel">
                <div class="v-center py-1 f-3 fw-600">
                    <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="sourceLabel.color === '#FFF' ? '#000' : sourceLabel.color"></i>
                    <span>{{sourceLabel.name}}</span>
                </div>
            </ng-container>
            <ng-template #emptyLabel>
                <div class="v-center py-1">
                  <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="'#000'"></i>
                  <span class="f-3 fw-600">{{defaultLabel}}</span>
                </div>
            </ng-template>
        </mat-option>
        <mat-option style="height: unset; line-height: unset;" *ngIf="mergeLabelId && sourceLabelId != mergeLabelId">
            <ng-container *ngIf="mergeLabelId; else emptyLabel">
                <div class="v-center py-1 f-3 fw-600">
                    <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="mergeLabel.color === '#FFF' ? '#000' : mergeLabel.color"></i>
                    <span>{{mergeLabel.name}}</span>
                </div>
            </ng-container>
            <ng-template #emptyLabel>
                <div class="v-center py-1">
                  <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="'#000'"></i>
                  <span class="f-3 fw-600">{{defaultLabel}}</span>
                </div>
            </ng-template>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</div>
