<div style="max-width: 680px;">
  <h6 class="font-weight-bold">Calendar apps</h6>
  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/google_calendar.png">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Google Calendar</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect" (click)="connectCalendar('gmail')">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="googleCalendars.length">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <ng-container *ngFor="let calendar of googleCalendars">
          <div class="v-center mb-1">
            <div class="f-1 font-weight-bold mr-1">{{calendar.connected_email}}</div>
            <span class="f-1">connected</span>
            <button type="button" class="cal-disconnect btn border-dark w-100 font-weight-bold sm px-1 py-1 ml-auto" (click)="disconnectCalendar(calendar)">
              <div class="f-2">Disconnect</div>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/zapier.svg">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Zapier</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="user.connected_email_type=='zapier' && user.primary_connected">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <div class="f-1">
          <span class="font-weight-bold mr-2">{{user.connected_email}}</span>
          connected
        </div>
      </ng-container>
    </div>
  </div>

  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/calendly.svg">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Calendly</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="user.connected_email_type=='calendly' && user.primary_connected">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <div class="f-1">
          <span class="font-weight-bold mr-2">{{user.connected_email}}</span>
          connected
        </div>
      </ng-container>
    </div>
  </div>

  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/outlook_calendar.png">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Outlook Calendar</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect" (click)="connectCalendar('outlook')">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="outlookCalendars.length">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <ng-container *ngFor="let calendar of outlookCalendars">
          <div class="v-center mb-1">
            <div class="f-1 font-weight-bold mr-1">{{calendar.connected_email}}</div>
            <span class="f-1">connected</span>
            <button type="button" class="cal-disconnect btn border-dark w-100 font-weight-bold sm px-1 py-1 ml-auto" (click)="disconnectCalendar(calendar)">
              <div class="f-2">Disconnect</div>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>


  <h6 class="font-weight-bold">Email apps</h6>
  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/google_email.png">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Google mail</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect" (click)="connectMail('gmail')">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="user.connected_email_type=='gmail' && user.primary_connected">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <div class="f-1">
          <span class="font-weight-bold mr-2">{{user.connected_email}}</span>
          connected
        </div>
      </ng-container>
    </div>
  </div>
  <div class="integration-account">
    <div class="icon">
      <img src="../../../assets/img/outlook_email.png">
    </div>
    <div class="content">
      <div class="title f-3 font-weight-bold mb-1">Outlook mail</div>
      <div class="desc f-2 op-75">
        Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.
      </div>
    </div>
    <button class="btn bg-white c-blue border-primary f-3 font-weight-bold connect" (click)="connectMail('outlook')">Connect account</button>
    <div class="accounts">
      <ng-container *ngIf="user.connected_email_type=='outlook' && user.primary_connected">
        <div class="f-2 font-weight-bold mt-3 mb-2">Authorized account</div>
        <div class="f-1">
          <span class="font-weight-bold mr-2">{{user.connected_email}}</span>
          connected
        </div>
      </ng-container>
    </div>
  </div>
</div>
