<div style="max-width: 680px;">
  <div class="row">
    <div class="col-md-6 col-12 mb-3">
      <div class="integration-card border rounded py-3 px-3 my-2 h-100">
        <div class="f-4 font-weight-bold mb-2">Google Mail Sync</div>
        <div class="f-2 connect-status">
          Connected with <span class="font-weight-bold c-blue">gsteve@gmail.com</span>
        </div>
        <div class="d-flex mt-auto mb-2">
          <img src="../../../assets/img/google.svg">
          <p class="mb-0 f-0">Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.</p>
        </div>
        <button type="button" class="social-btn btn border-dark d-block w-100 font-weight-bold">
          <span class="f-4">Sign in with Google</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
      <div class="integration-card border rounded py-3 px-3 my-2 h-100">
        <div class="f-4 font-weight-bold mb-2">Outlook Mail Sync</div>
        <div class="f-2 connect-status">
          Connected with <span class="font-weight-bold c-blue">gsteve@gmail.com</span>
        </div>
        <div class="d-flex mt-auto mb-2">
          <img src="../../../assets/img/outlook.svg">
          <p class="mb-0 f-0">Our Platform can deliver the emails through your outlook email. Email Deliverity will be upgraded.</p>
        </div>
        <button type="button" class="social-btn btn border-dark d-block w-100 font-weight-bold">
          <span class="f-4">Sign in with Outlook</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 mb-3">
      <div class="integration-card border rounded py-3 px-3 my-2 h-100">
        <div class="f-4 font-weight-bold mb-2">Calendly Sync</div>
        <div class="f-2 connect-status">
          Connected with <span class="font-weight-bold c-blue">gsteve@gmail.com</span>
        </div>
        <div class="d-flex mt-auto mb-2">
          <img src="../../../assets/img/calendly.svg">
          <p class="mb-0 f-0">Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.</p>
        </div>
        <button type="button" class="social-btn btn border-dark d-block w-100 font-weight-bold">
          <span class="f-4">Sign in with Calendly</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
      <div class="integration-card border rounded py-3 px-3 my-2 h-100">
        <div class="f-4 font-weight-bold mb-2">Zapier Sync</div>
        <div class="f-2 connect-status">
          Connected with <span class="font-weight-bold c-blue">gsteve@gmail.com</span>
        </div>
        <div class="d-flex mt-auto mb-2">
          <img src="../../../assets/img/outlook.svg">
          <p class="mb-0 f-0">Our Platform can deliver the emails through your gmail. Email Deliverity will be upgraded.</p>
        </div>
        <button type="button" class="social-btn btn border-dark d-block w-100 font-weight-bold">
          <span class="f-4">Sign in with Zapier</span>
        </button>
      </div>
    </div>
  </div>
</div>