<div class="v-center justify-content-between">
    <h1 mat-dialog-title class="m-0">Full Automation</h1>
    <button type="button" class="v-center border-0 bgc-trans close-button" mat-dialog-close>
        <i class="i-icon i-close bgc-black ml-1" aria-hidden="true"></i>
    </button>
</div>
<mat-dialog-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
    class="timeline timeline-one-side time-line">
        <mat-tree-node class="mat-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node timeline-block {{ node.status }}">
            <div class="timeline w-100">
            <div class="v-center justify-content-between my-1 w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
                <img src="../../assets/img/automations/yes.svg">
                <span class="f-3 font-weight-bold text-center w-100">{{node['condition']['case']}}</span>
            </div>
            <div class="v-center justify-content-between my-1 w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == false">
                <img src="../../assets/img/automations/no.svg">
            </div>
            <div class="bgc-green-weak line"></div>
            <div class="v-center">
                <span class="timeline-step {{ node.action?.type }}">
                <img [attr.src]="ICONS[node.action?.type]">
                </span>
                <div class="timeline-content ml-2">
                <p class="f-3 font-weight-bold title m-0">
                    {{ ActionName[node.action?.type] }}
                </p>
                <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                    {{ node.status }}
                </div>
                </div>
            </div>
            </div>
        </li>
        </mat-tree-node>
        <mat-nested-tree-node class="mat-nested-tree" [class.first]="node['condition'] && node['condition']['answer'] == true" *matTreeNodeDef="let node; when: hasChild">
        <div class="timeline-condition" *ngIf="node['condition'] && node['condition']['case']">
            <div class="v-center justify-content-between my-1 w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == true">
            <img src="../../assets/img/automations/yes.svg">
            <span class="f-3 font-weight-bold text-center w-100">{{node['condition']['case']}}</span>
            </div>
            <div class="v-center justify-content-between my-1 w-100 condition" *ngIf="node['condition'] && node['condition']['answer'] == false">
            <img src="../../assets/img/automations/no.svg">
            </div>
            <div class="bgc-green-weak line"></div>
        </div>

        <li>
            <div class="d-flex mat-tree-node timeline-block {{ node.status }}">
            <span class="timeline-step {{ node.action?.type }}">
                <img [attr.src]="ICONS[node.action?.type]">
            </span>
            <div class="timeline-content ml-2">
                <p class="f-3 font-weight-bold title m-0">
                {{ ActionName[node.action?.type] }}
                </p>
                <div class="f-1 font-weight-bold text-left text-uppercase p-0 badge status {{ node.status }}">
                {{ node.status }}
                </div>
            </div>
            </div>
            <div class="bgc-green-weak line"></div>
            <div class="d-flex p-0" [class.timeline-tree-invisible]="
                !treeControl.isExpanded(node)
            ">
            <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </li>
        </mat-nested-tree-node>
    </mat-tree>
</mat-dialog-content>