<div class="page-content">
  <div class="page-title font-weight-bold my-3">Campaign</div>
  <div>
    <app-slide-tab [tabs]="tabs" [selected]="selectedTab" (onChange)="changeTab($event)" type="plain" class="border-bottom pl-0 rounded-0">
    </app-slide-tab>
    <app-campaign-list [class.d-none]="selectedTab.id !== 'list'"></app-campaign-list>
    <app-campaign-bulk-mailing [class.d-none]="selectedTab.id !== 'bulk'"></app-campaign-bulk-mailing>
    <app-campaign-smtp [class.d-none]="selectedTab.id !== 'smtp'"></app-campaign-smtp>
  </div>
</div>
