<form #form="ngForm" (ngSubmit)="form.form.valid? update() : false;" [class.was-validated]="form.submitted">
    <div class="v-center justify-content-between">
        <h1 mat-dialog-title class="m-0">Edit note</h1>
        <button class="v-center border-0 bgc-trans" mat-dialog-close>
            <i class="d-block i-icon i-close bgc-dark"></i>
        </button>
    </div>
    <mat-dialog-content>
      <div class="f-6 mb-3">
        editong note of <span class="font-weight-bold c-blue">Andrew Johnson</span>
      </div>
      <div class="form-group has-feedback">
        <div class="d-flex">
          <label for="noteContent" class="mb-0">content</label>
          <span class="ml-auto error" *ngIf="content.errors">Required!</span>
        </div>
        <textarea id="noteContent" class="form-control" name="content" #content="ngModel" [(ngModel)]="note.content" rows="7" required></textarea>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="btn c-blue" mat-dialog-close>Cancel</button>
      <button class="btn btn-primary" type="submit" [class.loading]="saving">Save</button>
    </mat-dialog-actions>
</form>