.bulk-list-table {
  .check-cell {
    width: 40px;
  }
  
  .broadcast {
    cursor: pointer;
  }
}

:host ::ng-deep {

  mat-dialog-container {
    overflow: visible;
  }
  
  mat-dialog-content {
    overflow: visible;
  }
}
