.bulk-list-table {
  .check-cell {
    width: 40px;
  }

  .broadcast {
    cursor: pointer;
  }

  @media screen and (max-width: 576px) {
    .send-time,
    .delivered,
    .opened,
    .clicked {
      display: none;
    }
  }
}

:host ::ng-deep {

  mat-dialog-container {
    overflow: visible;
  }

  mat-dialog-content {
    overflow: visible;
  }
}
