<div class="campaign-bulk-mailing-page">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-4"></h2>
      <button class="v-center btn btn-primary" type="button" (click)="addBroadcast()">
        <i class="i-icon i-plus bgc-white mr-2" aria-hidden="true"></i>
        Add Broadcast
      </button>
    </div>
  </div>
  <div class="col-12 mt-3">
    <table class="table bulk-list-table">
      <thead>
      <tr>
        <th class="check-cell border-top-0">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="selectbulks" (change)="selectAllBulkPage()" [checked]="isSelectedBulkPage()">
            <label class="custom-control-label" for="selectbulks"></label>
          </div>
        </th>
        <th class="broadcast">Broadcast</th>
        <th class="status">Status</th>
        <th class="send-time">Send Time</th>
        <th class="delivered">Delivered</th>
        <th class="opened">Opened</th>
        <th class="clicked">Clicked</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="bulkLists.length">
        <tr *ngFor="let bulk of bulkLists">
          <td class="check-cell">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="bulk-{{bulk._id}}" (change)="selectedBulkLists.toggle(bulk._id)" [checked]="selectedBulkLists.isSelected(bulk._id)">
              <label class="custom-control-label" for="bulk-{{bulk._id}}"></label>
            </div>
          </td>
          <td class="broadcast">
            <div class="c-blue f-8 font-weight-bold" (click)="goToDetailPage(bulk._id)">{{bulk.name}}</div>
          </td>
          <td class="status">
            <div [class]="bulk.status" class="font-weight-bold c-white">{{bulk.status}}</div>
          </td>
          <td class="send-time">
            <div class="c-dark f-6">{{bulk.send_time | date : 'dd MMM h:mm a'}}</div>
          </td>
          <td class="delivered">
            <div class="c-dark f-6">{{bulk.delivered}}</div>
          </td>
          <td class="opened">
            <div class="c-dark f-6">{{bulk.opened}}</div>
          </td>
          <td class="clicked">
            <div class="c-dark f-6">{{bulk.opened / bulk.delivered * 100 }}%</div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
<app-actions-bar [actions]="actions" [isActive]="selected" (doCommand)="doAction($event)" *ngIf="bulkLists.length"></app-actions-bar>
