.campaign-bulk-mailing-item-page {
  max-width: 768px;
}

.bulk-mailing-status {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 8px;

  .status-item {
    width: 157px;
    height: 94px;
    border-radius: 5px;
    padding: 20px;
  }

  .category {
    color: #585B6E;
  }

  .i-icon {
    width: 14px;
    height: 12px;
    background-color: #585B6E;
  }

  .f-30 {
    font-size: 30px;
    line-height: 41px;
  }

  .green-item {
    background-color: rgba(70,211,169,0.1);

    .count-number {
      color: #00B37D;
    }
  }

  .blue-item {
    background-color: rgba(0,145,255,0.1);

    .count-number {
      color: #0000FF;
    }
  }

  .red-item {
    background-color: rgba(250,100,0,0.1);

    .count-number {
      color: #E02020;
    }
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%
  }
}

.templates-container {
  .list-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1300FF;
    color: #ffffff;
    line-height: 22px;
    text-align: center;
  }

  .material-container {
    .thumbnail {
      width: 96px;
      height: 54px;
    }

    .title, .description {
      max-width: 400px;
    }
  }
}

.session-container {
  max-width: 500px;

  .table {
    .sent, .date, .completed {
      text-align: right;
    }
  }
}

@media screen and (max-width: 576px) {
  .session-table {
    .date {
      display: none;
    }
  }
}
