<div class="campaign-bulk-mailing-item-page">
  <div class="v-center justify-content-between">
    <h2 class="mb-4"></h2>
    <button class="v-center btn btn-primary" type="button" (click)="editBulk()">
      <i class="i-icon i-edit bgc-white mr-2" aria-hidden="true"></i>
      Edit bulk mailing
    </button>
  </div>
  <div class="bulk-contents mt-3">
    <div class="bulk-mailing-status">
      <div class="status-item green-item">
        <div class="v-center category">
          <i class="i-icon i-sent-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Sent</span>
        </div>
        <div class="mt-2 f-30 count-number">34</div>
      </div>
      <div class="status-item green-item">
        <div class="v-center category">
          <i class="i-icon i-delivered-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Delivered</span>
        </div>
        <div class="mt-2 f-30 count-number">29</div>
      </div>
      <div class="status-item blue-item">
        <div class="v-center category">
          <i class="i-icon i-opened-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Opened</span>
        </div>
        <div class="mt-2 f-30 count-number">18</div>
      </div>
      <div class="status-item red-item">
        <div class="v-center category">
          <i class="i-icon i-bounced-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Bounced</span>
        </div>
        <div class="mt-2 f-30 count-number">5</div>
      </div>
      <div class="status-item red-item">
        <div class="v-center category">
          <i class="i-icon i-unsubscribed-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Unsubscribed</span>
        </div>
        <div class="mt-2 f-30 count-number">2</div>
      </div>
      <div class="status-item blue-item">
        <div class="v-center category">
          <i class="i-icon i-clicked-mail" aria-hidden="true"></i>
          <span class="f-1 font-weight-bold ml-2 text-uppercase">Clicked</span>
        </div>
        <div class="mt-2 f-30 count-number">15</div>
      </div>
    </div>
  </div>
  <div class="templates-container mt-5 form-group">
    <div class="v-center">
      <div>
        <label>Recipient list</label>
        <div class="v-center">
          <div class="f-3 font-weight-bold c-dark">EXP Basic List</div>
          <div class="f-1 font-weight-bold list-count ml-2">34</div>
        </div>
      </div>
      <div class="ml-5">
        <label>Email template</label>
        <div class="v-center">
          <div class="f-3 font-weight-bold c-dark">Broadcast Marketing</div>
          <div class="font-weight-bold text-uppercase role admin ml-2"></div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <label>Material Sent</label>
      <div class="material-container v-center">
        <img class="thumbnail" src="../../../assets/img/video_thumb.jpg">
        <div class="ml-3">
          <div class="title f-3 font-weight-bold c-dark">eXp Realty eXplained in 9 Minutes</div>
          <div class="description mt-2 f-1 c-dark">
            High level overview presentation of the eXp Realty brokerage model and agent value proposition
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="session-container mt-5">
    <table class="table">
      <thead>
      <th class="session">Session</th>
      <th class="target">Target</th>
      <th class="sent">Sent</th>
      <th class="date">Date</th>
      <th class="completed">Completed</th>
      </thead>
      <tbody>
      <tr>
        <td class="session f-3">1</td>
        <td class="target f-3">GMail</td>
        <td class="sent f-3">2000</td>
        <td class="date f-3">02.10.2020</td>
        <td class="completed f-3">Yes</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
