<div class="v-center justify-content-between">
    <h1 class="m-0" mat-dialog-title>
        Add custom field
    </h1>
    <i class="d-block i-icon i-close bgc-dark" mat-dialog-close></i>
</div>
<mat-dialog-content>
    <div class="form-group">
        <label for="field-name">name</label>
        <input
            class="form-control"
            type="text"
            placeholder="Type in name of your custom field"
            name="field_name"
            #field_name="ngModel"
            id="name"
            [(ngModel)]="fieldName"
        />
    </div>
    <div class="action-form">
        <label class="f-1 c-dark op-40 text-uppercase type-label" for="type">type</label>
        <div class="row">
            <div class="col-12">
                <div class="theme-radios">
                    <div class="theme-radio">
                      <input type="radio" class="custom-control-input" id="text_field" name="text_field_option"
                             [(ngModel)]="typeOption" #text_field="ngModel" value="text">
                      <label class="f-3 font-weight-bold custom-theme-label" for="text_field">Text Field</label>
                    </div>
                    <div class="theme-radio">
                      <input type="radio" class="custom-control-input" id="dropdown_field" name="dropdown_option"
                             [(ngModel)]="typeOption" #dropdown_option="ngModel" value="dropdown">
                      <label class="f-3 font-weight-bold custom-theme-label" for="dropdown_field">Dropdown</label>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2" *ngIf="typeOption === 'text'; else typeDropdown">
                <div class="form-group">
                    <label for="placeholder">placeholder</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Input suggestion text"
                        name="suggestion_text"
                        id="placeholder"
                        #suggestion_text="ngModel"
                        [(ngModel)]="suggestion"
                    />
                </div>
            </div>
            <ng-template #typeDropdown>
                <div class="col-12 mt-2">
                    <div class="form-group">
                        <label for="option">options</label>
                        <div class="v-center mb-3" *ngFor="let option of options">
                            <input
                                class="form-control"
                                type="text"
                                name="dropdown_option"
                                #dropdown_option="ngModel"
                                [(ngModel)]="option.name"
                            />
                            <span class="f-1 font-weightb-bold c-blue ml-3 c-pointer" (click)="deleteOption(option.id)">Delete</span>
                        </div>
                        <button class="v-center justify-content-center btn btn-white-blue w-100 py-2" (click)="addOption()"><i class="d-block i-icon i-plus bgc-blue"></i></button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-white f-6 font-weight-bold c-blue mr-2" mat-dialog-close>Cancel</button>
    <button class="btn btn-primary f-6 font-weight-bold" (click)="addField()">Add</button>
</mat-dialog-actions>