.upgrade-package-wrapper {
  text-align: center;

  .i-icon {
    width: 77px;
    height: 77px;
  }

  p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
  }
}
