@import  "src/variables.scss";

.more-actions {
  height: 36px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 0px;
  min-width: 100px;

  .dropdown-toggle {
    width: 100%;
    display: block;
    height: 36px;
    line-height: 34px;
  }
}

.material-header {
  @media screen and (max-width: 360px) {
    flex-direction: column-reverse;
    a {
      margin-bottom: 10px;
    }
  }
}

.contact-header {
  @media screen and (max-width: 460px) {
    flex-direction: column-reverse;
    a {
      margin-bottom: 10px;
    }
  }
}

.error-result {
  text-align: center;
  width: 400px;
  margin: 125px auto 50px auto;

  img {
    width: 100px;
  }
}
.i-small-icon {
  width: 10px;
  height: 10px;
}
.owners {

  .owner {
    margin-left: -15px;
  }

  .owner:first-child {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .owner-names {
    display: none;
  }
}

.f-37 {
  font-size: 37px;
}

.team-info-container {

  flex-wrap: wrap;

  .status {
    padding: 4px 5px;
    border-radius: 4px;
    width: 60px;
    text-align: center;

    &.Owner {
      background-color: #F1305E;
    }
    &.Viewer {
      background-color: #308BF1;
    }
    &.Editor {
      background-color: #08CE97;
    }
  }

  label {
    height: 20px;
    margin: 0;
  }

  .value {
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .team-info-container {
    .tabs {
      width: auto;
    }
  }
}

.members-table-container {

  .members-table {
    td {
      padding: 10px;
    }
  }
  .check-cell {
    width: 40px;
  }

  .label-cell{
    select {
      border: none;
      max-width: 80px;
      border-radius: 4px;
      font-size: 12px;
      display: block;
      height: 22px;
    }
    select:focus {
      border: none;
      outline: none;
    }
  }

  .status-cell {
    max-width: 150px;

    .status {

      select {
        width: 70px;
        padding: 0px 3px;
      }

      .Owner {
        width: 70px;
        height: 22px;
        padding: 3px;
        border-radius: 4px;
        background-color: #F1305E;
      }

      .Viewer {
        background-color: #308BF1;
      }

      .Editor {
        background-color: #08CE97;
      }

      .Invite {
        width: 70px;
        height: 22px;
        padding: 3px;
        border-radius: 4px;
        background-color: #FFAA2A;
      }
    }

    .remind {
      border-radius: 4px;
      padding: 3px 5px;
      height: 22px;
      border-width: 1px;
      font-size: 11px
    }
  }

  @media screen and (max-width: 768px) {
    .phone-cell {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    .added-cell {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .members-table-container {
    button .button-label {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .members-table-container {
    .added-cell, .phone-cell {
      display: none;
    }

    .avatar, .name-avatar {
      display: none;
    }
  }
}

.empty-materials {
  max-width: 400px;
  text-align: center;
  margin: auto;

  img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}

.material-share-table {
  th, td {

    &.checkbox-col {
      opacity: 1;
    }
  }
  .checkbox-col {
    width: 36px;
  }
  .thumbnail-col {
    margin: 0px;
    width: 112px;
  }
  .thumbnail {
    padding: 0px;
    width: 96px;
    height: 54px;
    object-fit: contain;
    border: none;
    margin: 0px;
    border-radius: 0px;
    background-color: #dedede;
  }

  .thumb-prev-wrapper img {
    width: 96px;
    height: 54px;
    object-fit: cover;
  }

  .thumb-prev-wrapper .preview {
    display: none;
  }

  .thumb-prev-wrapper {
    &:hover .preview {
      display: block;
    }
    &:hover .thumbnail {
      display: none;
    }
  }

  .name-col {
    h5 {
      margin-bottom: 10px;
      max-width: 400px;
      height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
    span {
      opacity: 0.64;
      max-width: 400px;
      height: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
    .thumbnail {
      display: none;
    }

    .thumb-prev-wrapper {
      display: none;
    }

    .view-field {
      display: none;
    }
    @media screen and (max-width: 1480px) {
      h5 {
        max-width: 350px;
      }
      span {
        max-width: 350px;
      }
    }
  }

  td {
    height: 90px;
  }

  .view-col {
    width: 75px;
  }

  .time-col {
    width: 120px;
  }

  .capture-col {
    width: 100px;
  }

  .actions-col {
    .actions-wrapper {
      .custom-control {
        display: none;
      }
      .button-more {
        a {
          &::after {
            content: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {

    .name-col {
      h5 {
        max-width: unset;
        white-space: normal;
      }
      span {
        max-width: unset;
        display: unset;
        white-space: normal;
      }
    }
  }

  @media screen and (max-width: 1280px) {
     .actions-wrapper {
      //  display: block;
      //  width: 130px;
     }
  }

  @media screen and (max-width: 768px) {
    .table-wrapper {
      margin-top: 0px;
    }
    .material-folder {
      margin: 0px 10px 10px 10px;
    }
    .time-col {
      display: none;
    }
    .capture-col {
      display: none;
    }
    .button-label {
      display: none;
    }
    .actions-wrapper {
      width: 50px;
    }
  }

  @media screen and (max-width: 575px) {
    th, td {
      padding: 3px !important;
    }
    .thumbnail-col {
      display: none;
    }
    .name-col {
      .thumbnail {
        display: block;
        width: 100px;
        height: 60px;
        margin-bottom: 10px;
      }
      .thumb-prev-wrapper {
        display: block;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .view-col {
      display: none;
    }
    .name-col {
      .view-field {
        display: flex;
      }
    }
  }
}

.list-wrapper {
  min-height: 300px;
}

.template-table,
.automation-table,
.contact-table {

  th, td {
    padding: 10px;
  }

  @media screen and (max-width: 1280px) {
    .when-shared, .last-activity {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .shared-with {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    .material-created, .material-contacts {
      display: none;
    }

    .phone-number {
      display: none;
    }
  }
}

.absolute-right-button {
  position: absolute;
  right: 0;
  z-index: 10;
}

:host ::ng-deep {
  @media screen and (max-width: 460px) {
    .contact-header {
      app-slide-tab {
        width: 100%;
  
        .tab {
          width: 50%;
          justify-content: center;

          .tab-label {
            letter-spacing: 0.5px;

            @media screen and (max-width: 360px) {
              font-size: 12px;
            }
          }
        }
      }
    } 
  }
  @media screen and (max-width: 360px) {
    .material-header {
      app-slide-tab {
        width: 100%;
  
        .tab {
          width: 33.33%;
          justify-content: center;
        }
      }
    } 
  }
}