@import  "src/variables.scss";

.tab-container {
  display: flex;
  align-items: center;
  height: 48px;
  background: $color-trans08;
  padding: 4px;
  border-radius: 24px;
  position: relative;

  .tab {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;

    .tab-icon {
      width: 18px;
      height: 18px;
      background-color: $color-dark;
    }

    * {
      position: relative;
    }

    &.active {
      span {
        color: $color-blue;
      }
      .tab-icon {
        background-color: $color-blue;
      }
    }
  }
  .tab-indicator {
    position: absolute;
    width: 0px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 16px -3px rgba(16, 19, 54, 0.4);
    transition: all .3s;
  }
}

@media screen and (max-width: 576px) {
  .tab-container {
    .tab .tab-label {
      font-size: 14px;
    }
  }
}

.tab-container.plain {
  background-color: transparent;

  .tab-indicator {
    height: 4px;
    bottom: 0px;
    top: unset;
    transform: none;
    background-color: $color-blue;
  }
}