.campaign-list-table {
  .check-cell {
    width: 40px;
  }

  td {
    &.name {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 576px) {
    .subscribers,
    .unsubscribers,
    .delivery-issues {
      display: none;
    }
  }
}
