<div class="page-content" [class.with-contacts]="panel === PanelView.Contacts">
    <div class="v-center justify-content-between border-bottom page-header">
        <h4 class="page-title m-0">Messages</h4>
        <button class="v-center btn btn-blue f-6 font-weight-bold text-white" (click)="newMessage()">
            New Text
        </button>
    </div>
    <div class="d-flex message-container position-relative">
        <div class="contact-list" [class.active]="panel === PanelView.Contacts">

            <div class="v-center contact-list-header border-bottom p-3 d-sm-block d-none">
                <h3 class="f-8 font-weight-bold m-0" *ngIf="!isNew">Contacts</h3>
                <h3 class="f-8 font-weight-bold m-0" *ngIf="isNew">New message</h3>
            </div>

            <div class="contact-list-wrapper">
                <ng-container *ngIf="(smsService.messages$ | async).length; else noContacts">
                    <div class="d-flex p-2 c-pointer contact"
                        [class]="{'selected': contact._id == selectedContact._id, 'unread': contact.unread}"
                        *ngFor="let contact of contacts"
                        (click)="selectContact(contact)"
                    >
                        <div class="contact-avatar f-3 font-weight-bold mr-2">
                            {{contact.avatarName}}
                        </div>
                        <div class="contact-name w-100">
                            <div class="v-center justify-content-between">
                                <span class="f-3 fw-600 contact-fullname">{{contact.fullName}}</span>
                                <ng-container *ngIf="calcDate(contact.lastest_at) == 0">
                                    <span class="f-1 op-56">
                                        {{contact.lastest_at | date:'h:mm a'}}
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="calcDate(contact.lastest_at) > 0 && calcDate(contact.lastest_at) < 8">
                                    <span class="f-1 op-56">
                                        {{contact.lastest_at | date:'EEE'}}
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="calcDate(contact.lastest_at) >= 8">
                                    <span class="f-1 op-56">
                                        {{contact.lastest_at | date:'EEE dd, yyyy'}}
                                    </span>
                                </ng-container>
                            </div>
                            <div class="f-3 latest-message">
                                {{contact.lastest_message}}
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #noContacts>
                    <ng-container *ngIf="(templateService.loading$ | async) === STATUS.REQUEST; else emptyContact">
                        <div class="list-loading text-center">
                            <div class="loader mt-5 lg"></div>
                            <h4 class="fw-600 mt-2">Loading contacts...</h4>
                        </div>
                    </ng-container>
                    <ng-template #emptyContact>
                        <div class="empty-list py-5">
                            <div class="object-icon v-center">
                                <i class="i-icon i-lunch d-block bgc-dark"></i>
                            </div>
                            <h4 class="text-center font-weight-bold mt-4 mb-3">
                                There is no contacts.
                            </h4>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>

        <div class="message-box border-left" [class.active]="panel === PanelView.Messages" [class.with-files]="panel === PanelView.Files">
            <ng-container *ngIf="!isNew && !selectedContact._id">
                <div class="message-cover v-center">
                    <ng-container *ngIf="(userService.profile$ | async)._id">
                        <h3 class="font-weight-bold w-100 text-center">Hi {{(userService.profile$ | async).user_name}}!</h3>
                    </ng-container>
                </div>
            </ng-container>
            <div class="v-center justify-content-between border-bottom px-3 py-2 message-box-header" *ngIf="!isNew; else newMessageHeader">
                <i class="i-icon i-back d-block d-sm-none bgc-dark mr-2 c-pointer" (click)="goToBack()"></i>
                <a class="v-center c-pointer" [routerLink]="['/contacts/' + selectedContact?._id]" target="_blank" *ngIf="selectedContact?._id">
                    <div class="contact-avatar f-3 font-weight-bold c-white mr-2">
                        {{selectedContact.avatarName}}
                    </div>
                    <div class="contact-info">
                        <div class="f-3 c-dark">{{selectedContact.fullName}}</div>
                        <div class="v-center f-1 font-weight-bold c-blue">
                            {{selectedContact.cell_phone | phone_format}}
                        </div>
                    </div>
                </a>
                <div class="v-center justify-content-center c-pointer show-list ml-auto" (click)="toggleFileList()">
                    <i class="d-block i-icon i-list bgc-dark"></i>
                </div>
            </div>
            <ng-template #newMessageHeader>
                <div class="v-center border-bottom px-3 py-2 message-box-header">
                    <i class="i-icon i-back d-block d-sm-none bgc-dark mr-2 c-pointer" (click)="goToBack()"></i>
                    <label class="f-6 op-56 m-0">To:</label>
                    <!-- <app-select-contact></app-select-contact> -->
                    <app-select-contact
                        [fromSearch]="false"
                        [mustField]="'cell_phone'"
                        (onSelect)="selectNewContacts($event)"
                        [resultItem]="result"
                        class="w-100"
                    >
                        <ng-template #result let-data>
                            <div class="chip d-flex align-items-center">
                                <div class="contact-avatar rounded-circle bg-dark mr-1">{{data.avatarName}}</div>
                                <div class="info">
                                    <div class="f-3 font-weight-bold">{{data.fullName}}</div>
                                    <div class="f-1 font-weight-bold c-blue">{{data.cell_phone | phone_format}}</div>
                                </div>
                            </div>
                        </ng-template>
                    </app-select-contact>
                    <!-- <app-input-contacts
                        class="w-100"
                        [placeholder]="'Search for Contact'"
                        [display]="'cell_phone'"
                        [selectedContacts]="newContacts"
                        (onSelect)="selectNewContacts()"
                        [focus]="true"
                    ></app-input-contacts> -->
                </div>
            </ng-template>
            <div #scrollMe class="p-3 message-list" [scrollTop]="scrollMe.scrollHeight">
                <ng-container *ngIf="selectedContact._id || newContacts.length">
                    <ng-container *ngIf="isNew && newContacts.length === 1 && conversationDetails[newContacts[0]._id]">
                        <ng-container *ngFor="let message of conversationDetails[newContacts[0]._id].messages">
                            <div class="message mt-3"
                                [innerHTML]="parseContent(message.content)"
                                [ngClass]="{send: message.type == 0, receive: message.type == 1}"
                            ></div>
                            <div class="f-2 message-date mt-1 mx-1" [ngClass]="{send: message.type == 0, receive: message.type == 1}">
                                <ng-container *ngIf="calcDate(message.updated_at) == 0">
                                    {{message.updated_at | date:'h:mm a'}}
                                </ng-container>
                                <ng-container *ngIf="calcDate(message.updated_at) > 0 && calcDate(message.updated_at) < 8">
                                    {{message.updated_at | date:'EEE h:mm a'}}
                                </ng-container>
                                <ng-container *ngIf="calcDate(message.updated_at) > 8">
                                    {{message.updated_at | date:'EEE dd, yyyy'}}
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!isNew && selectedContact._id && conversationDetails[selectedContact._id]">
                        <ng-container *ngFor="let message of conversationDetails[selectedContact._id].messages">
                            <div class="message mt-3"
                                [innerHTML]="parseContent(message.content)"
                                [ngClass]="{send: message.type == 0, receive: message.type == 1}"
                            ></div>
                            <div class="f-2 message-date mt-1 mx-1" [ngClass]="{send: message.type == 0, receive: message.type == 1}">
                                <ng-container *ngIf="calcDate(message.updated_at) == 0">
                                    {{message.updated_at | date:'h:mm a'}}
                                </ng-container>
                                <ng-container *ngIf="calcDate(message.updated_at) > 0 && calcDate(message.updated_at) < 8">
                                    {{message.updated_at | date:'EEE h:mm a'}}
                                </ng-container>
                                <ng-container *ngIf="calcDate(message.updated_at) > 8">
                                    {{message.updated_at | date:'EEE dd, yyyy'}}
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!-- <ng-template #noMessages>
                    <ng-container *ngIf="loadingMessage; else emptyResult">
                        <div class="list-loading text-center">
                            <div class="loader mt-5 lg"></div>
                            <h4 class="fw-600 mt-2">Loading messages...</h4>
                        </div>
                    </ng-container>
                    <ng-template #emptyResult>
                        <div class="empty-list py-5">
                            <div class="object-icon v-center">
                                <i class="i-icon i-message d-block bgc-dark"></i>
                            </div>
                            <h4 class="font-weight-bold mt-4 mb-3">
                                There is no messages.
                            </h4>
                        </div>
                    </ng-template>
                </ng-template> -->
            </div>

            <div class="p-3 message-action border-top" [class.disabled]="!message.replace(spaceReg, '') || (isNew && !newContacts.length)">
                <div class="form-group">
                    <mat-form-field class="w-100">
                        <textarea
                            matInput
                            cdkTextareaAutosize
                            [(ngModel)]="message"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            (keydown)="keyTrigger($event)"
                            #messageText
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="v-center justify-content-between button-groups">
                    <div class="v-center insert-button">
                        <button type="button" class="btn border-primary material-button py-2 mr-2" (click)="openMaterialsDlg()">
                            <div class="for-desktop v-center f-3 font-weight-bold c-blue">
                                <i class="d-block i-icon i-material bgc-blue"></i>
                                <span class="font-weight-bold c-blue ml-1 mr-3">Material</span>
                                <i class="d-block i-icon i-plus bgc-blue ml-auto"></i>
                            </div>

                            <div class="for-mobile">
                                <i class="d-block i-icon i-material bgc-blue"></i>
                            </div>
                        </button>
                        <div ngbDropdown class="px-1 py-2 select-template mr-2">
                            <div ngbDropdownToggle class="f-3 font-weight-bold c-blue c-pointer template-button">
                                <i class="d-block i-icon i-sms-sent bgc-dark"></i>
                            </div>
                            <div ngbDropdownMenu class="light">
                                <ng-container *ngFor="let template of (templateService.templates$ | async)">
                                    <div class="dropdown-item px-2 border-top template" *ngIf="template.type === 'text'">
                                        <div class="v-center h-100">
                                            <div class="f-3 font-weight-bold flex-grow-1 mr-1 h-100 v-center" (click)="selectTemplate(template)">{{(template.title || '') | shorten: 45: '...'}}</div>
                                            <a class="ml-auto" [routerLink]="['/templates/edit/' + template._id]" target="_blank">
                                                <i class="d-block i-icon i-expand bgc-dark sm"></i>
                                            </a>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div ngbDropdown class="py-2 select-template emoji mr-2">
                            <div class="v-center no-carot c-pointer" ngbDropdownToggle>
                              <img class="emoji-icon" src="../../../assets/img/emoji.png">
                            </div>
                            <div ngbDropdownMenu class="light py-1">
                              <emoji-mart class="emoji-mart" [set]="set" [darkMode]="false" (emojiSelect)="insertValue($event.emoji.native)" title="Pick your emoji…">
                              </emoji-mart>
                            </div>
                        </div>
                        <div ngbDropdown class="px-1 py-2 select-template token">
                            <div class="v-center no-carot c-pointer" ngbDropdownToggle>
                              <span class="f-1 font-weight-bold mr-1">Token</span>
                              <i class="d-block i-icon i-triangle-down bgc-dark"></i>
                              <i class="d-block i-icon i-triangle-up bgc-dark"></i>
                            </div>
                            <div ngbDropdownMenu class="light py-1">
                              <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{contact_first_name}')">Contact Firstname</div>
                              <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_name}')">Your name</div>
                              <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_email}')">Your email</div>
                              <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertValue('{user_phone}')">Your phone</div>
                            </div>
                         </div>
                    </div>
                    <button class="btn btn-blue f-6 font-weight-bold send-button for-desktop" [class.loading]="isSend" (click)="sendMessage()">
                        Send
                    </button>
                    <button class="for-mobile send-button btn p-2 rounded-circle" [class.loading]="isSend" (click)="sendMessage()">
                        <i class="i-icon i-text-send d-block bgc-blue"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="file-list-wrapper">
            <div class="file-list position-relative" [class.active]="panel === PanelView.Files">
                <div class="v-center p-3 file-list-header">
                    <div class="f-5 fw-600 ml-auto">Files</div>
                    <button type="button" class="v-center border-0 bgc-trans ml-auto" (click)="panel = PanelView.Messages">
                        <i class="i-icon i-close bgc-dark ml-1" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="p-3 files">
                    <ng-container *ngIf="loadingFiles && fileDetails[selectedContact._id]">
                        <div class="updating-status">Updating</div>
                    </ng-container>
                    <ng-container *ngIf="loadingFiles && !fileDetails[selectedContact._id]; else filesList">
                        <div class="loader"></div>
                    </ng-container>
                    <ng-template #filesList>
                        <app-message-files [info]="fileDetails[selectedContact._id]"></app-message-files>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
