<div class="page-content">
    <div class="v-center justify-content-between border-bottom page-header">
        <h4 class="page-title m-0">Messages</h4>
        <button class="v-center btn btn-blue f-6 font-weight-bold text-white" (click)="newMessage()">
            <i class="d-block i-icon i-plus bgc-white mr-2 sm"></i>
            New message
        </button>
    </div>
    <div class="v-center op-56 c-pointer my-2 back-contacts" (click)="goToBack()" [class.show]="showMessage">
        <i class="d-block i-icon i-triangle-left bgc-dark mr-2"></i>
        <span class="f-5 font-weight-bold">Back to contacts list</span>
    </div>
    <div class="d-flex message-container position-relative">
        <div class="contact-list" [class.hide]="showMessage">
            <div class="v-center contact-list-header border-bottom p-3">
                <h3 class="f-8 font-weight-bold m-0" *ngIf="!isNew">Contacts</h3>
                <h3 class="f-8 font-weight-bold m-0" *ngIf="isNew">New message</h3>
            </div>
            <ng-container *ngIf="contacts.length; else noContacts">
                <div class="d-flex p-2 c-pointer contact"
                    [class]="{'selected': contact._id == selectedContact._id}"
                    *ngFor="let contact of contacts" ngbDropdown
                    (click)="selectContact(contact)"
                >
                    <div class="contact-avatar f-3 font-weight-bold mr-2">
                        {{contact.avatarName}}
                    </div>
                    <div class="contact-name w-100">
                        <div class="v-center justify-content-between">
                            <span class="f-3 fw-600">{{contact.fullName}}</span>
                            <ng-container *ngIf="calcDate(contact.lastest_at) == 0">
                                <span class="f-1 op-56">
                                    {{contact.lastest_at | date:'h:mm a'}}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="calcDate(contact.lastest_at) > 0 && calcDate(contact.lastest_at) < 8">
                                <span class="f-1 op-56">
                                    {{contact.lastest_at | date:'EEE'}}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="calcDate(contact.lastest_at) > 8">
                                <span class="f-1 op-56">
                                    {{contact.lastest_at | date:'EEE dd, yyyy'}}
                                </span>
                            </ng-container>
                        </div>
                        <div class="f-1 mt-1">
                            {{contact.lastest_message | shorten: 35: '...'}}
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noContacts>
                <ng-container *ngIf="loadingContact; else emptyResult">
                    <div class="list-loading text-center">
                        <div class="loader mt-5 lg"></div>
                        <h4 class="fw-600 mt-2">Loading contacts...</h4>
                    </div>
                </ng-container>
                <ng-template #emptyResult>
                    <div class="empty-list py-5">
                        <h4 class="font-weight-bold mt-4 mb-3">
                        There is no contacts.
                        </h4>
                    </div>
                </ng-template>
            </ng-template>
        </div>
        <div class="message-box" [class.show]="showMessage">
            <div class="v-center justify-content-between border-bottom px-3 message-box-header" *ngIf="!isNew; else newMessageHeader">
                <a class="v-center c-pointer" [routerLink]="['/contacts/' + selectedContact._id]" target="_blank" *ngIf="selectedContact._id">
                    <div class="contact-avatar f-3 font-weight-bold c-white mr-2">
                        {{selectedContact.avatarName}}
                    </div>
                    <div class="contact-info">
                        <div class="f-3 c-dark">{{selectedContact.fullName}}</div>
                        <div class="v-center f-1 font-weight-bold c-blue">
                            {{selectedContact.cell_phone}}
                        </div>
                    </div>
                </a>
                <div class="v-center justify-content-center c-pointer show-list ml-auto" (click)="showFileList = !showFileList">
                    <i class="d-block i-icon i-list bgc-dark"></i>
                </div>
            </div>
            <ng-template #newMessageHeader>
                <div class="v-center border-bottom p-3 message-box-header">
                    <label class="f-6 op-56 m-0">To:</label>
                    <app-input-contacts
                        class="w-100"
                        [placeholder]="'Search for Contact'"
                        [display]="'cell_phone'"
                        [selectedContacts]="newContacts"
                        [focus]="true"
                    ></app-input-contacts>
                </div>
            </ng-template>
            <div #scrollMe class="p-3 border-bottom message-list" [scrollTop]="scrollMe.scrollHeight">
                <ng-container *ngIf="messages.length; else noMessages">
                    <ng-container *ngFor="let messageList of messages">
                        <ng-container *ngFor="let newContact of newContacts">
                            <ng-container *ngIf="isNew && messageList.id === newContact._id">
                                <ng-container *ngFor="let message of messageList.messages">
                                    <div class="message mt-3"
                                    [innerHTML]="parseContent(message.content)"
                                        [ngClass]="{send: message.type == 0, receive: message.type == 1}"
                                    ></div>
                                    <div class="f-2 message-date mt-1 mx-1" [ngClass]="{send: message.type == 0, receive: message.type == 1}">
                                        <ng-container *ngIf="calcDate(message.updated_at) == 0">
                                            {{message.updated_at | date:'h:mm a'}}
                                        </ng-container>
                                        <ng-container *ngIf="calcDate(message.updated_at) > 0 && calcDate(message.updated_at) < 8">
                                            {{message.updated_at | date:'EEE h:mm a'}}
                                        </ng-container>
                                        <ng-container *ngIf="calcDate(message.updated_at) > 8">
                                            {{message.updated_at | date:'EEE dd, yyyy'}}
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!isNew && messageList.id === selectedContact._id">
                            <ng-container *ngFor="let message of messageList.messages">
                                <div class="message mt-3"
                                    [innerHTML]="parseContent(message.content)"
                                    [ngClass]="{send: message.type == 0, receive: message.type == 1}"
                                ></div>
                                <div class="f-2 message-date mt-1 mx-1" [ngClass]="{send: message.type == 0, receive: message.type == 1}">
                                    <ng-container *ngIf="calcDate(message.updated_at) == 0">
                                        {{message.updated_at | date:'h:mm a'}}
                                    </ng-container>
                                    <ng-container *ngIf="calcDate(message.updated_at) > 0 && calcDate(message.updated_at) < 8">
                                        {{message.updated_at | date:'EEE h:mm a'}}
                                    </ng-container>
                                    <ng-container *ngIf="calcDate(message.updated_at) > 8">
                                        {{message.updated_at | date:'EEE dd, yyyy'}}
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #noMessages>
                    <ng-container *ngIf="loadingMessage; else emptyResult">
                        <div class="list-loading text-center">
                            <div class="loader mt-5 lg"></div>
                            <h4 class="fw-600 mt-2">Loading messages...</h4>
                        </div>
                    </ng-container>
                    <ng-template #emptyResult>
                        <div class="empty-list py-5">
                            <h4 class="font-weight-bold mt-4 mb-3">
                            There is no messages.
                            </h4>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
            <div class="p-3 message-action">
                <div class="form-group">
                    <mat-form-field class="w-100">
                        <textarea
                            matInput
                            cdkTextareaAutosize
                            [(ngModel)]="messageText"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            (keydown)="keyTrigger($event)"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="v-center justify-content-between button-groups">
                    <div class="v-center insert-button">
                        <button type="button" class="v-center btn border-primary f-3 font-weight-bold c-blue px-3 py-2 mr-2 material-button" (click)="openMaterialsDlg()">
                            <i class="d-block i-icon i-material bgc-blue"></i>
                            <span class="f-3 font-weight-bold c-blue ml-1 mr-3">Material</span>
                            <i class="d-block i-icon i-plus bgc-blue ml-auto"></i>
                        </button>
                        <div ngbDropdown class="px-3 py-2 border-primary select-template">
                            <div ngbDropdownToggle class="v-center f-3 font-weight-bold c-blue c-pointer">
                                Insert template
                                <i class="d-block i-icon i-triangle-down bgc-blue ml-2"></i>
                            </div>
                            <div ngbDropdownMenu class="light">
                                <ng-container *ngFor="let template of (templateService.templates$ | async)">
                                    <div class="dropdown-item template" *ngIf="template.type === 'text'" (click)="selectTemplate(template)">
                                      <div class="v-center">
                                        <div class="f-3 font-weight-bold">{{template.title}}</div>
                                        <div class="c-badge rect ml-auto text-uppercase" [class]="template.role || 'own'">{{template.role || 'own'}}</div>
                                      </div>
                                      <div class="f-2 font-weight-bold">{{template.subject}}</div>
                                      <div class="f-1">{{template.content | stripTags | shorten: 40: '...'}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-blue f-6 font-weight-bold" [class.loading]="isSend" (click)="sendMessage()">
                        Send
                    </button>
                </div>
            </div>
        </div>
        <div class="file-list" [class.show]="showFileList">
            <div class="v-center border-bottom p-3 file-list-header">
                <div class="f-5 fw-600 ml-auto">Files</div>
                <button type="button" class="v-center border-0 bgc-trans ml-auto" (click)="showFileList = false">
                    <i class="i-icon i-close bgc-dark ml-1" aria-hidden="true"></i>
                </button>
            </div>
            <div class="p-3 files">
                <div class="file rounded mb-3" *ngFor="let material of this.materials">
                    <div class="thumbnail">
                        <img [src]="material.thumbnail">
                    </div>
                    <div class="p-2">
                        <div class="f-1 font-weight-bold">
                            {{material.title}}
                        </div>
                        <div class="f-1 font-weight-bold op-40 mt-2">
                            02:08PM 12.09
                        </div>
                        <div class="d-inline-block f-1 font-weight-bold bgc-blue c-white rounded px-1 mt-3">
                            WATCHED 80%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>