<div class="page-content">
    <div class="v-center border-bottom pb-3 page-header">
        <h4 class="page-title m-0">Messages</h4>
        <button class="v-center btn btn-blue f-6 font-weight-bold ml-auto">
            <i class="d-block i-icon i-plus bgc-white mr-2"></i>
            New message
        </button>
    </div>
    <div class="d-flex message-box">
        <div class="contact-list">
            <div class="v-center px-2 py-3 contact">
                <div class="contact-avatar f-3 font-weight-bold mr-2">DW</div>
                <div class="contact">

                </div>
            </div>
        </div>
    </div>
</div>