<div class="page-content p-2">
  <div class="f-3 font-weight-bold">
    Current SMS limit details
  </div>
  <div class="f-5 mt-3">
    You have <span class="font-weight-bold">0 SMS messages</span> remaining.
  </div>
  <button class="btn btn-primary f-6 mt-3" (click)="purchase()">Purchase messages</button>
  <hr class="my-4"/>
  <div class="f-3 font-weight-bold">
    Phone number
  </div>
  <button class="btn btn-white border-dark v-center mt-2" (click)="addPhone()">
    <i class="i-icon add-phone i-plus bgc-black d-block mr-2" aria-hidden="true"></i>
    <span class="c-black font-weight-bold f-2">Add a phone number</span>
  </button>
</div>
