.hw-25 {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 3px;
}
.choosed {
  border: #00ce15 2px solid;
}
.m-r-5 {
  margin-right: 5px;
}
.flex-color-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px
}
