<div mat-dialog-title class="d-flex">
    <i class="i-icon icon-tag mr-1 bg-black-c"></i>
    <span>Add Label</span>
</div>
<form #labelForm="ngForm" (ngSubmit)="submitted = true; labelForm.form.valid ? create() : false">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-5 px-1">
                <div class="form-group">
                    <input class="form-control" placeholder="Label Name" [(ngModel)]="label.name" name="name" #name="ngModel" required />
                    <span class="invalid-feedback" *ngIf="name.errors&&(name.touched||name.dirty||submitted)&&submitted">First name is required</span>
                </div>
            </div>
            <div class="col-md-5 flex-color-item">
                <span class="m-r-5">Choosed color:</span>
                <span class="hw-25" [style.background]="label.color"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 px-1">
                <div class="form-group">
                    <div>
                        <span *ngFor="let color of colors">
              <span class="hw-25" [style.background]="color.color" [style.border]="color.active ? 'choosed' : null" (click)="chooseColor(color, label.name)"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button type="button" mat-dialog-close class="btn br-default py-2">Cancel</button>
        <button type="submit" class="btn bg-green-c text-white br-default py-2" *ngIf="!isLoading">Create</button>
        <app-loading-button [class]="'bg-green-c text-white br-default py-2'" [title]="'Creating'" *ngIf="isLoading">
        </app-loading-button>
    </div>
</form>