.action-items  {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: fixed;
  right: 0px;
  bottom: 120px;
}
.action-item {
  padding: 10px;

  .dropdown-toggle::after {
    vertical-align: 0.15rem;
  }

  .custom-toggle input:checked {
    & + .custom-toggle-slider {
      background: white;
    }

    & + .custom-toggle-slider:before {
      background-color: blue;
    }
  }
}