<form #teamForm="ngForm" (ngSubmit)="submitted = true; teamForm.form.valid ? join() : false"
      [class.was-validated]="submitted" class="team-join-form">
  <div class="v-center justify-content-between mx-0">
    <h4 class="f-22 font-weight-bold c-black">Request to join the team</h4>
    <button class="v-center border-0 bgc-trans dropdown-item" mat-dialog-close>
      <i class="i-icon i-close bgc-black ml-1" aria-hidden="true"></i>
    </button>
  </div>
  <div mat-dialog-content class="my-2">
    <div class="content">
      <div class="form-group">
        <label>Search</label>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button class="btn btn-white f-6 font-weight-bold" mat-dialog-close>Cancel</button>
    <button class="btn btn-primary f-6 font-weight-bold" *ngIf="!updating" type="submit">Request</button>
    <app-loading-button [class]="'btn btn-primary f-6 font-weight-bold'" title="Reqeusting..." *ngIf="updating"></app-loading-button>
  </div>
</form>
