<div class="tree-overlay">
    <div class="v-center justify-content-between">
        <h1 mat-dialog-title class="f-6 font-weight-bold m-0">{{node.label}}</h1>
        <span class="mr-2 c-pointer ml-auto" (click)="update()" *ngIf="type != 'view'"><i class="i-icon i-edit d-block bgc-blue"></i></span>
        <span class="c-pointer" (click)="remove()" *ngIf="type != 'view'"><i class="i-icon i-trash d-block bgc-red"></i></span>
    </div>
    <div class="automation-detail mt-2">
        <ng-container [ngSwitch]="node.type">
            <div *ngSwitchCase="'send_email_video'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/video?video={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.video.thumbnail" class="thumbnail"/>
                        <img [src]="node.video.preview" class="preview"/>    
                    </a>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.video.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">{{node.subject}}</div>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'send_text_video'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/video?video={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.video.thumbnail" class="thumbnail"/>
                        <img [src]="node.video.preview" class="preview"/>    
                    </a>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.video.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'send_email_pdf'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/pdf?pdf={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.pdf.preview" class="thumbnail"/>
                    </a>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.pdf.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">{{node.subject}}</div>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'send_text_pdf'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/pdf?pdf={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.pdf.preview" class="thumbnail"/>
                    </a>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.pdf.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'send_email_image'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/image?image={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.pdf.preview" class="thumbnail"/>
                    </a>
                    <img [src]="node.image.preview" class="thumbnail"/>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.image.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">{{node.subject}}</div>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'send_text_image'">
                <div class="v-center thumb-prev-wrapper">
                    <a href="{{siteUrl}}/image?image={{node.video._id}}&user={{user_id}}" target="_blank">
                        <img [src]="node.pdf.preview" class="thumbnail"/>
                    </a>
                    <span class="f-3 font-weight-bold ml-2">
                        {{node.image.title}}
                    </span>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'email'">
                <div>
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">{{node.subject}}</div>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'follow_up'">
                <div>
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
                <div class="mt-2" *ngIf="node.due_date">
                    <div class="f-1 font-weight-bold text-uppercase op-56">date</div>
                    <div class="f-3 mt-1">{{node.due_date | date : 'y MMM d, HH:mm:ss'}}</div>
                </div>
                <div class="mt-2" *ngIf="node.due_duration">
                    <div class="f-1 font-weight-bold text-uppercase op-56">duration</div>
                    <div class="f-3 mt-1">{{node.due_duration + ' HOURS'}}</div>
                </div>
            </div>
            <div *ngSwitchCase="'update_follow_up'">
                <div *ngIf="this.node.command == 'update_follow_up'">
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">Update follow up</div>
                </div>
                <div *ngIf="this.node.command == 'complete_follow_up'">
                    <div class="f-1 font-weight-bold text-uppercase op-56">subject</div>
                    <div class="f-3 mt-1">Complete follow up</div>
                </div>
                <div class="mt-2">
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
                <div class="mt-2" *ngIf="node.task_type">
                    <div class="f-1 font-weight-bold text-uppercase op-56">task type</div>
                    <div class="f-3 mt-1">{{node.task_type}}</div>
                </div>
                <div *ngIf="this.node.command == 'update_follow_up'">
                    <div class="mt-2" *ngIf="node.due_date">
                        <div class="f-1 font-weight-bold text-uppercase op-56">update date</div>
                        <div class="f-3 mt-1">{{node.due_date | date : 'y MMM d, HH:mm:ss'}}</div>
                    </div>
                    <div class="mt-2" *ngIf="node.due_duration">
                        <div class="f-1 font-weight-bold text-uppercase op-56">update duration</div>
                        <div class="f-3 mt-1">{{node.due_duration + ' HOURS'}}</div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'note'">
                <div>
                    <div class="f-1 font-weight-bold text-uppercase op-56">content</div>
                    <div class="f-3 mt-1" *ngIf="!isShow">{{node.content | stripTags | shorten: 170: '...'}}</div>
                    <div class="f-3 mt-1" *ngIf="isShow">{{node.content | stripTags}}</div>
                </div>
                <div class="read-more text-right mt-1" *ngIf="(node.content | stripTags).length > 170">
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="!isShow" (click)="seeMore()">
                        See more
                    </span>
                    <span class="f-1 font-weight-bold c-blue c-pointer" [class.show]="isShow" (click)="seeMore()">
                        See less
                    </span>
                </div>
            </div>
            <div *ngSwitchCase="'update_contact'">
                <ng-container *ngIf="node.command == 'update_label'">
                    <div>
                        <div class="f-1 font-weight-bold text-uppercase op-56">command</div>
                        <div class="f-3 mt-1">Update label</div>
                    </div>
                    <div class="mt-2">
                        <div class="f-1 font-weight-bold text-uppercase op-56">label</div>
                        <ng-container *ngFor="let item of labelService.labels$ | async">
                            <div class="v-center f-3 fw-600 mt-1" *ngIf="node.content == item._id">
                                <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="item.color === '#FFF' ? '#000' : item.color"></i>
                                <span>{{item.name}}</span>
                            </div>
                        </ng-container>    
                    </div>
                </ng-container>
                <ng-container *ngIf="node.command == 'push_tag'">
                    <div>
                        <div class="f-1 font-weight-bold text-uppercase op-56">command</div>
                        <div class="f-3 mt-1">Insert tags</div>    
                    </div>
                    <div class="mt-2">
                        <div class="f-1 font-weight-bold text-uppercase op-56">tags</div>
                        <div class="f-3 mt-1">
                            <span class="tag-el" *ngFor="let tag of node.content">
                                {{tag}}
                            </span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="node.command == 'pull_tag'">
                    <div>
                        <div class="f-1 font-weight-bold text-uppercase op-56">command</div>
                        <div class="f-3 mt-1">Remove tags</div>
                    </div>
                    <div class="mt-2">
                        <div class="f-1 font-weight-bold text-uppercase op-56">tags</div>
                        <div class="f-3 mt-1">
                            <span class="tag-el" *ngFor="let tag of node.content">
                                {{tag}}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="mt-2">
                <div class="f-1 font-weight-bold text-uppercase op-56">time delay</div>
                <div class="f-3 mt-1">{{node.period | duration}}</div>
            </div>
        </ng-container>
    </div>
</div>