<div class="page-content pt-0">
    <div class="d-flex deal-panel">
        <div class="deal-info-panel pr-3">
            <div class="v-center op-56 c-pointer mb-4 mt-3" (click)="backTasks()">
                <i class="d-block i-icon i-triangle-left bgc-dark mr-2"></i>
                <span class="f-5 font-weight-bold">Back to deals</span>
            </div>
            <div class="v-center justify-content-between deal-main mb-3">
                <div class="f-6 font-weight-bold">
                    {{deal.main.title}}
                </div>
                <div ngbDropdown class="ml-auto button-more p-0">
                    <div class="v-center btn btn-blue" ngbDropdownToggle>
                      <span class="f-6 font-weight-bold text-white c-pointer px-2">
                        Actions
                      </span>
                      <i class="d-block i-icon i-triangle-down bgc-white ml-2"></i>
                    </div>
                    <div ngbDropdownMenu class="light action-menu">
                      <button class="border-0 c-dark dropdown-item" (click)="openAppointmentDlg()">
                        <span class="ml-1 f-3 font-weight-bold">Create appointment</span>
                      </button>
                      <hr class="my-1">
                      <button class="border-0 c-dark dropdown-item" (click)="openSendEmail()">
                        <span class="ml-1 f-3 font-weight-bold">Send email</span>
                      </button>
                      <hr class="my-1">
                      <button class="border-0 c-dark dropdown-item" (click)="openTaskDlg()">
                        <span class="ml-1 f-3 font-weight-bold">Add task</span>
                      </button>
                      <hr class="my-1">
                      <button class="border-0 c-dark dropdown-item" (click)="openNoteDlg()">
                        <span class="ml-1 f-3 font-weight-bold">Add note</span>
                      </button>
                    </div>
                </div>
            </div>
            <div class="deal-stage mb-3">
                <div class="v-center">
                    <div class="f-6 fw-600 op-40 mr-3">
                        Stage
                    </div>
                    <div ngbDropdown>
                        <div class="v-center c-pointer" ngbDropdownToggle>
                            <span class="f-6 px-2 stage-title">
                                {{selectedStage}}
                            </span>
                            <i class="d-block i-icon i-triangle-down bgc-dark ml-2"></i>
                        </div>
                        <div ngbDropdownMenu class="light">
                            <button class="border-0 c-dark dropdown-item" *ngFor="let stage of stages">
                                <span class="ml-1 f-6">{{stage.title}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="v-center justify-content-between mt-3">
                    <div class="stage-status stage-{{index}} mr-1" *ngFor="let stage of stages; let index=index">
                    </div>
                </div>
            </div>
            <mat-accordion multi class="general-panels">
                <!-- Begin Deal Detail -->
                <mat-expansion-panel class="mat-elevation-z" hideToggle [expanded]="dealPanel">
                    <mat-expansion-panel-header (click)="dealPanel = !dealPanel">
                        <mat-panel-title>
                            <div class="v-center w-100">
                                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                                <span class="f-6 font-weight-bold ml-2">About this deal</span>
                                <button class="btn border-0 border-primary f-2 font-weight-bold c-blue ml-auto btn-sm v-center" (click)="editDeal()">
                                    <i class="i-icon i-edit d-block bgc-blue sm mr-1"></i>
                                    <span>Edit</span>
                                </button>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="deal-detail">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="f-6 fw-600 op-40">value</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="f-6">${{deal.main.value}}</span>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-6">
                                <span class="f-6 fw-600 op-40">Stage</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="f-6">{{selectedStage}}</span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- End Deal Detail -->

                <!-- Begin Contacts Detail -->
                <mat-expansion-panel class="mat-elevation-z" hideToggle [expanded]="contactsPanel">
                    <mat-expansion-panel-header (click)="contactsPanel = !contactsPanel">
                        <mat-panel-title>
                            <div class="v-center w-100">
                                <i class="i-icon i-triangle-right bgc-dark sm toggle-icon op-40"></i>
                                <span class="f-6 font-weight-bold ml-2">Contacts ({{deal.contacts.length}})</span>
                                <button class="btn border-0 border-primary f-2 font-weight-bold c-blue ml-auto btn-sm v-center" (click)="addContact()">
                                    <i class="i-icon i-plus d-block bgc-blue sm mr-1"></i>
                                    <span>Add contact</span>
                                </button>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contact-detail mt-2" *ngFor="let contact of deal.contacts">
                        <div class="contact p-3 position-relative">
                            <div class="v-center py-2 avatar-wrapper c-pointer" (click)="contactDetail(contact)">
                                <div class="v-center justify-content-center f-6 font-weight-bold text-white avatar">
                                    {{contact.avatarName}}
                                </div>
                                <div class="f-6 font-weight-bold name">
                                    {{contact.fullName}}
                                </div>
                            </div>
                            <div class="v-center mt-2">
                                <i class="d-block i-icon i-contact-phone bgc-dark mx-2"></i>
                                <span class="f-6">{{contact.cell_phone}}</span>
                            </div>
                            <div class="v-center mt-2">
                                <i class="d-block i-icon i-message bgc-dark mx-2"></i>
                                <span class="f-6">{{contact.email}}</span>
                            </div>
                            <div ngbDropdown class="contact-more c-pointer">
                              <div class="c-pointer" ngbDropdownToggle>
                                <i class="d-block i-icon i-menu-more bgc-dark"></i>
                              </div>
                              <div ngbDropdownMenu class="light">
                                  <button class="border-0 c-dark dropdown-item" (click)="removeContact()">
                                      Remove contact
                                  </button>
                              </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- End Contacts Detail -->
            </mat-accordion>
        </div>
        <div class="deal-action-panel flex-grow-1 position-relative">
          <div class="history-panel pt-3 pl-3 mt-2">
            <app-slide-tab [tabs]="tabs" [selected]="action" (onChange)="changeTab($event)" type="plain" class="border-bottom pl-0 rounded-0">
            </app-slide-tab>
            <div class="history-list mt-3 position-relative">
              <ng-container [ngSwitch]="action.id">
                <div class="history-list-header" *ngSwitchCase="'all'">
                  <div ngbDropdown class="v-center">
                    <span class="f-3 font-weight-bold c-dark c-pointer mr-2" ngbDropdownToggle>
                      All activity
                    </span>
                    <i class="d-block i-icon i-triangle-down bgc-dark"></i>
                    <div ngbDropdownMenu class="light">
                      <div class="v-center justify-content-between dropdown-item" *ngFor="let tab of tabs" (click)="changeTab(tab)">
                        <div class="f-3 c-dark" [ngClass]="{'font-weight-bold': tab.id == action.id}" *ngIf="tab.id == 'all'; else others">
                          All activity
                        </div>
                        <ng-template #others>
                          <div class="f-3 c-dark" [ngClass]="{'font-weight-bold': tab.id == action.id}">
                            {{tab.label}}
                          </div>
                        </ng-template>
                        <div *ngIf="tab.id == action.id">
                          <i class="d-block i-icon i-check bgc-blue"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="history-list-header" *ngSwitchCase="'notes'">
                  <div class="v-center justify-content-end c-pointer" (click)="openNoteDlg()">
                    <span class="f-3 font-weight-bold c-blue mr-2">Add new note</span>
                    <i class="d-block i-icon i-plus bgc-blue"></i>
                  </div>
                  <div class="empty-list" *ngIf="!noteActivity">
                    <div class="object-icon v-center">
                      <i class="i-icon i-template d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3">
                      There is no note activities yet.
                    </h4>
                  </div>
                </div>
                <div class="history-list-header" *ngSwitchCase="'emails'">
                  <div class="v-center justify-content-end c-pointer" (click)="openSendEmail()">
                    <span class="f-3 font-weight-bold c-blue mr-2">Create email</span>
                    <i class="d-block i-icon i-plus bgc-blue"></i>
                  </div>
                  <div class="empty-list" *ngIf="!emailActivity">
                    <div class="object-icon v-center">
                      <i class="i-icon i-template d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3">
                      There is no email activities yet.
                    </h4>
                  </div>
                </div>
                <div class="history-list-header" *ngSwitchCase="'texts'">
                  <div class="v-center justify-content-end c-pointer">
                    <span class="f-3 font-weight-bold c-blue mr-2">Send text</span>
                    <i class="d-block i-icon i-plus bgc-blue"></i>
                  </div>
                  <div class="empty-list" *ngIf="!textActivity">
                    <div class="object-icon v-center">
                      <i class="i-icon i-template d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3">
                      There is no text activities yet.
                    </h4>
                  </div>
                </div>
                <div class="history-list-header" *ngSwitchCase="'appointments'">
                  <div class="v-center justify-content-end c-pointer" (click)="openAppointmentDlg()">
                    <span class="f-3 font-weight-bold c-blue mr-2">Create appointment</span>
                    <i class="d-block i-icon i-plus bgc-blue"></i>
                  </div>
                  <div class="empty-list" *ngIf="!appointmentActivity">
                    <div class="object-icon v-center">
                      <i class="i-icon i-template d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3">
                      There is no appointment activities yet.
                    </h4>
                  </div>
                </div>
                <div class="history-list-header" *ngSwitchCase="'follow_ups'">
                  <div class="v-center justify-content-end c-pointer" (click)="openTaskDlg()">
                    <span class="f-3 font-weight-bold c-blue mr-2">Create task</span>
                    <i class="d-block i-icon i-plus bgc-blue"></i>
                  </div>
                  <div class="empty-list" *ngIf="!taskActivity">
                    <div class="object-icon v-center">
                      <i class="i-icon i-template d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3">
                      There is no task activities yet.
                    </h4>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngFor="let activity of activities">
                <div *ngIf="(action.id == 'all' || action.id == 'notes') && activity.type == 'notes'">
                  <div class="history-detail {{activity.type}}-detail p-3 mt-3">
                    <div class="v-center justify-content-between mb-3">
                      <div class="v-center">
                        <div class="history-icon mr-3"><i class="act-icon act-notes"></i></div>
                        <div class="f-6">
                          <span>{{activity.content}}</span>
                        </div>
                      </div>
                      <div class="v-center">
                        <span class="f-3 op-56 ml-auto">{{activity.created_at | date :'MMM d, hh:mm a'}}</span>
                        <div ngbDropdown class="button-more p-1 rounded" placement="bottom-right">
                          <a class="d-flex c-pointer no-carot" ngbDropdownToggle>
                            <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                          </a>
                          <div ngbDropdownMenu class="light py-1">
                            <button class="v-center border-0 py-1 c-dark dropdown-item" (click)="updateNote(activity)">
                              <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                              <span class="ml-3 f-2 font-weight-bold">Update note</span>
                            </button>
                            <button class="v-center border-0 py-1 c-dark dropdown-item" (click)="deleteNote(activity)">
                              <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                              <span class="ml-3 f-2 font-weight-bold">Remove note</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="activity.activity_detail; else removedTaskTemplate">
                      <div class="main-history-item">
                        <app-accordion [showIndicator]="show" [hideIndicator]="hide" *ngIf="activity.activity_detail.length && activity.activity_detail[0].content">
                          <ng-template #show>
                            <div class="content f-6 position-relative">
                              <div class="note-content">{{activity.activity_detail[0].content || 'No Content Note' | stripTags | shorten: 300: '...' }}</div>
                              <div class="gradient-bottom"></div>
                              <div class="f-3 fw-600 c-blue mt-1">
                                Expand
                              </div>
                            </div>
                          </ng-template>
                          <ng-template #hide>
                            <div class="content">
                              <div class="f-6 note-content opened">{{activity.activity_detail[0].content}}</div>
                              <div class="f-3 fw-600 c-blue mt-1">
                                Collapse
                              </div>
                            </div>
                          </ng-template>
                        </app-accordion>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div *ngIf="(action.id == 'all' || action.id == 'emails') && activity.type == 'emails'">
                  <div class="history-detail {{activity.type}}-detail p-3 mt-3">
                    <div class="v-center justify-content-between mb-3">
                      <div class="v-center">
                        <div class="history-icon mr-3"><i class="act-icon act-emails"></i></div>
                        <div class="f-6">
                          <span>{{activity.content}}</span>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="activity.activity_detail">
                      <div class="main-history-item">
                        <ng-container *ngIf="activity.activity_detail.length === 1; else multiEmailHistory">
                          <div class="summary position-relative">
                            <div class="title f-6 font-weight-bold">
                              {{activity.activity_detail[0].subject}}
                            </div>
                            <div class="f-6" [innerHTML]="activity.activity_detail[0]?.content || 'No Content' | stripTags | shorten: 300: '...' "></div>
                            <div class="gradient-bottom"></div>
                            <div class="c-blue mt-1 f-3 fw-600 c-pointer" (click)="showDetail($event)">Expand</div>
                          </div>
                          <div class="detail">
                            <div class="title f-6 font-weight-bold">
                              {{activity.activity_detail[0].subject}}
                            </div>
                            <div class="f-6" [innerHTML]="activity.activity_detail[0]?.content || 'No Content'"></div>
                            <div class="c-blue mt-1 f-3 fw-600 c-pointer" (click)="hideDetail($event)">Collapse</div>
                          </div>
                        </ng-container>
                        <ng-template #multiEmailHistory></ng-template>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div *ngIf="(action.id == 'all' || action.id == 'follow_ups') && activity.type == 'follow_ups'">
                  <div class="history-detail {{activity.type}}-detail p-3 mt-3">
                    <div class="v-center justify-content-between mb-3">
                      <div class="v-center">
                        <div class="history-icon mr-3"><i class="act-icon act-{{activity.type}} {{activity.activity_detail[0]?.type}}" ></i></div>
                        <div class="f-6">
                          <span>{{activity.content}}</span>
                        </div>
                      </div>
                      <div class="v-center">
                        <span class="f-3 op-56 ml-auto">{{activity.created_at | date :'MMM d, hh:mm a'}}</span>
                        <div ngbDropdown class="button-more p-1 rounded" placement="bottom-right">
                          <a class="d-flex c-pointer no-carot" ngbDropdownToggle>
                            <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
                          </a>
                          <div ngbDropdownMenu class="light py-1">
                            <button
                              class="v-center border-0 py-1 c-dark dropdown-item"
                              *ngIf="activity.content.indexOf('completed') == -1"
                              (click)="editTask(activity)"
                            >
                              <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                              <span class="ml-3 f-2 font-weight-bold">Edit</span>
                            </button>
                            <button
                              class="v-center border-0 py-1 c-dark dropdown-item"
                              *ngIf="activity.content.indexOf('completed') == -1"
                              (click)="completeTask(activity)"
                            >
                              <i class="i-icon i-check bgc-dark ml-1" aria-hidden="true"></i>
                              <span class="ml-3 f-2 font-weight-bold">Complete</span>
                            </button>
                            <button
                              class="v-center border-0 py-1 c-dark dropdown-item"
                              (click)="archiveTask(activity)"
                            >
                              <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                              <span class="ml-3 f-2 font-weight-bold">Archive</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="activity.activity_detail.length; else removedTaskTemplate">
                      <div class="main-history-item" [class.completed]="activity.content.indexOf('completed') !== -1">
                        <div class="v-center">
                          <div class="v-center justify-content-center c-pointer task-status" (click)="completeTask(activity)"
                               *ngIf="activity.content.indexOf('completed') === -1; else taskComplete">
                            <i class="i-icon i-check bgc-white"></i>
                          </div>
                          <ng-template #taskComplete>
                            <div class="v-center justify-content-center task-status">
                              <i class="i-icon i-check bgc-white"></i>
                            </div>
                          </ng-template>
                          <div class="f-6 font-weight-bold ml-3 content">
                            {{activity.activity_detail[0].content}}
                          </div>
                        </div>
                        <div class="v-center mt-3" *ngIf="activity.content.indexOf('completed') === -1">
                          <div class="time">
                            <div class="f-4 fw-600 op-40">
                              Due date
                            </div>
                            <div class="v-center mt-1">
                              <i class="d-block i-icon i-calendar bgc-dark mr-2"></i>
                              <span class="f-4">{{activity.activity_detail[0].due_date | date: 'MM/dd/yyyy'}} at {{activity.activity_detail[0].due_date | date: 'shortTime'}}</span>
                            </div>
                          </div>
                          <div class="type ml-5">
                            <div class="f-4 fw-600 op-40">
                              Type
                            </div>
                            <div class="v-center mt-1">
                              <ng-container [ngSwitch]="activity.activity_detail[0].type">
                                <i class="d-block i-icon i-task bgc-dark mr-2" *ngSwitchCase="'task'"></i>
                                <i class="d-block i-icon i-phone bgc-dark mr-2" *ngSwitchCase="'call'"></i>
                                <i class="d-block i-icon i-lunch bgc-dark mr-2" *ngSwitchCase="'meeting'"></i>
                                <i class="d-block i-icon i-message bgc-dark mr-2" *ngSwitchCase="'email'"></i>
                                <i class="d-block i-icon i-video bgc-dark mr-2" *ngSwitchCase="'material'"></i>
                              </ng-container>
                              <span class="f-4 text-capitalize">{{activity.activity_detail[0].type}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #removedTaskTemplate>
                      <div class="d-flex">
                        <mat-icon class="mr-2">warning</mat-icon>
                        <span>Can't see the detail as it is deleted.</span>
                      </div>
                    </ng-template>
                    <div class="related-history-item" *ngIf="activity.activity_detail.length > 1">
                      <app-accordion [showIndicator]="show" [hideIndicator]="hide">
                        <ng-template #show>
                          <div class="content">
                            <div class="f-3 fw-600 c-blue mt-1">
                              See details
                            </div>
                          </div>
                        </ng-template>
                        <ng-template #hide>
                          <div class="content w-100">
                            <ng-container *ngFor="let detailActivity of activity.activity_detail; let i = index;">
                              <div class="d-flex mb-1">
                                <div class="mr-2 font-weight-bold"># {{activity.activity_detail.length - i}}</div>
                                <div class="mr-2 text-capitalize rounded-pill bgc-green-weak text-white px-3">{{detailActivity.content}}</div>
                                <div class="ml-auto c-trans56">{{detailActivity.created_at | date: 'MMM dd, hh:mm a'}}</div>
                              </div>
                            </ng-container>
                            <div class="f-3 fw-600 c-blue mt-1">
                              Close
                            </div>
                          </div>
                        </ng-template>
                      </app-accordion>
                    </div>
                  </div>
                </div>
                <div *ngIf="(action.id == 'all' || action.id == 'texts') && activity.type == 'texts'">
                </div>
                <div *ngIf="(action.id == 'all' || action.id == 'appointments') && activity.type == 'appointments'">
                </div>
                <div *ngIf="(action.id == 'all' || action.id == 'group_calls') && activity.type == 'group_calls'">
                </div>
              </ng-container>
            </div>
          </div>
        </div>
    </div>
</div>
