<div class="page-content">
    <div class="v-center f-3 font-weight-bold">
        <mat-icon class="mr-2" (click)="backTasks()">arrow_back</mat-icon>
        Back to all deals
    </div>
    <div class="v-center justify-content-between mt-3">
        <div class="v-center">
            <div class="font-weight-bold title mr-4">Real Estate Deal 1</div>
            <div class="v-center mr-4">
                <i class="i-icon i-edit d-block bgc-blue mr-2"></i>
                <i class="i-icon i-trash d-block bgc-red"></i>
            </div>
            <div class="mr-4">
                <div class="f-1 font-weight-bold op-56 text-uppercase">
                    owner
                </div>

            </div>
            <div class="">
                <div class="f-1 font-weight-bold op-56 text-uppercase">
                    value
                </div>
                <div class="f-6 font-weight-bold">
                    $13000
                </div>
            </div>
        </div>
        <div class="v-center">
            <button class="btn btn-accept f-6 font-weight-bold mr-3">Won</button>
            <button class="btn btn-red f-6 font-weight-bold">Lost</button>
        </div>
    </div>
</div>