<div class="page-content">
    <div class="v-center f-3 font-weight-bold">
        <mat-icon class="mr-2" (click)="backTasks()">arrow_back</mat-icon>
        Back to all deals
    </div>
    <div class="v-center justify-content-between mt-3">
        <div class="v-center">
            <div class="font-weight-bold title mr-4">Real Estate Deal 1</div>
            <div class="v-center mr-4">
                <i class="i-icon i-edit d-block bgc-blue mr-2"></i>
                <i class="i-icon i-trash d-block bgc-red"></i>
            </div>
            <div class="mr-4">
                <div class="f-1 font-weight-bold op-56 text-uppercase">
                    owner
                </div>

            </div>
            <div class="">
                <div class="f-1 font-weight-bold op-56 text-uppercase">
                    value
                </div>
                <div class="f-6 font-weight-bold">
                    $13000
                </div>
            </div>
        </div>
        <div class="v-center">
            <button class="btn btn-accept f-6 font-weight-bold mr-3">Won</button>
            <button class="btn btn-red f-6 font-weight-bold">Lost</button>
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="stage">stage</label>
        <div class="v-center stages">
            <div class="f-4 font-weight-bold mx-2 c-white stage" *ngFor="let stage of stages">
                {{stage}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="main-contact">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header class="p-0">
                            <mat-panel-title>
                                <div class="v-center f-6 font-weight-bold">
                                    <mat-icon class="op-56 mr-2">arrow_drop_down</mat-icon> Main contact
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="contact-detail ml-1">
                            <div class="v-center mb-3">
                                <div class="v-center">
                                    <div class="avatar-wrapper">
                                        <div class="avatar">AJ</div>
                                    </div>
                                    <div class="ml-3">
                                        <div class="f-6 font-weight-bold text-primary">Andrew Johnson</div>
                                        <div class="f-3 op-56">Last Communication a day ago</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="primary">primary contacts</label>
                                <div class="v-center f-6">
                                    <i class="i-icon i-phone d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                                <div class="v-center f-6 mt-2">
                                    <i class="i-icon i-email d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                                <div class="v-center f-6 mt-2">
                                    <i class="i-icon i-location d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                                <div class="v-center f-6 mt-2">
                                    <i class="i-icon i-task d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="secondary">secondary contacts</label>
                                <div class="v-center f-6">
                                    <i class="i-icon i-phone d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                                <div class="v-center f-6 mt-2">
                                    <i class="i-icon i-email d-block bgc-dark mr-2"></i>
                                    +1 (202) 555 0168
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="participant">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header class="p-0">
                            <mat-panel-title>
                                <div class="v-center f-6 font-weight-bold">
                                    <mat-icon class="op-56 mr-2">arrow_drop_down</mat-icon> Participants
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="participant-detail ml-1">
                            <div class="form-group">
                                <label for="contacts">add additional contacts & guest</label>
                                <app-input-contacts
                                    [selectedContacts]="contacts"
                                >
                                </app-input-contacts>
                            </div>
                            <div class="form-group">
                                <label for="leader">add leader</label>
                                <app-input-contacts
                                    [selectedContacts]="contacts"
                                >
                                </app-input-contacts>
                            </div>
                            <div class="form-group">
                                <label for="team">add teams</label>
                                <app-input-contacts
                                    [selectedContacts]="contacts"
                                >
                                </app-input-contacts>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>