<div class="v-center justify-content-between">
    <h1 class="m-0" mat-dialog-title>
        Calendly
    </h1>
    <button class="btn btn-blue text-uppercase" mat-dialog-close>
        close
    </button>
</div>
<mat-dialog-content>
    <div class="d-flex mt-4 px-2 py-4 container-wrapper">
        <div class="bgc-white p-4 w-100 calendly-left">
            <h2>Ways to use Quickpage + Calendly</h2>
            <p class="f-6 fw-300 m-0 c-dark">Automatically add Calendly calendars to your landing page.</p>
            <a class="f-6 fw-400 c-dark">How to find your Calendar API key</a>
            <div class="form-group mb-0">
                <label for="calendly_api_key" class="f-2 fw-400 m-0">API Key</label>
                <input class="form-control" name="calendlyApiKey" placeholder="API Key" [(ngModel)]="calendlyApiKey" />
            </div>
            <button class="btn btn-blue mt-2" [class.loading]="isConfirm" (click)="authCalendly()">
                Confirm
            </button>
        </div>
        <div class="d-flex flex-column justify-content-center w-100 calendly-right">
            <div class="d-flex justify-content-around mx-auto center-image">
                <div class="bg-white text-center mr-3 icon-crmgrow">
                    <img src="../../../assets/img/crmgrow_icon.png">
                </div>
                <i class="d-block i-icon i-plus mr-3" aria-hidden="true"></i>
                <div class="bg-white text-center icon-calendly">
                    <img src="../../../assets/img/calendly.svg">
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>