<div class="panel p-4c">
  <div class="v-center mb-4">
    <h4 class="font-weight-bold mb-0">Filters</h4>
    <div class="c-blue f-1 text-uppercase ml-2 mt-2 c-pointer" (click)="clearFilter()">Clear All Filters</div>
    <button class="v-center border-0 bgc-trans ml-auto" type="button" (click)="close()">
      <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
  </div>
  <form #form="ngForm" (ngSubmit)="form.form.valid ? applyFilters() : false">
    <div class="form-group">
      <label for="task-search">Global Search</label>
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="Type in string"
        name="taskSearch" #taskSearch="ngModel" id="task-search" (ngModelChange)="applyFilters()" />
    </div>
    <div class="form-group">
      <label>task type</label>
      <div>
        <div class="task-types btn-group btn-group-toggle rounded">
          <label class="btn px-2 rounded no-shadow" ngbButtonLabel>
            <input type="checkbox" name="options" ngbButton [ngModel]="types.indexOf('task')!==-1" (ngModelChange)="toggleTypes('task')">
            <i class="i-icon i-task d-block bgc-dark"></i>
          </label>
          <label class="btn px-2 rounded no-shadow" ngbButtonLabel>
            <input type="checkbox" name="options" ngbButton [ngModel]="types.indexOf('call')!==-1" (ngModelChange)="toggleTypes('call')">
            <i class="i-icon i-phone d-block bgc-dark"></i>
          </label>
          <label class="btn px-2 rounded no-shadow" ngbButtonLabel>
            <input type="checkbox" name="options" ngbButton [ngModel]="types.indexOf('meeting')!==-1" (ngModelChange)="toggleTypes('meeting')">
            <i class="i-icon i-lunch d-block bgc-dark"></i>
          </label>
          <label class="btn px-2 rounded no-shadow" ngbButtonLabel>
            <input type="checkbox" name="options" ngbButton [ngModel]="types.indexOf('email')!==-1" (ngModelChange)="toggleTypes('email')">
            <i class="i-icon i-message d-block bgc-dark"></i>
          </label>
          <label class="btn px-2 rounded no-shadow" ngbButtonLabel>
            <input type="checkbox" name="options" ngbButton [ngModel]="types.indexOf('material')!==-1" (ngModelChange)="toggleTypes('material')">
            <i class="i-icon i-video d-block bgc-dark"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>status of task</label>
      <div>
        <app-tab-option [options]="STATUS_OPTIONS" [(value)]="status" (valueChange)="applyFilters()"></app-tab-option>
      </div>
    </div>
    <div class="d-flex mt-4">
      <label class="f-1 op-75 mb-0">CONTACT STATUS</label>
      <a class="f-1 c-blue ml-2 c-pointer undecoration" (click)="clearLabels()">CLEAR</a>
    </div>
    <div class="labels-wrapper">
      <div class="custom-checkbox label-item" *ngFor="let item of labelService.labels$ | async"
        style="height: unset; line-height: unset;">
        <input type="checkbox" class="custom-control-input" id="label-{{item._id}}" name="label-{{item._id}}"
          (change)="selectedLabels.toggle(item._id); applyFilters();" [checked]="selectedLabels.isSelected(item._id)">
        <label class="custom-control-label d-flex" for="label-{{item._id}}">
          <i class="i-icon i-label d-block mr-2"
            [style.backgroundColor]="item.color === '#FFF' ? '#000' : item.color"></i>
          <span class="f-3 fw-600 mt-1">{{item.name}}</span>
        </label>
      </div>
    </div>
    <div class="form-group mt-3">
      <label>TASK DESCRIPTION CONTACT</label>
      <app-select-contact [contact]="contact" (onSelect)="selectContact($event)"></app-select-contact>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>start date</label>
          <app-date-input type="prepend" [clearable]="true" [(value)]="startDate" (valueChange)="applyFilters()"></app-date-input>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>time</label>
          <select class="form-control" name="start_time" #start_time="ngModel" [(ngModel)]="startTime" (ngModelChange)="changeTime('start')">
            <option *ngFor="let time of TIMES" [value]="time.id">
              {{time.text}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>end date</label>
          <app-date-input type="prepend" [clearable]="true" [(value)]="endDate" (valueChange)="applyFilters()"></app-date-input>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>time</label>
          <select class="form-control" name="end_time" #end_time="ngModel" [(ngModel)]="endTime" (ngModelChange)="changeTime('end')">
            <option *ngFor="let time of TIMES" [value]="time.id">
              {{time.text}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex mt-4">
      <button type="button" class="btn btn-white font-weight-bold ml-auto" type="button" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
