<div class="v-center justify-content-between">
  <h1 mat-dialog-title class="m-0">
    Add phone number
  </h1>
  <button class="v-center border-0 bgc-trans p-0" mat-dialog-close>
    <i class="d-block i-icon i-close bgc-dark"></i>
  </button>
</div>
<mat-dialog-content>
  <div class="f-3 font-weight-bold c-black mt-3">
    Please feel free to search and choose a third party number to use for your sms texting within your crmgrow account.
  </div>
  <div class="form-group my-4">
    <div class="ml-2">
      <div class="f-3">Which local area code are you looking for?</div>
      <div class="row">
        <div class="col-5 search-phone-wrapper v-center mt-2">
          <input type="text" class="form-control" [(ngModel)]="searchCode" name="search-phone" id="search-phone" maxlength="3" placeholder="e.g.123"/>
          <button class="search-button btn btn-primary v-center ml-2" (click)="searchPhone()">
            <i class="i-icon i-search d-block bgc-white"></i>
          </button>
        </div>
      </div>
      <div class="phones-container mt-2">
        <ng-container *ngIf="loading; else phones">
          <div class="list-loading text-center">
              <div class="loader mt-5 lg"></div>
              <h4 class="fw-600 mt-2">Loading ...</h4>
          </div>
        </ng-container>
        <ng-template #phones>
          <ng-container *ngIf="phoneNumbers?.length > 0; else empty">
            <div class="phone-wrapper v-center mb-1" *ngFor="let phone of phoneNumbers; let i = index">
              <div class="custom-radio-container mr-3" (click)="selectPhone(phone.number)">
                <input class="custom-radio" type="radio" [id]="'select-phone-' + i" [name]="'select-phone-' + i" [checked]="isSelected(phone.number)">
                <label class="f-6 font-weight-bold"></label>
              </div>
              <div class="v-center ml-4 mt-3 c-pointer" (click)="selectPhone(phone.number)">
                <i class="i-icon i-phone d-block bgc-dark"></i>
                <div class="ml-2">
                  <div class="f-3 font-weight-bold">{{phone.number}}</div>
                  <div class="f-3">{{phone.locality}}, {{phone.region}}</div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #empty>
            <div class="empty-list py-5">
              <div class="object-icon v-center">
                  <i class="i-icon i-phone d-block bgc-dark"></i>
              </div>
              <h4 class="text-center font-weight-bold mt-4 mb-3">
                  There is no phone numbers.
              </h4>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-white c-blue font-weight-bold" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary f-6 font-weight-bold px-3 ml-2" [class.loading]="saving" (click)="save()">Save</button>
</mat-dialog-actions>
