<div class="smtp-container my-5 mx-5">
  <form #smtpForm="ngForm" (ngSubmit)="smtpForm.form.valid ? saveSMTP() : false">
    <div class="form-group email-form" [ngClass]="{invalid: smtpForm.submitted && email.invalid && (email.dirty || email.touched || smtpForm.submitted)}">
      <label for="email" class="mr-auto">EMail</label>
      <input type="email" class="form-control" [(ngModel)]="senderEmail" name="email" id="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"/>
      <span class="error" *ngIf="email.errors">
            <ng-container *ngIf="email.errors.required">Required!</ng-container>
            <ng-container *ngIf="email.errors.pattern">Wrong email format!</ng-container>
          </span>
    </div>
    <div class="form-group" [ngClass]="{invalid: smtpForm.submitted && username.invalid && (username.dirty || username.touched || smtpForm.submitted)}">
      <label for="username" class="mr-auto">Sender Name</label>
      <input type="text" class="form-control" [(ngModel)]="senderName" name="username" id="username" required #username="ngModel"/>
      <span class="error" *ngIf="username.errors">
            <ng-container *ngIf="username.errors.required">Required!</ng-container>
          </span>
    </div>
    <div class="form-group" [ngClass]="{invalid: smtpForm.submitted && hostname.invalid && (hostname.dirty || hostname.touched || smtpForm.submitted)}">
      <label for="username" class="mr-auto">SMTP Host</label>
      <input type="text" class="form-control" [(ngModel)]="smtpHost" name="hostname" id="hostname" required #hostname="ngModel"/>
      <span class="error" *ngIf="hostname.errors">
            <ng-container *ngIf="hostname.errors.required">Required!</ng-container>
          </span>
    </div>
    <div class="form-group" [ngClass]="{invalid: smtpForm.submitted && port.invalid && (port.dirty || port.touched || smtpForm.submitted)}">
      <label for="username" class="mr-auto">SMTP Port</label>
      <input type="text" class="form-control" [(ngModel)]="smtpPort" name="port" id="port" required #port="ngModel"/>
      <span class="error" *ngIf="port.errors">
            <ng-container *ngIf="port.errors.required">Required!</ng-container>
          </span>
    </div>
    <div class="form-group" [ngClass]="{invalid: smtpForm.submitted && smtpPassword.invalid && (smtpPassword.dirty || smtpPassword.touched || smtpForm.submitted)}">
      <label for="username" class="mr-auto">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="port" id="smtpPassword" required #smtpPassword="ngModel"/>
      <span class="error" *ngIf="smtpPassword.errors">
            <ng-container *ngIf="smtpPassword.errors.required">Required!</ng-container>
          </span>
    </div>
    <div class="v-center justify-content-end mt-4">
      <div class="f-3 font-weight-bold c-dark">Enable SSL</div>
      <label class="custom-toggle mb-0 mx-2" placement="top">
        <input type="checkbox" id="enable_ssl" name="enable_ssl" [checked]="enableSSL"
               (change)="setEnableSSL()">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div>
    <div class="v-center justify-content-end mt-5">
      <button type="button" class="btn btn-white font-weight-bold" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary font-weight-bold ml-2">Save Changes</button>
    </div>
  </form>
</div>

