<h1 mat-dialog-title>Edit Team</h1>
<form #teamForm="ngForm" (ngSubmit)="submitted = true; teamForm.form.valid ? update() : false"
  [class.was-validated]="submitted">
  <mat-dialog-content>
    <div class="form-group">
      <div class="upload-wrapper my-3">
        <ng-container *ngIf="picture; else emptyAvatar">
          <div class="avatar-wrapper">
            <img class="avatar rectangle f-1 font-weight-bold" [src]="picture" alt="NO LOGO ADDED"/>
            <button type="button" class="bgc-red btn rounded-circle btn-icon" (click)="closeAvatar()">
              <i class="i-icon i-close bg-white d-block"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #emptyAvatar>
          <div class="avatar-wrapper empty rectangle" (click)="openAvatar()">
            <div class="f-1 font-weight-bold text-uppercase">No Logo Added</div>
          </div>
        </ng-template>
        <div class="description ml-md-4 ml-sm-0 ml-0" (click)="openAvatar()">
          <div class="v-center">
            <i class="i-icon i-upload bgc-black d-block"></i>
            <div class="ml-3">
              <div class="f-6 font-weight-bold c-black">Do you want to upload the team logo?</div>
              <div class="f-1 mt-1">You can upload .jpg or .png and the file size can be up to 2MB.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <label>Team Name</label>
        <input class="form-control" [(ngModel)]="name" placeholder="Team Name" required name="teamName" #teamName="ngModel" />
        <span class="invalid-feedback"
              *ngIf="teamName.errors && (teamName.touched || teamName.dirty || submitted) &&submitted">Team name is
        required</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="v-center justify-content-between w-100">
      <div>
        <button class="v-center btn c-red f-6 font-weight-bold" type="button" (click)="deleteTeam()">
          <i class="i-icon i-trash bgc-red d-block mr-2"></i>
          <span class="c-red">Delete Team</span>
        </button>
      </div>
      <div class="v-center justify-content-end">
        <button class="btn btn-white f-6 font-weight-bold" type="button" mat-dialog-close>Cancel</button>
        <button class="btn btn-blue text-white f-6 font-weight-bold" [class.loading]="updating" type="submit">Save</button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
