.i-automation{
  mask-image: url('/assets/img/automation.svg');
}
.i-broadcasts{
  mask-image: url('/assets/img/broadcasts.svg');
}
.i-calendar{
  mask-image: url('/assets/img/calendar.svg');
}
.i-copy{
  mask-image: url('/assets/img/copy.svg');
}
.i-deadline{
  mask-image: url('/assets/img/deadline.svg');
}
.i-download{
  mask-image: url('/assets/img/download.svg');
}
.i-edit{
  mask-image: url('/assets/img/edit.svg');
}
.i-follow{
  mask-image: url('/assets/img/follow.svg');
}
.i-list{
  mask-image: url('/assets/img/list.svg');
}
.i-location{
  mask-image: url('/assets/img/location.svg');
}
.i-lunch{
  mask-image: url('/assets/img/lunch.svg');
}
.i-message{
  mask-image: url('/assets/img/message.svg');
}
.i-label{
  mask-image: url('/assets/img/label.svg');
}
.i-notification{
  mask-image: url('/assets/img/notification.svg');
}
.i-pdf{
  mask-image: url('/assets/img/PDF.svg');
}
.i-phone{
  mask-image: url('/assets/img/phone.svg');
}
.i-pdf-email{
  mask-image: url('/assets/img/pdf_email.svg');
}
.i-sent{
  mask-image: url('/assets/img/sent.svg');
}
.i-setting{
  mask-image: url('/assets/img/setting.svg');
}
.i-share{
  mask-image: url('/assets/img/share.svg');
}
.i-sms-sent{
  mask-image: url('/assets/img/sms_sent.svg');
}
.i-task{
  mask-image: url('/assets/img/task.svg');
}
.i-template{
  mask-image: url('/assets/img/template.svg');
}
.i-trash{
  mask-image: url('/assets/img/trash.svg');
}
.i-webpage{
  mask-image: url('/assets/img/webpage.svg');
}
.i-video{
  mask-image: url('/assets/img/video.svg');
}
.i-upload {
  mask-image: url('/assets/img/upload.svg');
}
.i-plus {
  mask-image: url('/assets/img/plus.svg');
}
.i-menu {
  mask-image: url('/assets/img/menu.svg');
}
.i-close {
  mask-image: url('/assets/img/close.svg');
}
.i-general {
  mask-image: url('/assets/img/general.svg');
}
.i-signature {
  mask-image: url('/assets/img/signature.svg');
}
.i-signature-1 {
  mask-image: url('/assets/img/signature1.svg');
  width: 72px;
  height: 32px;
}
.i-signature-1-white {
  mask-image: url('/assets/img/signature1_white.svg');
  width: 72px;
  height: 32px;
}
.i-signature-2 {
  mask-image: url('/assets/img/signature2.svg');
  width: 72px;
  height: 32px;
}
.i-signature-2-white {
  mask-image: url('/assets/img/signature2_white.svg');
  width: 72px;
  height: 32px;
}
.i-signature-3 {
  mask-image: url('/assets/img/signature3.svg');
  width: 32px;
  height: 54px;
}
.i-signature-3-white {
  mask-image: url('/assets/img/signature3_white.svg');
  width: 32px;
  height: 54px;
}
.i-signature-4 {
  mask-image: url('/assets/img/signature4.svg');
  width: 32px;
  height: 54px;
}
.i-signature-4-white {
  mask-image: url('/assets/img/signature4_white.svg');
  width: 32px;
  height: 54px;
}
.i-signature-5 {
  mask-image: url('/assets/img/signature5.svg');
  width: 44px;
  height: 15px;
}
.i-signature-5-white {
  mask-image: url('/assets/img/signature5_white.svg');
  width: 44px;
  height: 15px;
}
.i-security {
  mask-image: url('/assets/img/security.svg');
}
.i-integration {
  mask-image: url('/assets/img/integration.svg');
}
.i-payment {
  mask-image: url('/assets/img/payment.svg');
}
.i-social {
  mask-image: url('/assets/img/social.svg');
}
.i-folder {
  mask-image: url('/assets/img/folder.svg');
}
.i-menu-more {
  mask-image: url('/assets/img/more_menu.svg');
}
.i-assistant {
  mask-image: url('/assets/img/assistant.svg');
}
.i-lead-capture {
  mask-image: url('/assets/img/lead_capture.svg');
}
.i-tag-manager {
  mask-image: url('/assets/img/tag_manager.svg');
}
.i-zapier {
  mask-image: url('./assets/img/zapier.svg');
}
.i-record{
  mask-image: url('/assets/img/record.svg');
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.i-block {
  mask-image: url('/assets/img/block.svg');
}
.i-triangle-up {
  mask-image: url('/assets/img/up_triangle.svg');
}
.i-triangle-down {
  mask-image: url('/assets/img/down_triangle.svg');
}
.i-check {
  mask-image: url('/assets/img/check.svg');
}
.i-question {
  mask-image: url('/assets/img/question.svg');
}
.i-like {
  mask-image: url('/assets/img/like.svg');
}
.i-triangle-right {
  mask-image: url('/assets/img/triangle-right.svg');
}
.i-triangle-left {
  mask-image: url('/assets/img/triangle-left.svg');
}
.i-list-text {
  mask-image: url('/assets/img/list-text.svg');
}
.i-bulk {
  mask-image: url('/assets/img/rss-feed.svg');
}
.i-activity {
  mask-image: url('/assets/img/activity.svg');
}
.i-round-check {
  mask-image: url('/assets/img/round-check.svg');
}
.i-round {
  mask-image: url('/assets/img/round.svg');
}
.i-triangle-more {
  mask-image: url('/assets/img/triangle_more.svg');
}
.i-remove {
  mask-image: url('/assets/img/remove.svg');
}
.i-status {
  mask-image: url('/assets/img/status.svg');
}
.i-auto-video {
  mask-image: url('/assets/img/auto_video.svg');
}
.i-auto-follow {
  mask-image: url('/assets/img/auto_follow.svg');
}
.i-folder-name {
  mask-image: url('/assets/img/ABC.svg');
}
.i-copy-link {
  mask-image: url('/assets/img/copy_link.svg');
}
.i-invite {
  mask-image: url('/assets/img/invite.svg');
}
.i-duplicate {
  mask-image: url('/assets/img/duplicate.svg');
}
.i-backward {
  mask-image: url('/assets/img/backward.svg');
}
.i-forward {
  mask-image: url('/assets/img/forward.svg');
}
.i-contact-merge {
  mask-image: url('/assets/img/contact_merge.svg');
}
.i-group-call-schedule {
  mask-image: url('/assets/img/group_call_schedule.svg');
}
.i-contact-location {
  mask-image: url('/assets/img/profile_location.svg');
}
.i-contact-phone {
  mask-image: url('/assets/img/profile_phone.svg');
}
.i-google {
  mask-image: url('/assets/img/google.svg');
}
.i-automation-start {
  mask-image: url('/assets/img/automation_assign.svg');
}
.i-automation-cancel {
  mask-image: url('/assets/img/automation_cancel.svg');
}
.i-search {
  mask-image: url('/assets/img/search.svg');
}
.i-material {
  mask-image: url('/assets/img/materials.svg')
}
.i-reminder {
  mask-image: url('/assets/img/reminder.svg')
}
.i-schedule {
  mask-image: url('/assets/img/schedule.svg')
}
.i-icon.i-label{
  width: 24px;
  height: 24px;
}



///////////// design icons //////////////////

.i-sent-mail {
  mask-image: url('/assets/img/sent_mail.svg');
}
.i-opened-mail {
  mask-image: url('/assets/img/opened_mail.svg');
}
.i-bounced-mail {
  mask-image: url('/assets/img/bounced_mail.svg');
}
.i-unsubscribed-mail {
  mask-image: url('/assets/img/unsubscribed_mail.svg');
}
.i-clicked-mail {
  mask-image: url('/assets/img/clicked_mail.svg');
}
.i-delivered-mail {
  mask-image: url('/assets/img/delivered_mail.svg');
}
.i-teams {
  mask-image: url('/assets/img/teams.svg');
}
.i-group-call {
  mask-image: url('/assets/img/group_call_schedule.svg');
}
.i-invite-member {
  mask-image: url('/assets/img/invite_member.svg');
}
.i-send {
  mask-image: url('/assets/img/sent.svg');
}
.i-copy-link {
  mask-image: url('/assets/img/copy.svg');
}
.i-edit-template {
  mask-image: url('/assets/img/template.svg');
}
.i-duplicate {
  mask-image: url('/assets/img/duplicate.svg');
}
.i-screen {
  mask-image: url('/assets/img/monitor.svg');
}
.i-camera {
  mask-image: url('/assets/img/webcamera.svg');
}
.i-mic {
  mask-image: url('/assets/img/voice-recording.svg');
}
.i-screen-camera {
  mask-image: url('/assets/img/monitor_camera.svg');
}
.i-record-more {
  mask-image: url('/assets/img/record_more.svg');
}
.i-record-cam {
  mask-image: url('/assets/img/record_cam.svg');
}
.i-record-check {
  mask-image: url('/assets/img/record_check.svg');
}
.i-record-mic {
  mask-image: url('/assets/img/record_mic.svg');
}
.i-record-arrow {
  mask-image: url('/assets/img/record_arrow.svg');
}
.i-record-pause {
  mask-image: url('/assets/img/record_pause.svg');
}
.i-record-play {
  mask-image: url('/assets/img/record_play.svg');
}
.i-record-screen {
  mask-image: url('/assets/img/record_screen.svg');
}
.i-record-screen-cam {
  mask-image: url('/assets/img/record_screen_cam.svg');
}
.i-record-close {
  mask-image: url('/assets/img/record_close.svg');
}
.i-record-photo {
  mask-image: url('/assets/img/photo_camera.svg');
}
.i-facebook {
  mask-image: url('/assets/img/facebook.svg');
}
.i-twitter {
  mask-image: url('/assets/img/twitter.svg');
}
.i-linkedin {
  mask-image: url('/assets/img/linkedin.svg');
}
.i-deals {
  mask-image: url('/assets/img/deals.svg');
}
.i-analytics {
  mask-image: url('/assets/img/analytics.svg');
}

///////////// Activity List Icons //////////////////
.act-icon{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.act-icon.normal {
  width: 18px;
  height: 18px;
}
.act-videos {
  background-image: url('/assets/img/activities/video.svg');
}
.act-pdfs {
  background-image: url('/assets/img/activities/pdf.svg');
}
.act-images {
  background-image: url('/assets/img/activities/image.svg');
}
.act-emails {
  background-image: url('/assets/img/activities/email.svg');
}
.act-video_trackers {
  background-image: url('/assets/img/activities/video_watched.svg');
}
.act-video_trackers.watch {
  background-image: url('/assets/img/activities/video_watched.svg');
}
.act-video_trackers.thumbs {
  background-image: url('/assets/img/activities/video_like.svg');
}
.act-video_trackers.unsubscribe {
  background-image: url('/assets/img/activities/email_unsubscribed.svg');
}
.act-video_trackers.share {
  background-image: url('/assets/img/activities/video_like.svg');
}

.act-image_trackers {
  background-image: url('/assets/img/activities/image_watched.svg');
}
.act-image_trackers.watch {
  background-image: url('/assets/img/activities/image_watched.svg');
}
.act-image_trackers.thumbs {
  background-image: url('/assets/img/activities/image_like.svg');
}
.act-image_trackers.unsubscribe {
  background-image: url('/assets/img/activities/email_unsubscribed.svg');
}
.act-image_trackers.share {
  background-image: url('/assets/img/activities/image_like.svg');
}

.act-pdf_trackers {
  background-image: url('/assets/img/activities/pdf_watched.svg');
}
.act-pdf_trackers.watch {
  background-image: url('/assets/img/activities/pdf_watched.svg');
}
.act-pdf_trackers.thumbs {
  background-image: url('/assets/img/activities/pdf_like.svg');
}
.act-pdf_trackers.unsubscribe {
  background-image: url('/assets/img/activities/email_unsubscribed.svg');
}
.act-pdf_trackers.share {
  background-image: url('/assets/img/activities/pdf_like.svg');
}

.act-email_trackers {
  background-image: url('/assets/img/activities/email_opened.svg');
}
.act-email_trackers.open {
  background-image: url('/assets/img/activities/email_opened.svg');
}
.act-email_trackers.click {
  background-image: url('/assets/img/activities/link_clicked.svg');
}
.act-email_trackers.unsubscribe {
  background-image: url('/assets/img/activities/email_unsubscribed.svg');
}

.act-contacts {
  background-image: url('/assets/img/activities/contact.svg');
}

.act-follow_ups {
  background-image: url('/assets/img/activities/task.svg');
}
.act-phone_logs {
  background-image: url('/assets/img/activities/phone.svg');
}
.act-notes {
  background-image: url('/assets/img/activities/note.svg');
}
.act-appointments {
  background-image: url('/assets/img/activities/note.svg');
}
.act-sms {
  background-image: url('/assets/img/activities/note.svg');
}
.act-sms_trackers {
  background-image: url('/assets/img/activities/note.svg');
}
