.i-automation{
  mask-image: url('/assets/img/automation.svg');
}
.i-broadcasts{
  mask-image: url('/assets/img/broadcasts.svg');
}
.i-calendar{
  mask-image: url('/assets/img/calendar.svg');
}
.i-error{
  mask-image: url('/assets/img/error.svg');
}
.i-calendly{
  mask-image: url('/assets/img/calendly.svg');
}
.i-timer{
  mask-image: url('/assets/img/timer.svg');
}
.i-contact {
  mask-image: url('/assets/img/assistant.svg');
}
.i-copy{
  mask-image: url('/assets/img/copy.svg');
}
.i-deadline{
  mask-image: url('/assets/img/deadline.svg');
}
.i-download{
  mask-image: url('/assets/img/download.svg');
}
.i-edit{
  mask-image: url('/assets/img/edit.svg');
}
.i-follow{
  mask-image: url('/assets/img/follow.svg');
}
.i-list{
  mask-image: url('/assets/img/list.svg');
}
.i-list-circle{
  mask-image: url('/assets/img/list-circle.svg');
}
.i-location{
  mask-image: url('/assets/img/location.svg');
}
.i-lunch{
  mask-image: url('/assets/img/lunch.svg');
}
.i-message{
  mask-image: url('/assets/img/message.svg');
}
.i-label{
  mask-image: url('/assets/img/label.svg');
}
.i-notification{
  mask-image: url('/assets/img/notification.svg');
}
.i-pdf{
  mask-image: url('/assets/img/pdf_icon.svg');
}
.i-phone{
  mask-image: url('/assets/img/phone.svg');
}
.i-pdf-email{
  mask-image: url('/assets/img/pdf_email.svg');
}
.i-sent{
  mask-image: url('/assets/img/sent.svg');
}
.i-setting{
  mask-image: url('/assets/img/setting.svg');
}
.i-share{
  mask-image: url('/assets/img/share.svg');
}
.i-share-team {
  mask-image: url('/assets/img/share_material.svg');
}
.i-sms-limits {
  mask-image: url('/assets/img/sms_limits.svg');
}
.i-sms-sent{
  mask-image: url('/assets/img/sms_limits.svg');
}
.i-text-schedule{
  mask-image: url('/assets/img/schedule_send.svg');
}
.i-task{
  mask-image: url('/assets/img/task.svg');
}
.i-template{
  mask-image: url('/assets/img/template.svg');
}
.i-trash{
  mask-image: url('/assets/img/trash.svg');
}
.i-webpage{
  mask-image: url('/assets/img/webpage.svg');
}
.i-video{
  mask-image: url('/assets/img/video.svg');
}
.i-image {
  mask-image: url('/assets/img/image.svg');
}
.i-upload {
  mask-image: url('/assets/img/upload.svg');
}
.i-plus {
  mask-image: url('/assets/img/plus.svg');

  &.sm.i-icon {
    width: 12px;
    height: 12px;
    min-width: 12px;
  }
}
.i-minus {
  mask-image: url('assets/img/minus.svg');
}
.i-menu {
  mask-image: url('/assets/img/menu.svg');
}
.i-close {
  mask-image: url('/assets/img/close.svg');
}
.i-minimize {
  mask-image: url('/assets/img/maximize.svg');
  transform: rotate(180deg);
}
.i-maximize {
  mask-image: url('/assets/img/maximize.svg');
}
.i-general {
  mask-image: url('/assets/img/general.svg');
}
.i-signature {
  mask-image: url('/assets/img/signature.svg');
}
.i-signature-1 {
  mask-image: url('/assets/img/signature1.svg');
  width: 72px;
  height: 32px;
}
.i-signature-1-white {
  mask-image: url('/assets/img/signature1_white.svg');
  width: 72px;
  height: 32px;
}
.i-signature-2 {
  mask-image: url('/assets/img/signature2.svg');
  width: 72px;
  height: 32px;
}
.i-signature-2-white {
  mask-image: url('/assets/img/signature2_white.svg');
  width: 72px;
  height: 32px;
}
.i-signature-3 {
  mask-image: url('/assets/img/signature3.svg');
  width: 32px;
  height: 54px;
}
.i-signature-3-white {
  mask-image: url('/assets/img/signature3_white.svg');
  width: 32px;
  height: 54px;
}
.i-signature-4 {
  mask-image: url('/assets/img/signature4.svg');
  width: 32px;
  height: 54px;
}
.i-signature-4-white {
  mask-image: url('/assets/img/signature4_white.svg');
  width: 32px;
  height: 54px;
}
.i-signature-5 {
  mask-image: url('/assets/img/signature5.svg');
  width: 44px;
  height: 15px;
}
.i-signature-5-white {
  mask-image: url('/assets/img/signature5_white.svg');
  width: 44px;
  height: 15px;
}
.i-security {
  mask-image: url('/assets/img/security.svg');
}
.i-integration {
  mask-image: url('/assets/img/integration.svg');
}
.i-payment {
  mask-image: url('/assets/img/payment.svg');
}
.i-social {
  mask-image: url('/assets/img/social.svg');
}
.i-folder {
  mask-image: url('/assets/img/folder.svg');
}
.i-folder-dynasty {
  mask-image: url('/assets/img/folder_dynasty.svg');
}
.i-menu-more {
  mask-image: url('/assets/img/more_menu.svg');
}
.i-assistant {
  mask-image: url('/assets/img/assistant.svg');
}
.i-lead-capture {
  mask-image: url('/assets/img/lead_capture.svg');
}
.i-tag-manager {
  mask-image: url('/assets/img/tag_manager.svg');
}
.i-zapier {
  mask-image: url('./assets/img/zapier.svg');
}
.i-team_calls {
  mask-image: url('./assets/img/group_call.svg');
}
.i-lock {
  mask-image: url('./assets/img/lock.svg');
}
.i-information {
  mask-image: url('./assets/img/information.svg');
}

.i-record{
  mask-image: url('/assets/img/record.svg');
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.i-block {
  mask-image: url('/assets/img/block.svg');
}
.i-triangle-up {
  mask-image: url('/assets/img/up_triangle.svg');
}
.i-triangle-down {
  mask-image: url('/assets/img/down_triangle.svg');
}
.i-check {
  mask-image: url('/assets/img/check.svg');
}
.i-question {
  mask-image: url('/assets/img/question.svg');
}
.i-like {
  mask-image: url('/assets/img/like.svg');
}
.i-triangle-right {
  mask-image: url('/assets/img/triangle-right.svg');
}
.i-triangle-left {
  mask-image: url('/assets/img/triangle-left.svg');
}
.i-list-text {
  mask-image: url('/assets/img/list-text.svg');
}
.i-activity {
  mask-image: url('/assets/img/activity.svg');
}
.i-round-check {
  mask-image: url('/assets/img/round-check.svg');
}
.i-round {
  mask-image: url('/assets/img/round.svg');
}
.i-triangle-more {
  mask-image: url('/assets/img/triangle-right.svg');
}
.i-remove {
  mask-image: url('/assets/img/remove.svg');
}

.i-auto-video {
  mask-image: url('/assets/img/auto_video.svg');
}
.i-auto-follow {
  mask-image: url('/assets/img/auto_follow.svg');
}
.i-copy-link {
  mask-image: url('/assets/img/copy_link.svg');
}
.i-invite {
  mask-image: url('/assets/img/invite.svg');
}
.i-duplicate {
  mask-image: url('/assets/img/duplicate.svg');
}
.i-backward {
  mask-image: url('/assets/img/backward.svg');
}
.i-forward {
  mask-image: url('/assets/img/forward.svg');
}
.i-contact-merge {
  mask-image: url('/assets/img/contact_merge.svg');
}
.i-group-call-schedule {
  mask-image: url('/assets/img/group_call_schedule.svg');
}
.i-contact-location {
  mask-image: url('/assets/img/profile_location.svg');
}
.i-contact-phone {
  mask-image: url('/assets/img/profile_phone.svg');
}
.i-google {
  mask-image: url('/assets/img/google.svg');
}
.i-automation-start {
  mask-image: url('/assets/img/automation_assign.svg');
}
.i-automation-cancel {
  mask-image: url('/assets/img/automation_cancel.svg');
}
.i-search {
  mask-image: url('/assets/img/search.svg');
}
.i-material {
  mask-image: url('/assets/img/materials.svg')
}
.i-reminder {
  mask-image: url('/assets/img/reminder.svg')
}
.i-back {
  mask-image: url('/assets/img/back.svg')
}
.i-notes {
  mask-image: url('/assets/img/template.svg')
}
.i-emails {
  mask-image: url('/assets/img/delivered_mail.svg')
}
.i-texts {
  mask-image: url('/assets/img/sms_limits.svg')
}
.i-appointments {
  mask-image: url('/assets/img/calendar.svg')
}
.i-group_calls {
  mask-image: url('/assets/img/group_call.svg')
}
.i-follow_ups {
  mask-image: url('/assets/img/task.svg')
}
.i-deals {
  mask-image: url('/assets/img/flame.svg')
}
.i-expand {
  mask-image: url('assets/img/external_expand.svg')
}
.i-sort-up {
  mask-image: url('assets/img/sort_up.svg')
}
.i-sort-down {
  mask-image: url('assets/img/sort_down.svg')
}
.i-arrow-up {
  mask-image: url('assets/img/arrow_up.svg')
}
.i-arrow-down {
  mask-image: url('assets/img/arrow_down.svg')
}
.i-icon.i-label{
  width: 24px;
  height: 24px;
}
.i-refresh {
  mask-image: url('assets/img/refresh.svg');
}



///////////// design icons //////////////////

.i-sent-mail {
  mask-image: url('/assets/img/sent_mail.svg');
}
.i-opened-mail {
  mask-image: url('/assets/img/opened_mail.svg');
}
.i-clicked-mail {
  mask-image: url('/assets/img/clicked_mail.svg');
}
.i-delivered-mail {
  mask-image: url('/assets/img/delivered_mail.svg');
}
.i-teams {
  mask-image: url('/assets/img/teams.svg');
}
.i-group-call {
  mask-image: url('/assets/img/group_call_schedule.svg');
}
.i-invite-member {
  mask-image: url('/assets/img/invite.svg');
}
.i-send {
  mask-image: url('/assets/img/sent.svg');
}
.i-support {
  mask-image: url('/assets/img/help.svg');
}
.i-copy-link {
  mask-image: url('/assets/img/copy.svg');
}
.i-edit-template {
  mask-image: url('/assets/img/template.svg');
}
.i-duplicate {
  mask-image: url('/assets/img/duplicate.svg');
}
.i-screen {
  mask-image: url('/assets/img/monitor.svg');
}
.i-camera {
  mask-image: url('/assets/img/webcamera.svg');
}
.i-mic {
  mask-image: url('/assets/img/voice-recording.svg');
}
.i-screen-camera {
  mask-image: url('/assets/img/monitor_camera.svg');
}
.i-record-check {
  mask-image: url('/assets/img/record_check.svg');
}
.i-record-mic {
  mask-image: url('/assets/img/record_mic.svg');
}
.i-record-arrow {
  mask-image: url('/assets/img/record_arrow.svg');
}
.i-record-pause {
  mask-image: url('/assets/img/record_pause.svg');
}
.i-record-play {
  mask-image: url('/assets/img/record_play.svg');
}
.i-record-close {
  mask-image: url('/assets/img/record_close.svg');
}
.i-record-photo {
  mask-image: url('/assets/img/photo_camera.svg');
}
.i-facebook {
  mask-image: url('/assets/img/facebook.svg');
}
.i-twitter {
  mask-image: url('/assets/img/twitter.svg');
}
.i-linkedin {
  mask-image: url('/assets/img/linkedin.svg');
}
.i-warning-red {
  mask-image: url('/assets/img/warning.svg');
  background-color: #E02020;
}
.i-warning-yellow {
  mask-image: url('/assets/img/warning.svg');
  background-color: #FFAA2A;
}
.i-link {
  mask-image: url('/assets/img/link.svg');
  background-color: #0B76B4;
  transform: rotate(90deg);
}
.i-reload {
  mask-image: url('/assets/img/reload.svg');
  background-color: #0B76B4;
}
.i-deals {
  mask-image: url('/assets/img/flame.svg');
}
.i-analytics {
  mask-image: url('/assets/img/analytics.svg');
}
.i-affiliate {
  mask-image: url('/assets/img/affiliate.svg');
  &.i-icon {
    height: 24px;
  }
}
.i-attachment {
  mask-image: url('/assets/img/attachment.svg');
}
.i-first {
  mask-image: url('/assets/img/page_first.svg');
}
.i-prev {
  mask-image: url('/assets/img/next.svg');
  transform: rotate(180deg);
}
.i-next {
  mask-image: url('/assets/img/next.svg');
}
.i-end {
  mask-image: url('/assets/img/page_end.svg');
}
.i-chev-left {
  mask-image: url('/assets/img/chevron_left.svg');
}
.i-chev-right {
  mask-image: url('/assets/img/chevron_right.svg');
}
.i-text-send {
  mask-image: url('/assets/img/sent.svg');
}
.icon-close {
  background-image: url('/assets/img/close.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;

  &.primary {
    background-image: url('/assets/img/close-blue.svg');
  }
}

///////////// Activity List Icons //////////////////
.act-icon{
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  min-width: 18px;
  display: block;

  &.s-14 {
    width: 14px;
    height: 14px;
    min-width: 14px;
  }
  &.sm{
    width: 13px;
    height: 13px;
    min-width: 14px;
  }
  &.s-8 {
    width: 8px;
    height: 8px;
    min-width: 8px;
  }
}
.act-bell {
  mask-image: url('/assets/img/notification.svg');
  background-color: #0000ff;
}
.act-videos {
  mask-image: url('/assets/img/activities/video.svg');
  background-color: #0000ff;
}
.act-pdfs {
  mask-image: url('/assets/img/activities/pdf.svg');
  background-color: #D92121;
}
.act-images {
  mask-image: url('/assets/img/activities/image.svg');
  background-color: #9000FB;
}
.act-emails {
  mask-image: url('/assets/img/activities/email.svg');
  background-color: #F19D50;
}
.act-video_trackers {
  mask-image: url('/assets/img/activities/video.svg');
  background-color: #0000ff;
}
// .act-video_trackers.watch {
//   background-image: url('/assets/img/activities/video_watched.svg');
// }
.act-video_trackers.thumbs {
  mask-image: url('/assets/img/activities/video_like.svg');
  background-color: #F7B500;
}
.act-video_trackers.unsubscribe {
  mask-image: url('/assets/img/activities/email_unsubscribed.svg');
  background-color: #F7B500;
}
.act-video_trackers.share {
  mask-image: url('/assets/img/activities/video_like.svg');
  background-color: #F7B500;
}

.act-image_trackers {
  mask-image: url('/assets/img/activities/image.svg');
  background-color: #9000FB;
}
// .act-image_trackers.watch {
//   background-image: url('/assets/img/activities/image_watched.svg');
// }
.act-image_trackers.thumbs {
  mask-image: url('/assets/img/activities/image_like.svg');
  background-color: #9000FB;
}
.act-image_trackers.unsubscribe {
  mask-image: url('/assets/img/activities/email_unsubscribed.svg');
  background-color: #9000FB;
}
.act-image_trackers.share {
  mask-image: url('/assets/img/activities/image_like.svg');
}
.act-pdf_trackers {
  mask-image: url('/assets/img/activities/pdf.svg');
  background-color: #D92121;
}
// .act-pdf_trackers.watch {
//   background-image: url('/assets/img/activities/pdf_watched.svg');
// }
.act-pdf_trackers.thumbs {
  mask-image: url('/assets/img/activities/pdf_like.svg');
  background-color: #D92121;
}
.act-pdf_trackers.unsubscribe {
  mask-image: url('/assets/img/activities/email_unsubscribed.svg');
  background-color: #F7B500;
}
.act-pdf_trackers.share {
  mask-image: url('/assets/img/activities/pdf_like.svg');
}
.act-email_trackers {
  mask-image: url('/assets/img/activities/email_opened.svg');
  background-color: #F7B500;
}
.act-email_trackers.open {
  mask-image: url('/assets/img/activities/email_opened.svg');
  background-color: #F7B500;
}
.act-email_trackers.click {
  mask-image: url('/assets/img/activities/link_clicked.svg');
  background-color: #F7B500;
}
.act-email_trackers.unsubscribe {
  mask-image: url('/assets/img/activities/email_unsubscribed.svg');
  background-color: #F7B500;
}
.act-contacts {
  mask-image: url('/assets/img/activities/contact.svg');
  background-color: #0000ff;
}
.act-follow_ups {
  mask-image: url('/assets/img/activities/task.svg');
  background-color: #0000ff;
}
.act-phone_logs {
  mask-image: url('/assets/img/activities/phone.svg');
  background-color: #101336;
}
.act-notes {
  mask-image: url('/assets/img/activities/note.svg');
  background-color: #F7B500;
}
.act-appointments {
  mask-image: url('/assets/img/calendar.svg');
  background-color: #51A500;
}
.act-sms {
  mask-image: url('/assets/img/activities/note.svg');
  background-color: #F7B500;
}
.act-sms_trackers {
  mask-image: url('/assets/img/activities/note.svg');
  background-color: #F7B500;
}
.act-texts {
  mask-image: url('/assets/img/activities/text.svg');
  background-color: #00A3FF;
}
.act-text_trackers {
  mask-image: url('/assets/img/activities/text.svg');
  background-color: #00A3FF;
}
.act-deals {
  mask-image: url('/assets/img/flame.svg');
  background-color: #101336;
}
.act-team_calls {
  mask-image: url('/assets/img/group_call.svg');
  background-color: #101336;
}
.act-users {
  mask-image: url('/assets/img/activities/shared.svg');
  background-color: #101336;
}

.n_material_track {
  mask-image: url('/assets/img/video.svg');
  background-color: #0000ff;
}
.n_unsubscribe {
  mask-image: url('/assets/img/activities/email_unsubscribed.svg');
  background-color: #F19D50;
}
.n_open_email {
  mask-image: url('/assets/img/activities/email_opened.svg');
  background-color: #f7b500;
}
.n_click_link {
  mask-image: url('/assets/img/activities/link_clicked.svg');
  background-color: #f7b500;
}
.n_bulk_email {
  mask-image: url('/assets/img/activities/email.svg');
  background-color: #ff9300;
}
.n_bulk_sms {
  mask-image: url('/assets/img/activities/text.svg');
  background-color: #01cc00;
}
.n_information {
  mask-image: url('./assets/img/information.svg');
}
.i-shared-by {
  mask-image: url('./assets/img/share_black.svg');
}
.i-shared-with {
  mask-image: url('./assets/img/group_black.svg');
}