/* custom Bootstrap variable override */
$input-focus-border-color: #0000ff;
$primary: #0000ff;
$grid-gutter-width: 16px;
$custom-control-indicator-size: 1.25rem;
$custom-control-indicator-border-width: 2px;
$custom-control-indicator-border-color: rgba(16 19 54/0.4);
$custom-checkbox-indicator-border-radius: 3px;

@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr-bs4-alert';
@import "./variables";
@import "src/assets/scss/custom-toggle";
@import "src/assets/scss/custom-radio";

/* You can add global styles to this file, and also import other style files */
$color-dark: #101336;
$color-blue: #0000ff;
$color-silver: #dadadd;
$color-red: #E02020;
$color-orange: #f26419;
$color-orange-weak: #FFAA2A;
$color-blue-weak: #5050fd;
$color-trans08: rgba(16 19 54/0.08);
$color-trans75: rgba(16 19 54/0.75);



/* Material Theme Basic Setting  */
html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", sans-serif!important; color: $color-dark; }
:root {
  --silver: #dadadd;
  --dark: #101336;
  --blue: #0000ff;
  --dark-trans1: rgba(16 19 54/0.08);
  --dark-trans2: rgba(16 19 54/0.75);
}

.bgc-blue {
  background-color: #0000ff;
}
.bgc-dark {
  background-color: #101336;
}
.bgc-orange {
  background-color: #f26419;
}
.bgc-yellow {
  background-color: #ffcc00;
}
.bgc-red-pink {
  background-color: #f5325b;
}
.bgc-pink-red {
  background-color: #ff045f;
}
.bgc-azure {
  background-color: #00a9ff;
}
.bgc-blue-grey {
  background-color: #dae0f2;
}
.bgc-grey-blue {
  background-color: #86bbd8;
}
.bgc-blue-green {
  background-color: #0d5c63;
}
.bgc-teal {
  background-color: #00916e;
}
.bgc-leafy-green {
  background-color: #4ac236;
}
.bgc-pale {
  background-color: #f6f5ff;
}
.bgc-dark-trans08 {
  background-color: $color-trans08;
}
.bgc-dark-trans75 {
  background-color: $color-trans75;
}
.bgc-trans {
  background-color: transparent;
}
.c-blue {
  color: #0000ff;
}
.c-dark {
  color: #101336;
}
.c-orange {
  color: #f26419;
}
.c-yellow {
  color: #ffcc00;
}
.c-red-pink {
  color: #f5325b;
}
.c-pink-red {
  color: #ff045f;
}
.c-azure {
  color: #00a9ff;
}
.c-blue-grey {
  color: #dae0f2;
}
.c-grey-blue {
  color: #86bbd8;
}
.c-blue-green {
  color: #0d5c63;
}
.c-teal {
  color: #00916e;
}
.c-leafy-green {
  color: #4ac236;
}
.c-pale {
  color: #f6f5ff;
}
.c-black {
  color: #000000;
}
.f-0{
  font-size: 10px;
}
.f-1{
  font-size: 11px;
}
.f-2{
  font-size: 12px;
}
.f-3{
  font-size: 13px;
}
.f-4{
  font-size: 14px;
}
.f-5{
  font-size: 15px;
}
.f-6{
  font-size: 16px;
}
.f-8{
  font-size: 18px;
}
.fw-600 {
  font-weight: 600;
}
.ls-1{
  letter-spacing: 1px;
}
.ls-2{
  letter-spacing: 2px;
}

.i-icon{
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  min-width: 18px;
}
.i-automation{
  mask-image: url('./assets/img/automation.svg');
}
.i-broadcasts{
  mask-image: url('./assets/img/Broadcasts.svg');
}
.i-calendar{
  mask-image: url('./assets/img/calendar.svg');
}
.i-copy{
  mask-image: url('./assets/img/Copy.svg');
}
.i-deadline{
  mask-image: url('./assets/img/Deadline.svg');
}
.i-download{
  mask-image: url('./assets/img/download.svg');
}
.i-edit{
  mask-image: url('./assets/img/Edit.svg');
}
.i-follow{
  mask-image: url('./assets/img/Follow.svg');
}
.i-list{
  mask-image: url('./assets/img/List.svg');
}
.i-location{
  mask-image: url('./assets/img/Location.svg');
}
.i-lunch{
  mask-image: url('./assets/img/Lunch.svg');
}
.i-message{
  mask-image: url('./assets/img/Message.svg');
}
.i-label{
  mask-image: url('./assets/img/label.svg');
}
.i-notification{
  mask-image: url('./assets/img/notification.svg');
}
.i-pdf{
  mask-image: url('./assets/img/PDF.svg');
}
.i-phone{
  mask-image: url('./assets/img/Phone.svg');
}
.i-pdf-email{
  mask-image: url('./assets/img/pdf_email.svg');
}
.i-sent{
  mask-image: url('./assets/img/Sent.svg');
}
.i-setting{
  mask-image: url('./assets/img/setting.svg');
}
.i-share{
  mask-image: url('./assets/img/Share.svg');
}
.i-sms-sent{
  mask-image: url('./assets/img/sms_sent.svg');
}
.i-task{
  mask-image: url('./assets/img/Task.svg');
}
.i-template{
  mask-image: url('./assets/img/Template.svg');
}
.i-trash{
  mask-image: url('./assets/img/Trash.svg');
}
.i-webpage{
  mask-image: url('./assets/img/Webpage.svg');
}
.i-video{
  mask-image: url('./assets/img/Video.svg');
}
.i-upload {
  mask-image: url('./assets/img/upload.svg');
}
.i-plus {
  mask-image: url('./assets/img/plus.svg');
}
.i-menu {
  mask-image: url('./assets/img/menu.svg');
}
.i-close {
  mask-image: url('./assets/img/close.svg');
}
.i-general {
  mask-image: url('./assets/img/close.svg');
}
.i-signature {
  mask-image: url('./assets/img/close.svg');
}
.i-security {
  mask-image: url('./assets/img/close.svg');
}
.i-integration {
  mask-image: url('./assets/img/close.svg');
}
.i-payment {
  mask-image: url('./assets/img/close.svg');
}
.i-social {
  mask-image: url('./assets/img/close.svg');
}
.i-record{
  mask-image: url('./assets/img/record.svg');
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.pl-4c{
  padding-left: 2rem!important;
}
.pr-4c{
  padding-right: 2rem!important;
}
.pt-4c{
  padding-top: 2rem!important;
}
.pb-4c{
  padding-bottom: 2rem!important;
}
.p-4c{
  padding: 2rem!important;
}
.px-4c{
  padding-left: 2rem!important;
  padding-right: 2rem!important;
}
.py-4c{
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}
@media screen and (min-width: 576px) {
  .pl-sm-4c{
    padding-left: 2rem!important;
  }
  .pr-sm-4c{
    padding-right: 2rem!important;
  }
  .pt-sm-4c{
    padding-top: 2rem!important;
  }
  .pb-sm-4c{
    padding-bottom: 2rem!important;
  }
  .p-sm-4c{
    padding: 2rem!important;
  }
  .px-sm-4c{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
  }
  .py-sm-4c{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
}
@media screen and (min-width: 768px) {
  .pl-md-4c{
    padding-left: 2rem!important;
  }
  .pr-md-4c{
    padding-right: 2rem!important;
  }
  .pt-md-4c{
    padding-top: 2rem!important;
  }
  .pb-md-4c{
    padding-bottom: 2rem!important;
  }
  .p-md-4c{
    padding: 2rem!important;
  }
  .px-md-4c{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
  }
  .py-md-4c{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
}
@media screen and (min-width: 992px) {
  .pl-lg-4c{
    padding-left: 2rem!important;
  }
  .pr-lg-4c{
    padding-right: 2rem!important;
  }
  .pt-lg-4c{
    padding-top: 2rem!important;
  }
  .pb-lg-4c{
    padding-bottom: 2rem!important;
  }
  .p-lg-4c{
    padding: 2rem!important;
  }
  .px-lg-4c{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
  }
  .py-lg-4c{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
}
@media screen and (min-width: 1200px) {
  .pl-xl-4c{
    padding-left: 2rem!important;
  }
  .pr-xl-4c{
    padding-right: 2rem!important;
  }
  .pt-xl-4c{
    padding-top: 2rem!important;
  }
  .pb-xl-4c{
    padding-bottom: 2rem!important;
  }
  .p-xl-4c{
    padding: 2rem!important;
  }
  .px-xl-4c{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
  }
  .py-xl-4c{
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
}

// Shadow
.shadow-1 {
  box-shadow: 0 5px 16px -5px rgba(16, 19, 54, 0.35);
}

.shadow-2 {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

// Align and Cursor, Text Utility Style
.v-center {
  display: flex;
  align-items: center;
}
.c-pointer {
  cursor: pointer;
}
.c-default {
  cursor: default;
}
.td-underline {
  text-decoration: underline!important;
}

// Button Style
.btn-blue {
  background-color: $color-blue;
  border-color: $color-blue;
  color: white;

  &:hover {
    background-color: $color-blue;
    border-color: $color-blue;
  }
  &:focus {
    background-color: $color-blue-weak;
    border-color: $color-blue-weak;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.5);
  }
  &:active {
    background-color: $color-blue-weak;
    border-color: $color-blue-weak;
  }
}
.btn-orange {
  background-color: $color-orange;
  border-color: $color-orange;
  color: white;

  &:hover {
    background-color: $color-orange;
    border-color: $color-orange;
  }
  &:focus {
    background-color: $color-orange-weak;
    border-color: $color-orange-weak;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 170, 0.5);
  }
  &:active {
    background-color: $color-orange-weak;
    border-color: $color-orange-weak;
  }
}

.btn {
  &:focus {
    box-shadow: none!important;
  }
  &.c-blue {
    color: $color-blue!important;
  }
}
.btn-icon {
  width: 28px;
  height: 28px;
  padding: 6px;

  .i-icon {
    width: 14px;
    height: 14px;
  }
}

ul {
  list-style: none;
}

// Form Control Style
.form-group {
  label {
    font-size: 11px;
    color: $color-dark;
    opacity: 0.4;
    font-weight: 600;
    text-transform: uppercase;
  }
  .form-control {
    height: 40px;
    box-shadow: none!important;
  }
  .error {
    font-size: 11px;
    font-weight: bold;
    color: $color-red;
  }
  &:not(.invalid) {
    .error {
      display: none;
    }
  }
  &.invalid {
    .form-control {
      border-color: $color-red;
      color: $color-red;
    }
  }

  select.form-control {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    background-color: white;
    padding: 0.5em 3em 0.5em 1em;
    /* reset */
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-control-input.invalid ~ .custom-control-label::before {
  border-color: $color-red;
}
.fc-control {
  height: 40px;
}
.phone-form .iti {
  display: block;
}

// DropDown Style
.dropdown-menu {
  box-shadow: 0 5px 24px -5px rgba(16, 19, 54, 0.24);
  border: none;
}
.dropdown-item {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dropdown-toggle.no-carot::after {
  display: none;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: $color-silver;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: $color-blue;
}
.dropdown-header{
  padding-left: 1rem;
  padding-right: 1rem;
}


// Body Style
body{
  .topbar {
    position: fixed;
    z-index: 997;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
  }
  .navbar {
    position: fixed;
    z-index: 997;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 63px;
    box-shadow: 0 1px 0 0 $color-silver;
    background: white;
  }
  .sidebar {
    position: fixed;
    z-index: 996;
    left: 0px;
    top: 0px;
    width: 160px;
    padding-top: 50px;
    padding-bottom: 16px;
    height: 100vh;
    overflow-y: auto;
    background-color: white;
  }
  .page {
    position: static;
    padding-top: 63px;
    margin-left: 160px;
    min-height: 100vh;
    padding-bottom: 0px;
  }

  &.has-topbar {
    .navbar {
      top: 50px;
    }
    .sidebar{
      padding-top: 113px;
    }
    .page {
      padding-top: 113px;
    }
  }

  .page-content {
    padding: 2rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 681px) {
  body {
    .sidebar {
      width: 60px;
      overflow: hidden;
      transition: all .3s;

      &:hover {
        width: 160px;
        box-shadow: 0px 8px 24px $color-trans08;
      }
    }
    .page {
      margin-left: 60px;
    }

    .page-content {
      padding: 2rem 0.5rem;
    }
  }
}

@media screen and (max-width: 680px) {
  body {
    .navbar-toggler{
      position: fixed;
      top: 18px;
      z-index: 998;
    }
    .navbar {
      height: 100px;
    }
    .sidebar {
      z-index: 999;
      width: calc(100% - 1.4rem);
      margin: 0.7rem;
      border-radius: 6px;
      box-shadow: 0px 0px 6px #aaa;
      max-height: 100%;
      height: unset;
      padding-top: 0px!important;
    }
    .page {
      padding-top: 100px;
      margin-left: 0px;
    }

    &.has-topbar {
      .page {
        padding-top: 150px;
      }
      .navbar-toggler {
        top: 68px;
      }
    }

    .page-content {
      padding: 1rem 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  body .page .page-content {
    padding: 1rem 0.5rem;
  }
}

.avatar-wrapper {
  width: 94px;
  height: 94px;
  position: relative;
  .avatar {
    width: 94px;
    height: 94px;
    object-fit: cover;
    border-radius: 50%;
  }

  .btn-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;

    i{
      min-width: 14px;
    }
  }
}

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  thead th {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: none;
    border-bottom: 2px solid #e9ecef;
    color: #101336;
    opacity: 0.6;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: middle;
  }

  td {
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 0.8rem;
    border-top: none;
  }

}
