/* You can add global styles to this file, and also import other style files */
$color-dark: #101336;
$color-blue: #0000ff;
$color-silver: #dadadd;
$color-blue-weak: #5050fd;

/* Material Theme Basic Setting  */
html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", sans-serif!important; color: $color-dark; }
:root {
  --silver: #dadadd;
  --dark: #101336;
  --blue: #0000ff;
  --dark-trans1: #10133614;
}

.bg-blue {
  background-color: #0000ff;
}
.bg-dark {
  background-color: #101336;
}
.bg-orange {
  background-color: #f26419;
}
.bg-yellow {
  background-color: #ffcc00;
}
.bg-red-pink {
  background-color: #f5325b;
}
.bg-pink-red {
  background-color: #ff045f;
}
.bg-azure {
  background-color: #00a9ff;
}
.bg-blue-grey {
  background-color: #dae0f2;
}
.bg-grey-blue {
  background-color: #86bbd8;
}
.bg-blue-green {
  background-color: #0d5c63;
}
.bg-teal {
  background-color: #00916e;
}
.bg-leafy-green {
  background-color: #4ac236;
}
.bg-pale {
  background-color: #f6f5ff;
}
.c-blue {
  color: #0000ff;
}
.c-dark {
  color: #101336;
}
.c-orange {
  color: #f26419;
}
.c-yellow {
  color: #ffcc00;
}
.c-red-pink {
  color: #f5325b;
}
.c-pink-red {
  color: #ff045f;
}
.c-azure {
  color: #00a9ff;
}
.c-blue-grey {
  color: #dae0f2;
}
.c-grey-blue {
  color: #86bbd8;
}
.c-blue-green {
  color: #0d5c63;
}
.c-teal {
  color: #00916e;
}
.c-leafy-green {
  color: #4ac236;
}
.c-pale {
  color: #f6f5ff;
}
.f-2{
  font-size: 12px;
}
.f-3{
  font-size: 13px;
}
.f-4{
  font-size: 14px;
}
.f-6{
  font-size: 16px;
}
.i-icon{
  mask-position: center;
  mask-size: contain;
}
.i-automation{
  mask-image: url('./assets/img/automation.svg');
}
.i-broadcasts{
  mask-image: url('./assets/img/Broadcasts.svg');
}
.i-calendar{
  mask-image: url('./assets/img/calendar.svg');
}
.i-copy{
  mask-image: url('./assets/img/Copy.svg');
}
.i-deadline{
  mask-image: url('./assets/img/Deadline.svg');
}
.i-download{
  mask-image: url('./assets/img/download.svg');
}
.i-edit{
  mask-image: url('./assets/img/Edit.svg');
}
.i-follow{
  mask-image: url('./assets/img/Follow.svg');
}
.i-list{
  mask-image: url('./assets/img/List.svg');
}
.i-location{
  mask-image: url('./assets/img/Location.svg');
}
.i-lunch{
  mask-image: url('./assets/img/Lunch.svg');
}
.i-message{
  mask-image: url('./assets/img/Message.svg');
}
.i-label{
  mask-image: url('./assets/img/label.svg');
}
.i-notification{
  mask-image: url('./assets/img/notification.svg');
}
.i-pdf{
  mask-image: url('./assets/img/PDF.svg');
}
.i-phone{
  mask-image: url('./assets/img/Phone.svg');
}
.i-pdf-email{
  mask-image: url('./assets/img/pdf_email.svg');
}
.i-sent{
  mask-image: url('./assets/img/Sent.svg');
}
.i-setting{
  mask-image: url('./assets/img/setting.svg');
}
.i-share{
  mask-image: url('./assets/img/Share.svg');
}
.i-sms-sent{
  mask-image: url('./assets/img/sms_sent.svg');
}
.i-task{
  mask-image: url('./assets/img/Task.svg');
}
.i-template{
  mask-image: url('./assets/img/Template.svg');
}
.i-trash{
  mask-image: url('./assets/img/Trash.svg');
}
.i-webpage{
  mask-image: url('./assets/img/Webpage.svg');
}
.i-video{
  mask-image: url('./assets/img/automation.svg');
}



.btn-blue {
  background-color: $color-blue;
  border-color: $color-blue;
  color: white;

  &:hover {
    background-color: $color-blue;
    border-color: $color-blue;
  }
  &:focus {
    background-color: $color-blue-weak;
    border-color: $color-blue-weak;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.5);
  }
  &:active {
    background-color: $color-blue-weak;
    border-color: $color-blue-weak;
  }
} 


body{
  .topbar {
    position: fixed;
    z-index: 997;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
  }
  .navbar {
    position: fixed;
    z-index: 997;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 63px;
    box-shadow: 0 1px 0 0 var(--silver);
    background: white;
  }
  .sidebar {
    position: fixed;
    z-index: 996;
    left: 0px;
    top: 0px;
    width: 160px;
    padding-top: 50px;
    padding-bottom: 16px;
    height: 100vh;
    overflow-y: auto;
  }
  .page {
    position: static;
    height: 200vh;
    padding-top: 63px;
    margin-left: 160px;
  }

  &.has-topbar {
    .navbar {
      top: 50px;
    }
    .sidebar{
      padding-top: 113px;
    }
    .page {
      padding-top: 113px;
    }
  }
}