$color-dark: #101336;
$color-blue: #0000ff;
$color-silver: #dadadd;
$color-red: #E02020;
$color-red-pink: #f5325b;
$color-pink-red: #ff045f;
$color-orange: #f26419;
$color-orange-weak: #FFAA2A;
$color-yellow: #ffcc00;
$color-wheat: #fff7d1;
$color-blue-weak: #5050fd;
$color-orange-light: #FFF7D1;
$color-azure: #00a9ff;
$color-green-weak: #46D3A9;
$color-trans04: rgba(16, 19, 54, 0.04);
$color-trans08: rgba(16, 19, 54, 0.08);
$color-trans10: rgba(16, 19, 54, 0.1);
$color-trans28: rgba(16, 19, 54, 0.28);
$color-trans56: rgba(16, 19, 54, 0.56);
$color-trans75: rgba(16, 19, 54, 0.75);
$color-blue06: rgba(0, 0, 255, 0.06);
$color-blue20: rgba(0, 0, 255, 0.2);
$color-white: #FFFFFF;
$color-black: #000000;

// Custom toggle

$custom-toggle-width:           45px !default;
$custom-toggle-slider-bg:       $color-silver !default;
$custom-toggle-checked-bg:      $color-blue !default;

$input-transition: all .3s ease-in-out;
