<div class="page-content">
  <h1 class="page-title">Teams</h1>
<!--  <div class="teams-tab-container mt-3">-->
<!--    <app-slide-tab [tabs]="tabs" [selected]="selectedTab" type="plain" (onChange)="changeTab($event)" class="border-bottom pl-0 rounded-0">-->
<!--    </app-slide-tab>-->
<!--  </div>-->
  <div class="team-container">
    <app-team-list></app-team-list>
<!--    <app-team-list [class.d-none]="selectedTab.id !== 'teams'"></app-team-list>-->
<!--    <app-team-call [class.d-none]="selectedTab.id !== 'calls'"></app-team-call>-->
  </div>
</div>

