.teams-tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teams-table {
  th, td {
    &.team-members,
    &.team-materials {
      width: 90px;
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 576px) {
  .teams-tab-container {
    display: block;
  }

  .tab-container {
    width: 350px;
  }
}

.owners {
  margin-right: 20px;

  .owner {
    margin-left: -15px;
  }

  .owner:first-child {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .owner-names {
    display: none;
  }
}

.teams-table {

  margin-bottom: 50px;

  td {
    padding: 10px;
  }

  a:hover {
    text-decoration: none;
  }

  .team-status {
    .status {
      padding: 3px 5px;
      border-radius: 5px;
      width: 60px;
      text-align: center;

      &.Owner {
        background-color: #F1305E;
      }

      &.Viewer {
        background-color: #308BF1;
      }

      &.Editor {
        background-color: #08CE97;
      }
    }
  }
}

.team-actions {
  text-align: right;

  .button-more {
    a {
      &::after {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .teams-table {

    .team-name a {
      font-size: 14px;
    }

    .team-owner, .team-members, .team-materials {
      display: none;
    }
  }
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.group-call-container {
  .mat-accordion {
    .mat-expansion-panel {
      box-shadow: none;

      .mat-expansion-panel-header {
        .mat-content {
          order: 2;
        }
      }
    }
  }

  .call-request-table {
    td {
      padding: 10px 0px;
      cursor: pointer;

      &.guests {
        text-align: center;
      }
    }

    &.loading {
      filter: blur(1px);
    }
  }

  @media screen and (max-width: 576px) {
    .call-request-table {

      thead th {
        font-size: 0.6rem;
        line-height: 0.8rem;
      }

      .avatar {
        display: none;
      }

      .name-avatar {
        display: none;
      }

      .guests {
        display: none;
      }

      .organizer {
        display: none;
      }
    }

    .scheduled-call-table {
      .leader {
        display: none;
      }
    }

    .completed-call-table {
      .leader {
        display: none;
      }
    }
  }

  .expand {
    .i-icon {
      transition: all .3s;
      width: 10px;
      height: 10px;

      &.expand {
        transform: rotate(90deg);
      }
    }
  }

  .subscribe-button {
    width: 36px;
    height: 36px;
    border-radius: 4px;

    &.like {
      background-color: #04b800;
    }

    &.unlike {
      background-color: #d92121;
      transform: rotate(180deg);
    }
  }

  .status {
    color: #FFFFFF;
    width: 60px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    padding: 0;

    .pending {
      background-color: #0000FF;
      border-radius: 5px;
      padding: 3px 5px;
    }

    .canceled {
      background-color: #d92121;
      border-radius: 5px;
      padding: 3px 5px;
    }

    .planned {
      background-color: #f28422;
      border-radius: 5px;
      padding: 3px 5px;
    }

    .finished {
      background-color: #04b800;
      border-radius: 5px;
      padding: 3px 5px;
    }
  }

  .pagination-wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 8px;
  }

  :host ::ng-deep {
    .pagination-wrapper {
      pagination-controls {
        background: #f8f8f8;
        padding: 3px 5px;
        border: 1px solid gainsboro;
        border-radius: 5px;
      }
    }
  }
}

