.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .label-item {
    margin: 0.75rem 2rem;
  }

  .material-action {
    margin: 0.5rem 2rem;

    .count {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      padding: 3px 0px;
      text-align: center;
    }

    .list {
      border: 1px solid #0000ff;
      border-radius: 3px;
      text-align: center;
    }
  }
}
