<div class="v-center justify-content-between bgc-blue p-3 text-header">
  <h1 class="f-6 font-weight-bold text-white m-0">
      Deal Text
  </h1>
  <button type="button" class="v-center border-0 bgc-trans close-button" mat-dialog-close>
    <i class="i-icon i-close bgc-white ml-1" aria-hidden="true"></i>
  </button>
</div>
<div class="text-panel">
  <div class="contact-info py-2 px-2">
    <app-input-contact-deal
      [selectedContacts]="contacts"
      [keepContacts]="contacts"
      [onlyFromSearch]="true"
      [onlySubscriber]="true"
      class="w-100"
    ></app-input-contact-deal>
  </div>
  <div class="v-center template-info px-3 py-2 border-top border-bottom">
    <div ngbDropdown class="insert-token">
      <div class="v-center no-carot c-pointer" ngbDropdownToggle style="width: fit-content;">
        <i class="d-block i-icon i-sms-sent bgc-dark"></i>
      </div>
      <div ngbDropdownMenu class="light p-2 templates">
        <ng-container *ngFor="let template of (templateService.templates$ | async)">
          <div class="template dropdown-item" *ngIf="template.type !== 'email'">
            <div class="v-center">
              <div class="f-3 font-weight-bold w-100" (click)="selectTemplate(template)">{{template.title}}</div>
              <a class="ml-auto" [routerLink]="['/templates/edit/' + template._id]" target="blank">
                <i class="d-block i-icon i-expand bgc-dark"></i>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div ngbDropdown class="insert-token ml-2">
      <div class="v-center no-carot c-pointer" ngbDropdownToggle style="width: fit-content;">
        <img class="emoji-icon" src="../../../assets/img/emoji.png">
      </div>
      <div ngbDropdownMenu class="light templates">
        <emoji-mart class="emoji-mart" [set]="set" [darkMode]="false" (emojiSelect)="insertTextContentValue($event.emoji.native)" title="Pick your emoji…">
        </emoji-mart>
      </div>
    </div>
    <div ngbDropdown class="insert-token ml-auto">
      <div class="v-center no-carot c-pointer" ngbDropdownToggle>
        <span class="f-1 font-weight-bold mr-1">Token</span>
        <i class="d-block i-icon i-triangle-down bgc-dark"></i>
        <i class="d-block i-icon i-triangle-up bgc-dark"></i>
      </div>
      <div ngbDropdownMenu class="light py-1">
          <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertTextContentValue('{contact_first_name}')">Contact Firstname</div>
          <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertTextContentValue('{user_name}')">Your name</div>
          <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertTextContentValue('{user_email}')">Your email</div>
          <div class="f-2 py-1 px-2 c-pointer menu-item" (click)="insertTextContentValue('{user_phone}')">Your phone</div>
      </div>
    </div>
  </div>
  <div class="message-info px-3 py-2">
    <mat-form-field class="w-100">
      <textarea
          matInput
          cdkTextareaAutosize
          [(ngModel)]="message"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="3"
          (keydown)="keyTrigger($event)"
          #messageText
      ></textarea>
    </mat-form-field>
  </div>
  <div class="px-3 pt-0 pb-3 text-setting">
    <div class="v-center">
      <button type="button" class="v-center btn border-primary f-3 font-weight-bold c-blue p-2 mr-2 material-button" (click)="openMaterialsDlg()">
        <i class="d-block i-icon i-material bgc-blue"></i>
        <span class="f-3 font-weight-bold c-blue mx-2">Material</span>
        <i class="d-block i-icon i-plus bgc-blue"></i>
      </button>
    </div>
    <div class="v-center justify-content-between mt-2 mt-sm-0 w-100">
      <button
        type="button"
        class="btn btn-blue text-white br-default py-1 f-6 font-weight-bold shadow ml-auto"
        [class.loading]="sending"
        (click)="send()"
      >
        Send
      </button>
    </div>
  </div>
</div>
