<form #form="ngForm" (ngSubmit)="edit()">
  <h1 mat-dialog-title>Edit contact</h1>
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-6 col-12 form-group">
        <label for="first_name_cc">first name</label>
        <input type="text" id="first_name_cc" class="form-control" required name="first_name"  #first_name="ngModel" [(ngModel)]="contact.first_name" />
      </div>
      <div class="col-sm-6 col-12 form-group">
        <label for="last_name_cc">last name</label>
        <input type="text" id="last_name_cc" class="form-control" name="last_name"  #last_name="ngModel" [(ngModel)]="contact.last_name" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12 form-group">
        <div class="v-center justify-content-between">
          <label for="email_cc">Primary Email</label>
          <span class="error d-block mb-1 font-weight-bold" *ngIf="invalidEmail">
            Email is invalid!
          </span>
        </div>
        <input type="email" id="email_cc" class="form-control" name="email"
               [(ngModel)]="contact['primary_email']"
               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
               #email="ngModel"
        />
      </div>
      <div class="col-sm-6 col-12 form-group phone-form">
        <div class="v-center justify-content-between">
          <label for="cell_phone_cc">Primary Phone</label>
          <span class="error d-block mb-1 font-weight-bold" *ngIf="invalidPhone">
            Phone is invalid!
          </span>
        </div>
        <app-phone-input
          [cssClass]="'form-control phone-form'"
          [onlyCountries]="countries"
          [selectedCountryISO]="CountryISO.UnitedStates"
          [(ngModel)]="cell_phone"
          name="phone"
          #phoneControl
        >
        </app-phone-input>
        <!-- <ngx-intl-tel-input
          id="cell_phone_cc"
          [cssClass]="'form-control phone-form'"
          [onlyCountries]="countries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="false"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.UnitedStates"
          [maxLength]="15"
          [phoneValidation]="true"
          [separateDialCode]="true"
          name="phone"
          #phone="ngModel"
          [(ngModel)]="cell_phone">
        </ngx-intl-tel-input> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12 form-group">
        <div class="v-center justify-content-between">
          <label for="secondary_email_cc">Secondary Email</label>
          <span class="error d-block mb-1 font-weight-bold" *ngIf="invalidSecondaryEmail">
            Email is invalid!
          </span>
        </div>
        <input type="email" id="secondary_email_cc" class="form-control" name="secondary_email"
               [(ngModel)]="contact['secondary_email']"
               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
               #secondary_email="ngModel"
        />
      </div>
      <div class="col-sm-6 col-12 form-group phone-form">
        <div class="v-center justify-content-between">
          <label for="secondary_cell_phone_cc">Secondary Phone</label>
          <span class="error d-block mb-1 font-weight-bold" *ngIf="invalidSecondaryPhone">
            Phone is invalid!
          </span>
        </div>
        <app-phone-input
          [cssClass]="'form-control phone-form'"
          [onlyCountries]="countries"
          [selectedCountryISO]="CountryISO.UnitedStates"
          [(ngModel)]="secondary_cell_phone"
          name="secondary_phone"
          #phoneControl
        >
        </app-phone-input>
        <!-- <ngx-intl-tel-input
          id="cell_phone_cc"
          [cssClass]="'form-control phone-form'"
          [onlyCountries]="countries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="false"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.UnitedStates"
          [maxLength]="15"
          [phoneValidation]="true"
          [separateDialCode]="true"
          name="phone"
          #phone="ngModel"
          [(ngModel)]="cell_phone">
        </ngx-intl-tel-input> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="label_cc">label</label>
        <app-label-select type="form" [value]="contact.label"></app-label-select>
      </div>
      <div class="col-sm-4 form-group">
        <label for="source_cc">source</label>
        <input type="text" id="source_cc" class="form-control" required name="source"  #source="ngModel" [(ngModel)]="contact.source" />
      </div>
      <div class="col-sm-4 form-group">
        <label for="stage_cc">stage</label>
        <select id="stage_cc" class="form-control" [(ngModel)]="contact.recruiting_stage" name="stage" #stage="ngModel">
          <option *ngFor="let stage of STAGES" value="{{stage}}">{{stage}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="website_cc">website</label>
        <input type="text" id="website_cc" class="form-control" required name="website"  #website="ngModel" [(ngModel)]="contact.website" />
      </div>
      <div class="col-sm-6 form-group">
        <label for="company_cc">company</label>
        <input type="text" id="company_cc" class="form-control" required name="company"  #company="ngModel" [(ngModel)]="contact.brokerage" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12 form-group">
        <label for="address_cc">address</label>
        <input type="text" placeholder="" id="address_cc" class="form-control" [(ngModel)]="contact.address" name="address" #address="ngModel" ngx-google-places-autocomplete #addressplacesRef="ngx-places" [options]="{types: [], componentRestrictions: { country: contact.country || LOCATION_COUNTRIES }}" (onAddressChange)="handleAddressChange($event)" />
      </div>
      <div class="col-sm-6 col-12 form-group">
        <label for="city_cc">city</label>
        <input type="text" placeholder="" id="city_cc" class="form-control" [(ngModel)]="contact.city" name="city" #city="ngModel" ngx-google-places-autocomplete #cityplacesRef="ngx-places" [options]="{types: ['(cities)'], componentRestrictions: { country: contact.country || LOCATION_COUNTRIES }}" (onAddressChange)="handleAddressChange($event)" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-12 form-group">
        <label for="country_cc">country</label>
        <select id="country_cc" class="form-control" [(ngModel)]="contact.country" name="country" #country="ngModel" (ngModelChange)="setContactStates()">
          <option *ngFor="let country of COUNTRIES" value="{{country.code}}">{{country.name}}</option>
        </select>
      </div>
      <div class="col-sm-4 col-12 form-group">
        <label for="state_cc">state</label>
        <select id="state-cc" class="form-control" [(ngModel)]="contact.state" name="state" #state="ngModel">
          <optgroup *ngFor="let country of COUNTRY_REGIONS | keyvalue" label="{{country.key}}">
            <option *ngFor="let region of country.value" value="{{region}}">{{region}}</option>
          </optgroup>
        </select>
      </div>
      <div class="col-sm-4 col-12 form-group">
        <label for="zipcode_cc">zipcode</label>
        <input type="text" id="zipcode_cc" class="form-control" [(ngModel)]="contact.zip" name="zip" #zip="ngModel" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3 form-group">
        <label for="zipcode_cc">Tags</label>
        <app-input-tag [selectedTags]="contact.tags" [onlyFromSearch]="false"></app-input-tag>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-dialog-close class="btn c-blue">Cancel</button>
    <button type="submit" class="btn btn-primary" [class.loading]="creating">Update</button>
  </mat-dialog-actions>
</form>
