<h1 mat-dialog-title>Share Templates</h1>
<mat-dialog-content>
  <ng-container  *ngIf="loading">
    <div class="list-loading text-center">
      <div class="loader mt-5"></div>
      <h4 class="f-8 font-weight-bold mt-2">Loading templates for share to team...</h4>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading && !templates.length">
    <div class="object-icon v-center justify-content-center my-5 py-5">
      <i class="i-icon i-template d-block bgc-dark"></i>
      <div class="f-5 font-weight-bold ml-2">
        There is no templates for share yet.
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading && templates.length">
    <div class="templates-container mt-3">
      <div class="material template mt-2" *ngFor="let template of templates">
        <div class="v-center">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="{{template._id}}-own-template" type="checkbox" [checked]="selectedTemplates.indexOf(template._id) !== -1" (change)="toggleTemplate(template._id)">
            <label class="custom-control-label c-label" for="{{template._id}}-own-template"> </label>
          </div>
          <div class="title f-5 font-weight-bold">
            {{template.title}}
          </div>
        </div>
        <div class="template-info">
          <div class="subject f-3 font-weight-bold">
            {{template.subject}}
          </div>
          <div class="f-1">
            {{template.content || '' | stripTags | shorten: 80: '...'}}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn c-blue" mat-dialog-close>Cancel</button>
  <button type="submit" class="btn btn-primary" [class.loading]="sharing" (click)="shareTemplates()">Share</button>
</mat-dialog-actions>
