<h1 mat-dialog-title>Share media</h1>
<mat-dialog-content>
  <div class="loading" *ngIf="loading; else listTemplate">
    <app-loading-overlay [type]="'material'"></app-loading-overlay>
  </div>
  <ng-template #listTemplate>
    <ng-container *ngIf="templates.length; else emptyTemplate">
      <div class="templates-container">
        <div class="v-center material template" *ngFor="let template of templates">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="{{template._id}}-own-template" type="checkbox" [checked]="selectedTemplates.indexOf(template._id) !== -1" (change)="toggleTemplate(template._id)">
            <label class="custom-control-label c-label" for="{{template._id}}-own-template"> </label>
          </div>
          <div class="info">
            <div class="title">
              {{template.title}}
            </div>
            <div class="subject">
              {{template.subject}}
            </div>
            <div class="desc line-clamp">
              {{template.content || '' | stripTags | slice:0:80}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyTemplate>
      <div class="empty-list">
        <app-data-empty [type]="'template'"></app-data-empty>
      </div>
    </ng-template>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn c-blue" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary" [class.loading]="sharing" (click)="shareTemplates()">Share</button>
</mat-dialog-actions>
