.back-menu {
  i {
    width: 10px;
    height: 10px;
    min-width: 10px;
  }
}

.thumbnail {
  padding: 0px;
  width: 220px;
  height: 124px;
  object-fit: contain;
  border: none;
  margin: 0px;
  border-radius: 0px;
  background-color: #dedede;
}

.f-40 {
  font-size: 40px;
  line-height: 40px;
}

.f-24 {
  font-size: 24px;
}

.material-wrapper {
  max-width: 230px;

  .thumb-prev-wrapper img {
    width: 220px;
    height: 124px;
    object-fit: cover;
  }

  .thumb-prev-wrapper .preview {
    display: none;
  }

  .thumb-prev-wrapper {
    &:hover .preview {
      display: block;
    }
    &:hover .thumbnail {
      display: none;
    }
  }
}

.analytics-area {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 680px) {
    display: block;
  }
}

.analytics-wrapper {
  .range-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 15px;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 15px;
    }

    .range-item {
      width: 260px;
      border: 1px solid rgba(0,0,255,0.2);
      border-radius: 5px;
      padding: 16px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        padding: 10px;
      }

      .growth-color {
        color: #46D3A9;
      }

      .growth-icon {
        width: 6px;
        height: 4px;
      }

      .bgc-growth {
        background-color: #46D3A9;
      }

      .c-range {
        color: #585B6E;
      }

      .select-text {
        width: 60px;
        text-align: center;
      }

      .arrow-icon {
        width: 15px;
        height: 10px;
        cursor: pointer;

        &.disable {
          background-color: #101336;
          opacity: 0.2;
          cursor: default;
          pointer-events: none;
        }
      }

    }
  }

  .contacts-wrapper {
    max-height: 400px;
    overflow: auto;
  }

  .progress-box {
    width: 44px;
    height: 26px;
    border-radius: 4px;
  }

  .watched-contact-table {
    background-color: #F5F5F7;
    td, th {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .label-container {
      position: relative;
      width: 24px;
      height: 24px;
      background-color: transparent;

      .label-rectangle {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        opacity: 0.2;
      }

      .label-circle {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}

:host ::ng-deep {
  mat-expansion-panel {

    mat-expansion-panel-header {
      height: 80px;
      padding: 0;
    }

    .mat-expansion-panel-header-title {
      margin-right: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }

  .mat-accordion {
    width: 100%;

    .mat-expansion-panel {
      box-shadow: none;

      .mat-expansion-panel-header {
        .mat-content {
          order: 2;
        }
      }
    }
  }

  .material-usage-wrapper {
    mat-expansion-panel {
      background-color:  #F5F5F7;
    }
  }
}
