<div class="page-content">
  <div class="my-3">
    <div class="v-center justify-content-between">
      <h6 class="page-title font-weight-bold">Automations</h6>
      <button type="button" class="v-center btn btn-primary py-2 shadow" (click)="create()">
        <i class="i-icon i-plus bg-white d-block sm mr-2"></i>
        <span class="fw-600 f-3">New automation</span>
      </button>
<!--      <a class="btn btn-primary shadow py-2 v-center mb-2 border-0" [routerLink]="['/autoflow/new']">-->
<!--        <i class="i-icon i-plus bg-white d-block sm mr-2"></i>-->
<!--        <span class="fw-600 f-3">New automation</span>-->
<!--      </a>-->
    </div>
  </div>
  <div class="my-3 position-relative">
    <ng-container *ngIf="(automationService.automations$ | async).length; else emptyListTemplate">
      <div class="updating-status" *ngIf="(automationService.loading$ | async) === STATUS.REQUEST">
        LOADING
      </div>
      <table
        mat-table
        class="table automation-table" multiTemplateDataRows
        [dataSource]="automationService.automations$ | async | paginate: {itemsPerPage: 10, currentPage: page, id: 'automationTable', total: (automationService.automations$ | async).length}">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="title">Title</th>
          <td mat-cell *matCellDef="let automation" class="title">
            <div class="f-3 font-weight-bold">{{automation.title}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef class="auth">Owner</th>
          <td mat-cell *matCellDef="let automation" class="auth">
            <div class="role" [class.admin]="automation.role == 'admin'" [class.team]="automation.role === 'team' && automation.user === userId" [class.shared]="automation.role === 'team' && automation.user !== userId"></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action-count">
          <th mat-header-cell *matHeaderCellDef class="action-count">Actions</th>
          <td mat-cell *matCellDef="let automation" class="action-count">
            <div class="f-3">{{automation.automations && automation.automations.length}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="contacts">
          <th mat-header-cell *matHeaderCellDef class="contacts">Contacts</th>
          <td mat-cell *matCellDef="let automation" class="contacts">
            <div class="f-3">{{automation.contacts.length}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef class="created">Created</th>
          <td mat-cell *matCellDef="let automation" class="created">
            <div class="f-3">{{automation.created_at | date: 'dd/MM/yyyy'}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions"></th>
          <td mat-cell *matCellDef="let automation" class="actions">
            <div ngbDropdown class="d-flex justify-content-end button-more p-2 rounded">
              <a class="v-center justify-content-end c-pointer" ngbDropdownToggle>
                <i class="i-icon i-menu-more bg-dark" aria-hidden="true"></i>
              </a>
              <div ngbDropdownMenu class="light">
                <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="assignAutomation($event, automation)">
                  <span class="f-3 font-weight-bold">Assign</span>
                </button>
                <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="openAutomation($event, automation)">
                  <span class="f-3 font-weight-bold">Edit</span>
                </button>
                <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="duplicate($event, automation)">
                  <span class="f-3 font-weight-bold">Clone</span>
                </button>
                <ng-container *ngIf="automation.role != 'admin' && automation.user == userId">
                  <hr class="my-0">
                  <button class="v-center border-0 py-2 c-dark dropdown-item"
                          (click)="deleteAutomation($event, automation)"
                  >
                    <span class="f-3 c-red font-weight-bold">Delete automation</span>
                  </button>
                </ng-container>
              </div>
            </div>
<!--            <div class="v-center justify-content-end">-->
<!--              <button type="button" class="btn btn-white f-3 font-weight-bold p-1" (click)="assignAutomation($event, automation)">-->
<!--                Assign-->
<!--              </button>-->
<!--              <ng-container *ngIf="automation.role != 'admin' && automation.user == userId; else noneEditable">-->
<!--                <div class="icon-button v-center justify-content-center ml-2" (click)="openAutomation($event, automation)">-->
<!--                  <i class="i-icon bgc-black i-edit"></i>-->
<!--                </div>-->
<!--              </ng-container>-->
<!--              <ng-template #noneEditable>-->
<!--                <div class="icon-button v-center justify-content-center ml-2">-->
<!--                  <i class="i-icon bgc-white i-edit"></i>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--              <div class="icon-button v-center justify-content-center ml-2">-->
<!--                <i class="i-icon bgc-black sm i-triangle-up" [class.disabled]="!automation.contacts.length" (click)="expandElement(automation)"></i>-->
<!--              </div>-->
<!--              <div class="icon-button v-center justify-content-center ml-2" (click)="duplicate($event, automation)">-->
<!--                <i class="i-icon bgc-black i-duplicate"></i>-->
<!--              </div>-->
<!--              <ng-container *ngIf="automation.role != 'admin' && automation.user == userId; else noneEditable">-->
<!--                <div class="icon-button v-center justify-content-center ml-2" (click)="deleteAutomation($event, automation)">-->
<!--                  <i class="i-icon bgc-black i-trash"></i>-->
<!--                </div>-->
<!--              </ng-container>-->
<!--            </div>-->
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="DISPLAY_COLUMNS.length">
            <div class="automation-detail"
                  [@detailExpand]="element._id == selectedAutomation ? 'expanded' : 'collapsed'">
              <ng-container *ngIf="detailLoading; else contactsList">
                <div class="loader"></div>
                <div class="text-center f-8 font-weight-bold">
                  Loading the assigned contacts
                </div>
              </ng-container>
              <ng-template #contactsList>
                <h5 class="font-weight-bold border-bottom pb-2">Assigned Contacts</h5>
                <div class="chip d-flex p-1 contact-chip c-pointer" *ngFor="let contact of contacts">
                  <div class="form-avatar rounded-circle bg-dark mr-1">{{contact.avatarName}}</div>
                  <div class="info">
                    <div class="f-5 font-weight-bold">{{contact.fullName}}</div>
                    <div class="f-2">{{contact.email}}</div>
                    <div class="f-2">{{contact.cell_phone}}</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="DISPLAY_COLUMNS"></tr>
        <tr mat-row *matRowDef="let element; columns: DISPLAY_COLUMNS;"
            class="example-element-row"
            [class.example-expanded-row]="selectedAutomation === element._id">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="automation-detail-row"></tr>
      </table>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="ml-3 pagination-wrapper">
          <pagination-controls (pageChange)="page = $event" id="automationTable" maxSize="5" previousLabel=""
                               nextLabel=""></pagination-controls>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyListTemplate>
      <ng-container [ngSwitch]="(automationService.loading$ | async)">
        <div class="empty-list" *ngSwitchCase="STATUS.SUCCESS">
          <div class="object-icon v-center">
            <i class="i-icon i-automation d-block bgc-dark"></i>
          </div>
          <h4 class="font-weight-bold mt-4 mb-3">
            There is no automations.
          </h4>
          <p class="mb-4">Please create automation to recruite automatically.</p>
          <a class="btn btn-primary" [routerLink]="['/autoflow/new']">
            <span class="font-weight-bold f-3">Create Automation</span>
          </a>
        </div>
        <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2">Loading automations for auto-recruiting...</h4>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>

