.automation-table {
  td {
    padding: 10px;
  }

  .action-count,
  .contacts,
  .created,
  .actions {
    text-align: right;
  }

  .icon-button {
    cursor: pointer;
  }

  @media screen and (max-width: 576px) {
    .action-count, .contacts, .created {
      display: none;
    }
  }

  @media screen and (max-width: 375px) {
    .auth {
      display: none;
    }
  }
}
