.payment-form {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 40px;

    @media screen and (max-width: 920px) {
        grid-template-columns: auto;
    }

    .pyament-card-form {
        max-width: 380px;
        @media screen and (max-width: 576px) {
            max-width: 100%;
        }
    }
}

.unsubscribe {
    max-width: 260px;
    opacity: 0.25;
    text-align: center;
    a {
        text-decoration: underline;
    }
    @media screen and (max-width: 576px) {
        max-width: 320px;
        text-align: left;
    }
}
.payment-card {
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    background: linear-gradient(135.48deg, #F5F6F9 0%, #DADDE5 100%);
    box-shadow: 0px 0px 20px 0 rgba(11, 24, 58, 0.1);
    max-width: 300px;
    height: 180px;
    .card-type {
        img {
            width: 40px;
        }
    }
    @media screen and (max-width: 576px) {
        max-width: 320px;
        height: 180px;
    }
}
table.table th {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 11;
    padding: 8px 10px;
}

th, td {
    vertical-align: middle !important;
    background-color: white;
    &.checkbox-col {
        opacity: 1;
    }
}
td {
    @media screen and (max-width: 576px) {
        padding: 5px 5px;
    }
}
.checkbox-col {
    width: 36px;
}

button, a {
    &:hover, &:active {
        box-shadow: 0 5px 16px -5px rgba(16, 19, 54, 0.35);
    }
}

.form-group {
    .cvc-icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}