<div class="decline-container">
    <div class="f-3 font-weight-bold mb-3">
        You are <span class="c-red">DECLINING</span> an invitation!
    </div>
    <div class="f-1 font-weight-bold mb-4">
        Let know guests and organizer whe are you declining invitation for this meeting
    </div>
    <div class="form-group">
        <label for="message">message</label>

    </div>
    <div class="v-center justify-content-end">
        <button class="btn btn-white f-1 font-weight-bold">Skip</button>
        <button class="btn btn-blue f-1 font-weight-bold">Send</button>
    </div>
</div>